# **I. LIBRAIRIES & DATA.py**

In [1]:
# Libraries

import pandas as pd
import numpy as np
from datetime import date
from datetime import datetime
from datetime import timedelta
import plotly.express as px
import os


# RECUP LA DATA

# Retrieve the path to the current folders
current_path = os.getcwd()

# Get the path to the csv file folder - in this case the 'data' file
csv_path = os.path.join(current_path, 'data\\test')

# A EXPLIQUER ICI
for file in os.listdir(csv_path):
    fd = pd.read_csv(os.path.join(csv_path, file))
    globals()[file.rpartition(".")[0]] = fd

# fillna
Moon = Moon.copy()
Moon.fillna(0, inplace=True)

lat_moon_changes = lat_moon_changes.copy()
lat_moon_changes.fillna(0, inplace=True)

planet_node = planet_node.copy()
planet_node.fillna(0, inplace=True)

twoday = datetime.strftime(datetime.now(), "%Y/%m/%d")
t = pd.to_datetime(twoday)
t = pd.to_datetime(t)

# **II. MAIN TABLE.py**

## **II.1 HELIO**

### **II.1.1 CUMULATIVE HELIO**

In [2]:
today = datetime.strftime(datetime.now(), "%d/%m/%Y")

cumulative_1 = helio_cum.copy()
cumulative_2 = helio_cum.copy()
cumulative_3 = helio_cum.copy()
cumulative_4 = helio_cum.copy()
cumulative_5 = helio_cum.copy()
cumulative_6 = helio_cum.copy()
cumulative_7 = helio_cum.copy()
cumulative_8 = helio_cum.copy()
cumulative_9 = helio_cum.copy()
cumulative_10 = helio_cum.copy()
cumulative_11 = helio_cum.copy()
cumulative_12 = helio_cum.copy()
cumulative_13 = helio_cum.copy()

helio = helio.copy()
test = helio_cum.copy()

result = helio[helio.Date == today]

def cum_hel(df, date):
    today = datetime.strftime(datetime.now(), "%d/%m/%Y")
    return pd.DataFrame(
        {
            "Date": [date],
            "Earth": df["Earth"][df.Date == today].values
            - df["Earth"][df.Date == date].values,
            "Mer": df["Mer"][df.Date == today].values
            - df["Mer"][df.Date == date].values,
            "Ven": df["Ven"][df.Date == today].values
            - df["Ven"][df.Date == date].values,
            "Mar": df["Mar"][df.Date == today].values
            - df["Mar"][df.Date == date].values,
            "Jup": df["Jup"][df.Date == today].values
            - df["Jup"][df.Date == date].values,
            "Sat": df["Sat"][df.Date == today].values
            - df["Sat"][df.Date == date].values,
            "Ura": df["Ura"][df.Date == today].values
            - df["Ura"][df.Date == date].values,
            "Nep": df["Nep"][df.Date == today].values
            - df["Nep"][df.Date == date].values,
            "Plu": df["Plu"][df.Date == today].values
            - df["Plu"][df.Date == date].values,
        }
    )

filtered_dfs = []

data = [
  (cumulative_1, '31/10/2008'),
  (cumulative_2, '03/01/2009'),
  (cumulative_3, '22/05/2010'),
  (cumulative_4, '29/11/2013'),
  (cumulative_5, '17/12/2017'),
  (cumulative_6, '15/12/2018'),
  (cumulative_7, '26/06/2019'),
  (cumulative_8, '12/03/2020'),
  (cumulative_9, '25/04/2021'),
  (cumulative_10, '20/07/2021'),
  (cumulative_11, '20/10/2021'),
  (cumulative_12, '10/11/2021'),
  (cumulative_13, '18/06/2022'),
]

for i, (df, date) in enumerate(data):
  filtered_dfs.append(cum_hel(df, date))

cumm_hel = pd.concat(filtered_dfs)
hel = pd.concat([result, cumm_hel])
hel = hel.round()

hel

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
31373,27/08/2022,334.0,267.0,118.0,18.0,1.0,322.0,46.0,354.0,298.0
0,31/10/2008,4976.0,20631.0,8088.0,2663.0,424.0,158.0,55.0,31.0,27.0
0,03/01/2009,4911.0,20411.0,7986.0,2628.0,418.0,156.0,54.0,30.0,27.0
0,22/05/2010,4413.0,18342.0,7177.0,2359.0,374.0,139.0,49.0,27.0,24.0
0,29/11/2013,3147.0,13039.0,5116.0,1677.0,259.0,97.0,35.0,19.0,16.0
0,17/12/2017,1688.0,6999.0,2745.0,911.0,143.0,52.0,19.0,10.0,9.0
0,15/12/2018,1331.0,5501.0,2165.0,706.0,115.0,41.0,15.0,8.0,7.0
0,26/06/2019,1140.0,4720.0,1856.0,609.0,100.0,35.0,13.0,7.0,6.0
0,12/03/2020,882.0,3652.0,1439.0,488.0,79.0,28.0,10.0,5.0,4.0
0,25/04/2021,479.0,2000.0,784.0,257.0,44.0,15.0,5.0,3.0,2.0
0,20/07/2021,396.0,1653.0,645.0,219.0,36.0,13.0,4.0,2.0,2.0
0,20/10/2021,307.0,1267.0,498.0,178.0,28.0,10.0,3.0,2.0,2.0
0,10/11/2021,286.0,1159.0,465.0,168.0,26.0,9.0,3.0,2.0,1.0
0,18/06/2022,67.0,304.0,113.0,44.0,6.0,2.0,1.0,0.0,0.0

### **II.1.2 MOD30 & 360**

#### **MOD30**

In [3]:
# mod30 (donne qu'elle signe il est)

mod = pd.DataFrame({'Date': [today],

                                       'Earth': helio['Earth'][helio.Date == today].values
                                       % 30,

                                       'Mer': helio['Mer'][helio.Date == today].values
                                       % 30,
                                       
                                       'Ven': helio['Ven'][helio.Date == today].values
                                       % 30,

                                       'Mar': helio['Mar'][helio.Date == today].values
                                       % 30,

                                       'Jup': helio['Jup'][helio.Date == today].values
                                       % 30,
                                       
                                       'Sat': helio['Sat'][helio.Date == today].values
                                       % 30,

                                       'Ura': helio['Ura'][helio.Date == today].values
                                       % 30,

                                       'Nep': helio['Nep'][helio.Date == today].values
                                       % 30,
                                       
                                       'Plu': helio['Plu'][helio.Date == today].values
                                       % 30,

                                       })


mod = mod.round()
mod

         Date  Earth   Mer   Ven   Mar  Jup   Sat   Ura   Nep   Plu
0  27/08/2022    4.0  27.0  28.0  18.0  1.0  22.0  16.0  24.0  28.0

In [4]:
# rrr

result2 = result.copy() # rrr

for col in result2.columns[1:]:
     result2= result2.astype({col: "int64"})

for col in result2.columns[1:]:
     result2= result2.astype({col: "int64"})

rrr = pd.DataFrame({'Date': [today],

                                       'Earth': helio['Earth'][helio.Date == today].values,

                                       'Mer': helio['Mer'][helio.Date == today].values,
                                       
                                       'Ven': helio['Ven'][helio.Date == today].values,

                                       'Mar': helio['Mar'][helio.Date == today].values,

                                       'Jup': helio['Jup'][helio.Date == today].values,
                                       
                                       'Sat': helio['Sat'][helio.Date == today].values,

                                       'Ura': helio['Ura'][helio.Date == today].values,

                                       'Nep': helio['Nep'][helio.Date == today].values,
                                       
                                       'Plu': helio['Plu'][helio.Date == today].values,

                                       })

rrr.round()

for i in rrr['Earth']: 
        if (0<=i<=29):
            rrr['Earth'] = rrr['Earth'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Earth'] = rrr['Earth'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Earth'] = rrr['Earth'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Earth'] = rrr['Earth'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Earth'] = rrr['Earth'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Earth'] = rrr['Earth'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Earth'] = rrr['Earth'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Earth'] = rrr['Earth'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Earth'] = rrr['Earth'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Earth'] = rrr['Earth'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Earth'] = rrr['Earth'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Earth'] = rrr['Earth'].replace(i, "Pi")

for i in rrr['Mer']: 
        if (0<=i<=29):
            rrr['Mer'] = rrr['Mer'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Mer'] = rrr['Mer'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Mer'] = rrr['Mer'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Mer'] = rrr['Mer'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Mer'] = rrr['Mer'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Mer'] = rrr['Mer'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Mer'] = rrr['Mer'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Mer'] = rrr['Mer'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Mer'] = rrr['Mer'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Mer'] = rrr['Mer'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Mer'] = rrr['Mer'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Mer'] = rrr['Mer'].replace(i, "Pi")

for i in rrr['Ven']: 
        if (0<=i<=29):
            rrr['Ven'] = rrr['Ven'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Ven'] = rrr['Ven'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Ven'] = rrr['Ven'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Ven'] = rrr['Ven'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Ven'] = rrr['Ven'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Ven'] = rrr['Ven'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Ven'] = rrr['Ven'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Ven'] = rrr['Ven'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Ven'] = rrr['Ven'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Ven'] = rrr['Ven'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Ven'] = rrr['Ven'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Ven'] = rrr['Ven'].replace(i, "Pi")

for i in rrr['Mar']: 
        if (0<=i<=29):
            rrr['Mar'] = rrr['Mar'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Mar'] = rrr['Mar'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Mar'] = rrr['Mar'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Mar'] = rrr['Mar'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Mar'] = rrr['Mar'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Mar'] = rrr['Mar'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Mar'] = rrr['Mar'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Mar'] = rrr['Mar'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Mar'] = rrr['Mar'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Mar'] = rrr['Mar'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Mar'] = rrr['Mar'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Mar'] = rrr['Mar'].replace(i, "Pi")

for i in rrr['Jup']: 
        if (0<=i<=29):
            rrr['Jup'] = rrr['Jup'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Jup'] = rrr['Jup'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Jup'] = rrr['Jup'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Jup'] = rrr['Jup'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Jup'] = rrr['Jup'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Jup'] = rrr['Jup'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Jup'] = rrr['Jup'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Jup'] = rrr['Jup'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Jup'] = rrr['Jup'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Jup'] = rrr['Jup'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Jup'] = rrr['Jup'].replace(i, "Aq")
        elif (330<=i<=360):
            rrr['Jup'] = rrr['Jup'].replace(i, "Pi")

for i in rrr['Sat']: 
        if (0<=i<=29):
            rrr['Sat'] = rrr['Sat'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Sat'] = rrr['Sat'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Sat'] = rrr['Sat'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Sat'] = rrr['Sat'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Sat'] = rrr['Sat'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Sat'] = rrr['Sat'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Sat'] = rrr['Sat'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Sat'] = rrr['Sat'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Sat'] = rrr['Sat'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Sat'] = rrr['Sat'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Sat'] = rrr['Sat'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Sat'] = rrr['Sat'].replace(i, "Pi")

for i in rrr['Ura']: 
        if (0<=i<=29):
            rrr['Ura'] = rrr['Ura'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Ura'] = rrr['Ura'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Ura'] = rrr['Ura'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Ura'] = rrr['Ura'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Ura'] = rrr['Ura'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Ura'] = rrr['Ura'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Ura'] = rrr['Ura'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Ura'] = rrr['Ura'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Ura'] = rrr['Ura'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Ura'] = rrr['Ura'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Ura'] = rrr['Ura'].replace(i, "Aq")
        elif (330<=i<=360):
            rrr['Ura'] = rrr['Ura'].replace(i, "Pi")

for i in rrr['Nep']: 
        if (0<=i<=29):
            rrr['Nep'] = rrr['Nep'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Nep'] = rrr['Nep'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Nep'] = rrr['Nep'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Nep'] = rrr['Nep'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Nep'] = rrr['Nep'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Nep'] = rrr['Nep'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Nep'] = rrr['Nep'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Nep'] = rrr['Nep'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Nep'] = rrr['Nep'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Nep'] = rrr['Nep'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Nep'] = rrr['Nep'].replace(i, "Aq")
        elif (330<=i<=360):
            rrr['Nep'] = rrr['Nep'].replace(i, "Pi")

for i in rrr['Plu']: 
        if (0<=i<=29):
            rrr['Plu'] = rrr['Plu'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Plu'] = rrr['Plu'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Plu'] = rrr['Plu'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Plu'] = rrr['Plu'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Plu'] = rrr['Plu'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Plu'] = rrr['Plu'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Plu'] = rrr['Plu'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Plu'] = rrr['Plu'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Plu'] = rrr['Plu'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Plu'] = rrr['Plu'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Plu'] = rrr['Plu'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Plu'] = rrr['Plu'].replace(i, "Pi")

rrr

         Date Earth Mer Ven Mar Jup Sat Ura Nep Plu
0  27/08/2022    Pi  Sg  Ca  Ar  Ar  Aq  Ta  Pi  Cp

In [5]:
mod = mod.round()

# STR

for col in mod.columns[1:]:
     mod = mod.astype({col: str})

for col in rrr.columns[1:]:
     rrr = rrr.astype({col: str})

mod0 = pd.DataFrame({"Date": [today]})

# GROUPBY MANUALY

for col in mod.columns[1:]:
    mod0[col] = mod[col] + ' | ' + rrr[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod0

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,27/08/2022,4.0 | Pi,27.0 | Sg,28.0 | Ca,18.0 | Ar,1.0 | Ar,22.0 | Aq,16.0 | Ta,24.0 | Pi,28.0 | Cp

#### **MOD360**

In [6]:
# BON CUM MOD/REV

hexx = hel.copy()

hexx['Earth'] = hexx['Earth'] / 360
hexx['Mer'] = hexx['Mer'] / 360
hexx['Ven'] = hexx['Ven'] / 360
hexx['Mar'] = hexx['Mar'] / 360
hexx['Jup'] = hexx['Jup'] / 360
hexx['Sat'] = hexx['Sat'] / 360
hexx['Nep'] = hexx['Nep'] / 360
hexx['Plu'] = hexx['Plu'] / 360

hecc = hel.copy()

hecc['Earth'] = hecc['Earth'] % 360
hecc['Mer'] = hecc['Mer'] % 360
hecc['Ven'] = hecc['Ven'] % 360
hecc['Mar'] = hecc['Mar'] % 360
hecc['Jup'] = hecc['Jup'] % 360
hecc['Sat'] = hecc['Sat'] % 360
hecc['Nep'] = hecc['Nep'] % 360
hecc['Plu'] = hecc['Plu'] % 360

hexx = hexx.iloc[1: , :]
hecc = hecc.iloc[1:, :]

# ROUNDDOWN

hexx = hexx.iloc[::, hexx.columns !='Date'].apply(np.floor)
hecc = hecc.iloc[::, hecc.columns !='Date'].apply(np.floor)

# STR

for col in hexx.columns[::]:
     hexx = hexx.astype({col: str})

for col in hecc.columns[::]:
     hecc = hecc.astype({col: str})

puant = pd.DataFrame({"Date": cumm_hel['Date']})

# GROUPBY MANUALY

for col in hexx.columns[::]:
    puant[col] = hexx[col] + ' | ' + hecc[col] #.groupby('Date').agg('-'.join).reset_index()
    
puant

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,31/10/2008,13.0 | 296.0,57.0 | 111.0,22.0 | 168.0,7.0 | 143.0,1.0 | 64.0,0.0 | 158.0,55.0 | 55.0,0.0 | 31.0,0.0 | 27.0
0,03/01/2009,13.0 | 231.0,56.0 | 251.0,22.0 | 66.0,7.0 | 108.0,1.0 | 58.0,0.0 | 156.0,54.0 | 54.0,0.0 | 30.0,0.0 | 27.0
0,22/05/2010,12.0 | 93.0,50.0 | 342.0,19.0 | 337.0,6.0 | 199.0,1.0 | 14.0,0.0 | 139.0,49.0 | 49.0,0.0 | 27.0,0.0 | 24.0
0,29/11/2013,8.0 | 267.0,36.0 | 79.0,14.0 | 76.0,4.0 | 237.0,0.0 | 259.0,0.0 | 97.0,35.0 | 35.0,0.0 | 19.0,0.0 | 16.0
0,17/12/2017,4.0 | 248.0,19.0 | 159.0,7.0 | 225.0,2.0 | 191.0,0.0 | 143.0,0.0 | 52.0,19.0 | 19.0,0.0 | 10.0,0.0 | 9.0
0,15/12/2018,3.0 | 251.0,15.0 | 101.0,6.0 | 5.0,1.0 | 346.0,0.0 | 115.0,0.0 | 41.0,15.0 | 15.0,0.0 | 8.0,0.0 | 7.0
0,26/06/2019,3.0 | 60.0,13.0 | 40.0,5.0 | 56.0,1.0 | 249.0,0.0 | 100.0,0.0 | 35.0,13.0 | 13.0,0.0 | 7.0,0.0 | 6.0
0,12/03/2020,2.0 | 162.0,10.0 | 52.0,3.0 | 359.0,1.0 | 128.0,0.0 | 79.0,0.0 | 28.0,10.0 | 10.0,0.0 | 5.0,0.0 | 4.0
0,25/04/2021,1.0 | 119.0,5.0 | 200.0,2.0 | 64.0,0.0 | 257.0,0.0 | 44.0,0.0 | 15.0,5.0 | 5.0,0.0 | 3.0,0.0 | 2.0
0,20/07/2021,1.0 | 36.0,4.0 | 213.0,1.0 | 285.0,0.0 | 219.0,0.0 | 36.0,0.0 | 13.0,4.0 | 4.0,0.0 | 2.0,0.0 | 2.0
0,20/10/2021,0.0 | 307.0,3.0 | 187.0,1.0 | 138.0,0.0 | 178.0,0.0 | 28.0,0.0 | 10.0,3.0 | 3.0,0.0 | 2.0,0.0 | 2.0
0,10/11/2021,0.0 | 286.0,3.0 | 79.0,1.0 | 105.0,0.0 | 168.0,0.0 | 26.0,0.0 | 9.0,3.0 | 3.0,0.0 | 2.0,0.0 | 1.0
0,18/06/2022,0.0 | 67.0,0.0 | 304.0,0.0 | 113.0,0.0 | 44.0,0.0 | 6.0,0.0 | 2.0,1.0 | 1.0,0.0 | 0.0,0.0 | 0.0

### **II.1.3 CONCAT**

In [7]:
#concat_helio = pd.concat([result, mod0, cumulative_1, mod1, cumulative_2, mod2, cumulative_3, mod3, cumulative_4, mod4, cumulative_6, mod6, cumulative_7, mod7, cumulative_8, mod8, cumulative_9, mod9, cumulative_10, mod10, cumulative_11, mod11, cumulative_12, mod12, cumulative_13, mod13, cumulative_14, mod14])

helio_concat = pd.concat([cumm_hel, puant], axis=0)
helio_concat.Date = pd.to_datetime(helio_concat.Date)
helio_concat = helio_concat.sort_values("Date", ignore_index=True)
helio_concat.Date = helio_concat.Date.dt.strftime("%d/%m/%Y")

hcc = pd.concat([result, mod0, helio_concat])
hcc

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
31373,27/08/2022,334.05,267.1,117.82,18.3,0.9,322.29,46.08,353.9,297.54
0,27/08/2022,4.0 | Pi,27.0 | Sg,28.0 | Ca,18.0 | Ar,1.0 | Ar,22.0 | Aq,16.0 | Ta,24.0 | Pi,28.0 | Cp
0,31/10/2008,4975.78,20631.2,8087.54,2662.93,423.8,158.37,54.89,30.59,26.93
1,31/10/2008,13.0 | 296.0,57.0 | 111.0,22.0 | 168.0,7.0 | 143.0,1.0 | 64.0,0.0 | 158.0,55.0 | 55.0,0.0 | 31.0,0.0 | 27.0
2,01/03/2009,4910.97,20410.53,7985.69,2628.27,418.32,156.15,54.21,30.2,26.56
3,01/03/2009,13.0 | 231.0,56.0 | 251.0,22.0 | 66.0,7.0 | 108.0,1.0 | 58.0,0.0 | 156.0,54.0 | 54.0,0.0 | 30.0,0.0 | 27.0
4,22/05/2010,4412.91,18341.92,7177.4,2359.06,373.65,138.95,48.79,27.15,23.63
5,22/05/2010,12.0 | 93.0,50.0 | 342.0,19.0 | 337.0,6.0 | 199.0,1.0 | 14.0,0.0 | 139.0,49.0 | 49.0,0.0 | 27.0,0.0 | 24.0
6,29/11/2013,3146.79,13038.77,5116.22,1677.14,258.58,97.33,34.94,19.37,16.43
7,29/11/2013,8.0 | 267.0,36.0 | 79.0,14.0 | 76.0,4.0 | 237.0,0.0 | 259.0,0.0 | 97.0,35.0 | 35.0,0.0 | 19.0,0.0 | 16.0
8,17/12/2017,1688.48,6999.3,2745.21,910.89,143.45,52.22,18.92,10.43,8.59
9,17/12/2017,4.0 | 248.0,19.0 | 159.0,7.0 | 225.0,2.0 | 191.0,0.0 | 143.0,0.0 | 52.0,19.0 | 19.0,0.0 | 10.0,0.0 | 9.0
10,15/12/2018,1330.77,5500.53,2164.6,706.32,115.46,41.3,14.96,8.23,6.73
11,15/12/2018,3.0 | 251.0,15.0 | 101.0,6.0 | 5.0,1.0 | 346.0,0.0 | 115.0,0.0 | 41.0,15.0 | 15.0,0.0 | 8.0,0.0 | 7.0
12,26/06/2019,3.0 | 60.0,13.0 | 40.0,5.0 | 56.0,1.0 | 249.0,0.0 | 100.0,0.0 | 35.0,13.0 | 13.0,0.0 | 7.0,0.0 | 6.0
13,26/06/2019,1139.59,4720.26,1855.78,608.54,100.17,35.48,12.84,7.06,5.75
14,03/12/2020,881.84,3652.08,1438.74,488.03,78.96,27.62,9.98,5.48,4.43
15,03/12/2020,2.0 | 162.0,10.0 | 52.0,3.0 | 359.0,1.0 | 128.0,0.0 | 79.0,0.0 | 28.0,10.0 | 10.0,0.0 | 5.0,0.0 | 4.0
16,25/04/2021,1.0 | 119.0,5.0 | 200.0,2.0 | 64.0,0.0 | 257.0,0.0 | 44.0,0.0 | 15.0,5.0 | 5.0,0.0 | 3.0,0.0 | 2.0
17,25/04/2021,478.71,2000.38,783.96,256.6,44.0,15.15,5.45,2.99,2.4
18,20/07/2021,1.0 | 36.0,4.0 | 213.0,1.0 | 285.0,0.0 | 219.0,0.0 | 36.0,0.0 | 13.0,4.0 | 4.0,0.0 | 2.0,0.0 | 2.0
19,20/07/2021,396.21,1652.59,644.73,218.62,36.4,12.51,4.5,2.46,1.97
20,11/10/2021,285.91,1158.61,465.04,167.78,26.32,9.02,3.24,1.77,1.42
21,11/10/2021,0.0 | 286.0,3.0 | 79.0,1.0 | 105.0,0.0 | 168.0,0.0 | 26.0,0.0 | 9.0,3.0 | 3.0,0.0 | 2.0,0.0 | 1.0
22,20/10/2021,306.9,1267.38,498.41,177.61,28.2,9.67,3.48,1.9,1.52
23,20/10/2021,0.0 | 307.0,3.0 | 187.0,1.0 | 138.0,0.0 | 178.0,0.0 | 28.0,0.0 | 10.0,3.0 | 3.0,0.0 | 2.0,0.0 | 2.0
24,18/06/2022,66.96,304.33,112.52,43.82,6.39,2.19,0.79,0.43,0.34
25,18/06/2022,0.0 | 67.0,0.0 | 304.0,0.0 | 113.0,0.0 | 44.0,0.0 | 6.0,0.0 | 2.0,1.0 | 1.0,0.0 | 0.0,0.0 | 0.0

## **II.2 GEO**

### **II.2.1 CUMUL GEO**

In [8]:
from datetime import datetime

today = datetime.strftime(datetime.now(), "%d/%m/%Y")

cumulative_1 = geo_cum.copy()
cumulative_2 = geo_cum.copy()
cumulative_3 = geo_cum.copy()
cumulative_4 = geo_cum.copy()
cumulative_5 = geo_cum.copy()
cumulative_6 = geo_cum.copy()
cumulative_7 = geo_cum.copy()
cumulative_8 = geo_cum.copy()
cumulative_9 = geo_cum.copy()
cumulative_10 = geo_cum.copy()
cumulative_11 = geo_cum.copy()
cumulative_12 = geo_cum.copy()
cumulative_13 = geo_cum.copy()

geo = geo.copy()
result_g = geo[geo.Date == today]

def cum_geo(df, date):
    today = datetime.strftime(datetime.now(), "%d/%m/%Y")
    return pd.DataFrame(
        {
            "Date": [date],
            "Moon": df["Moon"][df.Date == today].values
            - df["Moon"][df.Date == date].values,
            "Sun": df["Sun"][df.Date == today].values
            - df["Sun"][df.Date == date].values,
            "Mer": df["Mer"][df.Date == today].values
            - df["Mer"][df.Date == date].values,
            "Ven": df["Ven"][df.Date == today].values
            - df["Ven"][df.Date == date].values,
            "Mar": df["Mar"][df.Date == today].values
            - df["Mar"][df.Date == date].values,
            "Jup": df["Jup"][df.Date == today].values
            - df["Jup"][df.Date == date].values,
            "Sat": df["Sat"][df.Date == today].values
            - df["Sat"][df.Date == date].values,
            "Ura": df["Ura"][df.Date == today].values
            - df["Ura"][df.Date == date].values,
            "Nep": df["Nep"][df.Date == today].values
            - df["Nep"][df.Date == date].values,
            "Plu": df["Plu"][df.Date == today].values
            - df["Plu"][df.Date == date].values,
        }
    )

filtered_dfs = []

data = [
  (cumulative_1, '31/10/2008'),
  (cumulative_2, '03/01/2009'),
  (cumulative_3, '22/05/2010'),
  (cumulative_4, '29/11/2013'),
  (cumulative_5, '17/12/2017'),
  (cumulative_6, '15/12/2018'),
  (cumulative_7, '26/06/2019'),
  (cumulative_8, '12/03/2020'),
  (cumulative_9, '25/04/2021'),
  (cumulative_10, '20/07/2021'),
  (cumulative_11, '20/10/2021'),
  (cumulative_12, '10/11/2021'),
  (cumulative_13, '18/06/2022'),
]

for i, (df, date) in enumerate(data):
  filtered_dfs.append(cum_geo(df, date))

cumm_geo = pd.concat(filtered_dfs)
geol = pd.concat([result_g, cumm_geo])
geol = geol.round()

geol

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
31373,27/08/2022,154.0,154.0,181.0,139.0,64.0,7.0,321.0,49.0,355.0,297.0
0,31/10/2008,66742.0,4976.0,5378.0,5644.0,2715.0,801.0,152.0,420.0,33.0,27.0
0,03/01/2009,65675.0,4911.0,5279.0,5569.0,2669.0,788.0,149.0,420.0,32.0,25.0
0,22/05/2010,59027.0,4413.0,4825.0,4726.0,2442.0,730.0,143.0,409.0,26.0,22.0
0,29/11/2013,42076.0,3147.0,3190.0,3449.0,1688.0,258.0,94.0,40.0,22.0,16.0
0,17/12/2017,22578.0,1688.0,1725.0,1679.0,929.0,143.0,51.0,24.0,13.0,8.0
0,15/12/2018,17802.0,1331.0,1379.0,1361.0,795.0,119.0,42.0,20.0,11.0,6.0
0,26/06/2019,15259.0,1140.0,1142.0,1138.0,668.0,110.0,33.0,13.0,6.0,4.0
0,12/03/2020,11828.0,882.0,933.0,821.0,497.0,76.0,22.0,15.0,6.0,2.0
0,25/04/2021,6447.0,479.0,499.0,456.0,333.0,40.0,8.0,9.0,2.0,-0.0
0,20/07/2021,5309.0,396.0,437.0,351.0,280.0,37.0,10.0,5.0,2.0,1.0
0,20/10/2021,4090.0,307.0,351.0,245.0,221.0,45.0,14.0,6.0,4.0,2.0
0,10/11/2021,3813.0,286.0,324.0,225.0,207.0,44.0,13.0,6.0,4.0,2.0
0,18/06/2022,915.0,67.0,117.0,85.0,46.0,1.0,-4.0,2.0,-1.0,-2.0

### **II.2.2 MOD30 & 360 GEO**

#### **MOD30**

In [9]:
# mod30 (donne qu'elle signe il est)

mod_g = pd.DataFrame({'Date': [today],

                                       'Moon': result_g['Moon'][result_g.Date == today].values
                                       % 30,

                                        'Sun': result_g['Sun'][result_g.Date == today].values
                                       % 30,

                                       'Mer': result_g['Mer'][result_g.Date == today].values
                                       % 30,
                                       
                                       'Ven': result_g['Ven'][result_g.Date == today].values
                                       % 30,

                                       'Mar': result_g['Mar'][result_g.Date == today].values
                                       % 30,

                                       'Jup': result_g['Jup'][result_g.Date == today].values
                                       % 30,
                                       
                                       'Sat': result_g['Sat'][result_g.Date == today].values
                                       % 30,

                                       'Ura': result_g['Ura'][result_g.Date == today].values
                                       % 30,

                                       'Nep': result_g['Nep'][result_g.Date == today].values
                                       % 30,
                                       
                                       'Plu': result_g['Plu'][result_g.Date == today].values
                                       % 30,

                                       })

mod_g.round()

         Date  Moon  Sun  Mer   Ven  Mar  Jup   Sat   Ura   Nep   Plu
0  27/08/2022   4.0  4.0  1.0  19.0  4.0  7.0  21.0  19.0  25.0  27.0

In [10]:
# rrr

# mod30 (donne qu'elle signe il est)

rrr_g = result_g.copy() # rrr

for col in rrr_g.columns[1:]:
     rrr_g= rrr_g.astype({col: "int64"})

rrr_g = pd.DataFrame({'Date': [today],

                                       'Moon': rrr_g['Moon'][rrr_g.Date == today].values
                                       ,

                                        'Sun': rrr_g['Sun'][rrr_g.Date == today].values
                                       ,

                                       'Mer': rrr_g['Mer'][rrr_g.Date == today].values
                                       ,
                                       
                                       'Ven': rrr_g['Ven'][rrr_g.Date == today].values
                                       ,

                                       'Mar': rrr_g['Mar'][rrr_g.Date == today].values
                                       ,

                                       'Jup': rrr_g['Jup'][rrr_g.Date == today].values
                                       ,
                                       
                                       'Sat': rrr_g['Sat'][rrr_g.Date == today].values
                                       ,

                                       'Ura': rrr_g['Ura'][rrr_g.Date == today].values
                                       ,

                                       'Nep': rrr_g['Nep'][rrr_g.Date == today].values
                                       ,
                                       
                                       'Plu': rrr_g['Plu'][rrr_g.Date == today].values
                                       ,

                                       })

rrr_g.round()

for i in rrr_g['Moon']: 
        if (0<=i<=29):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Pi")

for i in rrr_g['Sun']: 
        if (0<=i<=29):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Pi")

for i in rrr_g['Mer']: 
        if (0<=i<=29):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Pi")

for i in rrr_g['Ven']: 
        if (0<=i<=29):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Pi")

for i in rrr_g['Mar']: 
        if (0<=i<=29):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Pi")

for i in rrr_g['Jup']: 
        if (0<=i<=29):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Pi")

for i in rrr_g['Sat']: 
        if (0<=i<=29):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Pi")

for i in rrr_g['Ura']: 
        if (0<=i<=29):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Pi")

for i in rrr_g['Nep']: 
        if (0<=i<=29):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Pi")

for i in rrr_g['Plu']: 
        if (0<=i<=29):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Pi")

rrr_g

         Date Moon Sun Mer Ven Mar Jup Sat Ura Nep Plu
0  27/08/2022   Vi  Vi  Li  Le  Ge  Ar  Aq  Ta  Pi  Cp

In [11]:
mod_g = mod_g.round()

# STR

for col in mod_g.columns[1:]:
     mod_g = mod_g.astype({col: str})

for col in rrr_g.columns[1:]:
     rrr_g = rrr_g.astype({col: str})

mod0_g = pd.DataFrame({"Date": [today]})

# GROUPBY MANUALY

for col in mod_g.columns[1:]:
    mod0_g[col] = mod_g[col] + ' | ' + rrr_g[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod0_g

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,27/08/2022,4.0 | Vi,4.0 | Vi,1.0 | Li,19.0 | Le,4.0 | Ge,7.0 | Ar,21.0 | Aq,19.0 | Ta,25.0 | Pi,27.0 | Cp

#### **MOD360**

In [12]:
# BON CUM MOD/REV

gexx = geol.copy()

gexx['Moon'] = gexx['Moon'] / 360
gexx['Sun'] = gexx['Sun'] / 360
gexx['Mer'] = gexx['Mer'] / 360
gexx['Ven'] = gexx['Ven'] / 360
gexx['Mar'] = gexx['Mar'] / 360
gexx['Jup'] = gexx['Jup'] / 360
gexx['Sat'] = gexx['Sat'] / 360
gexx['Nep'] = gexx['Nep'] / 360
gexx['Plu'] = gexx['Plu'] / 360

gecc = geol.copy()

gecc['Moon'] = gecc['Moon'] % 360
gecc['Sun'] = gecc['Sun'] % 360
gecc['Mer'] = gecc['Mer'] % 360
gecc['Ven'] = gecc['Ven'] % 360
gecc['Mar'] = gecc['Mar'] % 360
gecc['Jup'] = gecc['Jup'] % 360
gecc['Sat'] = gecc['Sat'] % 360
gecc['Nep'] = gecc['Nep'] % 360
gecc['Plu'] = gecc['Plu'] % 360

gexx = gexx.iloc[1: , :]
gecc = gecc.iloc[1:, :]

# ROUNDDOWN

gexx = gexx.iloc[::, gexx.columns !='Date'].apply(np.floor)
gecc = gecc.iloc[::, gecc.columns !='Date'].apply(np.floor)

# STR

for col in gexx.columns[::]:
     gexx = gexx.astype({col: str})

for col in gecc.columns[::]:
     gecc = gecc.astype({col: str})

puant_g = pd.DataFrame({"Date": cumm_hel['Date']})

# GROUPBY MANUALY

for col in gexx.columns[::]:
    puant_g[col] = gexx[col] + ' | ' + gecc[col] #.groupby('Date').agg('-'.join).reset_index()
    
puant_g

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,31/10/2008,185.0 | 142.0,13.0 | 296.0,14.0 | 338.0,15.0 | 244.0,7.0 | 195.0,2.0 | 81.0,0.0 | 152.0,420.0 | 420.0,0.0 | 33.0,0.0 | 27.0
0,03/01/2009,182.0 | 155.0,13.0 | 231.0,14.0 | 239.0,15.0 | 169.0,7.0 | 149.0,2.0 | 68.0,0.0 | 149.0,420.0 | 420.0,0.0 | 32.0,0.0 | 25.0
0,22/05/2010,163.0 | 347.0,12.0 | 93.0,13.0 | 145.0,13.0 | 46.0,6.0 | 282.0,2.0 | 10.0,0.0 | 143.0,409.0 | 409.0,0.0 | 26.0,0.0 | 22.0
0,29/11/2013,116.0 | 316.0,8.0 | 267.0,8.0 | 310.0,9.0 | 209.0,4.0 | 248.0,0.0 | 258.0,0.0 | 94.0,40.0 | 40.0,0.0 | 22.0,0.0 | 16.0
0,17/12/2017,62.0 | 258.0,4.0 | 248.0,4.0 | 285.0,4.0 | 239.0,2.0 | 209.0,0.0 | 143.0,0.0 | 51.0,24.0 | 24.0,0.0 | 13.0,0.0 | 8.0
0,15/12/2018,49.0 | 162.0,3.0 | 251.0,3.0 | 299.0,3.0 | 281.0,2.0 | 75.0,0.0 | 119.0,0.0 | 42.0,20.0 | 20.0,0.0 | 11.0,0.0 | 6.0
0,26/06/2019,42.0 | 139.0,3.0 | 60.0,3.0 | 62.0,3.0 | 58.0,1.0 | 308.0,0.0 | 110.0,0.0 | 33.0,13.0 | 13.0,0.0 | 6.0,0.0 | 4.0
0,12/03/2020,32.0 | 308.0,2.0 | 162.0,2.0 | 213.0,2.0 | 101.0,1.0 | 137.0,0.0 | 76.0,0.0 | 22.0,15.0 | 15.0,0.0 | 6.0,0.0 | 2.0
0,25/04/2021,17.0 | 327.0,1.0 | 119.0,1.0 | 139.0,1.0 | 96.0,0.0 | 333.0,0.0 | 40.0,0.0 | 8.0,9.0 | 9.0,0.0 | 2.0,-0.0 | 0.0
0,20/07/2021,14.0 | 269.0,1.0 | 36.0,1.0 | 77.0,0.0 | 351.0,0.0 | 280.0,0.0 | 37.0,0.0 | 10.0,5.0 | 5.0,0.0 | 2.0,0.0 | 1.0
0,20/10/2021,11.0 | 130.0,0.0 | 307.0,0.0 | 351.0,0.0 | 245.0,0.0 | 221.0,0.0 | 45.0,0.0 | 14.0,6.0 | 6.0,0.0 | 4.0,0.0 | 2.0
0,10/11/2021,10.0 | 213.0,0.0 | 286.0,0.0 | 324.0,0.0 | 225.0,0.0 | 207.0,0.0 | 44.0,0.0 | 13.0,6.0 | 6.0,0.0 | 4.0,0.0 | 2.0
0,18/06/2022,2.0 | 195.0,0.0 | 67.0,0.0 | 117.0,0.0 | 85.0,0.0 | 46.0,0.0 | 1.0,-1.0 | 356.0,2.0 | 2.0,-1.0 | 359.0,-1.0 | 358.0

### **II.2.3 CONCAT**

In [13]:
geo_concat = pd.concat([cumm_geo, puant_g], axis=0)
geo_concat.Date = pd.to_datetime(geo_concat.Date)
geo_concat = geo_concat.sort_values("Date", ignore_index=True)
geo_concat.Date = geo_concat.Date.dt.strftime("%d/%m/%Y")

gcc = pd.concat([result_g, mod0_g, geo_concat])
gcc

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
31373,27/08/2022,153.91,154.05,181.29,139.09,64.01,7.33,320.97,48.92,354.58,296.52
0,27/08/2022,4.0 | Vi,4.0 | Vi,1.0 | Li,19.0 | Le,4.0 | Ge,7.0 | Ar,21.0 | Aq,19.0 | Ta,25.0 | Pi,27.0 | Cp
0,31/10/2008,66741.6,4975.78,5378.17,5643.89,2715.34,800.59,152.41,419.87,33.11,27.33
1,31/10/2008,185.0 | 142.0,13.0 | 296.0,14.0 | 338.0,15.0 | 244.0,7.0 | 195.0,2.0 | 81.0,0.0 | 152.0,420.0 | 420.0,0.0 | 33.0,0.0 | 27.0
2,01/03/2009,65675.3,4910.97,5278.97,5569.3,2668.73,787.87,149.21,419.61,32.08,25.18
3,01/03/2009,182.0 | 155.0,13.0 | 231.0,14.0 | 239.0,15.0 | 169.0,7.0 | 149.0,2.0 | 68.0,0.0 | 149.0,420.0 | 420.0,0.0 | 32.0,0.0 | 25.0
4,22/05/2010,59026.86,4412.91,4824.63,4726.35,2442.0,729.6,143.08,409.1,25.9,21.59
5,22/05/2010,163.0 | 347.0,12.0 | 93.0,13.0 | 145.0,13.0 | 46.0,6.0 | 282.0,2.0 | 10.0,0.0 | 143.0,409.0 | 409.0,0.0 | 26.0,0.0 | 22.0
6,29/11/2013,42076.21,3146.79,3190.0,3448.75,1688.48,257.63,94.03,40.19,21.93,16.36
7,29/11/2013,116.0 | 316.0,8.0 | 267.0,8.0 | 310.0,9.0 | 209.0,4.0 | 248.0,0.0 | 258.0,0.0 | 94.0,40.0 | 40.0,0.0 | 22.0,0.0 | 16.0
8,17/12/2017,22578.16,1688.48,1725.4,1679.03,929.01,143.03,51.31,24.24,12.94,8.23
9,17/12/2017,62.0 | 258.0,4.0 | 248.0,4.0 | 285.0,4.0 | 239.0,2.0 | 209.0,0.0 | 143.0,0.0 | 51.0,24.0 | 24.0,0.0 | 13.0,0.0 | 8.0
10,15/12/2018,17802.05,1330.77,1379.16,1360.53,795.19,119.15,41.54,20.1,10.77,6.47
11,15/12/2018,49.0 | 162.0,3.0 | 251.0,3.0 | 299.0,3.0 | 281.0,2.0 | 75.0,0.0 | 119.0,0.0 | 42.0,20.0 | 20.0,0.0 | 11.0,0.0 | 6.0
12,26/06/2019,42.0 | 139.0,3.0 | 60.0,3.0 | 62.0,3.0 | 58.0,1.0 | 308.0,0.0 | 110.0,0.0 | 33.0,13.0 | 13.0,0.0 | 6.0,0.0 | 4.0
13,26/06/2019,15258.91,1139.59,1141.83,1138.02,667.6,109.8,32.78,13.17,5.86,4.19
14,03/12/2020,11827.61,881.84,932.84,821.3,496.85,75.8,21.76,14.74,6.04,2.0
15,03/12/2020,32.0 | 308.0,2.0 | 162.0,2.0 | 213.0,2.0 | 101.0,1.0 | 137.0,0.0 | 76.0,0.0 | 22.0,15.0 | 15.0,0.0 | 6.0,0.0 | 2.0
16,25/04/2021,17.0 | 327.0,1.0 | 119.0,1.0 | 139.0,1.0 | 96.0,0.0 | 333.0,0.0 | 40.0,0.0 | 8.0,9.0 | 9.0,0.0 | 2.0,-0.0 | 0.0
17,25/04/2021,6446.5,478.71,498.75,456.03,332.89,39.82,8.09,8.56,2.35,-0.29
18,20/07/2021,14.0 | 269.0,1.0 | 36.0,1.0 | 77.0,0.0 | 351.0,0.0 | 280.0,0.0 | 37.0,0.0 | 10.0,5.0 | 5.0,0.0 | 2.0,0.0 | 1.0
19,20/07/2021,5309.48,396.21,437.01,351.12,279.97,36.52,9.84,4.51,1.54,1.02
20,11/10/2021,3812.85,285.91,324.24,224.54,206.77,44.12,13.33,6.36,4.05,1.91
21,11/10/2021,10.0 | 213.0,0.0 | 286.0,0.0 | 324.0,0.0 | 225.0,0.0 | 207.0,0.0 | 44.0,0.0 | 13.0,6.0 | 6.0,0.0 | 4.0,0.0 | 2.0
22,20/10/2021,4090.1,306.9,350.9,245.27,220.87,44.99,14.02,5.5,3.7,2.16
23,20/10/2021,11.0 | 130.0,0.0 | 307.0,0.0 | 351.0,0.0 | 245.0,0.0 | 221.0,0.0 | 45.0,0.0 | 14.0,6.0 | 6.0,0.0 | 4.0,0.0 | 2.0
24,18/06/2022,915.22,66.96,117.09,84.66,46.08,1.16,-4.14,1.74,-0.84,-1.55
25,18/06/2022,2.0 | 195.0,0.0 | 67.0,0.0 | 117.0,0.0 | 85.0,0.0 | 46.0,0.0 | 1.0,-1.0 | 356.0,2.0 | 2.0,-1.0 | 359.0,-1.0 | 358.0

# **III. ASPECTS TABLE & TOOLS.py**

### **III.1 Aspects H/G TrTr & TrNa**

#### **III.1.1 HELIO TrTr & TrNa**

In [14]:
# HELIO ASPECT TrTr - MADE BY US AUTOMATICALY FINDS INTO DATA

#ha = helio_asp
#col = []
#cols = ha.columns[1:]
#df = ha[cols]
#Date = list[ha['Date']]

#for columns in df.columns:

    #globals()["liste_%s"%columns] = []

    #for row, i in enumerate(df[columns]):
        #if (i >= 0 and i <= 0.03) or (i >= 3.75 and i <= 3.755) or (i >= 7.5 and i <= 7.55) or (i >= 15 and i <= 15.15) or (i >= 22.5 and i <= 22.55) or (i >= 30 and i <= 30.15) or (i >= 36 and i <= 36.15) or (i >= 45 and i <= 45.15) or (i >= 60 and i <= 60.15) or (i >= 72 and i <= 72.15) or (i >= 90 and i <= 90.15) or (i >= 120 and i <= 120.15) or (i >= 135 and i <= 135.15) or (i >= 144 and i <= 144.15) or (i >= 150 and i <= 150.15) or (i >= 180 and i <= 180.15):
            #globals()["liste_%s"%columns].append(i)
        #else:
            #globals()["liste_%s"%columns].append(" ")

#flu = helio_asp[['Date']].copy()
#dict = {'Sun_Mer': liste_Sun_Mer, 'Sun_Ven': liste_Sun_Ven, 'Sun_Mar': liste_Sun_Mar, 'Sun_Jup': liste_Sun_Jup, 'Sun_Sat': liste_Sun_Sat, 'Sun_Ura': liste_Sun_Ura, 'Sun_Nep': liste_Sun_Nep, 'Sun_Plu': liste_Sun_Plu, 'Mer_Ven': liste_Mer_Ven, 'Mer_Mar': liste_Mer_Mar, 'Mer_Jup': liste_Mer_Jup, 'Mer_Sat': liste_Mer_Sat, 'Mer_Ura': liste_Mer_Ura, 'Mer_Nep': liste_Mer_Nep, 'Mer_Plu': liste_Mer_Plu, 'Ven_Mar': liste_Ven_Mar, 'Ven_Jup': liste_Ven_Jup, 'Ven_Sat': liste_Ven_Sat, 'Ven_Ura': liste_Ven_Ura, 'Ven_Nep': liste_Ven_Nep, 'Ven_Plu': liste_Ven_Plu, 'Mar_Jup': liste_Mar_Jup, 'Mar_Sat': liste_Mar_Sat, 'Mar_Ura': liste_Mar_Ura, 'Mar_Nep': liste_Mar_Nep, 'Mar_Plu': liste_Mar_Plu, 'Jup_Sat': liste_Jup_Sat, 'Jup_Ura': liste_Jup_Ura, 'Jup_Nep': liste_Jup_Nep, 'Jup_Plu': liste_Jup_Plu, 'Sat_Ura': liste_Sat_Ura, 'Sat_Nep': liste_Sat_Nep, 'Sat_Plu': liste_Sat_Plu, 'Ura_Nep': liste_Ura_Nep, 'Ura_Plu': liste_Ura_Plu, 'Nep_Plu': liste_Nep_Plu} 
#dfObj = pd.DataFrame(dict)
#flu = helio_asp[['Date']].copy()
#concat_asp = pd.concat([flu, dfObj], axis=1)

#asp_con = concat_asp[concat_asp.Date == today]
#asp_con.round()

In [15]:
b = points_tr.copy()

b.fillna(0, inplace=True)

b_h = b[b["Type"] == "Helio"]
b_g = b[b["Type"] == "Geo"]

b_h = b_h.drop(['Type'], axis = 1)
b_g = b_g.drop(['Type'], axis = 1)
b_con = pd.concat([b_h, b_g])

b_con['Date'] = pd.to_datetime(b_con['Date'])  

start_date = t  - timedelta(days = 1)
end_date = t + timedelta(days = 3)

mask = (b_con['Date'] > start_date) & (b_con['Date'] <= end_date)
b_hits = b_con.loc[mask]
b_hits = b_hits.sort_values(by=['Date'], ascending = True)
b_trtr = b_hits

In [16]:
x = points_na.copy()

x.fillna(0, inplace=True)

x_h = x[x["Type"] == "Helio"]
x_g = x[x["Type"] == "Geo"]

x_h = x_h.drop(['Type'], axis = 1)
x_h = x_h.drop(['Angle'], axis = 1)
x_h = x_h.drop(['Pair'], axis = 1)

x_g = x_g.drop(['Type'], axis = 1)
x_g = x_g.drop(['Angle'], axis = 1)
x_g = x_g.drop(['Pair'], axis = 1)

x_con = pd.concat([x_h, x_g])

x_con['Date'] = pd.to_datetime(x_con['Date'])  
start_date = t  - timedelta(days = 1)
end_date = t + timedelta(days = 120)

mask = (x_con['Date'] > start_date) & (x_con['Date'] <= end_date)

x_hits = x_con.loc[mask]
x_hits = x_hits.sort_values(by=['Date'], ascending = True)
x_hi = x_con.loc[mask]
x_hi = x_hi.sort_values(by=['Date'], ascending = True)

In [17]:
fig = px.bar(b_trtr, x="Date", y="Points", color="Points", text="Points", title="Aspects TrTr Points")
fig.show()

In [25]:
# H_TrTr

TrTr = TrTr.copy()
helio_ap = TrTr[TrTr["Type"] == "Helio"]
helio_TrTr = helio_ap[helio_ap.Date == today]

helio_TrTr.style.background_gradient(cmap='Blues')

In [19]:
fig = px.bar(x_hi, x="Date", y="Points", color="Points", text="Points", title="Aspects TrNa Points")
fig.show()

In [24]:
# H_TrNa

TrNa = TrNa.copy()
helio_TrNa = TrNa[TrNa["Type"] == "Helio"]
helio_TrNa = helio_TrNa[helio_TrNa.Date == today]

helio_TrNa.style.background_gradient(cmap='Blues')

#### **III.1.2 GEO TrTr & TrNa**

In [22]:
# G_TrTr

geo_ap = TrTr[TrTr["Type"] == "Geo"]
geo_TrTr = geo_ap[geo_ap.Date == today]
geo_TrTr.style.background_gradient(cmap='Blues')

In [ ]:
...fezsfz

In [23]:
# G_TrNa

geo_TrNa = TrNa[TrNa["Type"] == "Geo"]
geo_TrNa = geo_TrNa[geo_TrNa.Date == today]
geo_TrNa.style.background_gradient(cmap='Blues')

In [ ]:
# GEO ASPECTS TrTr

#ga = geo_asp_good

#col = []
#cols = ha.columns[1:]
#df = ga[cols]
#Date = list[ga['Date']]

#for columns in df.columns:

    #globals()["lizte_%s"%columns] = []

    #for row, i in enumerate(df[columns]):
        #if (i >= 0 and i <= 0.03) or (i >= 3.75 and i <= 3.755) or (i >= 7.5 and i <= 7.59) or (i >= 15 and i <= 15.15) or (i >= 22.5 and i <= 22.55) or (i >= 30 and i <= 30.15) or (i >= 36 and i <= 36.15) or (i >= 45 and i <= 45.15) or (i >= 60 and i <= 60.15) or (i >= 72 and i <= 72.15) or (i >= 90 and i <= 90.15) or (i >= 120 and i <= 120.15) or (i >= 135 and i <= 135.15) or (i >= 144 and i <= 144.15) or (i >= 150 and i <= 150.15) or (i >= 180 and i <= 180.15):
        #    globals()["lizte_%s"%columns].append(i)
        #else:
          #  globals()["lizte_%s"%columns].append(" ")

#flu1 = geo_asp_good[['Date']].copy()
#dict = {'Sun_Mer': lizte_Sun_Mer, 'Sun_Ven': lizte_Sun_Ven, 'Sun_Mar': lizte_Sun_Mar, 'Sun_Jup': lizte_Sun_Jup, 'Sun_Sat': lizte_Sun_Sat, 'Sun_Ura': lizte_Sun_Ura, 'Sun_Nep': lizte_Sun_Nep, 'Sun_Plu': lizte_Sun_Plu, 'Mer_Ven': lizte_Mer_Ven, 'Mer_Mar': lizte_Mer_Mar, 'Mer_Jup': lizte_Mer_Jup, 'Mer_Sat': lizte_Mer_Sat, 'Mer_Ura': lizte_Mer_Ura, 'Mer_Nep': lizte_Mer_Nep, 'Mer_Plu': lizte_Mer_Plu, 'Ven_Mar': lizte_Ven_Mar, 'Ven_Jup': lizte_Ven_Jup, 'Ven_Sat': lizte_Ven_Sat, 'Ven_Ura': lizte_Ven_Ura, 'Ven_Nep': lizte_Ven_Nep, 'Ven_Plu': lizte_Ven_Plu, 'Mar_Jup': lizte_Mar_Jup, 'Mar_Sat': lizte_Mar_Sat, 'Mar_Ura': lizte_Mar_Ura, 'Mar_Nep': lizte_Mar_Nep, 'Mar_Plu': lizte_Mar_Plu, 'Jup_Sat': lizte_Jup_Sat, 'Jup_Ura': lizte_Jup_Ura, 'Jup_Nep': lizte_Jup_Nep, 'Jup_Plu': lizte_Jup_Plu, 'Sat_Ura': lizte_Sat_Ura, 'Sat_Nep': lizte_Sat_Nep, 'Sat_Plu': lizte_Sat_Plu, 'Ura_Nep': lizte_Ura_Nep, 'Ura_Plu': lizte_Ura_Plu, 'Nep_Plu': lizte_Nep_Plu}
#dfObj = pd.DataFrame(dict)
#concat_asp_g = pd.concat([flu1, dfObj], axis=1)

#geo_con = concat_asp_g[concat_asp_g.Date == today]
#geo_con.round()

### **III.2 Retro**

*(0 = rien | 1 = RETRO | 2 = RETURN)*

In [29]:
# Remove the nan and fill the empty string
retro = retro.copy()

retro.fillna('')
retro = retro.replace(np.nan,'',regex = True)

retro1 = retro[retro.Date == today]
retro1.style.background_gradient(cmap='Blues')

### **III.3 Declinations**

In [28]:
# dec_lat

selected_date = today

lat_moon_changes = lat_moon_changes.copy()

dec_lat = pd.DataFrame({'Date': [selected_date],

                                       'Dec/Lat': lat_moon_changes['LatChanges'][lat_moon_changes.Date == today].values
                                       + lat_moon_changes['MoonChanges'][lat_moon_changes.Date == selected_date].values,

                                       })

dec_lat.style.background_gradient(cmap='Blues')

### **III.4 GEO TOOLS**

In [30]:
# GEO TOOLS

declinations = declinations.copy()
latitudes = latitudes.copy()
Moon = Moon.copy()
planet_node = planet_node.copy()
samedec_samelat = samedec_samelat.copy()

tools_con = pd.concat([declinations, lat_moon_changes, latitudes, Moon, planet_node, samedec_samelat])

tools = pd.DataFrame({'Date': [today],

                                       'New Moon': Moon['NewMoon'][Moon.Date == today].values,

                                       'Full Moon': Moon['FullMoon'][Moon.Date == today].values,

                                       'Node': planet_node['Planet Node'][planet_node.Date == today].values,

                                       'Same Dec': samedec_samelat['Same Dec'][samedec_samelat.Date == today].values,        

                                       'Same Lat': samedec_samelat['Same Lat'][samedec_samelat.Date == today].values,

                                       'Lat Changes': lat_moon_changes['LatChanges'][lat_moon_changes.Date == today].values,    

                                       'Moon Changes': lat_moon_changes['MoonChanges'][lat_moon_changes.Date == today].values,

                                       'Lat Changes': lat_moon_changes['LatChanges'][lat_moon_changes.Date == today].values,       
                                                                                                             
})

tools.fillna('')
tools = tools.replace(0, np.nan)
tools = tools.replace(np.nan,'',regex = True)

tools.style.background_gradient(cmap='Blues')

# **IV. SPIRAL TAB.py**

## 1. Code

In [32]:
# Match every dates to cols
from datetime import datetime
from datetime import timedelta

Spiral = Spiral.copy()

for col in Spiral.columns[1:]:
    Spiral[col] = ((pd.to_datetime(Spiral['Date']) + pd.to_timedelta(f'{col} days'))
               .dt.strftime('%d/%m/%Y'))

dx = Spiral[1:].unstack().value_counts(ascending=False)

dx = pd.DataFrame(dx, columns=['Hit'])

dx = dx.reset_index()
dx = dx.rename_axis('E', axis=1)
dx.columns = dx.columns.str.replace('index', 'Date')
dx = dx.rename_axis(None, axis=1)

dx['Date'] = pd.to_datetime(dx['Date'])  

dayyy = datetime.strftime(datetime.now(), "%Y/%m/%d")
t = pd.to_datetime(dayyy)
t = pd.to_datetime(t)

start_date = t  - timedelta(days = 5)
end_date = t + timedelta(days = 120)

mask = (dx['Date'] > start_date) & (dx['Date'] <= end_date)
Spiral_hits = dx.loc[mask]
Spiral_hits = Spiral_hits.sort_values(by=['Date'])

Spiral_hits.head(15).style.background_gradient(cmap='Blues')

## 2. Result

In [ ]:
fig = px.bar(Spiral_hits, x='Date', y='Hit')
fig.show()

# **V. NatSq.py**

## 1. Code

In [ ]:
NatSq = NatSq.copy()
NatSq = NatSq.drop(['Type'], axis=1)

# Match every dates to cols

for col in NatSq.columns[1:]:
    NatSq[col] = ((pd.to_datetime(NatSq['Date']) + pd.to_timedelta(f'{col} days'))
               .dt.strftime('%d/%m/%Y'))

dx = NatSq[1:].unstack().value_counts(ascending=False)

dx = pd.DataFrame(dx, columns=['Hit'])

dx = dx.reset_index()
dx = dx.rename_axis('E', axis=1)
dx.columns = dx.columns.str.replace('index', 'Date')
dx = dx.rename_axis(None, axis=1)

dx['Date'] = pd.to_datetime(dx['Date'])  

start_date = t  - timedelta(days = 5)
end_date = t + timedelta(days = 120)

mask = (dx['Date'] > start_date) & (dx['Date'] <= end_date)
NatSq_hits = dx.loc[mask]
NatSq_hits = NatSq_hits.sort_values(by=['Date'])

NatSq_hits.head(5)

## 2. Result

In [ ]:
fig = px.bar(NatSq_hits, x='Date', y='Hit')
fig.show()

# **VI. addPrice.py**

## 1. Code

In [ ]:
kek_p = helio.copy()
kek_p

In [ ]:
hexxx = helio[helio.Date == "31/10/2008"]
hexxx

In [ ]:
pa = priceadd.copy()
pa

In [ ]:
outp = pd.DataFrame()

for col in pa.columns:
    outp[col] = pa[col]

    if col not in ("Date", "Price"):
        
        for row, _ in helio.iterrows():
            date = helio["Date"][row]
            dates_list = pa["Date"].to_list()

            if date in dates_list:
                row_index = dates_list.index(date)
                outp[col][row_index] = helio[col][row]

output = outp.copy()                

print(outp)

In [ ]:
# PA_1000

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

pa1k = output.copy()
pa1k.Price = pa1k.Price / 1000 # <- change here

# Add price to all planets

for i in pa1k.columns[2:]:
    pa1k[i] = pa1k[i] + pa1k.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa1k.columns[2:]:
    for num, j in enumerate(pa1k[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa1k[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa1k.columns[2:]:
    for num, i in enumerate(pa1k[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa1k[planets].iloc[num] = Date_ok
        else:
            pa1k[planets].iloc[num] = " "

pa1k

In [ ]:
# PA_100

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

pa100 = output.copy()
pa100.Price = pa100.Price / 100 # <- change here

# Add price to all planets

for i in pa100.columns[2:]:
    pa100[i] = pa100[i] + pa100.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa100.columns[2:]:
    for num, j in enumerate(pa100[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa100[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa100.columns[2:]:
    for num, i in enumerate(pa100[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa100[planets].iloc[num] = Date_ok
        else:
            pa100[planets].iloc[num] = " "

pa100

In [ ]:
# PA_10

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

pa10 = output.copy()
pa10.Price = pa10.Price / 10 # <- change here

# Add price to all planets

for i in pa10.columns[2:]:
    pa10[i] = pa10[i] + pa10.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa10.columns[2:]:
    for num, j in enumerate(pa10[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa10[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa10.columns[2:]:
    for num, i in enumerate(pa10[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa10[planets].iloc[num] = Date_ok
        else:
            pa10[planets].iloc[num] = " "

pa10

In [ ]:
# PA_1

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

pa1 = output.copy()
pa1.Price = pa1.Price / 1 # <- change here

# Add price to all planets

for i in pa1.columns[2:]:
    pa1[i] = pa1[i] + pa1.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa1.columns[2:]:
    for num, j in enumerate(pa1[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa1[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa1.columns[2:]:
    for num, i in enumerate(pa1[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa1[planets].iloc[num] = Date_ok
        else:
            pa1[planets].iloc[num] = " "

pa1

In [ ]:
# PA_24:

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

pa24 = output.copy()
pa24.Price = pa24.Price / 24 # <- change here

# Add price to all planets

for i in pa24.columns[2:]:
    pa24[i] = pa24[i] + pa24.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa24.columns[2:]:
    for num, j in enumerate(pa24[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa24[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa24.columns[2:]:
    for num, i in enumerate(pa24[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa24[planets].iloc[num] = Date_ok
        else:
            pa24[planets].iloc[num] = " "

pa24

In [ ]:
# PA_263:

# Copy price + Initialization of divisions
# (1000,100,10,1,24,etc...)

pa263 = output.copy()
pa263.Price = pa263.Price / 263 # <- change here

# Add price to all planets

for i in pa263.columns[2:]:
    pa263[i] = pa263[i] + pa263.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa263.columns[2:]:
    for num, j in enumerate(pa263[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa263[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa263.columns[2:]:
    for num, i in enumerate(pa263[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa263[planets].iloc[num] = Date_ok
        else:
            pa263[planets].iloc[num] = " "

pa263

In [ ]:
# PA_1440:

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

pa1440 = output.copy()
pa1440.Price = pa1440.Price / 1440 # <- change here

# Add price to all planets

for i in pa1440.columns[2:]:
    pa1440[i] = pa1440[i] + pa1440.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa1440.columns[2:]:
    for num, j in enumerate(pa1440[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa1440[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa1440.columns[2:]:
    for num, i in enumerate(pa1440[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa1440[planets].iloc[num] = Date_ok
        else:
            pa1440[planets].iloc[num] = " "

pa1440

#### **HIT addP**

In [ ]:
total_p = pd.concat([pa1k, pa100, pa10, pa1, pa24, pa263, pa1440])

adpod = total_p.copy()
adpod = adpod.drop(['Price'], axis=1)

good = adpod[1:].unstack().value_counts(ascending=True)

good = pd.DataFrame(good, columns=['Hit'])

good = good.reset_index()
good = good.rename_axis('E', axis=1)
good.columns = good.columns.str.replace('index', 'Date')
good = good.rename_axis(None, axis=1)

start_date = "10/08/2022"
end_date = "31/12/2025"

mask = (good['Date'] > start_date) & (good['Date'] <= end_date)
good = good.loc[mask]

# addp_hits.head(50)

good = good.sort_values(by=['Date'], ascending=True)

good['Date'] = good['Date'].apply(pd.to_datetime)

start_date = "10/08/2022"
end_date = "31/12/2025"

mask = (good['Date'] > start_date) & (good['Date'] <= end_date)
good = good.loc[mask]

# addp_hits.head(50)

good = good.sort_values(by=['Date'], ascending=True)
good.style.background_gradient(cmap='Blues')

## 2. Result

In [ ]:
fig = px.bar(good, x='Date', y='Hit')
fig.show()

# **VII. TrNa.py**

## 1. Code

In [ ]:
x = points_na.copy()

x.fillna(0, inplace=True)

x_h = x[x["Type"] == "Helio"]
x_g = x[x["Type"] == "Geo"]

x_h = x_h.drop(['Type'], axis = 1)
x_h = x_h.drop(['Angle'], axis = 1)
x_h = x_h.drop(['Pair'], axis = 1)

x_g = x_g.drop(['Type'], axis = 1)
x_g = x_g.drop(['Angle'], axis = 1)
x_g = x_g.drop(['Pair'], axis = 1)

x_con = pd.concat([x_h, x_g])

x_con['Date'] = pd.to_datetime(x_con['Date'])  
start_date = t  - timedelta(days = 5)
end_date = t + timedelta(days = 120)

mask = (x_con['Date'] > start_date) & (x_con['Date'] <= end_date)

x_hits = x_con.loc[mask]
x_hits = x_hits.sort_values(by=['Date'], ascending = True)
x_hi = x_con.loc[mask]
x_hi = x_hi.sort_values(by=['Date'], ascending = True)

x_hi.head(5).style.background_gradient(cmap='Blues')

In [ ]:
start_date = t  - timedelta(days = 5)
end_date = t + timedelta(days = 120)

mask = (x_con['Date'] > start_date) & (x_con['Date'] <= end_date)

x_hi = x_con.loc[mask]
x_hi = x_hi.sort_values(by=['Date'], ascending = True)

x_hi.style.background_gradient(cmap='Blues')

## 2. Result

In [ ]:
fig = px.bar(x_hi, x='Date', y='Points')
fig.show()

# **VIII. TrTr.py**

## 1. Code

In [ ]:
b = points_tr.copy()

b.fillna(0, inplace=True)

b_h = b[b["Type"] == "Helio"]
b_g = b[b["Type"] == "Geo"]

b_h = b_h.drop(['Type'], axis = 1)
b_g = b_g.drop(['Type'], axis = 1)
b_con = pd.concat([b_h, b_g])

b_con['Date'] = pd.to_datetime(b_con['Date'])  

start_date = t  - timedelta(days = 5)
end_date = t + timedelta(days = 120)

mask = (b_con['Date'] > start_date) & (b_con['Date'] <= end_date)
b_hits = b_con.loc[mask]
b_hits = b_hits.sort_values(by=['Date'], ascending = True)
b_trtr = b_hits

b_trtr.head(5).style.background_gradient(cmap='Blues')

## 1. Result

In [ ]:
fig = px.bar(b_trtr, x='Date', y='Points')
fig.show()

# **IX. MULT.py**

## 1. Code

In [ ]:
m = mult.copy()
m.head(5)

m['Date1'] = d1 = pd.to_datetime(m['Date1'])
m['Date2'] = d2 = pd.to_datetime(m['Date2'])
m['Date1'] = m['Date1'].dt.strftime('%Y/%m/%d')
m['Date2'] = m['Date2'].dt.strftime('%Y/%m/%d')

In [ ]:
# PANDA VERSION

#from datetime import datetime 

#m618 = m.copy()

#for i, col in enumerate(m618.columns[2:]):
    #df1 = pd.to_datetime(m618['Date1'])
    #df2 = pd.to_datetime(m618['Date2'])
    #m618[col] =  df2 + ((df2 - df1) * (1.618 ** i))

#m618['Date1'] = pd.to_datetime(m618['Date1'])
#m618['Date2'] = pd.to_datetime(m618['Date2'])

#m618['Date1'] = m618['Date1'].dt.strftime('%Y/%m/%d')
#m618['Date2'] = m618['Date2'].dt.strftime('%Y/%m/%d')
#m618['1'] = m618['1'].dt.strftime('%Y/%m/%d')
#m618['2'] = m618['2'].dt.strftime('%Y/%m/%d')
#m618['3'] = m618['3'].dt.strftime('%Y/%m/%d')
#m618['4'] = m618['4'].dt.strftime('%Y/%m/%d')
#m618['5'] = m618['5'].dt.strftime('%Y/%m/%d')
#m618['6'] = m618['6'].dt.strftime('%Y/%m/%d')
#m618['7'] = m618['7'].dt.strftime('%Y/%m/%d')
#m618['8'] = m618['8'].dt.strftime('%Y/%m/%d')
#m618['9'] = m618['9'].dt.strftime('%Y/%m/%d')
#m618['10'] = m618['10'].dt.strftime('%Y/%m/%d')

#m618

In [ ]:
# Vectorization Full 618

op618 = (d2 - d1).dt.days.to_numpy().reshape(-1, 1) * (1.618 ** np.arange(1, 11)).reshape(1, -1)
m618 = op618.astype('timedelta64[D]') + d2.to_numpy().reshape(-1, 1) 

m618 = pd.DataFrame(m618, columns=['1', '2', '3', '4', '5','6','7','8','9', '10'])

m618['1'] = m618['1'].dt.strftime('%Y/%m/%d')
m618['2'] = m618['2'].dt.strftime('%Y/%m/%d')
m618['3'] = m618['3'].dt.strftime('%Y/%m/%d')
m618['4'] = m618['4'].dt.strftime('%Y/%m/%d')
m618['5'] = m618['5'].dt.strftime('%Y/%m/%d')
m618['6'] = m618['6'].dt.strftime('%Y/%m/%d')
m618['7'] = m618['7'].dt.strftime('%Y/%m/%d')
m618['8'] = m618['8'].dt.strftime('%Y/%m/%d')
m618['9'] = m618['9'].dt.strftime('%Y/%m/%d')
m618['10'] = m618['10'].dt.strftime('%Y/%m/%d')

m618

In [ ]:
# Vectorization Full 414

op414 = (d2 - d1).dt.days.to_numpy().reshape(-1, 1) * (1.414 ** np.arange(1, 11)).reshape(1, -1)
m414 = op414.astype('timedelta64[D]') + d2.to_numpy().reshape(-1, 1) 

m414 = pd.DataFrame(m414, columns=['1', '2', '3', '4', '5','6','7','8','9', '10'])

m414['1'] = m414['1'].dt.strftime('%Y/%m/%d')
m414['2'] = m414['2'].dt.strftime('%Y/%m/%d')
m414['3'] = m414['3'].dt.strftime('%Y/%m/%d')
m414['4'] = m414['4'].dt.strftime('%Y/%m/%d')
m414['5'] = m414['5'].dt.strftime('%Y/%m/%d')
m414['6'] = m414['6'].dt.strftime('%Y/%m/%d')
m414['7'] = m414['7'].dt.strftime('%Y/%m/%d')
m414['8'] = m414['8'].dt.strftime('%Y/%m/%d')
m414['9'] = m414['9'].dt.strftime('%Y/%m/%d')
m414['10'] = m414['10'].dt.strftime('%Y/%m/%d')

In [ ]:
# Vectorization Full 732

op732 = (d2 - d1).dt.days.to_numpy().reshape(-1, 1) * (1.732 ** np.arange(1, 11)).reshape(1, -1)
m732 = op732.astype('timedelta64[D]') + d2.to_numpy().reshape(-1, 1) 

m732 = pd.DataFrame(m732, columns=['1', '2', '3', '4', '5','6','7','8','9', '10'])

m732['1'] = m732['1'].dt.strftime('%Y/%m/%d')
m732['2'] = m732['2'].dt.strftime('%Y/%m/%d')
m732['3'] = m732['3'].dt.strftime('%Y/%m/%d')
m732['4'] = m732['4'].dt.strftime('%Y/%m/%d')
m732['5'] = m732['5'].dt.strftime('%Y/%m/%d')
m732['6'] = m732['6'].dt.strftime('%Y/%m/%d')
m732['7'] = m732['7'].dt.strftime('%Y/%m/%d')
m732['8'] = m732['8'].dt.strftime('%Y/%m/%d')
m732['9'] = m732['9'].dt.strftime('%Y/%m/%d')
m732['10'] = m732['10'].dt.strftime('%Y/%m/%d')

In [ ]:
multi = pd.concat([m618, m414, m732])

tae = datetime.strftime(datetime.now(), "%d/%m/%Y")
tx = pd.to_datetime(tae)
tx = pd.to_datetime(tx)

adpod = multi.copy()

good = adpod[1:].unstack().value_counts(ascending=True)

good = pd.DataFrame(good, columns=['Hit'])

good = good.reset_index()
good = good.rename_axis('E', axis=1)
good.columns = good.columns.str.replace('index', 'Date')
good = good.rename_axis(None, axis=1)

start_date = tx  - timedelta(days = 5)
end_date = tx + timedelta(days = 120)

good['Date'] = pd.to_datetime(good['Date'])

mask = (good['Date'] > start_date) & (good['Date'] <= end_date)
good = good.loc[mask]

# addp_hits.head(50)

mult_hits = good.sort_values(by=['Date'], ascending=True)
mult_hits

## 2. Result

In [ ]:
fig = px.bar(mult_hits, x='Date', y='Hit')
fig.show()

# **X. FutureDates.py**

## 1. Code

In [ ]:
futdat = FutureDate.copy()
helio_cum = helio_cum.copy()

fdd = pd.DataFrame()

for col in futdat.columns:
    fdd[col] = futdat[col]

    if col not in ("Date", "Price"):
        
        for row, _ in helio_cum.iterrows():
            date = helio_cum["Date"][row]
            dates_list = futdat["Date"].to_list()

            if date in dates_list:
                row_index = dates_list.index(date)
                fdd[col][row_index] = helio_cum[col][row]

fdd

In [ ]:
# FD15

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 15

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd15 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd15.columns[1:]:
    for num, i in enumerate(fd15[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd15[planets].iloc[num] = Date_ok
        else:
            fd15[planets].iloc[num] = " "

fd15

In [ ]:
# FD30

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 30

fd30 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd30.columns[1:]:
    for num, i in enumerate(fd30[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd30[planets].iloc[num] = Date_ok
        else:
            fd30[planets].iloc[num] = " "

fd30

In [ ]:
# FD45

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 45

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd45 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd45.columns[1:]:
    for num, i in enumerate(fd45[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd45[planets].iloc[num] = Date_ok
        else:
            fd45[planets].iloc[num] = " "

fd45

In [ ]:
# FD60

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 60

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd60 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd60.columns[1:]:
    for num, i in enumerate(fd60[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd60[planets].iloc[num] = Date_ok
        else:
            fd60[planets].iloc[num] = " "

fd60

In [ ]:
# FD72

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 72

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd72 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd72.columns[1:]:
    for num, i in enumerate(fd72[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd72[planets].iloc[num] = Date_ok
        else:
            fd72[planets].iloc[num] = " "

fd72

In [ ]:
# FD90

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 90

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd90 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd90.columns[1:]:
    for num, i in enumerate(fd90[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd90[planets].iloc[num] = Date_ok
        else:
            fd90[planets].iloc[num] = " "

fd90

In [ ]:
# FD120

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 120

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd120 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd120.columns[1:]:
    for num, i in enumerate(fd120[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd120[planets].iloc[num] = Date_ok
        else:
            fd120[planets].iloc[num] = " "

fd120

In [ ]:
# FD144

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 144

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd144 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd144.columns[1:]:
    for num, i in enumerate(fd144[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd144[planets].iloc[num] = Date_ok
        else:
            fd144[planets].iloc[num] = " "

fd144

In [ ]:
# FD180

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 180

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd180 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd180.columns[1:]:
    for num, i in enumerate(fd180[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd180[planets].iloc[num] = Date_ok
        else:
            fd180[planets].iloc[num] = " "

fd180

In [ ]:
# FD360

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 360

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd360 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd360.columns[1:]:
    for num, i in enumerate(fd360[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd360[planets].iloc[num] = Date_ok
        else:
            fd360[planets].iloc[num] = " "

fd360

In [ ]:
# FD720

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 720

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd720 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd720.columns[1:]:
    for num, i in enumerate(fd720[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd720[planets].iloc[num] = Date_ok
        else:
            fd720[planets].iloc[num] = " "

fd720

In [ ]:
# FD1080

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 1080

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd1080 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd1080.columns[1:]:
    for num, i in enumerate(fd1080[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd1080[planets].iloc[num] = Date_ok
        else:
            fd1080[planets].iloc[num] = " "

fd1080

In [ ]:
# FD1440

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 1440

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd1440 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd1440.columns[1:]:
    for num, i in enumerate(fd1440[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd1440[planets].iloc[num] = Date_ok
        else:
            fd1440[planets].iloc[num] = " "

fd1440

In [ ]:
# FD1800

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 1800

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd1800 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd1800.columns[1:]:
    for num, i in enumerate(fd1800[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd1800[planets].iloc[num] = Date_ok
        else:
            fd1800[planets].iloc[num] = " "

fd1800

In [ ]:
future_dates = pd.concat([fd15, fd30, fd45, fd60, fd72, fd90, fd120, fd144, fd180, fd360, fd720, fd1080, fd1440, fd1800])

adpod = future_dates.copy()

gfd = adpod[1:].unstack().value_counts(ascending=True)

gfd = pd.DataFrame(gfd, columns=['Hit'])

gfd = gfd.reset_index()
gfd = gfd.rename_axis('E', axis=1)
gfd.columns = gfd.columns.str.replace('index', 'Date')
gfd = gfd.rename_axis(None, axis=1)

gfd.drop(gfd.tail(1).index,inplace=True)


gfd['Date'] = pd.to_datetime(gfd['Date'])

start_date = t  - timedelta(days = 5)
end_date = t + timedelta(days = 120)

mask = (gfd['Date'] > start_date) & (gfd['Date'] <= end_date)
gfd = gfd.loc[mask]

gfd['Date'] = pd.to_datetime(gfd['Date'])

# addp_hits.head(50)

gfdE = gfd.sort_values(by=['Date'], ascending=True)
gfdE

In [ ]:
lathit = lathit.copy()

ex = pd.concat([gfdE, lathit])
ex.style.background_gradient(cmap='Blues')

## 2. Result

In [ ]:
fig = px.bar(ex, x='Date', y='Hit')
fig.show()

# **XI. Fibs.py**

## 1. Code

In [ ]:
fbb = pd.DataFrame()
helio_cum = helio_cum.copy()
fibs = fibs.copy()

for col in fibs.columns:
    fbb[col] = fibs[col]

    if col not in ("Date"):
        
        for row, _ in helio_cum.iterrows():
            date = helio_cum["Date"][row]
            dates_list = fibs["Date"].to_list()

            if date in dates_list:
                row_index = dates_list.index(date)
                fbb[col][row_index] = helio_cum[col][row]

fbb

In [ ]:
dfs = []

for i in range(len(fbb["Date"]) - 1):
    new_df = fbb.copy()[i:]
    for k in new_df:
        if k == "Date":
            continue
        for j in range(i + 1, len(fbb[k])):
            new_df[k][j] = (float(new_df[k][i]) + ((float(new_df[k][j]) - float(new_df[k][i])) * 1.618))
        new_df[k][i] = 0
    dfs.append(new_df)

for df in dfs:
    print(df)

In [ ]:
test = pd.concat(dfs)
test = test.round()
fbb1 = test.copy()

# for loop to catch which degrees is situated at which date in the future/past

for planets in fbb1.columns[1:]:
    for num, i in enumerate(fbb1[planets]):
        df_copy = helio_cum.round()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fbb1[planets].iloc[num] = Date_ok
        else:
            fbb1[planets].iloc[num] = " "

fbb1

In [ ]:
adpod = fbb1.copy()

gdeg = adpod[1:].unstack().value_counts(ascending=True)

gdeg = pd.DataFrame(gdeg, columns=['Hit'])

gdeg = gdeg.reset_index()
gdeg = gdeg.rename_axis('E', axis=1)
gdeg.columns = gdeg.columns.str.replace('index', 'Date')
gdeg = gdeg.rename_axis(None, axis=1)

gdeg = gdeg.sort_values(by=['Date'], ascending=True)
gdeg.drop(gdeg.head(1).index,inplace=True) # drop first n rows

gdeg['Date'] = gdeg['Date'].apply(pd.to_datetime)

start_date = t  - timedelta(days = 5)
end_date = t + timedelta(days = 120)

mask = (gdeg['Date'] > start_date) & (gdeg['Date'] <= end_date)
gdeg = gdeg.loc[mask]

fib_hits = gdeg.sort_values(by=['Date'], ascending=True)
fib_hits.style.background_gradient(cmap='Blues')

## 2. Result

In [ ]:
fig = px.bar(fib_hits, x='Date', y='Hit')
fig.show()

# **XII. Retro.py**

## 1. Code

*0 = 0 || 1 = True || 2 = Return*

In [33]:
r_h = retrohits.copy()
r_h = r_h.fillna(0)

r_h['Date'] = pd.to_datetime(r_h['Date'])
r_h['Hit'] = r_h['Merc'] + r_h['Ven'] + r_h['Mar'] + r_h['Jup'] + r_h['Sat'] + r_h['Ura'] + r_h['Nep'] + r_h['Plu']
r_h = r_h.drop(['Merc', 'Ven', 'Mar', 'Jup', 'Sat', 'Ura', 'Nep', 'Plu'], axis=1)

r_h['Date'] = pd.to_datetime(r_h['Date'])  

start_date = t  - timedelta(days = 5)
end_date = t + timedelta(days = 120)

mask = (r_h['Date'] > start_date) & (r_h['Date'] <= end_date)

rh_hits = r_h.loc[mask]
rh_hits = rh_hits.sort_values(by=['Date'], ascending = True)

rh_hits.style.background_gradient(cmap='Blues')

## 2. Result

In [ ]:
fig = px.bar(rh_hits, x='Date', y='Hit')
fig.show()

# **XIII. PriceTime.py**

## 1. Code

In [ ]:
from datetime import datetime

p_t = nega.copy()

p_t['Date'] = d = pd.to_datetime(p_t['Date'])
p_t['Date'] = p_t['Date'].dt.strftime('%Y/%m/%d')

twoday = datetime.strftime(datetime.now(), "%Y/%m/%d")
t = pd.to_datetime(twoday)

p_t['Elapsed'] = t - d
p_t['Elapsed'] = p_t['Elapsed'].dt.days.to_numpy()

p_t['Sqrt'] = p_t['Elapsed'] ** (1/2)
p_t['Sqrt'] = p_t['Sqrt'].round(2)
sq = p_t['Sqrt']

In [ ]:
op13 = (((sq / 13).to_numpy().reshape(-1, 1) + (np.arange(1, 22)).reshape(1, -1)) ** 2)
pt13 = op13.astype('timedelta64[D]') + d.to_numpy().reshape(-1, 1)

pt13 = pd.DataFrame(pt13, columns=['1', '2', '3', '4', '5','6','7','8','9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21'])

pt13['1'] = pt13['1'].dt.strftime('%Y/%m/%d')
pt13['2'] = pt13['2'].dt.strftime('%Y/%m/%d')
pt13['3'] = pt13['3'].dt.strftime('%Y/%m/%d')
pt13['4'] = pt13['4'].dt.strftime('%Y/%m/%d')
pt13['5'] = pt13['5'].dt.strftime('%Y/%m/%d')
pt13['6'] = pt13['6'].dt.strftime('%Y/%m/%d')
pt13['7'] = pt13['7'].dt.strftime('%Y/%m/%d')
pt13['8'] = pt13['8'].dt.strftime('%Y/%m/%d')
pt13['9'] = pt13['9'].dt.strftime('%Y/%m/%d')
pt13['10'] = pt13['10'].dt.strftime('%Y/%m/%d')
pt13['11'] = pt13['11'].dt.strftime('%Y/%m/%d')
pt13['12'] = pt13['12'].dt.strftime('%Y/%m/%d')
pt13['13'] = pt13['13'].dt.strftime('%Y/%m/%d')
pt13['14'] = pt13['14'].dt.strftime('%Y/%m/%d')
pt13['15'] = pt13['15'].dt.strftime('%Y/%m/%d')
pt13['16'] = pt13['16'].dt.strftime('%Y/%m/%d')
pt13['17'] = pt13['17'].dt.strftime('%Y/%m/%d')
pt13['18'] = pt13['18'].dt.strftime('%Y/%m/%d')
pt13['19'] = pt13['19'].dt.strftime('%Y/%m/%d')
pt13['20'] = pt13['20'].dt.strftime('%Y/%m/%d')
pt13['21'] = pt13['21'].dt.strftime('%Y/%m/%d')

pt13

In [ ]:
op21 = (((sq / 21).to_numpy().reshape(-1, 1) + (np.arange(1, 22)).reshape(1, -1)) ** 2)
pt21 = op21.astype('timedelta64[D]') + d.to_numpy().reshape(-1, 1)

pt21 = pd.DataFrame(pt21, columns=['1', '2', '3', '4', '5','6','7','8','9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21'])
pt21['1'] = pt21['1'].dt.strftime('%Y/%m/%d')
pt21['2'] = pt21['2'].dt.strftime('%Y/%m/%d')
pt21['3'] = pt21['3'].dt.strftime('%Y/%m/%d')
pt21['4'] = pt21['4'].dt.strftime('%Y/%m/%d')
pt21['5'] = pt21['5'].dt.strftime('%Y/%m/%d')
pt21['6'] = pt21['6'].dt.strftime('%Y/%m/%d')
pt21['7'] = pt21['7'].dt.strftime('%Y/%m/%d')
pt21['8'] = pt21['8'].dt.strftime('%Y/%m/%d')
pt21['9'] = pt21['9'].dt.strftime('%Y/%m/%d')
pt21['10'] = pt21['10'].dt.strftime('%Y/%m/%d')
pt21['11'] = pt21['11'].dt.strftime('%Y/%m/%d')
pt21['12'] = pt21['12'].dt.strftime('%Y/%m/%d')
pt21['13'] = pt21['13'].dt.strftime('%Y/%m/%d')
pt21['14'] = pt21['14'].dt.strftime('%Y/%m/%d')
pt21['15'] = pt21['15'].dt.strftime('%Y/%m/%d')
pt21['16'] = pt21['16'].dt.strftime('%Y/%m/%d')
pt21['17'] = pt21['17'].dt.strftime('%Y/%m/%d')
pt21['18'] = pt21['18'].dt.strftime('%Y/%m/%d')
pt21['19'] = pt21['19'].dt.strftime('%Y/%m/%d')
pt21['20'] = pt21['20'].dt.strftime('%Y/%m/%d')
pt21['21'] = pt21['21'].dt.strftime('%Y/%m/%d')

In [ ]:
op34 = (((sq / 34).to_numpy().reshape(-1, 1) + (np.arange(1, 22)).reshape(1, -1)) ** 2)
pt34 = op34.astype('timedelta64[D]') + d.to_numpy().reshape(-1, 1)

pt34 = pd.DataFrame(pt34, columns=['1', '2', '3', '4', '5','6','7','8','9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21'])
pt34['1'] = pt34['1'].dt.strftime('%Y/%m/%d')
pt34['2'] = pt34['2'].dt.strftime('%Y/%m/%d')
pt34['3'] = pt34['3'].dt.strftime('%Y/%m/%d')
pt34['4'] = pt34['4'].dt.strftime('%Y/%m/%d')
pt34['5'] = pt34['5'].dt.strftime('%Y/%m/%d')
pt34['6'] = pt34['6'].dt.strftime('%Y/%m/%d')
pt34['7'] = pt34['7'].dt.strftime('%Y/%m/%d')
pt34['8'] = pt34['8'].dt.strftime('%Y/%m/%d')
pt34['9'] = pt34['9'].dt.strftime('%Y/%m/%d')
pt34['10'] = pt34['10'].dt.strftime('%Y/%m/%d')
pt34['11'] = pt34['11'].dt.strftime('%Y/%m/%d')
pt34['12'] = pt34['12'].dt.strftime('%Y/%m/%d')
pt34['13'] = pt34['13'].dt.strftime('%Y/%m/%d')
pt34['14'] = pt34['14'].dt.strftime('%Y/%m/%d')
pt34['15'] = pt34['15'].dt.strftime('%Y/%m/%d')
pt34['16'] = pt34['16'].dt.strftime('%Y/%m/%d')
pt34['17'] = pt34['17'].dt.strftime('%Y/%m/%d')
pt34['18'] = pt34['18'].dt.strftime('%Y/%m/%d')
pt34['19'] = pt34['19'].dt.strftime('%Y/%m/%d')
pt34['20'] = pt34['20'].dt.strftime('%Y/%m/%d')
pt34['21'] = pt34['21'].dt.strftime('%Y/%m/%d')

In [ ]:
op55 = (((sq / 55).to_numpy().reshape(-1, 1) + (np.arange(1, 22)).reshape(1, -1)) ** 2)
pt55 = op55.astype('timedelta64[D]') + d.to_numpy().reshape(-1, 1)

pt55 = pd.DataFrame(pt55, columns=['1', '2', '3', '4', '5','6','7','8','9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21'])
pt55['1'] = pt55['1'].dt.strftime('%Y/%m/%d')
pt55['2'] = pt55['2'].dt.strftime('%Y/%m/%d')
pt55['3'] = pt55['3'].dt.strftime('%Y/%m/%d')
pt55['4'] = pt55['4'].dt.strftime('%Y/%m/%d')
pt55['5'] = pt55['5'].dt.strftime('%Y/%m/%d')
pt55['6'] = pt55['6'].dt.strftime('%Y/%m/%d')
pt55['7'] = pt55['7'].dt.strftime('%Y/%m/%d')
pt55['8'] = pt55['8'].dt.strftime('%Y/%m/%d')
pt55['9'] = pt55['9'].dt.strftime('%Y/%m/%d')
pt55['10'] = pt55['10'].dt.strftime('%Y/%m/%d')
pt55['11'] = pt55['11'].dt.strftime('%Y/%m/%d')
pt55['12'] = pt55['12'].dt.strftime('%Y/%m/%d')
pt55['13'] = pt55['13'].dt.strftime('%Y/%m/%d')
pt55['14'] = pt55['14'].dt.strftime('%Y/%m/%d')
pt55['15'] = pt55['15'].dt.strftime('%Y/%m/%d')
pt55['16'] = pt55['16'].dt.strftime('%Y/%m/%d')
pt55['17'] = pt55['17'].dt.strftime('%Y/%m/%d')
pt55['18'] = pt55['18'].dt.strftime('%Y/%m/%d')
pt55['19'] = pt55['19'].dt.strftime('%Y/%m/%d')
pt55['20'] = pt55['20'].dt.strftime('%Y/%m/%d')
pt55['21'] = pt55['21'].dt.strftime('%Y/%m/%d')

In [ ]:
op89 = (((sq / 89).to_numpy().reshape(-1, 1) + (np.arange(1, 22)).reshape(1, -1)) ** 2)
pt89 = op89.astype('timedelta64[D]') + d.to_numpy().reshape(-1, 1)

pt89 = pd.DataFrame(pt89, columns=['1', '2', '3', '4', '5','6','7','8','9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21'])
pt89['1'] = pt89['1'].dt.strftime('%Y/%m/%d')
pt89['2'] = pt89['2'].dt.strftime('%Y/%m/%d')
pt89['3'] = pt89['3'].dt.strftime('%Y/%m/%d')
pt89['4'] = pt89['4'].dt.strftime('%Y/%m/%d')
pt89['5'] = pt89['5'].dt.strftime('%Y/%m/%d')
pt89['6'] = pt89['6'].dt.strftime('%Y/%m/%d')
pt89['7'] = pt89['7'].dt.strftime('%Y/%m/%d')
pt89['8'] = pt89['8'].dt.strftime('%Y/%m/%d')
pt89['9'] = pt89['9'].dt.strftime('%Y/%m/%d')
pt89['10'] = pt89['10'].dt.strftime('%Y/%m/%d')
pt89['11'] = pt89['11'].dt.strftime('%Y/%m/%d')
pt89['12'] = pt89['12'].dt.strftime('%Y/%m/%d')
pt89['13'] = pt89['13'].dt.strftime('%Y/%m/%d')
pt89['14'] = pt89['14'].dt.strftime('%Y/%m/%d')
pt89['15'] = pt89['15'].dt.strftime('%Y/%m/%d')
pt89['16'] = pt89['16'].dt.strftime('%Y/%m/%d')
pt89['17'] = pt89['17'].dt.strftime('%Y/%m/%d')
pt89['18'] = pt89['18'].dt.strftime('%Y/%m/%d')
pt89['19'] = pt89['19'].dt.strftime('%Y/%m/%d')
pt89['20'] = pt89['20'].dt.strftime('%Y/%m/%d')
pt89['21'] = pt89['21'].dt.strftime('%Y/%m/%d')

In [ ]:
pt_hits = pd.concat([pt13, pt21, pt34, pt55, pt89])

adpod = pt_hits.copy()

dzea2 = adpod[1:].unstack().value_counts(ascending=True)

dzea2 = pd.DataFrame(dzea2, columns=['Hit'])

dzea2 = dzea2.reset_index()
dzea2 = dzea2.rename_axis('E', axis=1)
dzea2.columns = dzea2.columns.str.replace('index', 'Date')
dzea2 = dzea2.rename_axis(None, axis=1)

start_date = "10/08/2022"
end_date = "31/12/2022"

mask = (dzea2['Date'] > start_date) & (dzea2['Date'] <= end_date)
dzea2 = dzea2.loc[mask]

# addp_hits.head(50)

dzea2 = dzea2.sort_values(by=['Date'], ascending=True)

dzea2['Date'] = dzea2['Date'].apply(pd.to_datetime)

start_date = t  - timedelta(days = 5)
end_date = t + timedelta(days = 120)

mask = (dzea2['Date'] > start_date) & (dzea2['Date'] <= end_date)
dzea2 = dzea2.loc[mask]

# addp_hits.head(50)

pt_hit = dzea2.sort_values(by=['Date'], ascending=True)
pt_hit.style.background_gradient(cmap='Blues')

## 2. Result

In [ ]:
fig = px.bar(pt_hit, x='Date', y='Hit')
fig.show()

# **XIV. Sq9**

## 1. Code

In [ ]:
MOTO001994412

In [34]:
sq9 = SQ9.copy()

q = sq9['Sq9']
sq9['0'] = d = pd.to_datetime(sq9['0'])
op1 = ((q).to_numpy().reshape(-1, 1) * (np.arange(1, 8)).reshape(1, -1))
sq9g = op1.astype('timedelta64[D]') + d.to_numpy().reshape(-1, 1)
sq9g = pd.DataFrame(sq9g, columns=['45', '90', '135', '180', '225','270','315'])

sq9g

,45,90,135,180,225,270,315
0,2023-01-13,2023-02-18,2023-03-26,2023-05-01,2023-06-06,2023-07-12,2023-08-17
1,2022-06-04,2022-07-09,2022-08-13,2022-09-17,2022-10-22,2022-11-26,2022-12-31
2,2022-06-18,2022-07-17,2022-08-15,2022-09-13,2022-10-12,2022-11-10,2022-12-09
3,2022-09-10,2022-10-09,2022-11-07,2022-12-06,2023-01-04,2023-02-02,2023-03-03
4,2022-04-23,2022-05-21,2022-06-18,2022-07-16,2022-08-13,2022-09-10,2022-10-08
...,...,...,...,...,...,...,...
57,2022-08-30,2022-09-07,2022-09-15,2022-09-23,2022-10-01,2022-10-09,2022-10-17
58,2022-07-30,2022-08-06,2022-08-13,2022-08-20,2022-08-27,2022-09-03,2022-09-10
59,2022-09-01,2022-09-08,2022-09-15,2022-09-22,2022-09-29,2022-10-06,2022-10-13
60,2022-08-14,2022-08-20,2022-08-26,2022-09-01,2022-09-07,2022-09-13,2022-09-19
61,2022-08-17,2022-08-21,2022-08-25,2022-08-29,2022-09-02,2022-09-06,2022-09-10

In [35]:
adpod = sq9g.copy()

dzea2 = adpod[1:].unstack().value_counts(ascending=True)

dzea2 = pd.DataFrame(dzea2, columns=['Hit'])

dzea2 = dzea2.reset_index()
dzea2 = dzea2.rename_axis('E', axis=1)
dzea2.columns = dzea2.columns.str.replace('index', 'Date')
dzea2 = dzea2.rename_axis(None, axis=1)

dzea2 = dzea2.sort_values(by=['Date'], ascending=True)

dzea2['Date'] = dzea2['Date'].apply(pd.to_datetime)

start_date = t  - timedelta(days = 5)
end_date = t + timedelta(days = 120)

mask = (dzea2['Date'] > start_date) & (dzea2['Date'] <= end_date)
dzea2 = dzea2.loc[mask]

# addp_hits.head(50)

ggggg = dzea2.sort_values(by=['Date'], ascending=True)
ggggg.style.background_gradient(cmap='Blues')

## 2. Result

In [36]:
fig = px.bar(ggggg, x='Date', y='Hit')
fig.show()

# **XV.**

# **FINAL CHART.py**

In [ ]:
c = fluchart.copy()

fig = px.bar(c, x='Date', y='EP',
             hover_data=['Date', 'EP'], color='EP', color_continuous_scale=px.colors.sequential.Teal,
             height=618)
             
fig.update_traces(width=1)
fig.show()