# **I. LIBRAIRIES & DATA.py**

In [1]:
# Libraries

import pandas as pd
import numpy as np
from datetime import date
from datetime import datetime
import plotly.express as px
import os

In [2]:
# Retrieve the path to the current folders
current_path = os.getcwd()

# Get the path to the csv file folder - in this case the 'data' file
csv_path = os.path.join(current_path, 'data\\test')

# A EXPLIQUER ICI
for file in os.listdir(csv_path):
    fd = pd.read_csv(os.path.join(csv_path, file))
    globals()[file.rpartition(".")[0]] = fd

In [3]:
Moon = Moon.copy()
Moon.fillna(0, inplace=True)

lat_moon_changes = lat_moon_changes.copy()
lat_moon_changes.fillna(0, inplace=True)

planet_node = planet_node.copy()
planet_node.fillna(0, inplace=True)

# **II. MAIN TABLE.py**

## **II.1 HELIO**

### **II.1.1 CUMULATIVE HELIO**

In [4]:
today = datetime.strftime(datetime.now(), "%d/%m/%Y")

helio = helio.copy()
test = helio_cum.copy()

result = helio[helio.Date == today]

def cum_hel(df, date):
    today = datetime.strftime(datetime.now(), "%d/%m/%Y")
    return pd.DataFrame(
        {
            "Date": [date],
            "Earth": df["Earth"][df.Date == today].values
            - df["Earth"][df.Date == date].values,
            "Mer": df["Mer"][df.Date == today].values
            - df["Mer"][df.Date == date].values,
            "Ven": df["Ven"][df.Date == today].values
            - df["Ven"][df.Date == date].values,
            "Mar": df["Mar"][df.Date == today].values
            - df["Mar"][df.Date == date].values,
            "Jup": df["Jup"][df.Date == today].values
            - df["Jup"][df.Date == date].values,
            "Sat": df["Sat"][df.Date == today].values
            - df["Sat"][df.Date == date].values,
            "Ura": df["Ura"][df.Date == today].values
            - df["Ura"][df.Date == date].values,
            "Nep": df["Nep"][df.Date == today].values
            - df["Nep"][df.Date == date].values,
            "Plu": df["Plu"][df.Date == today].values
            - df["Plu"][df.Date == date].values,
        }
    )

filtered_dfs = []

data = [
  (test, '31/10/2008'),
  (test, '03/01/2009'),
  (test, '22/05/2010'),
  (test, '29/11/2013'),
  (test, '17/12/2017'),
  (test, '15/12/2018'),
  (test, '26/06/2019'),
  (test, '12/03/2020'),
  (test, '25/04/2021'),
  (test, '20/07/2021'),
  (test, '20/10/2021'),
  (test, '10/11/2021'),
  (test, '18/06/2022'),
]

for i, (df, date) in enumerate(data):
  filtered_dfs.append(cum_hel(df, date))

cum_hel = pd.concat(filtered_dfs)
hel = pd.concat([result, cum_hel])
hel = hel.round()

hel

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
31368,22/08/2022,329.0,253.0,110.0,15.0,0.0,322.0,46.0,354.0,298.0
0,31/10/2008,4971.0,20617.0,8079.0,2660.0,423.0,158.0,55.0,31.0,27.0
0,03/01/2009,4906.0,20397.0,7978.0,2625.0,418.0,156.0,54.0,30.0,27.0
0,22/05/2010,4408.0,18328.0,7169.0,2356.0,373.0,139.0,49.0,27.0,24.0
0,29/11/2013,3142.0,13025.0,5108.0,1674.0,258.0,97.0,35.0,19.0,16.0
0,17/12/2017,1684.0,6986.0,2737.0,908.0,143.0,52.0,19.0,10.0,9.0
0,15/12/2018,1326.0,5487.0,2156.0,703.0,115.0,41.0,15.0,8.0,7.0
0,26/06/2019,1135.0,4706.0,1848.0,605.0,100.0,35.0,13.0,7.0,6.0
0,12/03/2020,877.0,3638.0,1431.0,485.0,78.0,27.0,10.0,5.0,4.0
0,25/04/2021,474.0,1987.0,776.0,254.0,44.0,15.0,5.0,3.0,2.0
0,20/07/2021,391.0,1639.0,637.0,216.0,36.0,12.0,4.0,2.0,2.0
0,20/10/2021,302.0,1254.0,490.0,175.0,28.0,10.0,3.0,2.0,1.0
0,10/11/2021,281.0,1145.0,457.0,165.0,26.0,9.0,3.0,2.0,1.0
0,18/06/2022,62.0,291.0,104.0,41.0,6.0,2.0,1.0,0.0,0.0

### **II.1.2 MOD30 & 360**

#### **MOD30**

In [5]:
# mod30 (donne qu'elle signe il est)

mod = pd.DataFrame({'Date': [today],

                                       'Earth': helio['Earth'][helio.Date == today].values
                                       % 30,

                                       'Mer': helio['Mer'][helio.Date == today].values
                                       % 30,
                                       
                                       'Ven': helio['Ven'][helio.Date == today].values
                                       % 30,

                                       'Mar': helio['Mar'][helio.Date == today].values
                                       % 30,

                                       'Jup': helio['Jup'][helio.Date == today].values
                                       % 30,
                                       
                                       'Sat': helio['Sat'][helio.Date == today].values
                                       % 30,

                                       'Ura': helio['Ura'][helio.Date == today].values
                                       % 30,

                                       'Nep': helio['Nep'][helio.Date == today].values
                                       % 30,
                                       
                                       'Plu': helio['Plu'][helio.Date == today].values
                                       % 30,

                                       })


mod = mod.round()
mod

         Date  Earth   Mer   Ven   Mar  Jup   Sat   Ura   Nep   Plu
0  22/08/2022   29.0  13.0  20.0  15.0  0.0  22.0  16.0  24.0  28.0

In [6]:
result2 = result # rrr

for col in result2.columns[1:]:
     result2= result2.astype({col: "int64"})

In [7]:
# rrr

rrr = pd.DataFrame({'Date': [today],

                                       'Earth': helio['Earth'][helio.Date == today].values,

                                       'Mer': helio['Mer'][helio.Date == today].values,
                                       
                                       'Ven': helio['Ven'][helio.Date == today].values,

                                       'Mar': helio['Mar'][helio.Date == today].values,

                                       'Jup': helio['Jup'][helio.Date == today].values,
                                       
                                       'Sat': helio['Sat'][helio.Date == today].values,

                                       'Ura': helio['Ura'][helio.Date == today].values,

                                       'Nep': helio['Nep'][helio.Date == today].values,
                                       
                                       'Plu': helio['Plu'][helio.Date == today].values,

                                       })

rrr.round()

for i in rrr['Earth']: 
        if (0<=i<=29):
            rrr['Earth'] = rrr['Earth'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Earth'] = rrr['Earth'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Earth'] = rrr['Earth'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Earth'] = rrr['Earth'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Earth'] = rrr['Earth'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Earth'] = rrr['Earth'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Earth'] = rrr['Earth'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Earth'] = rrr['Earth'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Earth'] = rrr['Earth'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Earth'] = rrr['Earth'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Earth'] = rrr['Earth'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Earth'] = rrr['Earth'].replace(i, "Pi")

for i in rrr['Mer']: 
        if (0<=i<=29):
            rrr['Mer'] = rrr['Mer'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Mer'] = rrr['Mer'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Mer'] = rrr['Mer'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Mer'] = rrr['Mer'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Mer'] = rrr['Mer'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Mer'] = rrr['Mer'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Mer'] = rrr['Mer'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Mer'] = rrr['Mer'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Mer'] = rrr['Mer'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Mer'] = rrr['Mer'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Mer'] = rrr['Mer'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Mer'] = rrr['Mer'].replace(i, "Pi")

for i in rrr['Ven']: 
        if (0<=i<=29):
            rrr['Ven'] = rrr['Ven'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Ven'] = rrr['Ven'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Ven'] = rrr['Ven'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Ven'] = rrr['Ven'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Ven'] = rrr['Ven'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Ven'] = rrr['Ven'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Ven'] = rrr['Ven'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Ven'] = rrr['Ven'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Ven'] = rrr['Ven'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Ven'] = rrr['Ven'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Ven'] = rrr['Ven'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Ven'] = rrr['Ven'].replace(i, "Pi")

for i in rrr['Mar']: 
        if (0<=i<=29):
            rrr['Mar'] = rrr['Mar'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Mar'] = rrr['Mar'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Mar'] = rrr['Mar'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Mar'] = rrr['Mar'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Mar'] = rrr['Mar'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Mar'] = rrr['Mar'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Mar'] = rrr['Mar'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Mar'] = rrr['Mar'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Mar'] = rrr['Mar'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Mar'] = rrr['Mar'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Mar'] = rrr['Mar'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Mar'] = rrr['Mar'].replace(i, "Pi")

for i in rrr['Jup']: 
        if (0<=i<=29):
            rrr['Jup'] = rrr['Jup'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Jup'] = rrr['Jup'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Jup'] = rrr['Jup'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Jup'] = rrr['Jup'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Jup'] = rrr['Jup'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Jup'] = rrr['Jup'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Jup'] = rrr['Jup'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Jup'] = rrr['Jup'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Jup'] = rrr['Jup'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Jup'] = rrr['Jup'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Jup'] = rrr['Jup'].replace(i, "Aq")
        elif (330<=i<=360):
            rrr['Jup'] = rrr['Jup'].replace(i, "Pi")

for i in rrr['Sat']: 
        if (0<=i<=29):
            rrr['Sat'] = rrr['Sat'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Sat'] = rrr['Sat'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Sat'] = rrr['Sat'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Sat'] = rrr['Sat'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Sat'] = rrr['Sat'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Sat'] = rrr['Sat'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Sat'] = rrr['Sat'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Sat'] = rrr['Sat'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Sat'] = rrr['Sat'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Sat'] = rrr['Sat'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Sat'] = rrr['Sat'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Sat'] = rrr['Sat'].replace(i, "Pi")

for i in rrr['Ura']: 
        if (0<=i<=29):
            rrr['Ura'] = rrr['Ura'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Ura'] = rrr['Ura'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Ura'] = rrr['Ura'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Ura'] = rrr['Ura'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Ura'] = rrr['Ura'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Ura'] = rrr['Ura'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Ura'] = rrr['Ura'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Ura'] = rrr['Ura'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Ura'] = rrr['Ura'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Ura'] = rrr['Ura'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Ura'] = rrr['Ura'].replace(i, "Aq")
        elif (330<=i<=360):
            rrr['Ura'] = rrr['Ura'].replace(i, "Pi")

for i in rrr['Nep']: 
        if (0<=i<=29):
            rrr['Nep'] = rrr['Nep'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Nep'] = rrr['Nep'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Nep'] = rrr['Nep'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Nep'] = rrr['Nep'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Nep'] = rrr['Nep'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Nep'] = rrr['Nep'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Nep'] = rrr['Nep'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Nep'] = rrr['Nep'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Nep'] = rrr['Nep'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Nep'] = rrr['Nep'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Nep'] = rrr['Nep'].replace(i, "Aq")
        elif (330<=i<=360):
            rrr['Nep'] = rrr['Nep'].replace(i, "Pi")

for i in rrr['Plu']: 
        if (0<=i<=29):
            rrr['Plu'] = rrr['Plu'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Plu'] = rrr['Plu'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Plu'] = rrr['Plu'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Plu'] = rrr['Plu'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Plu'] = rrr['Plu'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Plu'] = rrr['Plu'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Plu'] = rrr['Plu'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Plu'] = rrr['Plu'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Plu'] = rrr['Plu'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Plu'] = rrr['Plu'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Plu'] = rrr['Plu'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Plu'] = rrr['Plu'].replace(i, "Pi")

rrr

         Date   Earth Mer Ven Mar Jup Sat Ura Nep Plu
0  22/08/2022  329.23  Sg  Ca  Ar  Ar  Aq  Ta  Pi  Cp

In [8]:
mod = mod.round()

# STR

for col in mod.columns[1:]:
     mod = mod.astype({col: str})

for col in rrr.columns[1:]:
     rrr = rrr.astype({col: str})

mod0 = pd.DataFrame({"Date": [today]})

# GROUPBY MANUALY

for col in mod.columns[1:]:
    mod0[col] = mod[col] + ' | ' + rrr[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod0

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,22/08/2022,29.0 | 329.23,13.0 | Sg,20.0 | Ca,15.0 | Ar,0.0 | Ar,22.0 | Aq,16.0 | Ta,24.0 | Pi,28.0 | Cp

#### **MOD360**

In [17]:
cum = helio_cum.copy()

def mod360(df, date):
    return pd.DataFrame(
        {
            "Date": [date],
            "Earth": (df["Earth"].values % 360),
            "Mer": (df['Mer'].values % 360),
            "Ven": (df['Ven'].values % 360),
            "Mar": (df['Mar'].values % 360),
            "Jup": (df['Jup'].values % 360),
            "Sat": (df['Sat'].values % 360),
            "Ura": (df['Ura'].values % 360),
            "Nep": (df['Nep'].values % 360),
            "Plu": (df['Plu'].values % 360),
        }
    )

def rev360(df, date):
    return pd.DataFrame(
        {
            "Date": [date],
            "Earth": (df['Earth'].values / 360),
            "Mer": (df['Mer'].values / 360),
            "Ven": (df['Ven'].values / 360),
            "Mar": (df['Mar'].values / 360),
            "Jup": (df['Jup'].values / 360),
            "Sat": (df['Sat'].values / 360),
            "Ura": (df['Ura'].values / 360),
            "Nep": (df['Nep'].values / 360),
            "Plu": (df['Plu'].values / 360),
        }
    )

mod360_dfs = []
rev360_dfs = []

data = [
  (cum, '31/10/2008'),
  (cum, '03/01/2009'),
  (cum, '22/05/2010'),
  (cum, '29/11/2013'),
  (cum, '17/12/2017'),
  (cum, '15/12/2018'),
  (cum, '26/06/2019'),
  (cum, '12/03/2020'),
  (cum, '25/04/2021'),
  (cum, '20/07/2021'),
  (cum, '20/10/2021'),
  (cum, '10/11/2021'),
  (cum, '18/06/2022'),
]

for i, (df, date) in enumerate(data):
  mod360_dfs.append(mod360(df, date))

for i, (df, date) in enumerate(data):
  rev360_dfs.append(rev360(df, date))

rev360_dfs = pd.concat(rev360_dfs)
mod360_dfs = pd.concat(mod360_dfs)
²
# ROUNDDOWN

rev360_dfs = rev360_dfs.iloc[::, rev360_dfs.columns !='Date'].apply(np.floor)
mod360_dfs = mod360_dfs.iloc[::, mod360_dfs.columns !='Date'].apply(np.floor)

rev360_dfs

C:\Users\PEGON\AppData\Local\Temp/ipykernel_14108/1596009600.py:7: RuntimeWarning: invalid value encountered in remainder
  "Earth": (df["Earth"].values % 360),
C:\Users\PEGON\AppData\Local\Temp/ipykernel_14108/1596009600.py:8: RuntimeWarning: invalid value encountered in remainder
  "Mer": (df['Mer'].values % 360),
C:\Users\PEGON\AppData\Local\Temp/ipykernel_14108/1596009600.py:9: RuntimeWarning: invalid value encountered in remainder
  "Ven": (df['Ven'].values % 360),
C:\Users\PEGON\AppData\Local\Temp/ipykernel_14108/1596009600.py:10: RuntimeWarning: invalid value encountered in remainder
  "Mar": (df['Mar'].values % 360),
C:\Users\PEGON\AppData\Local\Temp/ipykernel_14108/1596009600.py:11: RuntimeWarning: invalid value encountered in remainder
  "Jup": (df['Jup'].values % 360),
C:\Users\PEGON\AppData\Local\Temp/ipykernel_14108/1596009600.py:12: RuntimeWarning: invalid value encountered in remainder
  "Sat": (df['Sat'].values % 360),
C:\Users\PEGON\AppData\Local\Temp/ipykernel_14108/1596009600.py:13: RuntimeWarning: invalid value encountered in remainder
  "Ura": (df['Ura'].values % 360),
C:\Users\PEGON\AppData\Local\Temp/ipykernel_14108/1596009600.py:14: RuntimeWarning: invalid value encountered in remainder
  "Nep": (df['Nep'].values % 360),
C:\Users\PEGON\AppData\Local\Temp/ipykernel_14108/1596009600.py:15: RuntimeWarning: invalid value encountered in remainder
  "Plu": (df['Plu'].values % 360),

ValueError: All arrays must be of the same length

In [ ]:
# STR

for col in rev360_dfs.columns[::]:
     rev360_dfs = rev360_dfs.astype({col: str})

for col in mod360_dfs.columns[::]:
     mod360_dfs = mod360_dfs.astype({col: str})

mod1 = pd.DataFrame({"Date": [date]})

# GROUPBY MANUALY

for col in rev360_dfs.columns[::]:
    mod1[col] = rev360_dfs[col] + ' | ' + mod360_dfs[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod1

In [ ]:
# 1

# DEGREES OF CURRENT REVOLUTION

selected_date = '31/10/2008'

cumulative_mod360_1 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_1['Earth'] % 360),

                                       'Mer': (cumulative_1['Mer'] % 360),

                                       'Ven': (cumulative_1['Ven'] % 360),

                                       'Mar': (cumulative_1['Mar'] % 360),

                                       'Jup': (cumulative_1['Jup'] % 360),
                                       
                                       'Sat': (cumulative_1['Sat'] % 360),

                                       'Ura': (cumulative_1['Ura'] % 360),

                                       'Nep': (cumulative_1['Nep'] % 360),
                                       
                                       'Plu': (cumulative_1['Plu'] % 360),

                                       })

# NUMBER OF REVOLUTIONS

cumulative_div360_1 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_1['Earth'] / 360),

                                       'Mer': (cumulative_1['Mer'] / 360),

                                       'Ven': (cumulative_1['Ven'] / 360),

                                       'Mar': (cumulative_1['Mar'] / 360),

                                       'Jup': (cumulative_1['Jup'] / 360),
                                       
                                       'Sat': (cumulative_1['Sat'] / 360),

                                       'Ura': (cumulative_1['Ura'] / 360),

                                       'Nep': (cumulative_1['Nep'] / 360),
                                       
                                       'Plu': (cumulative_1['Plu'] / 360),

                                       })

# ROUNDDOWN

cumulative_div360_1 = cumulative_div360_1.iloc[::, cumulative_div360_1.columns !='Date'].apply(np.floor)
cumulative_mod360_1 = cumulative_mod360_1.iloc[::, cumulative_mod360_1.columns !='Date'].apply(np.floor)

# STR

for col in cumulative_div360_1.columns[::]:
     cumulative_div360_1 = cumulative_div360_1.astype({col: str})

for col in cumulative_mod360_1.columns[::]:
     cumulative_mod360_1 = cumulative_mod360_1.astype({col: str})

mod1 = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cumulative_div360_1.columns[::]:
    mod1[col] = cumulative_div360_1[col] + ' | ' + cumulative_mod360_1[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod1

In [ ]:
# 2

# DEGREES OF CURRENT REVOLUTION

selected_date = '03/01/2009'

cumulative_mod360_2 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_2['Earth'] % 360),

                                       'Mer': (cumulative_2['Mer'] % 360),

                                       'Ven': (cumulative_2['Ven'] % 360),

                                       'Mar': (cumulative_2['Mar'] % 360),

                                       'Jup': (cumulative_2['Jup'] % 360),
                                       
                                       'Sat': (cumulative_2['Sat'] % 360),

                                       'Ura': (cumulative_2['Ura'] % 360),

                                       'Nep': (cumulative_2['Nep'] % 360),
                                       
                                       'Plu': (cumulative_2['Plu'] % 360),

                                       })

# NUMBER OF REVOLUTIONS

cumulative_div360_2 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_2['Earth'] / 360),

                                       'Mer': (cumulative_2['Mer'] / 360),

                                       'Ven': (cumulative_2['Ven'] / 360),

                                       'Mar': (cumulative_2['Mar'] / 360),

                                       'Jup': (cumulative_2['Jup'] / 360),
                                       
                                       'Sat': (cumulative_2['Sat'] / 360),

                                       'Ura': (cumulative_2['Ura'] / 360),

                                       'Nep': (cumulative_2['Nep'] / 360),
                                       
                                       'Plu': (cumulative_2['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cumulative_div360_2 = cumulative_div360_2.iloc[::, cumulative_div360_2.columns !='Date'].apply(np.floor)
cumulative_mod360_2 = cumulative_mod360_2.iloc[::, cumulative_mod360_2.columns !='Date'].apply(np.floor)

# STR

for col in cumulative_div360_2.columns[::]:
     cumulative_div360_2 = cumulative_div360_2.astype({col: str})

for col in cumulative_mod360_2.columns[::]:
     cumulative_mod360_2 = cumulative_mod360_2.astype({col: str})

mod2 = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cumulative_div360_2.columns[::]:
    mod2[col] = cumulative_div360_2[col] + ' | ' + cumulative_mod360_2[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod2

In [ ]:
# 3

# DEGREES OF CURRENT REVOLUTION

selected_date = '22/05/2010'

cumulative_mod360_3 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_3['Earth'] % 360),

                                       'Mer': (cumulative_3['Mer'] % 360),

                                       'Ven': (cumulative_3['Ven'] % 360),

                                       'Mar': (cumulative_3['Mar'] % 360),

                                       'Jup': (cumulative_3['Jup'] % 360),
                                       
                                       'Sat': (cumulative_3['Sat'] % 360),

                                       'Ura': (cumulative_3['Ura'] % 360),

                                       'Nep': (cumulative_3['Nep'] % 360),
                                       
                                       'Plu': (cumulative_3['Plu'] % 360),

                                       })

# NUMBER OF REVOLUTIONS

cumulative_div360_3 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_3['Earth'] / 360),

                                       'Mer': (cumulative_3['Mer'] / 360),

                                       'Ven': (cumulative_3['Ven'] / 360),

                                       'Mar': (cumulative_3['Mar'] / 360),

                                       'Jup': (cumulative_3['Jup'] / 360),
                                       
                                       'Sat': (cumulative_3['Sat'] / 360),

                                       'Ura': (cumulative_3['Ura'] / 360),

                                       'Nep': (cumulative_3['Nep'] / 360),
                                       
                                       'Plu': (cumulative_3['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cumulative_div360_3 = cumulative_div360_3.iloc[::, cumulative_div360_3.columns !='Date'].apply(np.floor)
cumulative_mod360_3 = cumulative_mod360_3.iloc[::, cumulative_mod360_3.columns !='Date'].apply(np.floor)

# STR

for col in cumulative_div360_3.columns[::]:
     cumulative_div360_3 = cumulative_div360_3.astype({col: str})

for col in cumulative_mod360_3.columns[::]:
     cumulative_mod360_3 = cumulative_mod360_3.astype({col: str})

mod3 = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cumulative_div360_3.columns[::]:
    mod3[col] = cumulative_div360_3[col] + ' | ' + cumulative_mod360_3[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod3

In [ ]:
# 4

# DEGREES OF CURRENT REVOLUTION

selected_date = '29/11/2013'

cumulative_mod360_4 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_4['Earth'] % 360),

                                       'Mer': (cumulative_4['Mer'] % 360),

                                       'Ven': (cumulative_4['Ven'] % 360),

                                       'Mar': (cumulative_4['Mar'] % 360),

                                       'Jup': (cumulative_4['Jup'] % 360),
                                       
                                       'Sat': (cumulative_4['Sat'] % 360),

                                       'Ura': (cumulative_4['Ura'] % 360),

                                       'Nep': (cumulative_4['Nep'] % 360),
                                       
                                       'Plu': (cumulative_4['Plu'] % 360),

                                       })

# NUMBER OF REVOLUTIONS

cumulative_div360_4 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_4['Earth'] / 360),

                                       'Mer': (cumulative_4['Mer'] / 360),

                                       'Ven': (cumulative_4['Ven'] / 360),

                                       'Mar': (cumulative_4['Mar'] / 360),

                                       'Jup': (cumulative_4['Jup'] / 360),
                                       
                                       'Sat': (cumulative_4['Sat'] / 360),

                                       'Ura': (cumulative_4['Ura'] / 360),

                                       'Nep': (cumulative_4['Nep'] / 360),
                                       
                                       'Plu': (cumulative_4['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cumulative_div360_4 = cumulative_div360_4.iloc[::, cumulative_div360_4.columns !='Date'].apply(np.floor)
cumulative_mod360_4 = cumulative_mod360_4.iloc[::, cumulative_mod360_4.columns !='Date'].apply(np.floor)

# STR

for col in cumulative_div360_4:
     cumulative_div360_4 = cumulative_div360_4.astype({col: str})

for col in cumulative_mod360_4:
     cumulative_mod360_4 = cumulative_mod360_4.astype({col: str})

mod4 = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cumulative_div360_4.columns[::]:
    mod4[col] = cumulative_div360_4[col] + ' | ' + cumulative_mod360_4[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod4

In [ ]:
# 6

# DEGREES OF CURRENT REVOLUTION

selected_date = '17/12/2017'

cumulative_mod360_6 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_6['Earth'] % 360),

                                       'Mer': (cumulative_6['Mer'] % 360),

                                       'Ven': (cumulative_6['Ven'] % 360),

                                       'Mar': (cumulative_6['Mar'] % 360),

                                       'Jup': (cumulative_6['Jup'] % 360),
                                       
                                       'Sat': (cumulative_6['Sat'] % 360),

                                       'Ura': (cumulative_6['Ura'] % 360),

                                       'Nep': (cumulative_6['Nep'] % 360),
                                       
                                       'Plu': (cumulative_6['Plu'] % 360),

                                       })

# NUMBER OF REVOLUTIONS

cumulative_div360_6 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_6['Earth'] / 360),

                                       'Mer': (cumulative_6['Mer'] / 360),

                                       'Ven': (cumulative_6['Ven'] / 360),

                                       'Mar': (cumulative_6['Mar'] / 360),

                                       'Jup': (cumulative_6['Jup'] / 360),
                                       
                                       'Sat': (cumulative_6['Sat'] / 360),

                                       'Ura': (cumulative_6['Ura'] / 360),

                                       'Nep': (cumulative_6['Nep'] / 360),
                                       
                                       'Plu': (cumulative_6['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cumulative_div360_6 = cumulative_div360_6.iloc[::, cumulative_div360_6.columns !='Date'].apply(np.floor)
cumulative_mod360_6 = cumulative_mod360_6.iloc[::, cumulative_mod360_6.columns !='Date'].apply(np.floor)

# STR

for col in cumulative_div360_6.columns[::]:
     cumulative_div360_6 = cumulative_div360_6.astype({col: str})

for col in cumulative_mod360_6.columns[::]:
     cumulative_mod360_6 = cumulative_mod360_6.astype({col: str})

mod6 = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cumulative_div360_6.columns[::]:
    mod6[col] = cumulative_div360_6[col] + ' | ' + cumulative_mod360_6[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod6

In [ ]:
# 7

# DEGREES OF CURRENT REVOLUTION

selected_date = '15/12/2018'

cumulative_mod360_7 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_7['Earth'] % 360),

                                       'Mer': (cumulative_7['Mer'] % 360),

                                       'Ven': (cumulative_7['Ven'] % 360),

                                       'Mar': (cumulative_7['Mar'] % 360),

                                       'Jup': (cumulative_7['Jup'] % 360),
                                       
                                       'Sat': (cumulative_7['Sat'] % 360),

                                       'Ura': (cumulative_7['Ura'] % 360),

                                       'Nep': (cumulative_7['Nep'] % 360),
                                       
                                       'Plu': (cumulative_7['Plu'] % 360),

                                       })

# NUMBER OF REVOLUTIONS

cumulative_div360_7 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_7['Earth'] / 360),

                                       'Mer': (cumulative_7['Mer'] / 360),

                                       'Ven': (cumulative_7['Ven'] / 360),

                                       'Mar': (cumulative_7['Mar'] / 360),

                                       'Jup': (cumulative_7['Jup'] / 360),
                                       
                                       'Sat': (cumulative_7['Sat'] / 360),

                                       'Ura': (cumulative_7['Ura'] / 360),

                                       'Nep': (cumulative_7['Nep'] / 360),
                                       
                                       'Plu': (cumulative_7['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cumulative_div360_7 = cumulative_div360_7.iloc[::, cumulative_div360_7.columns !='Date'].apply(np.floor)
cumulative_mod360_7 = cumulative_mod360_7.iloc[::, cumulative_mod360_7.columns !='Date'].apply(np.floor)

# STR

for col in cumulative_div360_7.columns[::]:
     cumulative_div360_7 = cumulative_div360_7.astype({col: str})

for col in cumulative_mod360_7.columns[::]:
     cumulative_mod360_7 = cumulative_mod360_7.astype({col: str})

mod7 = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cumulative_div360_7.columns[::]:
    mod7[col] = cumulative_div360_7[col] + ' | ' + cumulative_mod360_7[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod7

In [ ]:
# 8

# DEGREES OF CURRENT REVOLUTION

selected_date = '26/06/2019'

cumulative_mod360_8 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_8['Earth'] % 360),

                                       'Mer': (cumulative_8['Mer'] % 360),

                                       'Ven': (cumulative_8['Ven'] % 360),

                                       'Mar': (cumulative_8['Mar'] % 360),

                                       'Jup': (cumulative_8['Jup'] % 360),
                                       
                                       'Sat': (cumulative_8['Sat'] % 360),

                                       'Ura': (cumulative_8['Ura'] % 360),

                                       'Nep': (cumulative_8['Nep'] % 360),
                                       
                                       'Plu': (cumulative_8['Plu'] % 360),

                                       })

# NUMBER OF REVOLUTIONS

cumulative_div360_8 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_8['Earth'] / 360),

                                       'Mer': (cumulative_8['Mer'] / 360),

                                       'Ven': (cumulative_8['Ven'] / 360),

                                       'Mar': (cumulative_8['Mar'] / 360),

                                       'Jup': (cumulative_8['Jup'] / 360),
                                       
                                       'Sat': (cumulative_8['Sat'] / 360),

                                       'Ura': (cumulative_8['Ura'] / 360),

                                       'Nep': (cumulative_8['Nep'] / 360),
                                       
                                       'Plu': (cumulative_8['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cumulative_div360_8 = cumulative_div360_8.iloc[::, cumulative_div360_8.columns !='Date'].apply(np.floor)
cumulative_mod360_8 = cumulative_mod360_8.iloc[::, cumulative_mod360_8.columns !='Date'].apply(np.floor)

# STR

for col in cumulative_div360_8.columns[::]:
     cumulative_div360_8 = cumulative_div360_8.astype({col: str})

for col in cumulative_mod360_8.columns[::]:
     cumulative_mod360_8 = cumulative_mod360_8.astype({col: str})

mod8 = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cumulative_div360_8.columns[::]:
    mod8[col] = cumulative_div360_8[col] + ' | ' + cumulative_mod360_8[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod8

In [ ]:
# 9

# DEGREES OF CURRENT REVOLUTION

selected_date = '12/03/2020'

cumulative_mod360_9 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_9['Earth'] % 360),

                                       'Mer': (cumulative_9['Mer'] % 360),

                                       'Ven': (cumulative_9['Ven'] % 360),

                                       'Mar': (cumulative_9['Mar'] % 360),

                                       'Jup': (cumulative_9['Jup'] % 360),
                                       
                                       'Sat': (cumulative_9['Sat'] % 360),

                                       'Ura': (cumulative_9['Ura'] % 360),

                                       'Nep': (cumulative_9['Nep'] % 360),
                                       
                                       'Plu': (cumulative_9['Plu'] % 360),

                                       })

# NUMBER OF REVOLUTIONS

cumulative_div360_9 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_9['Earth'] / 360),

                                       'Mer': (cumulative_9['Mer'] / 360),

                                       'Ven': (cumulative_9['Ven'] / 360),

                                       'Mar': (cumulative_9['Mar'] / 360),

                                       'Jup': (cumulative_9['Jup'] / 360),
                                       
                                       'Sat': (cumulative_9['Sat'] / 360),

                                       'Ura': (cumulative_9['Ura'] / 360),

                                       'Nep': (cumulative_9['Nep'] / 360),
                                       
                                       'Plu': (cumulative_9['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cumulative_div360_9 = cumulative_div360_9.iloc[::, cumulative_div360_9.columns !='Date'].apply(np.floor)
cumulative_mod360_9 = cumulative_mod360_9.iloc[::, cumulative_mod360_9.columns !='Date'].apply(np.floor)

# STR

for col in cumulative_div360_9.columns[::]:
     cumulative_div360_9 = cumulative_div360_9.astype({col: str})

for col in cumulative_mod360_9.columns[::]:
     cumulative_mod360_9 = cumulative_mod360_9.astype({col: str})

mod9 = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cumulative_div360_9.columns[::]:
    mod9[col] = cumulative_div360_9[col] + ' | ' + cumulative_mod360_9[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod9

In [ ]:
# 10

# DEGREES OF CURRENT REVOLUTION

selected_date = '25/04/2021'

cumulative_mod360_10 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_10['Earth'] % 360),

                                       'Mer': (cumulative_10['Mer'] % 360),

                                       'Ven': (cumulative_10['Ven'] % 360),

                                       'Mar': (cumulative_10['Mar'] % 360),

                                       'Jup': (cumulative_10['Jup'] % 360),
                                       
                                       'Sat': (cumulative_10['Sat'] % 360),

                                       'Ura': (cumulative_10['Ura'] % 360),

                                       'Nep': (cumulative_10['Nep'] % 360),
                                       
                                       'Plu': (cumulative_10['Plu'] % 360),

                                       })

# NUMBER OF REVOLUTIONS

cumulative_div360_10 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_10['Earth'] / 360),

                                       'Mer': (cumulative_10['Mer'] / 360),

                                       'Ven': (cumulative_10['Ven'] / 360),

                                       'Mar': (cumulative_10['Mar'] / 360),

                                       'Jup': (cumulative_10['Jup'] / 360),
                                       
                                       'Sat': (cumulative_10['Sat'] / 360),

                                       'Ura': (cumulative_10['Ura'] / 360),

                                       'Nep': (cumulative_10['Nep'] / 360),
                                       
                                       'Plu': (cumulative_10['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cumulative_div360_10 = cumulative_div360_10.iloc[::, cumulative_div360_10.columns !='Date'].apply(np.floor)
cumulative_mod360_10 = cumulative_mod360_10.iloc[::, cumulative_mod360_10.columns !='Date'].apply(np.floor)

# STR

for col in cumulative_div360_10.columns[::]:
     cumulative_div360_10 = cumulative_div360_10.astype({col: str})

for col in cumulative_mod360_10.columns[::]:
     cumulative_mod360_10 = cumulative_mod360_10.astype({col: str})

mod10 = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cumulative_div360_10.columns[::]:
    mod10[col] = cumulative_div360_10[col] + ' | ' + cumulative_mod360_10[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod10

In [ ]:
# 11

# DEGREES OF CURRENT REVOLUTION

selected_date = '20/07/2021'

cumulative_mod360_11 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_11['Earth'] % 360),

                                       'Mer': (cumulative_11['Mer'] % 360),

                                       'Ven': (cumulative_11['Ven'] % 360),

                                       'Mar': (cumulative_11['Mar'] % 360),

                                       'Jup': (cumulative_11['Jup'] % 360),
                                       
                                       'Sat': (cumulative_11['Sat'] % 360),

                                       'Ura': (cumulative_11['Ura'] % 360),

                                       'Nep': (cumulative_11['Nep'] % 360),
                                       
                                       'Plu': (cumulative_11['Plu'] % 360),

                                       })

# NUMBER OF REVOLUTIONS

cumulative_div360_11 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_11['Earth'] / 360),

                                       'Mer': (cumulative_11['Mer'] / 360),

                                       'Ven': (cumulative_11['Ven'] / 360),

                                       'Mar': (cumulative_11['Mar'] / 360),

                                       'Jup': (cumulative_11['Jup'] / 360),
                                       
                                       'Sat': (cumulative_11['Sat'] / 360),

                                       'Ura': (cumulative_11['Ura'] / 360),

                                       'Nep': (cumulative_11['Nep'] / 360),
                                       
                                       'Plu': (cumulative_11['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cumulative_div360_11 = cumulative_div360_11.iloc[::, cumulative_div360_11.columns !='Date'].apply(np.floor)
cumulative_mod360_11 = cumulative_mod360_11.iloc[::, cumulative_mod360_11.columns !='Date'].apply(np.floor)

# STR

for col in cumulative_div360_11.columns[::]:
     cumulative_div360_11 = cumulative_div360_11.astype({col: str})

for col in cumulative_mod360_11.columns[::]:
     cumulative_mod360_11 = cumulative_mod360_11.astype({col: str})

mod11 = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cumulative_div360_11.columns[::]:
    mod11[col] = cumulative_div360_11[col] + ' | ' + cumulative_mod360_11[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod11

In [ ]:
# 12

# DEGREES OF CURRENT REVOLUTION

selected_date = '20/10/2021'

cumulative_mod360_12 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_12['Earth'] % 360),

                                       'Mer': (cumulative_12['Mer'] % 360),

                                       'Ven': (cumulative_12['Ven'] % 360),

                                       'Mar': (cumulative_12['Mar'] % 360),

                                       'Jup': (cumulative_12['Jup'] % 360),
                                       
                                       'Sat': (cumulative_12['Sat'] % 360),

                                       'Ura': (cumulative_12['Ura'] % 360),

                                       'Nep': (cumulative_12['Nep'] % 360),
                                       
                                       'Plu': (cumulative_12['Plu'] % 360),

                                       })

# NUMBER OF REVOLUTIONS

cumulative_div360_12 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_12['Earth'] / 360),

                                       'Mer': (cumulative_12['Mer'] / 360),

                                       'Ven': (cumulative_12['Ven'] / 360),

                                       'Mar': (cumulative_12['Mar'] / 360),

                                       'Jup': (cumulative_12['Jup'] / 360),
                                       
                                       'Sat': (cumulative_12['Sat'] / 360),

                                       'Ura': (cumulative_12['Ura'] / 360),

                                       'Nep': (cumulative_12['Nep'] / 360),
                                       
                                       'Plu': (cumulative_12['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cumulative_div360_12 = cumulative_div360_12.iloc[::, cumulative_div360_12.columns !='Date'].apply(np.floor)
cumulative_mod360_12 = cumulative_mod360_12.iloc[::, cumulative_mod360_12.columns !='Date'].apply(np.floor)

# STR

for col in cumulative_div360_12.columns[::]:
     cumulative_div360_12 = cumulative_div360_12.astype({col: str})

for col in cumulative_mod360_12.columns[::]:
     cumulative_mod360_12 = cumulative_mod360_12.astype({col: str})

mod12 = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cumulative_div360_12.columns[::]:
    mod12[col] = cumulative_div360_12[col] + ' | ' + cumulative_mod360_12[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod12

In [ ]:
# 13

# DEGREES OF CURRENT REVOLUTION

selected_date = '10/11/2021'

cumulative_mod360_13 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_13['Earth'] % 360),

                                       'Mer': (cumulative_13['Mer'] % 360),

                                       'Ven': (cumulative_13['Ven'] % 360),

                                       'Mar': (cumulative_13['Mar'] % 360),

                                       'Jup': (cumulative_13['Jup'] % 360),
                                       
                                       'Sat': (cumulative_13['Sat'] % 360),

                                       'Ura': (cumulative_13['Ura'] % 360),

                                       'Nep': (cumulative_13['Nep'] % 360),
                                       
                                       'Plu': (cumulative_13['Plu'] % 360),

                                       })

# NUMBER OF REVOLUTIONS

cumulative_div360_13 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_13['Earth'] / 360),

                                       'Mer': (cumulative_13['Mer'] / 360),

                                       'Ven': (cumulative_13['Ven'] / 360),

                                       'Mar': (cumulative_13['Mar'] / 360),

                                       'Jup': (cumulative_13['Jup'] / 360),
                                       
                                       'Sat': (cumulative_13['Sat'] / 360),

                                       'Ura': (cumulative_13['Ura'] / 360),

                                       'Nep': (cumulative_13['Nep'] / 360),
                                       
                                       'Plu': (cumulative_13['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cumulative_div360_13 = cumulative_div360_13.iloc[::, cumulative_div360_13.columns !='Date'].apply(np.floor)
cumulative_mod360_13 = cumulative_mod360_13.iloc[::, cumulative_mod360_13.columns !='Date'].apply(np.floor)

# STR

for col in cumulative_div360_13.columns[::]:
     cumulative_div360_13 = cumulative_div360_13.astype({col: str})

for col in cumulative_mod360_13.columns[::]:
     cumulative_mod360_13 = cumulative_mod360_13.astype({col: str})

mod13 = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cumulative_div360_13.columns[::]:
    mod13[col] = cumulative_div360_13[col] + ' | ' + cumulative_mod360_13[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod13

In [ ]:
# 14

# DEGREES OF CURRENT REVOLUTION

selected_date = '18/06/2022'

cumulative_mod360_14 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_14['Earth'] % 360),

                                       'Mer': (cumulative_14['Mer'] % 360),

                                       'Ven': (cumulative_14['Ven'] % 360),

                                       'Mar': (cumulative_14['Mar'] % 360),

                                       'Jup': (cumulative_14['Jup'] % 360),
                                       
                                       'Sat': (cumulative_14['Sat'] % 360),

                                       'Ura': (cumulative_14['Ura'] % 360),

                                       'Nep': (cumulative_14['Nep'] % 360),
                                       
                                       'Plu': (cumulative_14['Plu'] % 360),

                                       })

# NUMBER OF REVOLUTIONS

cumulative_div360_14 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_14['Earth'] / 360),

                                       'Mer': (cumulative_14['Mer'] / 360),

                                       'Ven': (cumulative_14['Ven'] / 360),

                                       'Mar': (cumulative_14['Mar'] / 360),

                                       'Jup': (cumulative_14['Jup'] / 360),
                                       
                                       'Sat': (cumulative_14['Sat'] / 360),

                                       'Ura': (cumulative_14['Ura'] / 360),

                                       'Nep': (cumulative_14['Nep'] / 360),
                                       
                                       'Plu': (cumulative_14['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cumulative_div360_14 = cumulative_div360_14.iloc[::, cumulative_div360_14.columns !='Date'].apply(np.floor)
cumulative_mod360_14 = cumulative_mod360_14.iloc[::, cumulative_mod360_14.columns !='Date'].apply(np.floor)

# STR

for col in cumulative_div360_14.columns[::]:
     cumulative_div360_14 = cumulative_div360_14.astype({col: str})

for col in cumulative_mod360_14.columns[::]:
     cumulative_mod360_14 = cumulative_mod360_14.astype({col: str})

mod14 = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cumulative_div360_14.columns[::]:
    mod14[col] = cumulative_div360_14[col] + ' | ' + cumulative_mod360_14[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod14

### **II.1.3 CONCAT**

In [ ]:
concat_helio = pd.concat([result, mod0, cumulative_1, mod1, cumulative_2, mod2, cumulative_3, mod3, cumulative_4, mod4, cumulative_6, mod6, cumulative_7, mod7, cumulative_8, mod8, cumulative_9, mod9, cumulative_10, mod10, cumulative_11, mod11, cumulative_12, mod12, cumulative_13, mod13, cumulative_14, mod14])

In [ ]:
helio_concat = concat_helio
helio_concat

## **II.2 GEO**

### **II.2.1 CUMUL GEO**

In [ ]:
geo = geo.copy()

result_g = geo[geo.Date == today]

result_g = result_g.round()
result_g

In [ ]:
geo_cum = geo_cum.copy()

for col in geo_cum.columns[1:]:
    geo_cum = geo_cum.astype({col: 'float64'})

In [ ]:
# cumulative_WP

selected_date = '31/10/2008'

cumulative_1_g = pd.DataFrame({'Date': [selected_date],

                                       'Moon': geo_cum['Moon'][geo_cum.Date == today].values
                                       - geo_cum['Moon'][geo_cum.Date == selected_date].values,

                                       'Sun': geo_cum['Sun'][geo_cum.Date == today].values
                                       - geo_cum['Sun'][geo_cum.Date == selected_date].values,

                                       'Mer': geo_cum['Mer'][geo_cum.Date == today].values
                                       - geo_cum['Mer'][geo_cum.Date == selected_date].values,
                                       
                                       'Ven': geo_cum['Ven'][geo_cum.Date == today].values
                                       - geo_cum['Ven'][geo_cum.Date == selected_date].values,

                                       'Mar': geo_cum['Mar'][geo_cum.Date == today].values
                                       - geo_cum['Mar'][geo_cum.Date == selected_date].values,

                                       'Jup': geo_cum['Jup'][geo_cum.Date == today].values
                                       - geo_cum['Jup'][geo_cum.Date == selected_date].values,
                                       
                                       'Sat': geo_cum['Sat'][geo_cum.Date == today].values
                                       - geo_cum['Sat'][geo_cum.Date == selected_date].values,

                                       'Ura': geo_cum['Ura'][geo_cum.Date == today].values
                                       - geo_cum['Ura'][geo_cum.Date == selected_date].values,

                                       'Nep': geo_cum['Nep'][geo_cum.Date == today].values
                                       - geo_cum['Nep'][geo_cum.Date == selected_date].values,
                                       
                                       'Plu': geo_cum['Plu'][geo_cum.Date == today].values
                                       - geo_cum['Plu'][geo_cum.Date == selected_date].values,

                                       })

cumulative_1_g = round(cumulative_1_g)
cumulative_1_g

In [ ]:
# cumulative_GN

selected_date = '03/01/2009'

cumulative_2_g = pd.DataFrame({'Date': [selected_date],

                                       'Moon': geo_cum['Moon'][geo_cum.Date == today].values
                                       - geo_cum['Moon'][geo_cum.Date == selected_date].values,
                                       
                                       'Sun': geo_cum['Sun'][geo_cum.Date == today].values
                                       - geo_cum['Sun'][geo_cum.Date == selected_date].values,

                                       'Mer': geo_cum['Mer'][geo_cum.Date == today].values
                                       - geo_cum['Mer'][geo_cum.Date == selected_date].values,
                                       
                                       'Ven': geo_cum['Ven'][geo_cum.Date == today].values
                                       - geo_cum['Ven'][geo_cum.Date == selected_date].values,

                                       'Mar': geo_cum['Mar'][geo_cum.Date == today].values
                                       - geo_cum['Mar'][geo_cum.Date == selected_date].values,

                                       'Jup': geo_cum['Jup'][geo_cum.Date == today].values
                                       - geo_cum['Jup'][geo_cum.Date == selected_date].values,
                                       
                                       'Sat': geo_cum['Sat'][geo_cum.Date == today].values
                                       - geo_cum['Sat'][geo_cum.Date == selected_date].values,

                                       'Ura': geo_cum['Ura'][geo_cum.Date == today].values
                                       - geo_cum['Ura'][geo_cum.Date == selected_date].values,

                                       'Nep': geo_cum['Nep'][geo_cum.Date == today].values
                                       - geo_cum['Nep'][geo_cum.Date == selected_date].values,
                                       
                                       'Plu': geo_cum['Plu'][geo_cum.Date == today].values
                                       - geo_cum['Plu'][geo_cum.Date == selected_date].values,

                                       })
                                       
cumulative_2_g = round(cumulative_2_g)
cumulative_2_g

In [ ]:
# cumulative_PD

selected_date = '22/05/2010'

cumulative_3_g = pd.DataFrame({'Date': [selected_date],

                                       'Moon': geo_cum['Moon'][geo_cum.Date == today].values
                                       - geo_cum['Moon'][geo_cum.Date == selected_date].values,
                                       
                                       'Sun': geo_cum['Sun'][geo_cum.Date == today].values
                                       - geo_cum['Sun'][geo_cum.Date == selected_date].values,

                                       'Mer': geo_cum['Mer'][geo_cum.Date == today].values
                                       - geo_cum['Mer'][geo_cum.Date == selected_date].values,
                                       
                                       'Ven': geo_cum['Ven'][geo_cum.Date == today].values
                                       - geo_cum['Ven'][geo_cum.Date == selected_date].values,

                                       'Mar': geo_cum['Mar'][geo_cum.Date == today].values
                                       - geo_cum['Mar'][geo_cum.Date == selected_date].values,

                                       'Jup': geo_cum['Jup'][geo_cum.Date == today].values
                                       - geo_cum['Jup'][geo_cum.Date == selected_date].values,
                                       
                                       'Sat': geo_cum['Sat'][geo_cum.Date == today].values
                                       - geo_cum['Sat'][geo_cum.Date == selected_date].values,

                                       'Ura': geo_cum['Ura'][geo_cum.Date == today].values
                                       - geo_cum['Ura'][geo_cum.Date == selected_date].values,

                                       'Nep': geo_cum['Nep'][geo_cum.Date == today].values
                                       - geo_cum['Nep'][geo_cum.Date == selected_date].values,
                                       
                                       'Plu': geo_cum['Plu'][geo_cum.Date == today].values
                                       - geo_cum['Plu'][geo_cum.Date == selected_date].values,
                                       
                                       })
                                       
cumulative_3_g = round(cumulative_3_g)
cumulative_3_g

In [ ]:
# 29/11/2013

selected_date = '29/11/2013'

cumulative_4_g = pd.DataFrame({'Date': [selected_date],

                                       'Moon': geo_cum['Moon'][geo_cum.Date == today].values
                                       - geo_cum['Moon'][geo_cum.Date == selected_date].values,
                                       
                                       'Sun': geo_cum['Sun'][geo_cum.Date == today].values
                                       - geo_cum['Sun'][geo_cum.Date == selected_date].values,

                                       'Mer': geo_cum['Mer'][geo_cum.Date == today].values
                                       - geo_cum['Mer'][geo_cum.Date == selected_date].values,
                                       
                                       'Ven': geo_cum['Ven'][geo_cum.Date == today].values
                                       - geo_cum['Ven'][geo_cum.Date == selected_date].values,

                                       'Mar': geo_cum['Mar'][geo_cum.Date == today].values
                                       - geo_cum['Mar'][geo_cum.Date == selected_date].values,

                                       'Jup': geo_cum['Jup'][geo_cum.Date == today].values
                                       - geo_cum['Jup'][geo_cum.Date == selected_date].values,
                                       
                                       'Sat': geo_cum['Sat'][geo_cum.Date == today].values
                                       - geo_cum['Sat'][geo_cum.Date == selected_date].values,

                                       'Ura': geo_cum['Ura'][geo_cum.Date == today].values
                                       - geo_cum['Ura'][geo_cum.Date == selected_date].values,

                                       'Nep': geo_cum['Nep'][geo_cum.Date == today].values
                                       - geo_cum['Nep'][geo_cum.Date == selected_date].values,
                                       
                                       'Plu': geo_cum['Plu'][geo_cum.Date == today].values
                                       - geo_cum['Plu'][geo_cum.Date == selected_date].values,

                                       })
                                       
cumulative_4_g  = round(cumulative_4_g)
cumulative_4_g

In [ ]:
# Cumul. since 17/12/2017

selected_date = '17/12/2017'

cumulative_6_g = pd.DataFrame({'Date': [selected_date],

                                       'Moon': geo_cum['Moon'][geo_cum.Date == today].values
                                       - geo_cum['Moon'][geo_cum.Date == selected_date].values,

                                       'Sun': geo_cum['Sun'][geo_cum.Date == today].values
                                       - geo_cum['Sun'][geo_cum.Date == selected_date].values,

                                       'Mer': geo_cum['Mer'][geo_cum.Date == today].values
                                       - geo_cum['Mer'][geo_cum.Date == selected_date].values,
                                       
                                       'Ven': geo_cum['Ven'][geo_cum.Date == today].values
                                       - geo_cum['Ven'][geo_cum.Date == selected_date].values,

                                       'Mar': geo_cum['Mar'][geo_cum.Date == today].values
                                       - geo_cum['Mar'][geo_cum.Date == selected_date].values,

                                       'Jup': geo_cum['Jup'][geo_cum.Date == today].values
                                       - geo_cum['Jup'][geo_cum.Date == selected_date].values,
                                       
                                       'Sat': geo_cum['Sat'][geo_cum.Date == today].values
                                       - geo_cum['Sat'][geo_cum.Date == selected_date].values,

                                       'Ura': geo_cum['Ura'][geo_cum.Date == today].values
                                       - geo_cum['Ura'][geo_cum.Date == selected_date].values,

                                       'Nep': geo_cum['Nep'][geo_cum.Date == today].values
                                       - geo_cum['Nep'][geo_cum.Date == selected_date].values,
                                       
                                       'Plu': geo_cum['Plu'][geo_cum.Date == today].values
                                       - geo_cum['Plu'][geo_cum.Date == selected_date].values,

                                       })
                                       
cumulative_6_g = round(cumulative_6_g)
cumulative_6_g

In [ ]:
# Cumul. since 15/12/2018

selected_date = '15/12/2018'

cumulative_7_g = pd.DataFrame({'Date': [selected_date],

                                       'Moon': geo_cum['Moon'][geo_cum.Date == today].values
                                       - geo_cum['Moon'][geo_cum.Date == selected_date].values,
                                       
                                       'Sun': geo_cum['Sun'][geo_cum.Date == today].values
                                       - geo_cum['Sun'][geo_cum.Date == selected_date].values,

                                       'Mer': geo_cum['Mer'][geo_cum.Date == today].values
                                       - geo_cum['Mer'][geo_cum.Date == selected_date].values,
                                       
                                       'Ven': geo_cum['Ven'][geo_cum.Date == today].values
                                       - geo_cum['Ven'][geo_cum.Date == selected_date].values,

                                       'Mar': geo_cum['Mar'][geo_cum.Date == today].values
                                       - geo_cum['Mar'][geo_cum.Date == selected_date].values,

                                       'Jup': geo_cum['Jup'][geo_cum.Date == today].values
                                       - geo_cum['Jup'][geo_cum.Date == selected_date].values,
                                       
                                       'Sat': geo_cum['Sat'][geo_cum.Date == today].values
                                       - geo_cum['Sat'][geo_cum.Date == selected_date].values,

                                       'Ura': geo_cum['Ura'][geo_cum.Date == today].values
                                       - geo_cum['Ura'][geo_cum.Date == selected_date].values,

                                       'Nep': geo_cum['Nep'][geo_cum.Date == today].values
                                       - geo_cum['Nep'][geo_cum.Date == selected_date].values,
                                       
                                       'Plu': geo_cum['Plu'][geo_cum.Date == today].values
                                       - geo_cum['Plu'][geo_cum.Date == selected_date].values,

                                       })
                                       
cumulative_7_g  = round(cumulative_7_g)
cumulative_7_g

In [ ]:
# Cumul. since 26/06/2019

selected_date = '26/06/2019'

cumulative_8_g = pd.DataFrame({'Date': [selected_date],

                                       'Moon': geo_cum['Moon'][geo_cum.Date == today].values
                                       - geo_cum['Moon'][geo_cum.Date == selected_date].values,
                                       
                                       'Sun': geo_cum['Sun'][geo_cum.Date == today].values
                                       - geo_cum['Sun'][geo_cum.Date == selected_date].values,

                                       'Mer': geo_cum['Mer'][geo_cum.Date == today].values
                                       - geo_cum['Mer'][geo_cum.Date == selected_date].values,
                                       
                                       'Ven': geo_cum['Ven'][geo_cum.Date == today].values
                                       - geo_cum['Ven'][geo_cum.Date == selected_date].values,

                                       'Mar': geo_cum['Mar'][geo_cum.Date == today].values
                                       - geo_cum['Mar'][geo_cum.Date == selected_date].values,

                                       'Jup': geo_cum['Jup'][geo_cum.Date == today].values
                                       - geo_cum['Jup'][geo_cum.Date == selected_date].values,
                                       
                                       'Sat': geo_cum['Sat'][geo_cum.Date == today].values
                                       - geo_cum['Sat'][geo_cum.Date == selected_date].values,

                                       'Ura': geo_cum['Ura'][geo_cum.Date == today].values
                                       - geo_cum['Ura'][geo_cum.Date == selected_date].values,

                                       'Nep': geo_cum['Nep'][geo_cum.Date == today].values
                                       - geo_cum['Nep'][geo_cum.Date == selected_date].values,
                                       
                                       'Plu': geo_cum['Plu'][geo_cum.Date == today].values
                                       - geo_cum['Plu'][geo_cum.Date == selected_date].values,

                                       })
                                       
cumulative_8_g  = round(cumulative_8_g)
cumulative_8_g

In [ ]:
# Cumul. since 12/03/2020

selected_date = '12/03/2020'

cumulative_9_g = pd.DataFrame({'Date': [selected_date],

                                       'Moon': geo_cum['Moon'][geo_cum.Date == today].values
                                       - geo_cum['Moon'][geo_cum.Date == selected_date].values,
                                       
                                       'Sun': geo_cum['Sun'][geo_cum.Date == today].values
                                       - geo_cum['Sun'][geo_cum.Date == selected_date].values,

                                       'Mer': geo_cum['Mer'][geo_cum.Date == today].values
                                       - geo_cum['Mer'][geo_cum.Date == selected_date].values,
                                       
                                       'Ven': geo_cum['Ven'][geo_cum.Date == today].values
                                       - geo_cum['Ven'][geo_cum.Date == selected_date].values,

                                       'Mar': geo_cum['Mar'][geo_cum.Date == today].values
                                       - geo_cum['Mar'][geo_cum.Date == selected_date].values,

                                       'Jup': geo_cum['Jup'][geo_cum.Date == today].values
                                       - geo_cum['Jup'][geo_cum.Date == selected_date].values,
                                       
                                       'Sat': geo_cum['Sat'][geo_cum.Date == today].values
                                       - geo_cum['Sat'][geo_cum.Date == selected_date].values,

                                       'Ura': geo_cum['Ura'][geo_cum.Date == today].values
                                       - geo_cum['Ura'][geo_cum.Date == selected_date].values,

                                       'Nep': geo_cum['Nep'][geo_cum.Date == today].values
                                       - geo_cum['Nep'][geo_cum.Date == selected_date].values,
                                       
                                       'Plu': geo_cum['Plu'][geo_cum.Date == today].values
                                       - geo_cum['Plu'][geo_cum.Date == selected_date].values,

                                       })
                                       
cumulative_9_g  = round(cumulative_9_g)
cumulative_9_g

In [ ]:
# Cumul. since 25/04/2021

selected_date = '25/04/2021'

cumulative_10_g = pd.DataFrame({'Date': [selected_date],

                                       'Moon': geo_cum['Moon'][geo_cum.Date == today].values
                                       - geo_cum['Moon'][geo_cum.Date == selected_date].values,
                                       
                                       'Sun': geo_cum['Sun'][geo_cum.Date == today].values
                                       - geo_cum['Sun'][geo_cum.Date == selected_date].values,

                                       'Mer': geo_cum['Mer'][geo_cum.Date == today].values
                                       - geo_cum['Mer'][geo_cum.Date == selected_date].values,
                                       
                                       'Ven': geo_cum['Ven'][geo_cum.Date == today].values
                                       - geo_cum['Ven'][geo_cum.Date == selected_date].values,

                                       'Mar': geo_cum['Mar'][geo_cum.Date == today].values
                                       - geo_cum['Mar'][geo_cum.Date == selected_date].values,

                                       'Jup': geo_cum['Jup'][geo_cum.Date == today].values
                                       - geo_cum['Jup'][geo_cum.Date == selected_date].values,
                                       
                                       'Sat': geo_cum['Sat'][geo_cum.Date == today].values
                                       - geo_cum['Sat'][geo_cum.Date == selected_date].values,

                                       'Ura': geo_cum['Ura'][geo_cum.Date == today].values
                                       - geo_cum['Ura'][geo_cum.Date == selected_date].values,

                                       'Nep': geo_cum['Nep'][geo_cum.Date == today].values
                                       - geo_cum['Nep'][geo_cum.Date == selected_date].values,
                                       
                                       'Plu': geo_cum['Plu'][geo_cum.Date == today].values
                                       - geo_cum['Plu'][geo_cum.Date == selected_date].values,

                                       })
                                       
cumulative_10_g  = round(cumulative_10_g)
cumulative_10_g

In [ ]:
# Cumul. since 20/07/2021

selected_date = '20/07/2021'

cumulative_11_g = pd.DataFrame({'Date': [selected_date],

                                       'Moon': geo_cum['Moon'][geo_cum.Date == today].values
                                       - geo_cum['Moon'][geo_cum.Date == selected_date].values,
                                       
                                       'Sun': geo_cum['Sun'][geo_cum.Date == today].values
                                       - geo_cum['Sun'][geo_cum.Date == selected_date].values,

                                       'Mer': geo_cum['Mer'][geo_cum.Date == today].values
                                       - geo_cum['Mer'][geo_cum.Date == selected_date].values,
                                       
                                       'Ven': geo_cum['Ven'][geo_cum.Date == today].values
                                       - geo_cum['Ven'][geo_cum.Date == selected_date].values,

                                       'Mar': geo_cum['Mar'][geo_cum.Date == today].values
                                       - geo_cum['Mar'][geo_cum.Date == selected_date].values,

                                       'Jup': geo_cum['Jup'][geo_cum.Date == today].values
                                       - geo_cum['Jup'][geo_cum.Date == selected_date].values,
                                       
                                       'Sat': geo_cum['Sat'][geo_cum.Date == today].values
                                       - geo_cum['Sat'][geo_cum.Date == selected_date].values,

                                       'Ura': geo_cum['Ura'][geo_cum.Date == today].values
                                       - geo_cum['Ura'][geo_cum.Date == selected_date].values,

                                       'Nep': geo_cum['Nep'][geo_cum.Date == today].values
                                       - geo_cum['Nep'][geo_cum.Date == selected_date].values,
                                       
                                       'Plu': geo_cum['Plu'][geo_cum.Date == today].values
                                       - geo_cum['Plu'][geo_cum.Date == selected_date].values,

                                       })
                                       
cumulative_11_g  = round(cumulative_11_g)
cumulative_11_g

In [ ]:
# Cumul. since 20/10/2021

selected_date = '20/10/2021'

cumulative_12_g = pd.DataFrame({'Date': [selected_date],

                                       'Moon': geo_cum['Moon'][geo_cum.Date == today].values
                                       - geo_cum['Moon'][geo_cum.Date == selected_date].values,
                                       
                                       'Sun': geo_cum['Sun'][geo_cum.Date == today].values
                                       - geo_cum['Sun'][geo_cum.Date == selected_date].values,

                                       'Mer': geo_cum['Mer'][geo_cum.Date == today].values
                                       - geo_cum['Mer'][geo_cum.Date == selected_date].values,
                                       
                                       'Ven': geo_cum['Ven'][geo_cum.Date == today].values
                                       - geo_cum['Ven'][geo_cum.Date == selected_date].values,

                                       'Mar': geo_cum['Mar'][geo_cum.Date == today].values
                                       - geo_cum['Mar'][geo_cum.Date == selected_date].values,

                                       'Jup': geo_cum['Jup'][geo_cum.Date == today].values
                                       - geo_cum['Jup'][geo_cum.Date == selected_date].values,
                                       
                                       'Sat': geo_cum['Sat'][geo_cum.Date == today].values
                                       - geo_cum['Sat'][geo_cum.Date == selected_date].values,

                                       'Ura': geo_cum['Ura'][geo_cum.Date == today].values
                                       - geo_cum['Ura'][geo_cum.Date == selected_date].values,

                                       'Nep': geo_cum['Nep'][geo_cum.Date == today].values
                                       - geo_cum['Nep'][geo_cum.Date == selected_date].values,
                                       
                                       'Plu': geo_cum['Plu'][geo_cum.Date == today].values
                                       - geo_cum['Plu'][geo_cum.Date == selected_date].values,

                                       })
                                       
cumulative_12_g  = round(cumulative_12_g)
cumulative_12_g

In [ ]:
# Cumul. since 10/11/2021

selected_date = '10/11/2021'

cumulative_13_g = pd.DataFrame({'Date': [selected_date],

                                       'Moon': geo_cum['Moon'][geo_cum.Date == today].values
                                       - geo_cum['Moon'][geo_cum.Date == selected_date].values,
                                       
                                       'Sun': geo_cum['Sun'][geo_cum.Date == today].values
                                       - geo_cum['Sun'][geo_cum.Date == selected_date].values,

                                       'Mer': geo_cum['Mer'][geo_cum.Date == today].values
                                       - geo_cum['Mer'][geo_cum.Date == selected_date].values,
                                       
                                       'Ven': geo_cum['Ven'][geo_cum.Date == today].values
                                       - geo_cum['Ven'][geo_cum.Date == selected_date].values,

                                       'Mar': geo_cum['Mar'][geo_cum.Date == today].values
                                       - geo_cum['Mar'][geo_cum.Date == selected_date].values,

                                       'Jup': geo_cum['Jup'][geo_cum.Date == today].values
                                       - geo_cum['Jup'][geo_cum.Date == selected_date].values,
                                       
                                       'Sat': geo_cum['Sat'][geo_cum.Date == today].values
                                       - geo_cum['Sat'][geo_cum.Date == selected_date].values,

                                       'Ura': geo_cum['Ura'][geo_cum.Date == today].values
                                       - geo_cum['Ura'][geo_cum.Date == selected_date].values,

                                       'Nep': geo_cum['Nep'][geo_cum.Date == today].values
                                       - geo_cum['Nep'][geo_cum.Date == selected_date].values,
                                       
                                       'Plu': geo_cum['Plu'][geo_cum.Date == today].values
                                       - geo_cum['Plu'][geo_cum.Date == selected_date].values,

                                       })
                                       
cumulative_13_g  = round(cumulative_13_g)
cumulative_13_g

In [ ]:
# Cumul. since 18/06/2022

selected_date = '18/06/2022'

cumulative_14_g = pd.DataFrame({'Date': [selected_date],

                                       'Moon': geo_cum['Moon'][geo_cum.Date == today].values
                                       - geo_cum['Moon'][geo_cum.Date == selected_date].values,
                                       
                                       'Sun': geo_cum['Sun'][geo_cum.Date == today].values
                                       - geo_cum['Sun'][geo_cum.Date == selected_date].values,

                                       'Mer': geo_cum['Mer'][geo_cum.Date == today].values
                                       - geo_cum['Mer'][geo_cum.Date == selected_date].values,
                                       
                                       'Ven': geo_cum['Ven'][geo_cum.Date == today].values
                                       - geo_cum['Ven'][geo_cum.Date == selected_date].values,

                                       'Mar': geo_cum['Mar'][geo_cum.Date == today].values
                                       - geo_cum['Mar'][geo_cum.Date == selected_date].values,

                                       'Jup': geo_cum['Jup'][geo_cum.Date == today].values
                                       - geo_cum['Jup'][geo_cum.Date == selected_date].values,
                                       
                                       'Sat': geo_cum['Sat'][geo_cum.Date == today].values
                                       - geo_cum['Sat'][geo_cum.Date == selected_date].values,

                                       'Ura': geo_cum['Ura'][geo_cum.Date == today].values
                                       - geo_cum['Ura'][geo_cum.Date == selected_date].values,

                                       'Nep': geo_cum['Nep'][geo_cum.Date == today].values
                                       - geo_cum['Nep'][geo_cum.Date == selected_date].values,
                                       
                                       'Plu': geo_cum['Plu'][geo_cum.Date == today].values
                                       - geo_cum['Plu'][geo_cum.Date == selected_date].values,

                                       })
                                       
cumulative_14_g  = round(cumulative_14_g)
cumulative_14_g

### **II.2.2 MOD30 & 360 GEO**

In [ ]:
result_g = geo[geo.Date == today]
result_g

In [ ]:
result_g.info()

#### **MOD30**

In [ ]:
# mod30 (donne qu'elle signe il est)

mod_g = pd.DataFrame({'Date': [today],

                                       'Moon': result_g['Moon'][result_g.Date == today].values
                                       % 30,

                                        'Sun': result_g['Sun'][result_g.Date == today].values
                                       % 30,

                                       'Mer': result_g['Mer'][result_g.Date == today].values
                                       % 30,
                                       
                                       'Ven': result_g['Ven'][result_g.Date == today].values
                                       % 30,

                                       'Mar': result_g['Mar'][result_g.Date == today].values
                                       % 30,

                                       'Jup': result_g['Jup'][result_g.Date == today].values
                                       % 30,
                                       
                                       'Sat': result_g['Sat'][result_g.Date == today].values
                                       % 30,

                                       'Ura': result_g['Ura'][result_g.Date == today].values
                                       % 30,

                                       'Nep': result_g['Nep'][result_g.Date == today].values
                                       % 30,
                                       
                                       'Plu': result_g['Plu'][result_g.Date == today].values
                                       % 30,

                                       })

mod_g.round()

In [ ]:
rrr_g = result_g # rrr

for col in rrr_g.columns[1:]:
     rrr_g= rrr_g.astype({col: "int64"})

rrr_g.info()

In [ ]:
# rrr

# mod30 (donne qu'elle signe il est)

rrr_g = pd.DataFrame({'Date': [today],

                                       'Moon': rrr_g['Moon'][rrr_g.Date == today].values
                                       ,

                                        'Sun': rrr_g['Sun'][rrr_g.Date == today].values
                                       ,

                                       'Mer': rrr_g['Mer'][rrr_g.Date == today].values
                                       ,
                                       
                                       'Ven': rrr_g['Ven'][rrr_g.Date == today].values
                                       ,

                                       'Mar': rrr_g['Mar'][rrr_g.Date == today].values
                                       ,

                                       'Jup': rrr_g['Jup'][rrr_g.Date == today].values
                                       ,
                                       
                                       'Sat': rrr_g['Sat'][rrr_g.Date == today].values
                                       ,

                                       'Ura': rrr_g['Ura'][rrr_g.Date == today].values
                                       ,

                                       'Nep': rrr_g['Nep'][rrr_g.Date == today].values
                                       ,
                                       
                                       'Plu': rrr_g['Plu'][rrr_g.Date == today].values
                                       ,

                                       })

rrr_g.round()

for i in rrr_g['Moon']: 
        if (0<=i<=29):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Pi")

for i in rrr_g['Sun']: 
        if (0<=i<=29):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Pi")

for i in rrr_g['Mer']: 
        if (0<=i<=29):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Pi")

for i in rrr_g['Ven']: 
        if (0<=i<=29):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Pi")

for i in rrr_g['Mar']: 
        if (0<=i<=29):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Pi")

for i in rrr_g['Jup']: 
        if (0<=i<=29):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Pi")

for i in rrr_g['Sat']: 
        if (0<=i<=29):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Pi")

for i in rrr_g['Ura']: 
        if (0<=i<=29):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Pi")

for i in rrr_g['Nep']: 
        if (0<=i<=29):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Pi")

for i in rrr_g['Plu']: 
        if (0<=i<=29):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Pi")

rrr_g

In [ ]:
mod_g = mod_g.round()

# STR

for col in mod_g.columns[1:]:
     mod_g = mod_g.astype({col: str})

for col in rrr_g.columns[1:]:
     rrr_g = rrr_g.astype({col: str})

mod0_g = pd.DataFrame({"Date": [today]})

# GROUPBY MANUALY

for col in mod_g.columns[1:]:
    mod0_g[col] = mod_g[col] + ' | ' + rrr_g[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod0_g

#### **MOD360**

In [ ]:
# 1

# DEGREES OF CURRENT REVOLUTION

selected_date = '31/10/2008'

cum_mod_1 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_1_g['Moon'] % 360),

                                       'Sun': (cumulative_1_g['Sun'] % 360),

                                       'Mer': (cumulative_1_g['Mer'] % 360),
                                       
                                       'Ven': (cumulative_1_g['Ven'] % 360),

                                       'Mar': (cumulative_1_g['Mar'] % 360),

                                       'Jup': (cumulative_1_g['Jup'] % 360),
                                       
                                       'Sat': (cumulative_1_g['Sat'] % 360),

                                       'Ura': (cumulative_1_g['Ura'] % 360),

                                       'Nep': (cumulative_1_g['Nep'] % 360),
                                       
                                       'Plu': (cumulative_1_g['Plu'] % 360),
									   
                                       })

# NUMBER OF REVOLUTIONS

cum_dv_1 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_1_g['Moon'] / 360),

                                       'Sun': (cumulative_1_g['Sun'] / 360),

                                       'Mer': (cumulative_1_g['Mer'] / 360),
                                       
                                       'Ven': (cumulative_1_g['Ven'] / 360),

                                       'Mar': (cumulative_1_g['Mar'] / 360),

                                       'Jup': (cumulative_1_g['Jup'] / 360),
                                       
                                       'Sat': (cumulative_1_g['Sat'] / 360),

                                       'Ura': (cumulative_1_g['Ura'] / 360),

                                       'Nep': (cumulative_1_g['Nep'] / 360),
                                       
                                       'Plu': (cumulative_1_g['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cum_dv_1 = cum_dv_1.round(1)
cum_mod_1 = cum_mod_1.round()

# STR

for col in cum_dv_1.columns[1:]:
     cum_dv_1 = cum_dv_1.astype({col: str})

for col in cum_mod_1.columns[1:]:
     cum_mod_1 = cum_mod_1.astype({col: str})

mod_1_g = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cum_dv_1.columns[1:]:
    mod_1_g[col] = cum_dv_1[col] + ' | ' + cum_mod_1[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod_1_g

In [ ]:
# 1

# DEGREES OF CURRENT REVOLUTION

selected_date = '03/01/2009'

cum_mod_2 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_2_g['Moon'] % 360),

                                       'Sun': (cumulative_2_g['Sun'] % 360),

                                       'Mer': (cumulative_2_g['Mer'] % 360),
                                       
                                       'Ven': (cumulative_2_g['Ven'] % 360),

                                       'Mar': (cumulative_2_g['Mar'] % 360),

                                       'Jup': (cumulative_2_g['Jup'] % 360),
                                       
                                       'Sat': (cumulative_2_g['Sat'] % 360),

                                       'Ura': (cumulative_2_g['Ura'] % 360),

                                       'Nep': (cumulative_2_g['Nep'] % 360),
                                       
                                       'Plu': (cumulative_2_g['Plu'] % 360),
									   
                                       })

# NUMBER OF REVOLUTIONS

cum_dv_2 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_2_g['Moon'] / 360),

                                       'Sun': (cumulative_2_g['Sun'] / 360),

                                       'Mer': (cumulative_2_g['Mer'] / 360),
                                       
                                       'Ven': (cumulative_2_g['Ven'] / 360),

                                       'Mar': (cumulative_2_g['Mar'] / 360),

                                       'Jup': (cumulative_2_g['Jup'] / 360),
                                       
                                       'Sat': (cumulative_2_g['Sat'] / 360),

                                       'Ura': (cumulative_2_g['Ura'] / 360),

                                       'Nep': (cumulative_2_g['Nep'] / 360),
                                       
                                       'Plu': (cumulative_2_g['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cum_dv_2 = cum_dv_2.round(1)
cum_mod_2 = cum_mod_2.round()

# STR

for col in cum_dv_2.columns[1:]:
     cum_dv_2 = cum_dv_2.astype({col: str})

for col in cum_mod_2.columns[1:]:
     cum_mod_2 = cum_mod_2.astype({col: str})

mod_2_g = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cum_dv_2.columns[1:]:
    mod_2_g[col] = cum_dv_2[col] + ' | ' + cum_mod_2[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod_2_g

In [ ]:
# 3

# DEGREES OF CURRENT REVOLUTION

selected_date = '22/05/2010'

cum_mod_3 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_3_g['Moon'] % 360),

                                       'Sun': (cumulative_3_g['Sun'] % 360),

                                       'Mer': (cumulative_3_g['Mer'] % 360),
                                       
                                       'Ven': (cumulative_3_g['Ven'] % 360),

                                       'Mar': (cumulative_3_g['Mar'] % 360),

                                       'Jup': (cumulative_3_g['Jup'] % 360),
                                       
                                       'Sat': (cumulative_3_g['Sat'] % 360),

                                       'Ura': (cumulative_3_g['Ura'] % 360),

                                       'Nep': (cumulative_3_g['Nep'] % 360),
                                       
                                       'Plu': (cumulative_3_g['Plu'] % 360),
									   
                                       })

# NUMBER OF REVOLUTIONS

cum_dv_3 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_3_g['Moon'] / 360),

                                       'Sun': (cumulative_3_g['Sun'] / 360),

                                       'Mer': (cumulative_3_g['Mer'] / 360),
                                       
                                       'Ven': (cumulative_3_g['Ven'] / 360),

                                       'Mar': (cumulative_3_g['Mar'] / 360),

                                       'Jup': (cumulative_3_g['Jup'] / 360),
                                       
                                       'Sat': (cumulative_3_g['Sat'] / 360),

                                       'Ura': (cumulative_3_g['Ura'] / 360),

                                       'Nep': (cumulative_3_g['Nep'] / 360),
                                       
                                       'Plu': (cumulative_3_g['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cum_dv_3 = cum_dv_3.round(1)
cum_mod_3 = cum_mod_3.round()

# STR

for col in cum_dv_3.columns[1:]:
     cum_dv_3 = cum_dv_3.astype({col: str})

for col in cum_mod_3.columns[1:]:
     cum_mod_3 = cum_mod_3.astype({col: str})

mod_3_g = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cum_dv_3.columns[1:]:
    mod_3_g[col] = cum_dv_3[col] + ' | ' + cum_mod_3[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod_3_g

In [ ]:
# 4

# DEGREES OF CURRENT REVOLUTION

selected_date = '29/11/2013'

cum_mod_4 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_4_g['Moon'] % 360),

                                       'Sun': (cumulative_4_g['Sun'] % 360),

                                       'Mer': (cumulative_4_g['Mer'] % 360),
                                       
                                       'Ven': (cumulative_4_g['Ven'] % 360),

                                       'Mar': (cumulative_4_g['Mar'] % 360),

                                       'Jup': (cumulative_4_g['Jup'] % 360),
                                       
                                       'Sat': (cumulative_4_g['Sat'] % 360),

                                       'Ura': (cumulative_4_g['Ura'] % 360),

                                       'Nep': (cumulative_4_g['Nep'] % 360),
                                       
                                       'Plu': (cumulative_4_g['Plu'] % 360),
									   
                                       })

# NUMBER OF REVOLUTIONS

cum_dv_4 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_4_g['Moon'] / 360),

                                       'Sun': (cumulative_4_g['Sun'] / 360),

                                       'Mer': (cumulative_4_g['Mer'] / 360),
                                       
                                       'Ven': (cumulative_4_g['Ven'] / 360),

                                       'Mar': (cumulative_4_g['Mar'] / 360),

                                       'Jup': (cumulative_4_g['Jup'] / 360),
                                       
                                       'Sat': (cumulative_4_g['Sat'] / 360),

                                       'Ura': (cumulative_4_g['Ura'] / 360),

                                       'Nep': (cumulative_4_g['Nep'] / 360),
                                       
                                       'Plu': (cumulative_4_g['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cum_dv_4 = cum_dv_4.round(1)
cum_mod_4 = cum_mod_4.round()

# STR

for col in cum_dv_4.columns[1:]:
     cum_dv_4 = cum_dv_4.astype({col: str})

for col in cum_mod_4.columns[1:]:
     cum_mod_4 = cum_mod_4.astype({col: str})

mod_4_g = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cum_dv_4.columns[1:]:
    mod_4_g[col] = cum_dv_4[col] + ' | ' + cum_mod_4[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod_4_g

In [ ]:
selected_date = '17/12/2017'

cum_mod_6 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_6_g['Moon'] % 360),

                                       'Sun': (cumulative_6_g['Sun'] % 360),

                                       'Mer': (cumulative_6_g['Mer'] % 360),
                                       
                                       'Ven': (cumulative_6_g['Ven'] % 360),

                                       'Mar': (cumulative_6_g['Mar'] % 360),

                                       'Jup': (cumulative_6_g['Jup'] % 360),
                                       
                                       'Sat': (cumulative_6_g['Sat'] % 360),

                                       'Ura': (cumulative_6_g['Ura'] % 360),

                                       'Nep': (cumulative_6_g['Nep'] % 360),
                                       
                                       'Plu': (cumulative_6_g['Plu'] % 360),
									   
                                       })

# NUMBER OF REVOLUTIONS

cum_dv_6 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_6_g['Moon'] / 360),

                                       'Sun': (cumulative_6_g['Sun'] / 360),

                                       'Mer': (cumulative_6_g['Mer'] / 360),
                                       
                                       'Ven': (cumulative_6_g['Ven'] / 360),

                                       'Mar': (cumulative_6_g['Mar'] / 360),

                                       'Jup': (cumulative_6_g['Jup'] / 360),
                                       
                                       'Sat': (cumulative_6_g['Sat'] / 360),

                                       'Ura': (cumulative_6_g['Ura'] / 360),

                                       'Nep': (cumulative_6_g['Nep'] / 360),
                                       
                                       'Plu': (cumulative_6_g['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cum_dv_6 = cum_dv_6.round(1)
cum_mod_6 = cum_mod_6.round()

# STR

for col in cum_dv_6.columns[1:]:
     cum_dv_6 = cum_dv_6.astype({col: str})

for col in cum_mod_6.columns[1:]:
     cum_mod_6 = cum_mod_6.astype({col: str})

mod_6_g = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cum_dv_6.columns[1:]:
    mod_6_g[col] = cum_dv_6[col] + ' | ' + cum_mod_6[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod_6_g

In [ ]:
# 7

# DEGREES OF CURRENT REVOLUTION

selected_date = '15/12/2018'

cum_mod_7 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_7_g['Moon'] % 360),

                                       'Sun': (cumulative_7_g['Sun'] % 360),

                                       'Mer': (cumulative_7_g['Mer'] % 360),
                                       
                                       'Ven': (cumulative_7_g['Ven'] % 360),

                                       'Mar': (cumulative_7_g['Mar'] % 360),

                                       'Jup': (cumulative_7_g['Jup'] % 360),
                                       
                                       'Sat': (cumulative_7_g['Sat'] % 360),

                                       'Ura': (cumulative_7_g['Ura'] % 360),

                                       'Nep': (cumulative_7_g['Nep'] % 360),
                                       
                                       'Plu': (cumulative_7_g['Plu'] % 360),
									   
                                       })

# NUMBER OF REVOLUTIONS

cum_dv_7 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_7_g['Moon'] / 360),

                                       'Sun': (cumulative_7_g['Sun'] / 360),

                                       'Mer': (cumulative_7_g['Mer'] / 360),
                                       
                                       'Ven': (cumulative_7_g['Ven'] / 360),

                                       'Mar': (cumulative_7_g['Mar'] / 360),

                                       'Jup': (cumulative_7_g['Jup'] / 360),
                                       
                                       'Sat': (cumulative_7_g['Sat'] / 360),

                                       'Ura': (cumulative_7_g['Ura'] / 360),

                                       'Nep': (cumulative_7_g['Nep'] / 360),
                                       
                                       'Plu': (cumulative_7_g['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cum_dv_7 = cum_dv_7.round(1)
cum_mod_7 = cum_mod_7.round()

# STR

for col in cum_dv_7.columns[1:]:
     cum_dv_7 = cum_dv_7.astype({col: str})

for col in cum_mod_7.columns[1:]:
     cum_mod_7 = cum_mod_7.astype({col: str})

mod_7_g = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cum_dv_7.columns[1:]:
    mod_7_g[col] = cum_dv_7[col] + ' | ' + cum_mod_7[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod_7_g

In [ ]:
# 8

# DEGREES OF CURRENT REVOLUTION

selected_date = '26/06/2019'

cum_mod_8 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_8_g['Moon'] % 360),

                                       'Sun': (cumulative_8_g['Sun'] % 360),

                                       'Mer': (cumulative_8_g['Mer'] % 360),
                                       
                                       'Ven': (cumulative_8_g['Ven'] % 360),

                                       'Mar': (cumulative_8_g['Mar'] % 360),

                                       'Jup': (cumulative_8_g['Jup'] % 360),
                                       
                                       'Sat': (cumulative_8_g['Sat'] % 360),

                                       'Ura': (cumulative_8_g['Ura'] % 360),

                                       'Nep': (cumulative_8_g['Nep'] % 360),
                                       
                                       'Plu': (cumulative_8_g['Plu'] % 360),
									   
                                       })

# NUMBER OF REVOLUTIONS

cum_dv_8 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_8_g['Moon'] / 360),

                                       'Sun': (cumulative_8_g['Sun'] / 360),

                                       'Mer': (cumulative_8_g['Mer'] / 360),
                                       
                                       'Ven': (cumulative_8_g['Ven'] / 360),

                                       'Mar': (cumulative_8_g['Mar'] / 360),

                                       'Jup': (cumulative_8_g['Jup'] / 360),
                                       
                                       'Sat': (cumulative_8_g['Sat'] / 360),

                                       'Ura': (cumulative_8_g['Ura'] / 360),

                                       'Nep': (cumulative_8_g['Nep'] / 360),
                                       
                                       'Plu': (cumulative_8_g['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cum_dv_8 = cum_dv_8.round(1)
cum_mod_8 = cum_mod_8.round()

# STR

for col in cum_dv_8.columns[1:]:
     cum_dv_8 = cum_dv_8.astype({col: str})

for col in cum_mod_8.columns[1:]:
     cum_mod_8 = cum_mod_8.astype({col: str})

mod_8_g = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cum_dv_8.columns[1:]:
    mod_8_g[col] = cum_dv_8[col] + ' | ' + cum_mod_8[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod_8_g

In [ ]:
# 9

# DEGREES OF CURRENT REVOLUTION

selected_date = '12/03/2020'

cum_mod_9 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_9_g['Moon'] % 360),

                                       'Sun': (cumulative_9_g['Sun'] % 360),

                                       'Mer': (cumulative_9_g['Mer'] % 360),
                                       
                                       'Ven': (cumulative_9_g['Ven'] % 360),

                                       'Mar': (cumulative_9_g['Mar'] % 360),

                                       'Jup': (cumulative_9_g['Jup'] % 360),
                                       
                                       'Sat': (cumulative_9_g['Sat'] % 360),

                                       'Ura': (cumulative_9_g['Ura'] % 360),

                                       'Nep': (cumulative_9_g['Nep'] % 360),
                                       
                                       'Plu': (cumulative_9_g['Plu'] % 360),
									   
                                       })

# NUMBER OF REVOLUTIONS

cum_dv_9 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_9_g['Moon'] / 360),

                                       'Sun': (cumulative_9_g['Sun'] / 360),

                                       'Mer': (cumulative_9_g['Mer'] / 360),
                                       
                                       'Ven': (cumulative_9_g['Ven'] / 360),

                                       'Mar': (cumulative_9_g['Mar'] / 360),

                                       'Jup': (cumulative_9_g['Jup'] / 360),
                                       
                                       'Sat': (cumulative_9_g['Sat'] / 360),

                                       'Ura': (cumulative_9_g['Ura'] / 360),

                                       'Nep': (cumulative_9_g['Nep'] / 360),
                                       
                                       'Plu': (cumulative_9_g['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cum_dv_9 = cum_dv_9.round(1)
cum_mod_9 = cum_mod_9.round()

# STR

for col in cum_dv_9.columns[1:]:
     cum_dv_9 = cum_dv_9.astype({col: str})

for col in cum_mod_9.columns[1:]:
     cum_mod_9 = cum_mod_9.astype({col: str})

mod_9_g = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cum_dv_9.columns[1:]:
    mod_9_g[col] = cum_dv_9[col] + ' | ' + cum_mod_9[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod_9_g

In [ ]:
# 10

# DEGREES OF CURRENT REVOLUTION

selected_date = '25/04/2021'

cum_mod_10 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_10_g['Moon'] % 360),

                                       'Sun': (cumulative_10_g['Sun'] % 360),

                                       'Mer': (cumulative_10_g['Mer'] % 360),
                                       
                                       'Ven': (cumulative_10_g['Ven'] % 360),

                                       'Mar': (cumulative_10_g['Mar'] % 360),

                                       'Jup': (cumulative_10_g['Jup'] % 360),
                                       
                                       'Sat': (cumulative_10_g['Sat'] % 360),

                                       'Ura': (cumulative_10_g['Ura'] % 360),

                                       'Nep': (cumulative_10_g['Nep'] % 360),
                                       
                                       'Plu': (cumulative_10_g['Plu'] % 360),
									   
                                       })

# NUMBER OF REVOLUTIONS

cum_dv_10 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_10_g['Moon'] / 360),

                                       'Sun': (cumulative_10_g['Sun'] / 360),

                                       'Mer': (cumulative_10_g['Mer'] / 360),
                                       
                                       'Ven': (cumulative_10_g['Ven'] / 360),

                                       'Mar': (cumulative_10_g['Mar'] / 360),

                                       'Jup': (cumulative_10_g['Jup'] / 360),
                                       
                                       'Sat': (cumulative_10_g['Sat'] / 360),

                                       'Ura': (cumulative_10_g['Ura'] / 360),

                                       'Nep': (cumulative_10_g['Nep'] / 360),
                                       
                                       'Plu': (cumulative_10_g['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cum_dv_10 = cum_dv_10.round(1)
cum_mod_10 = cum_mod_10.round()

# STR

for col in cum_dv_10.columns[1:]:
     cum_dv_10 = cum_dv_10.astype({col: str})

for col in cum_mod_10.columns[1:]:
     cum_mod_10 = cum_mod_10.astype({col: str})

mod_10_g = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cum_dv_10.columns[1:]:
    mod_10_g[col] = cum_dv_10[col] + ' | ' + cum_mod_10[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod_10_g

In [ ]:
# 11

# DEGREES OF CURRENT REVOLUTION

selected_date = '20/07/2021'

cum_mod_11 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_11_g['Moon'] % 360),

                                       'Sun': (cumulative_11_g['Sun'] % 360),

                                       'Mer': (cumulative_11_g['Mer'] % 360),
                                       
                                       'Ven': (cumulative_11_g['Ven'] % 360),

                                       'Mar': (cumulative_11_g['Mar'] % 360),

                                       'Jup': (cumulative_11_g['Jup'] % 360),
                                       
                                       'Sat': (cumulative_11_g['Sat'] % 360),

                                       'Ura': (cumulative_11_g['Ura'] % 360),

                                       'Nep': (cumulative_11_g['Nep'] % 360),
                                       
                                       'Plu': (cumulative_11_g['Plu'] % 360),
									   
                                       })

# NUMBER OF REVOLUTIONS

cum_dv_11 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_11_g['Moon'] / 360),

                                       'Sun': (cumulative_11_g['Sun'] / 360),

                                       'Mer': (cumulative_11_g['Mer'] / 360),
                                       
                                       'Ven': (cumulative_11_g['Ven'] / 360),

                                       'Mar': (cumulative_11_g['Mar'] / 360),

                                       'Jup': (cumulative_11_g['Jup'] / 360),
                                       
                                       'Sat': (cumulative_11_g['Sat'] / 360),

                                       'Ura': (cumulative_11_g['Ura'] / 360),

                                       'Nep': (cumulative_11_g['Nep'] / 360),
                                       
                                       'Plu': (cumulative_11_g['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cum_dv_11 = cum_dv_11.round(1)
cum_mod_11 = cum_mod_11.round()

# STR

for col in cum_dv_11.columns[1:]:
     cum_dv_11 = cum_dv_11.astype({col: str})

for col in cum_mod_11.columns[1:]:
     cum_mod_11 = cum_mod_11.astype({col: str})

mod_11_g = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cum_dv_11.columns[1:]:
    mod_11_g[col] = cum_dv_11[col] + ' | ' + cum_mod_11[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod_11_g

In [ ]:
# 12

# DEGREES OF CURRENT REVOLUTION

selected_date = '20/10/2021'

cum_mod_12 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_12_g['Moon'] % 360),

                                       'Sun': (cumulative_12_g['Sun'] % 360),

                                       'Mer': (cumulative_12_g['Mer'] % 360),
                                       
                                       'Ven': (cumulative_12_g['Ven'] % 360),

                                       'Mar': (cumulative_12_g['Mar'] % 360),

                                       'Jup': (cumulative_12_g['Jup'] % 360),
                                       
                                       'Sat': (cumulative_12_g['Sat'] % 360),

                                       'Ura': (cumulative_12_g['Ura'] % 360),

                                       'Nep': (cumulative_12_g['Nep'] % 360),
                                       
                                       'Plu': (cumulative_12_g['Plu'] % 360),
									   
                                       })

# NUMBER OF REVOLUTIONS

cum_dv_12 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_12_g['Moon'] / 360),

                                       'Sun': (cumulative_12_g['Sun'] / 360),

                                       'Mer': (cumulative_12_g['Mer'] / 360),
                                       
                                       'Ven': (cumulative_12_g['Ven'] / 360),

                                       'Mar': (cumulative_12_g['Mar'] / 360),

                                       'Jup': (cumulative_12_g['Jup'] / 360),
                                       
                                       'Sat': (cumulative_12_g['Sat'] / 360),

                                       'Ura': (cumulative_12_g['Ura'] / 360),

                                       'Nep': (cumulative_12_g['Nep'] / 360),
                                       
                                       'Plu': (cumulative_12_g['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cum_dv_12 = cum_dv_12.round(1)
cum_mod_12 = cum_mod_12.round()

# STR

for col in cum_dv_12.columns[1:]:
     cum_dv_12 = cum_dv_12.astype({col: str})

for col in cum_mod_12.columns[1:]:
     cum_mod_12 = cum_mod_12.astype({col: str})

mod_12_g = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cum_dv_12.columns[1:]:
    mod_12_g[col] = cum_dv_12[col] + ' | ' + cum_mod_12[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod_12_g

In [ ]:
# 13

# DEGREES OF CURRENT REVOLUTION

selected_date = '10/11/2021'

cum_mod_13 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_13_g['Moon'] % 360),

                                       'Sun': (cumulative_13_g['Sun'] % 360),

                                       'Mer': (cumulative_13_g['Mer'] % 360),
                                       
                                       'Ven': (cumulative_13_g['Ven'] % 360),

                                       'Mar': (cumulative_13_g['Mar'] % 360),

                                       'Jup': (cumulative_13_g['Jup'] % 360),
                                       
                                       'Sat': (cumulative_13_g['Sat'] % 360),

                                       'Ura': (cumulative_13_g['Ura'] % 360),

                                       'Nep': (cumulative_13_g['Nep'] % 360),
                                       
                                       'Plu': (cumulative_13_g['Plu'] % 360),
									   
                                       })

# NUMBER OF REVOLUTIONS

cum_dv_13 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_13_g['Moon'] / 360),

                                       'Sun': (cumulative_13_g['Sun'] / 360),

                                       'Mer': (cumulative_13_g['Mer'] / 360),
                                       
                                       'Ven': (cumulative_13_g['Ven'] / 360),

                                       'Mar': (cumulative_13_g['Mar'] / 360),

                                       'Jup': (cumulative_13_g['Jup'] / 360),
                                       
                                       'Sat': (cumulative_13_g['Sat'] / 360),

                                       'Ura': (cumulative_13_g['Ura'] / 360),

                                       'Nep': (cumulative_13_g['Nep'] / 360),
                                       
                                       'Plu': (cumulative_13_g['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cum_dv_13 = cum_dv_13.round(1)
cum_mod_13 = cum_mod_13.round()

# STR

for col in cum_dv_13.columns[1:]:
     cum_dv_13 = cum_dv_13.astype({col: str})

for col in cum_mod_13.columns[1:]:
     cum_mod_13 = cum_mod_13.astype({col: str})

mod_13_g = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cum_dv_13.columns[1:]:
    mod_13_g[col] = cum_dv_13[col] + ' | ' + cum_mod_13[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod_13_g

In [ ]:
# 14

# DEGREES OF CURRENT REVOLUTION

selected_date = '18/06/2022'

cum_mod_14 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_14_g['Moon'] % 360),

                                       'Sun': (cumulative_14_g['Sun'] % 360),

                                       'Mer': (cumulative_14_g['Mer'] % 360),
                                       
                                       'Ven': (cumulative_14_g['Ven'] % 360),

                                       'Mar': (cumulative_14_g['Mar'] % 360),

                                       'Jup': (cumulative_14_g['Jup'] % 360),
                                       
                                       'Sat': (cumulative_14_g['Sat'] % 360),

                                       'Ura': (cumulative_14_g['Ura'] % 360),

                                       'Nep': (cumulative_14_g['Nep'] % 360),
                                       
                                       'Plu': (cumulative_14_g['Plu'] % 360),
									   
                                       })

# NUMBER OF REVOLUTIONS

cum_dv_14 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_14_g['Moon'] / 360),

                                       'Sun': (cumulative_14_g['Sun'] / 360),

                                       'Mer': (cumulative_14_g['Mer'] / 360),
                                       
                                       'Ven': (cumulative_14_g['Ven'] / 360),

                                       'Mar': (cumulative_14_g['Mar'] / 360),

                                       'Jup': (cumulative_14_g['Jup'] / 360),
                                       
                                       'Sat': (cumulative_14_g['Sat'] / 360),

                                       'Ura': (cumulative_14_g['Ura'] / 360),

                                       'Nep': (cumulative_14_g['Nep'] / 360),
                                       
                                       'Plu': (cumulative_14_g['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cum_dv_14 = cum_dv_14.round(1)
cum_mod_14 = cum_mod_14.round()

# STR

for col in cum_dv_14.columns[1:]:
     cum_dv_14 = cum_dv_14.astype({col: str})

for col in cum_mod_14.columns[1:]:
     cum_mod_14 = cum_mod_14.astype({col: str})

mod_14_g = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cum_dv_14.columns[1:]:
    mod_14_g[col] = cum_dv_14[col] + ' | ' + cum_mod_14[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod_14_g

### **II.2.3 CONCAT**

In [ ]:
concat_geo = pd.concat([result_g, mod0_g, cumulative_1_g, mod_1_g, cumulative_2_g, mod_2_g, cumulative_3_g, mod_3_g, cumulative_4_g, mod_4_g, cumulative_6_g, mod_6_g, cumulative_7_g, mod_7_g, cumulative_8_g, mod_8_g, cumulative_9_g, mod_9_g, cumulative_10_g, mod_10_g, cumulative_11_g, mod_11_g, cumulative_12_g, mod_12_g, cumulative_13_g, mod_13_g, cumulative_14_g, mod_14_g])
geo_con = concat_geo
geo_con = geo_con.set_index('Date')

geo_con

# **III. ASPECTS TABLE & TOOLS.py**

### **III.1 Aspects H/G TrTr & TrNa**

#### **III.1.1 HELIO TrTr & TrNa**

In [ ]:
# HELIO ASPECT TrTr

#ha = helio_asp
#col = []
#cols = ha.columns[1:]
#df = ha[cols]
#Date = list[ha['Date']]

#for columns in df.columns:

    #globals()["liste_%s"%columns] = []

    #for row, i in enumerate(df[columns]):
        #if (i >= 0 and i <= 0.03) or (i >= 3.75 and i <= 3.755) or (i >= 7.5 and i <= 7.55) or (i >= 15 and i <= 15.15) or (i >= 22.5 and i <= 22.55) or (i >= 30 and i <= 30.15) or (i >= 36 and i <= 36.15) or (i >= 45 and i <= 45.15) or (i >= 60 and i <= 60.15) or (i >= 72 and i <= 72.15) or (i >= 90 and i <= 90.15) or (i >= 120 and i <= 120.15) or (i >= 135 and i <= 135.15) or (i >= 144 and i <= 144.15) or (i >= 150 and i <= 150.15) or (i >= 180 and i <= 180.15):
            #globals()["liste_%s"%columns].append(i)
        #else:
            #globals()["liste_%s"%columns].append(" ")

#flu = helio_asp[['Date']].copy()
#dict = {'Sun_Mer': liste_Sun_Mer, 'Sun_Ven': liste_Sun_Ven, 'Sun_Mar': liste_Sun_Mar, 'Sun_Jup': liste_Sun_Jup, 'Sun_Sat': liste_Sun_Sat, 'Sun_Ura': liste_Sun_Ura, 'Sun_Nep': liste_Sun_Nep, 'Sun_Plu': liste_Sun_Plu, 'Mer_Ven': liste_Mer_Ven, 'Mer_Mar': liste_Mer_Mar, 'Mer_Jup': liste_Mer_Jup, 'Mer_Sat': liste_Mer_Sat, 'Mer_Ura': liste_Mer_Ura, 'Mer_Nep': liste_Mer_Nep, 'Mer_Plu': liste_Mer_Plu, 'Ven_Mar': liste_Ven_Mar, 'Ven_Jup': liste_Ven_Jup, 'Ven_Sat': liste_Ven_Sat, 'Ven_Ura': liste_Ven_Ura, 'Ven_Nep': liste_Ven_Nep, 'Ven_Plu': liste_Ven_Plu, 'Mar_Jup': liste_Mar_Jup, 'Mar_Sat': liste_Mar_Sat, 'Mar_Ura': liste_Mar_Ura, 'Mar_Nep': liste_Mar_Nep, 'Mar_Plu': liste_Mar_Plu, 'Jup_Sat': liste_Jup_Sat, 'Jup_Ura': liste_Jup_Ura, 'Jup_Nep': liste_Jup_Nep, 'Jup_Plu': liste_Jup_Plu, 'Sat_Ura': liste_Sat_Ura, 'Sat_Nep': liste_Sat_Nep, 'Sat_Plu': liste_Sat_Plu, 'Ura_Nep': liste_Ura_Nep, 'Ura_Plu': liste_Ura_Plu, 'Nep_Plu': liste_Nep_Plu} 
#dfObj = pd.DataFrame(dict)
#flu = helio_asp[['Date']].copy()
#concat_asp = pd.concat([flu, dfObj], axis=1)

#asp_con = concat_asp[concat_asp.Date == today]
#asp_con.round()

In [ ]:
# H_TrTr

TrTr = TrTr.copy()

helio_ap = TrTr[TrTr["Type"] == "Helio"]

helio_TrTr = helio_ap[helio_ap.Date == today]
helio_TrTr = helio_TrTr.set_index('Date')
helio_TrTr

In [ ]:
# H_TrNa

TrNa = TrNa.copy()

helio_TrNa = TrNa[TrNa["Type"] == "Helio"]

helio_TrNa = helio_TrNa[helio_TrNa.Date == today]
helio_TrNa = helio_TrNa.set_index('Date')
helio_TrNa

#### **III.1.2 GEO TrTr & TrNa**

In [ ]:
# G_TrTr

geo_ap = TrTr[TrTr["Type"] == "Geo"]

geo_TrTr = geo_ap[geo_ap.Date == today]
geo_TrTr = geo_TrTr.set_index('Date')
geo_TrTr

In [ ]:
# G_TrNa

geo_TrNa = TrNa[TrNa["Type"] == "Geo"]

geo_TrNa = geo_TrNa[geo_TrNa.Date == today]
geo_TrNa = geo_TrNa.set_index('Date')
geo_TrNa

In [ ]:
# GEO ASPECTS TrTr

#ga = geo_asp_good

#col = []
#cols = ha.columns[1:]
#df = ga[cols]
#Date = list[ga['Date']]

#for columns in df.columns:

    #globals()["lizte_%s"%columns] = []

    #for row, i in enumerate(df[columns]):
        #if (i >= 0 and i <= 0.03) or (i >= 3.75 and i <= 3.755) or (i >= 7.5 and i <= 7.59) or (i >= 15 and i <= 15.15) or (i >= 22.5 and i <= 22.55) or (i >= 30 and i <= 30.15) or (i >= 36 and i <= 36.15) or (i >= 45 and i <= 45.15) or (i >= 60 and i <= 60.15) or (i >= 72 and i <= 72.15) or (i >= 90 and i <= 90.15) or (i >= 120 and i <= 120.15) or (i >= 135 and i <= 135.15) or (i >= 144 and i <= 144.15) or (i >= 150 and i <= 150.15) or (i >= 180 and i <= 180.15):
        #    globals()["lizte_%s"%columns].append(i)
        #else:
          #  globals()["lizte_%s"%columns].append(" ")

#flu1 = geo_asp_good[['Date']].copy()
#dict = {'Sun_Mer': lizte_Sun_Mer, 'Sun_Ven': lizte_Sun_Ven, 'Sun_Mar': lizte_Sun_Mar, 'Sun_Jup': lizte_Sun_Jup, 'Sun_Sat': lizte_Sun_Sat, 'Sun_Ura': lizte_Sun_Ura, 'Sun_Nep': lizte_Sun_Nep, 'Sun_Plu': lizte_Sun_Plu, 'Mer_Ven': lizte_Mer_Ven, 'Mer_Mar': lizte_Mer_Mar, 'Mer_Jup': lizte_Mer_Jup, 'Mer_Sat': lizte_Mer_Sat, 'Mer_Ura': lizte_Mer_Ura, 'Mer_Nep': lizte_Mer_Nep, 'Mer_Plu': lizte_Mer_Plu, 'Ven_Mar': lizte_Ven_Mar, 'Ven_Jup': lizte_Ven_Jup, 'Ven_Sat': lizte_Ven_Sat, 'Ven_Ura': lizte_Ven_Ura, 'Ven_Nep': lizte_Ven_Nep, 'Ven_Plu': lizte_Ven_Plu, 'Mar_Jup': lizte_Mar_Jup, 'Mar_Sat': lizte_Mar_Sat, 'Mar_Ura': lizte_Mar_Ura, 'Mar_Nep': lizte_Mar_Nep, 'Mar_Plu': lizte_Mar_Plu, 'Jup_Sat': lizte_Jup_Sat, 'Jup_Ura': lizte_Jup_Ura, 'Jup_Nep': lizte_Jup_Nep, 'Jup_Plu': lizte_Jup_Plu, 'Sat_Ura': lizte_Sat_Ura, 'Sat_Nep': lizte_Sat_Nep, 'Sat_Plu': lizte_Sat_Plu, 'Ura_Nep': lizte_Ura_Nep, 'Ura_Plu': lizte_Ura_Plu, 'Nep_Plu': lizte_Nep_Plu}
#dfObj = pd.DataFrame(dict)
#concat_asp_g = pd.concat([flu1, dfObj], axis=1)

#geo_con = concat_asp_g[concat_asp_g.Date == today]
#geo_con.round()

### **III.2 Retro**

*(0 = rien | 1 = RETRO | 2 = RETURN)*

In [ ]:
# Remove the nan and fill the empty string
retro = retro.copy()

retro.fillna('')
retro = retro.replace(np.nan,'',regex = True)

retro1 = retro[retro.Date == today]
retro1

### **III.3 Declinations**

In [ ]:
# dec_lat

selected_date = today

lat_moon_changes = lat_moon_changes.copy()

dec_lat = pd.DataFrame({'Date': [selected_date],

                                       'Dec/Lat': lat_moon_changes['LatChanges'][lat_moon_changes.Date == today].values
                                       + lat_moon_changes['MoonChanges'][lat_moon_changes.Date == selected_date].values,

                                       })

dec_lat

### **III.4 GEO TOOLS**

In [ ]:
# GEO TOOLS

declinations = declinations.copy()
latitudes = latitudes.copy()
Moon = Moon.copy()
planet_node = planet_node.copy()
samedec_samelat = samedec_samelat.copy()

tools_con = pd.concat([declinations, lat_moon_changes, latitudes, Moon, planet_node, samedec_samelat])

tools = pd.DataFrame({'Date': [today],

                                       'New Moon': Moon['NewMoon'][Moon.Date == today].values,

                                       'Full Moon': Moon['FullMoon'][Moon.Date == today].values,

                                       'Node': planet_node['Planet Node'][planet_node.Date == today].values,

                                       'Same Dec': samedec_samelat['Same Dec'][samedec_samelat.Date == today].values,        

                                       'Same Lat': samedec_samelat['Same Lat'][samedec_samelat.Date == today].values,

                                       'Lat Changes': lat_moon_changes['LatChanges'][lat_moon_changes.Date == today].values,    

                                       'Moon Changes': lat_moon_changes['MoonChanges'][lat_moon_changes.Date == today].values,

                                       'Lat Changes': lat_moon_changes['LatChanges'][lat_moon_changes.Date == today].values,       
                                                                                                             
})

tools.fillna('')
tools = tools.replace(0, np.nan)
tools = tools.replace(np.nan,'',regex = True)

tools

# **IV. SPIRAL TAB.py**

In [ ]:
import datetime
from datetime import timedelta

In [ ]:
# Match every dates to cols

Spiral = Spiral.copy()

for col in Spiral.columns[1:]:
    Spiral[col] = ((pd.to_datetime(Spiral['Date']) + pd.to_timedelta(f'{col} days'))
               .dt.strftime('%d/%m/%Y'))

dx = Spiral[1:].unstack().value_counts(ascending=False)

dx = pd.DataFrame(dx, columns=['Hit'])

dx = dx.reset_index()
dx = dx.rename_axis('E', axis=1)
dx.columns = dx.columns.str.replace('index', 'Date')
dx = dx.rename_axis(None, axis=1)

dx['Date'] = pd.to_datetime(dx['Date'])  

mask = (dx['Date'] > '08-14-2022') & (dx['Date'] <= '31-12-2022')
Spiral_hits = dx.loc[mask]
Spiral_hits = Spiral_hits.sort_values(by=['Date'])

Spiral_hits.head(5)

In [ ]:
fig = px.bar(Spiral_hits, x='Date', y='Hit')
fig.show()

# **V. NatSq.py**

In [ ]:
NatSq = NatSq.copy()

NatSq = NatSq.drop(['Type'], axis=1)

# Match every dates to cols

for col in NatSq.columns[1:]:
    NatSq[col] = ((pd.to_datetime(NatSq['Date']) + pd.to_timedelta(f'{col} days'))
               .dt.strftime('%d/%m/%Y'))

dx = NatSq[1:].unstack().value_counts(ascending=False)

dx = pd.DataFrame(dx, columns=['Hit'])

dx = dx.reset_index()
dx = dx.rename_axis('E', axis=1)
dx.columns = dx.columns.str.replace('index', 'Date')
dx = dx.rename_axis(None, axis=1)

dx['Date'] = pd.to_datetime(dx['Date'])  

mask = (dx['Date'] > '10-08-2022') & (dx['Date'] <= '31-12-2022')
NatSq_hits = dx.loc[mask]
NatSq_hits = NatSq_hits.sort_values(by=['Date'])

NatSq_hits.head(5)

In [ ]:
fig = px.bar(NatSq_hits, x='Date', y='Hit')
fig.show()

# **VI. addPrice.py**

In [ ]:
kek_p = helio.copy()
kek_p

In [ ]:
hexxx = helio[helio.Date == "31/10/2008"]
hexxx

In [ ]:
pa = priceadd.copy()
pa

In [ ]:
outp = pd.DataFrame()

for col in pa.columns:
    outp[col] = pa[col]

    if col not in ("Date", "Price"):
        
        for row, _ in helio.iterrows():
            date = helio["Date"][row]
            dates_list = pa["Date"].to_list()

            if date in dates_list:
                row_index = dates_list.index(date)
                outp[col][row_index] = helio[col][row]

print(outp)

In [ ]:
output = outp
output

In [ ]:
# PA_1000

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

pa1k = output.copy()
pa1k.Price = pa1k.Price / 1000 # <- change here

# Add price to all planets

for i in pa1k.columns[2:]:
    pa1k[i] = pa1k[i] + pa1k.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa1k.columns[2:]:
    for num, j in enumerate(pa1k[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa1k[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa1k.columns[2:]:
    for num, i in enumerate(pa1k[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa1k[planets].iloc[num] = Date_ok
        else:
            pa1k[planets].iloc[num] = " "

pa1k

In [ ]:
# PA_100

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

pa100 = output.copy()
pa100.Price = pa100.Price / 100 # <- change here

# Add price to all planets

for i in pa100.columns[2:]:
    pa100[i] = pa100[i] + pa100.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa100.columns[2:]:
    for num, j in enumerate(pa100[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa100[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa100.columns[2:]:
    for num, i in enumerate(pa100[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa100[planets].iloc[num] = Date_ok
        else:
            pa100[planets].iloc[num] = " "

pa100

In [ ]:
# PA_10

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

pa10 = output.copy()
pa10.Price = pa10.Price / 10 # <- change here

# Add price to all planets

for i in pa10.columns[2:]:
    pa10[i] = pa10[i] + pa10.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa10.columns[2:]:
    for num, j in enumerate(pa10[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa10[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa10.columns[2:]:
    for num, i in enumerate(pa10[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa10[planets].iloc[num] = Date_ok
        else:
            pa10[planets].iloc[num] = " "

pa10

In [ ]:
# PA_1

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

pa1 = output.copy()
pa1.Price = pa1.Price / 1 # <- change here

# Add price to all planets

for i in pa1.columns[2:]:
    pa1[i] = pa1[i] + pa1.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa1.columns[2:]:
    for num, j in enumerate(pa1[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa1[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa1.columns[2:]:
    for num, i in enumerate(pa1[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa1[planets].iloc[num] = Date_ok
        else:
            pa1[planets].iloc[num] = " "

pa1

In [ ]:
# PA_24:

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

pa24 = output.copy()
pa24.Price = pa24.Price / 24 # <- change here

# Add price to all planets

for i in pa24.columns[2:]:
    pa24[i] = pa24[i] + pa24.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa24.columns[2:]:
    for num, j in enumerate(pa24[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa24[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa24.columns[2:]:
    for num, i in enumerate(pa24[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa24[planets].iloc[num] = Date_ok
        else:
            pa24[planets].iloc[num] = " "

pa24

In [ ]:
# PA_263:

# Copy price + Initialization of divisions
# (1000,100,10,1,24,etc...)

pa263 = output.copy()
pa263.Price = pa263.Price / 263 # <- change here

# Add price to all planets

for i in pa263.columns[2:]:
    pa263[i] = pa263[i] + pa263.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa263.columns[2:]:
    for num, j in enumerate(pa263[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa263[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa263.columns[2:]:
    for num, i in enumerate(pa263[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa263[planets].iloc[num] = Date_ok
        else:
            pa263[planets].iloc[num] = " "

pa263

In [ ]:
# PA_1440:

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

pa1440 = output.copy()
pa1440.Price = pa1440.Price / 1440 # <- change here

# Add price to all planets

for i in pa1440.columns[2:]:
    pa1440[i] = pa1440[i] + pa1440.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa1440.columns[2:]:
    for num, j in enumerate(pa1440[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa1440[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa1440.columns[2:]:
    for num, i in enumerate(pa1440[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa1440[planets].iloc[num] = Date_ok
        else:
            pa1440[planets].iloc[num] = " "

pa1440

In [ ]:
total_p = pd.concat([pa1k, pa100, pa10, pa1, pa24, pa263, pa1440])
total_p

#### **HIT addP**

In [ ]:
adpod = total_p.copy()
adpod = adpod.drop(['Price'], axis=1)

good = adpod[1:].unstack().value_counts(ascending=True)

good = pd.DataFrame(good, columns=['Hit'])

good = good.reset_index()
good = good.rename_axis('E', axis=1)
good.columns = good.columns.str.replace('index', 'Date')
good = good.rename_axis(None, axis=1)

start_date = "10/08/2022"
end_date = "31/12/2025"

mask = (good['Date'] > start_date) & (good['Date'] <= end_date)
good = good.loc[mask]

# addp_hits.head(50)

good = good.sort_values(by=['Date'], ascending=True)

In [ ]:
good['Date'] = good['Date'].apply(pd.to_datetime)

start_date = "10/08/2022"
end_date = "31/12/2025"

mask = (good['Date'] > start_date) & (good['Date'] <= end_date)
good = good.loc[mask]

# addp_hits.head(50)

good = good.sort_values(by=['Date'], ascending=True)
good

In [ ]:
fig = px.bar(good, x='Date', y='Hit')
fig.show()

# **VII. TrNa.py**

In [ ]:
x = points_na.copy()

x.fillna(0, inplace=True)

x_h = x[x["Type"] == "Helio"]
x_g = x[x["Type"] == "Geo"]

x_h = x_h.drop(['Type'], axis = 1)
x_h = x_h.drop(['Angle'], axis = 1)
x_h = x_h.drop(['Pair'], axis = 1)

x_g = x_g.drop(['Type'], axis = 1)
x_g = x_g.drop(['Angle'], axis = 1)
x_g = x_g.drop(['Pair'], axis = 1)

x_con = pd.concat([x_h, x_g])

x_con['Date'] = pd.to_datetime(x_con['Date'])  

mask = (x_con['Date'] > '08/15/2022') & (x_con['Date'] <= '08-22-2022')

x_hits = x_con.loc[mask]
x_hits = x_hits.sort_values(by=['Date'], ascending = True)

x_hits

In [ ]:
mask = (x_con['Date'] > '08/08/2022') & (x_con['Date'] <= '10-01-2022')

x_hi = x_con.loc[mask]
x_hi = x_hi.sort_values(by=['Date'], ascending = True)

x_hi

In [ ]:
fig = px.bar(x_hi, x='Date', y='Points')
fig.show()

# **VIII. TrTr.py**

In [ ]:
x = points_tr.copy()

x.fillna(0, inplace=True)

x_h = x[x["Type"] == "Helio"]
x_g = x[x["Type"] == "Geo"]

x_h = x_h.drop(['Type'], axis = 1)
x_g = x_g.drop(['Type'], axis = 1)
x_con = pd.concat([x_h, x_g])

x_con['Date'] = pd.to_datetime(x_con['Date'])  

mask = (x_con['Date'] > '08/15/2022') & (x_con['Date'] <= '08-30-2022')
x_hits = x_con.loc[mask]
x_hits = x_hits.sort_values(by=['Date'], ascending = True)
x_trtr = x_hits

x_trtr

In [ ]:
fig = px.bar(x_trtr, x='Date', y='Points')
fig.show()

In [ ]:
#mask = (x_con['Date'] > '08/08/2022') & (x_con['Date'] <= '10-01-2022')

#x_trtr_fig = x_con.loc[mask]
#x_trtr_fig = x_trtr_fig.sort_values(by=['Date'], ascending = True)

#x_trtr_fig

In [ ]:
#fig = px.bar(x_trtr_fig, x='Date', y='Points')
#fig.show()

# **IX. MULT.py**

In [ ]:
m = mult.copy()
m.head(5)

m['Date1'] = d1 = pd.to_datetime(m['Date1'])
m['Date2'] = d2 = pd.to_datetime(m['Date2'])
m['Date1'] = m['Date1'].dt.strftime('%Y/%m/%d')
m['Date2'] = m['Date2'].dt.strftime('%Y/%m/%d')

In [ ]:
# Vectorization Full 618

op618 = (d2 - d1).dt.days.to_numpy().reshape(-1, 1) * (1.618 ** np.arange(1, 11)).reshape(1, -1)
m618 = op618.astype('timedelta64[D]') + d2.to_numpy().reshape(-1, 1) 

m618 = pd.DataFrame(m618, columns=['1', '2', '3', '4', '5','6','7','8','9', '10'])

m618['1'] = m618['1'].dt.strftime('%Y/%m/%d')
m618['2'] = m618['2'].dt.strftime('%Y/%m/%d')
m618['3'] = m618['3'].dt.strftime('%Y/%m/%d')
m618['4'] = m618['4'].dt.strftime('%Y/%m/%d')
m618['5'] = m618['5'].dt.strftime('%Y/%m/%d')
m618['6'] = m618['6'].dt.strftime('%Y/%m/%d')
m618['7'] = m618['7'].dt.strftime('%Y/%m/%d')
m618['8'] = m618['8'].dt.strftime('%Y/%m/%d')
m618['9'] = m618['9'].dt.strftime('%Y/%m/%d')
m618['10'] = m618['10'].dt.strftime('%Y/%m/%d')

m618

In [ ]:
# Vectorization Full 414

op414 = (d2 - d1).dt.days.to_numpy().reshape(-1, 1) * (1.414 ** np.arange(1, 11)).reshape(1, -1)
m414 = op414.astype('timedelta64[D]') + d2.to_numpy().reshape(-1, 1) 

m414 = pd.DataFrame(m414, columns=['1', '2', '3', '4', '5','6','7','8','9', '10'])

m414['1'] = m414['1'].dt.strftime('%Y/%m/%d')
m414['2'] = m414['2'].dt.strftime('%Y/%m/%d')
m414['3'] = m414['3'].dt.strftime('%Y/%m/%d')
m414['4'] = m414['4'].dt.strftime('%Y/%m/%d')
m414['5'] = m414['5'].dt.strftime('%Y/%m/%d')
m414['6'] = m414['6'].dt.strftime('%Y/%m/%d')
m414['7'] = m414['7'].dt.strftime('%Y/%m/%d')
m414['8'] = m414['8'].dt.strftime('%Y/%m/%d')
m414['9'] = m414['9'].dt.strftime('%Y/%m/%d')
m414['10'] = m414['10'].dt.strftime('%Y/%m/%d')

In [ ]:
# Vectorization Full 732

op732 = (d2 - d1).dt.days.to_numpy().reshape(-1, 1) * (1.732 ** np.arange(1, 11)).reshape(1, -1)
m732 = op732.astype('timedelta64[D]') + d2.to_numpy().reshape(-1, 1) 

m732 = pd.DataFrame(m732, columns=['1', '2', '3', '4', '5','6','7','8','9', '10'])

m732['1'] = m732['1'].dt.strftime('%Y/%m/%d')
m732['2'] = m732['2'].dt.strftime('%Y/%m/%d')
m732['3'] = m732['3'].dt.strftime('%Y/%m/%d')
m732['4'] = m732['4'].dt.strftime('%Y/%m/%d')
m732['5'] = m732['5'].dt.strftime('%Y/%m/%d')
m732['6'] = m732['6'].dt.strftime('%Y/%m/%d')
m732['7'] = m732['7'].dt.strftime('%Y/%m/%d')
m732['8'] = m732['8'].dt.strftime('%Y/%m/%d')
m732['9'] = m732['9'].dt.strftime('%Y/%m/%d')
m732['10'] = m732['10'].dt.strftime('%Y/%m/%d')

In [ ]:
multi = pd.concat([m618, m414, m732])

adpod = multi.copy()

good = adpod[1:].unstack().value_counts(ascending=True)

good = pd.DataFrame(good, columns=['Hit'])

good = good.reset_index()
good = good.rename_axis('E', axis=1)
good.columns = good.columns.str.replace('index', 'Date')
good = good.rename_axis(None, axis=1)

start_date = "10/08/2022"
end_date = "31/12/2022"

mask = (good['Date'] > start_date) & (good['Date'] <= end_date)
good = good.loc[mask]

# addp_hits.head(50)

good = good.sort_values(by=['Date'], ascending=True)

good['Date'] = good['Date'].apply(pd.to_datetime)

start_date = "2022/08/16"
end_date = "2022/12/31"

mask = (good['Date'] > start_date) & (good['Date'] <= end_date)
good = good.loc[mask]

# addp_hits.head(50)

mult_hits = good.sort_values(by=['Date'], ascending=True)
mult_hits

In [ ]:
fig = px.bar(mult_hits, x='Date', y='Hit')
fig.show()

In [ ]:
# PANDA VERSION

#from datetime import datetime 

#m618 = m.copy()

#for i, col in enumerate(m618.columns[2:]):
    #df1 = pd.to_datetime(m618['Date1'])
    #df2 = pd.to_datetime(m618['Date2'])
    #m618[col] =  df2 + ((df2 - df1) * (1.618 ** i))

#m618['Date1'] = pd.to_datetime(m618['Date1'])
#m618['Date2'] = pd.to_datetime(m618['Date2'])

#m618['Date1'] = m618['Date1'].dt.strftime('%Y/%m/%d')
#m618['Date2'] = m618['Date2'].dt.strftime('%Y/%m/%d')
#m618['1'] = m618['1'].dt.strftime('%Y/%m/%d')
#m618['2'] = m618['2'].dt.strftime('%Y/%m/%d')
#m618['3'] = m618['3'].dt.strftime('%Y/%m/%d')
#m618['4'] = m618['4'].dt.strftime('%Y/%m/%d')
#m618['5'] = m618['5'].dt.strftime('%Y/%m/%d')
#m618['6'] = m618['6'].dt.strftime('%Y/%m/%d')
#m618['7'] = m618['7'].dt.strftime('%Y/%m/%d')
#m618['8'] = m618['8'].dt.strftime('%Y/%m/%d')
#m618['9'] = m618['9'].dt.strftime('%Y/%m/%d')
#m618['10'] = m618['10'].dt.strftime('%Y/%m/%d')

#m618

# **X. FutureDates.py**

In [ ]:
futdat = FutureDate.copy()
helio_cum = helio_cum.copy()

fdd = pd.DataFrame()

for col in futdat.columns:
    fdd[col] = futdat[col]

    if col not in ("Date", "Price"):
        
        for row, _ in helio_cum.iterrows():
            date = helio_cum["Date"][row]
            dates_list = futdat["Date"].to_list()

            if date in dates_list:
                row_index = dates_list.index(date)
                fdd[col][row_index] = helio_cum[col][row]

fdd

In [ ]:
# FD15

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 15

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd15 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd15.columns[1:]:
    for num, i in enumerate(fd15[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd15[planets].iloc[num] = Date_ok
        else:
            fd15[planets].iloc[num] = " "

fd15

In [ ]:
# FD30

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 30

fd30 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd30.columns[1:]:
    for num, i in enumerate(fd30[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd30[planets].iloc[num] = Date_ok
        else:
            fd30[planets].iloc[num] = " "

fd30

In [ ]:
# FD45

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 45

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd45 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd45.columns[1:]:
    for num, i in enumerate(fd45[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd45[planets].iloc[num] = Date_ok
        else:
            fd45[planets].iloc[num] = " "

fd45

In [ ]:
# FD60

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 60

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd60 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd60.columns[1:]:
    for num, i in enumerate(fd60[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd60[planets].iloc[num] = Date_ok
        else:
            fd60[planets].iloc[num] = " "

fd60

In [ ]:
# FD72

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 72

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd72 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd72.columns[1:]:
    for num, i in enumerate(fd72[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd72[planets].iloc[num] = Date_ok
        else:
            fd72[planets].iloc[num] = " "

fd72

In [ ]:
# FD90

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 90

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd90 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd90.columns[1:]:
    for num, i in enumerate(fd90[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd90[planets].iloc[num] = Date_ok
        else:
            fd90[planets].iloc[num] = " "

fd90

In [ ]:
# FD120

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 120

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd120 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd120.columns[1:]:
    for num, i in enumerate(fd120[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd120[planets].iloc[num] = Date_ok
        else:
            fd120[planets].iloc[num] = " "

fd120

In [ ]:
# FD144

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 144

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd144 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd144.columns[1:]:
    for num, i in enumerate(fd144[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd144[planets].iloc[num] = Date_ok
        else:
            fd144[planets].iloc[num] = " "

fd144

In [ ]:
# FD180

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 180

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd180 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd180.columns[1:]:
    for num, i in enumerate(fd180[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd180[planets].iloc[num] = Date_ok
        else:
            fd180[planets].iloc[num] = " "

fd180

In [ ]:
# FD360

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 360

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd360 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd360.columns[1:]:
    for num, i in enumerate(fd360[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd360[planets].iloc[num] = Date_ok
        else:
            fd360[planets].iloc[num] = " "

fd360

In [ ]:
# FD720

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 720

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd720 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd720.columns[1:]:
    for num, i in enumerate(fd720[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd720[planets].iloc[num] = Date_ok
        else:
            fd720[planets].iloc[num] = " "

fd720

In [ ]:
# FD1080

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 1080

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd1080 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd1080.columns[1:]:
    for num, i in enumerate(fd1080[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd1080[planets].iloc[num] = Date_ok
        else:
            fd1080[planets].iloc[num] = " "

fd1080

In [ ]:
# FD1440

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 1440

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd1440 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd1440.columns[1:]:
    for num, i in enumerate(fd1440[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd1440[planets].iloc[num] = Date_ok
        else:
            fd1440[planets].iloc[num] = " "

fd1440

In [ ]:
# FD1800

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 1800

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd1800 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd1800.columns[1:]:
    for num, i in enumerate(fd1800[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd1800[planets].iloc[num] = Date_ok
        else:
            fd1800[planets].iloc[num] = " "

fd1800

In [ ]:
future_dates = pd.concat([fd15, fd30, fd45, fd60, fd72, fd90, fd120, fd144, fd180, fd360, fd720, fd1080, fd1440, fd1800])

adpod = future_dates.copy()

good = adpod[1:].unstack().value_counts(ascending=True)

good = pd.DataFrame(good, columns=['Hit'])

good = good.reset_index()
good = good.rename_axis('E', axis=1)
good.columns = good.columns.str.replace('index', 'Date')
good = good.rename_axis(None, axis=1)

start_date = "10/08/2022"
end_date = "31/10/2020"

mask = (good['Date'] > start_date) & (good['Date'] <= end_date)
good = good.loc[mask]

# addp_hits.head(50)

good = good.sort_values(by=['Date'], ascending=True)

good['Date'] = good['Date'].apply(pd.to_datetime)

start_date = "05/08/2022"
end_date = "31/12/2022"

mask = (good['Date'] > start_date) & (good['Date'] <= end_date)
good = good.loc[mask]

# addp_hits.head(50)

goodE = good.sort_values(by=['Date'], ascending=True)
goodE

In [ ]:
lathit = lathit.copy()

ex = pd.concat([goodE, lathit])
ex

In [ ]:
fig = px.bar(ex, x='Date', y='Hit')
fig.show()

# **XI. Fibs.py**

In [ ]:
fbb = pd.DataFrame()
helio_cum = helio_cum.copy()
fibs = fibs.copy()

for col in fibs.columns:
    fbb[col] = fibs[col]

    if col not in ("Date"):
        
        for row, _ in helio_cum.iterrows():
            date = helio_cum["Date"][row]
            dates_list = fibs["Date"].to_list()

            if date in dates_list:
                row_index = dates_list.index(date)
                fbb[col][row_index] = helio_cum[col][row]

fbb

In [ ]:
dfs = []

for i in range(len(fbb["Date"]) - 1):
    new_df = fbb.copy()[i:]
    for k in new_df:
        if k == "Date":
            continue
        for j in range(i + 1, len(fbb[k])):
            new_df[k][j] = (float(new_df[k][i]) + ((float(new_df[k][j]) - float(new_df[k][i])) * 1.618))
        new_df[k][i] = 0
    dfs.append(new_df)

for df in dfs:
    print(df)

In [ ]:
test = pd.concat(dfs)
test = test.round()
fbb1 = test.copy()

# for loop to catch which degrees is situated at which date in the future/past

for planets in fbb1.columns[1:]:
    for num, i in enumerate(fbb1[planets]):
        df_copy = helio_cum.round()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fbb1[planets].iloc[num] = Date_ok
        else:
            fbb1[planets].iloc[num] = " "

fbb1

In [ ]:
adpod = fbb1.copy()

good = adpod[1:].unstack().value_counts(ascending=True)

good = pd.DataFrame(good, columns=['Hit'])

good = good.reset_index()
good = good.rename_axis('E', axis=1)
good.columns = good.columns.str.replace('index', 'Date')
good = good.rename_axis(None, axis=1)

start_date = "10/08/2022"
end_date = "31/12/2022"

mask = (good['Date'] > start_date) & (good['Date'] <= end_date)
good = good.loc[mask]

# addp_hits.head(50)

good = good.sort_values(by=['Date'], ascending=True)

good['Date'] = good['Date'].apply(pd.to_datetime)

start_date = "2022/08/16"
end_date = "2022/12/31"

mask = (good['Date'] > start_date) & (good['Date'] <= end_date)
good = good.loc[mask]

# addp_hits.head(50)

goodE = good.sort_values(by=['Date'], ascending=True)
goodE

In [ ]:
fig = px.bar(goodE, x='Date', y='Hit')
fig.show()

# **XII. Retro.py**

*0 = 0 || 1 = True || 2 = Return*

In [ ]:
r_h = retrohits.copy()
r_h = r_h.fillna(0)

r_h['Date'] = pd.to_datetime(r_h['Date'])
r_h['Hit'] = r_h['Merc'] + r_h['Ven'] + r_h['Mar'] + r_h['Jup'] + r_h['Sat'] + r_h['Ura'] + r_h['Nep'] + r_h['Plu']
r_h = r_h.drop(['Merc', 'Ven', 'Mar', 'Jup', 'Sat', 'Ura', 'Nep', 'Plu'], axis=1)

r_h['Date'] = pd.to_datetime(r_h['Date'])  
mask = (r_h['Date'] > '08/15/2022') & (r_h['Date'] <= '12-31-2022')
rh_hits = r_h.loc[mask]
rh_hits = rh_hits.sort_values(by=['Date'], ascending = True)

rh_hits

In [ ]:
fig = px.bar(rh_hits, x='Date', y='Hit')
fig.show()

# **XIII. PriceTime.py**

In [ ]:
from datetime import datetime

p_t = nega.copy()

p_t['Date'] = d = pd.to_datetime(p_t['Date'])
p_t['Date'] = p_t['Date'].dt.strftime('%Y/%m/%d')

twoday = datetime.strftime(datetime.now(), "%Y/%m/%d")
t = pd.to_datetime(twoday)

p_t['Elapsed'] = t - d
p_t['Elapsed'] = p_t['Elapsed'].dt.days.to_numpy()

p_t['Sqrt'] = p_t['Elapsed'] ** (1/2)
p_t['Sqrt'] = p_t['Sqrt'].round(2)
sq = p_t['Sqrt']

In [ ]:
op13 = (((sq / 13).to_numpy().reshape(-1, 1) + (np.arange(1, 22)).reshape(1, -1)) ** 2)
pt13 = op13.astype('timedelta64[D]') + d.to_numpy().reshape(-1, 1)

pt13 = pd.DataFrame(pt13, columns=['1', '2', '3', '4', '5','6','7','8','9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21'])
pt13['1'] = pt13['1'].dt.strftime('%Y/%m/%d')
pt13['2'] = pt13['2'].dt.strftime('%Y/%m/%d')
pt13['3'] = pt13['3'].dt.strftime('%Y/%m/%d')
pt13['4'] = pt13['4'].dt.strftime('%Y/%m/%d')
pt13['5'] = pt13['5'].dt.strftime('%Y/%m/%d')
pt13['6'] = pt13['6'].dt.strftime('%Y/%m/%d')
pt13['7'] = pt13['7'].dt.strftime('%Y/%m/%d')
pt13['8'] = pt13['8'].dt.strftime('%Y/%m/%d')
pt13['9'] = pt13['9'].dt.strftime('%Y/%m/%d')
pt13['10'] = pt13['10'].dt.strftime('%Y/%m/%d')
pt13['11'] = pt13['11'].dt.strftime('%Y/%m/%d')
pt13['12'] = pt13['12'].dt.strftime('%Y/%m/%d')
pt13['13'] = pt13['13'].dt.strftime('%Y/%m/%d')
pt13['14'] = pt13['14'].dt.strftime('%Y/%m/%d')
pt13['15'] = pt13['15'].dt.strftime('%Y/%m/%d')
pt13['16'] = pt13['16'].dt.strftime('%Y/%m/%d')
pt13['17'] = pt13['17'].dt.strftime('%Y/%m/%d')
pt13['18'] = pt13['18'].dt.strftime('%Y/%m/%d')
pt13['19'] = pt13['19'].dt.strftime('%Y/%m/%d')
pt13['20'] = pt13['20'].dt.strftime('%Y/%m/%d')
pt13['21'] = pt13['21'].dt.strftime('%Y/%m/%d')

pt13

In [ ]:
op21 = (((sq / 21).to_numpy().reshape(-1, 1) + (np.arange(1, 22)).reshape(1, -1)) ** 2)
pt21 = op21.astype('timedelta64[D]') + d.to_numpy().reshape(-1, 1)

pt21 = pd.DataFrame(pt21, columns=['1', '2', '3', '4', '5','6','7','8','9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21'])
pt21['1'] = pt21['1'].dt.strftime('%Y/%m/%d')
pt21['2'] = pt21['2'].dt.strftime('%Y/%m/%d')
pt21['3'] = pt21['3'].dt.strftime('%Y/%m/%d')
pt21['4'] = pt21['4'].dt.strftime('%Y/%m/%d')
pt21['5'] = pt21['5'].dt.strftime('%Y/%m/%d')
pt21['6'] = pt21['6'].dt.strftime('%Y/%m/%d')
pt21['7'] = pt21['7'].dt.strftime('%Y/%m/%d')
pt21['8'] = pt21['8'].dt.strftime('%Y/%m/%d')
pt21['9'] = pt21['9'].dt.strftime('%Y/%m/%d')
pt21['10'] = pt21['10'].dt.strftime('%Y/%m/%d')
pt21['11'] = pt21['11'].dt.strftime('%Y/%m/%d')
pt21['12'] = pt21['12'].dt.strftime('%Y/%m/%d')
pt21['13'] = pt21['13'].dt.strftime('%Y/%m/%d')
pt21['14'] = pt21['14'].dt.strftime('%Y/%m/%d')
pt21['15'] = pt21['15'].dt.strftime('%Y/%m/%d')
pt21['16'] = pt21['16'].dt.strftime('%Y/%m/%d')
pt21['17'] = pt21['17'].dt.strftime('%Y/%m/%d')
pt21['18'] = pt21['18'].dt.strftime('%Y/%m/%d')
pt21['19'] = pt21['19'].dt.strftime('%Y/%m/%d')
pt21['20'] = pt21['20'].dt.strftime('%Y/%m/%d')
pt21['21'] = pt21['21'].dt.strftime('%Y/%m/%d')

In [ ]:
op34 = (((sq / 34).to_numpy().reshape(-1, 1) + (np.arange(1, 22)).reshape(1, -1)) ** 2)
pt34 = op34.astype('timedelta64[D]') + d.to_numpy().reshape(-1, 1)

pt34 = pd.DataFrame(pt34, columns=['1', '2', '3', '4', '5','6','7','8','9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21'])
pt34['1'] = pt34['1'].dt.strftime('%Y/%m/%d')
pt34['2'] = pt34['2'].dt.strftime('%Y/%m/%d')
pt34['3'] = pt34['3'].dt.strftime('%Y/%m/%d')
pt34['4'] = pt34['4'].dt.strftime('%Y/%m/%d')
pt34['5'] = pt34['5'].dt.strftime('%Y/%m/%d')
pt34['6'] = pt34['6'].dt.strftime('%Y/%m/%d')
pt34['7'] = pt34['7'].dt.strftime('%Y/%m/%d')
pt34['8'] = pt34['8'].dt.strftime('%Y/%m/%d')
pt34['9'] = pt34['9'].dt.strftime('%Y/%m/%d')
pt34['10'] = pt34['10'].dt.strftime('%Y/%m/%d')
pt34['11'] = pt34['11'].dt.strftime('%Y/%m/%d')
pt34['12'] = pt34['12'].dt.strftime('%Y/%m/%d')
pt34['13'] = pt34['13'].dt.strftime('%Y/%m/%d')
pt34['14'] = pt34['14'].dt.strftime('%Y/%m/%d')
pt34['15'] = pt34['15'].dt.strftime('%Y/%m/%d')
pt34['16'] = pt34['16'].dt.strftime('%Y/%m/%d')
pt34['17'] = pt34['17'].dt.strftime('%Y/%m/%d')
pt34['18'] = pt34['18'].dt.strftime('%Y/%m/%d')
pt34['19'] = pt34['19'].dt.strftime('%Y/%m/%d')
pt34['20'] = pt34['20'].dt.strftime('%Y/%m/%d')
pt34['21'] = pt34['21'].dt.strftime('%Y/%m/%d')

In [ ]:
op55 = (((sq / 55).to_numpy().reshape(-1, 1) + (np.arange(1, 22)).reshape(1, -1)) ** 2)
pt55 = op55.astype('timedelta64[D]') + d.to_numpy().reshape(-1, 1)

pt55 = pd.DataFrame(pt55, columns=['1', '2', '3', '4', '5','6','7','8','9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21'])
pt55['1'] = pt55['1'].dt.strftime('%Y/%m/%d')
pt55['2'] = pt55['2'].dt.strftime('%Y/%m/%d')
pt55['3'] = pt55['3'].dt.strftime('%Y/%m/%d')
pt55['4'] = pt55['4'].dt.strftime('%Y/%m/%d')
pt55['5'] = pt55['5'].dt.strftime('%Y/%m/%d')
pt55['6'] = pt55['6'].dt.strftime('%Y/%m/%d')
pt55['7'] = pt55['7'].dt.strftime('%Y/%m/%d')
pt55['8'] = pt55['8'].dt.strftime('%Y/%m/%d')
pt55['9'] = pt55['9'].dt.strftime('%Y/%m/%d')
pt55['10'] = pt55['10'].dt.strftime('%Y/%m/%d')
pt55['11'] = pt55['11'].dt.strftime('%Y/%m/%d')
pt55['12'] = pt55['12'].dt.strftime('%Y/%m/%d')
pt55['13'] = pt55['13'].dt.strftime('%Y/%m/%d')
pt55['14'] = pt55['14'].dt.strftime('%Y/%m/%d')
pt55['15'] = pt55['15'].dt.strftime('%Y/%m/%d')
pt55['16'] = pt55['16'].dt.strftime('%Y/%m/%d')
pt55['17'] = pt55['17'].dt.strftime('%Y/%m/%d')
pt55['18'] = pt55['18'].dt.strftime('%Y/%m/%d')
pt55['19'] = pt55['19'].dt.strftime('%Y/%m/%d')
pt55['20'] = pt55['20'].dt.strftime('%Y/%m/%d')
pt55['21'] = pt55['21'].dt.strftime('%Y/%m/%d')

In [ ]:
op89 = (((sq / 89).to_numpy().reshape(-1, 1) + (np.arange(1, 22)).reshape(1, -1)) ** 2)
pt89 = op89.astype('timedelta64[D]') + d.to_numpy().reshape(-1, 1)

pt89 = pd.DataFrame(pt89, columns=['1', '2', '3', '4', '5','6','7','8','9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21'])
pt89['1'] = pt89['1'].dt.strftime('%Y/%m/%d')
pt89['2'] = pt89['2'].dt.strftime('%Y/%m/%d')
pt89['3'] = pt89['3'].dt.strftime('%Y/%m/%d')
pt89['4'] = pt89['4'].dt.strftime('%Y/%m/%d')
pt89['5'] = pt89['5'].dt.strftime('%Y/%m/%d')
pt89['6'] = pt89['6'].dt.strftime('%Y/%m/%d')
pt89['7'] = pt89['7'].dt.strftime('%Y/%m/%d')
pt89['8'] = pt89['8'].dt.strftime('%Y/%m/%d')
pt89['9'] = pt89['9'].dt.strftime('%Y/%m/%d')
pt89['10'] = pt89['10'].dt.strftime('%Y/%m/%d')
pt89['11'] = pt89['11'].dt.strftime('%Y/%m/%d')
pt89['12'] = pt89['12'].dt.strftime('%Y/%m/%d')
pt89['13'] = pt89['13'].dt.strftime('%Y/%m/%d')
pt89['14'] = pt89['14'].dt.strftime('%Y/%m/%d')
pt89['15'] = pt89['15'].dt.strftime('%Y/%m/%d')
pt89['16'] = pt89['16'].dt.strftime('%Y/%m/%d')
pt89['17'] = pt89['17'].dt.strftime('%Y/%m/%d')
pt89['18'] = pt89['18'].dt.strftime('%Y/%m/%d')
pt89['19'] = pt89['19'].dt.strftime('%Y/%m/%d')
pt89['20'] = pt89['20'].dt.strftime('%Y/%m/%d')
pt89['21'] = pt89['21'].dt.strftime('%Y/%m/%d')

In [ ]:
pt_hits = pd.concat([pt13, pt21, pt34, pt55, pt89])

adpod = pt_hits.copy()

good = adpod[1:].unstack().value_counts(ascending=True)

good = pd.DataFrame(good, columns=['Hit'])

good = good.reset_index()
good = good.rename_axis('E', axis=1)
good.columns = good.columns.str.replace('index', 'Date')
good = good.rename_axis(None, axis=1)

start_date = "10/08/2022"
end_date = "31/12/2022"

mask = (good['Date'] > start_date) & (good['Date'] <= end_date)
good = good.loc[mask]

# addp_hits.head(50)

good = good.sort_values(by=['Date'], ascending=True)

good['Date'] = good['Date'].apply(pd.to_datetime)

start_date = "2022/08/20"
end_date = "2022/12/31"

mask = (good['Date'] > start_date) & (good['Date'] <= end_date)
good = good.loc[mask]

# addp_hits.head(50)

pt_hit = good.sort_values(by=['Date'], ascending=True)
pt_hit

In [ ]:
fig = px.bar(pt_hit, x='Date', y='Hit')
fig.show()

# **FINAL CHART.py**

In [ ]:
c = fluchart.copy()

fig = px.bar(c, x='Date', y='EP',
             hover_data=['Date', 'EP'], color='EP', color_continuous_scale=px.colors.sequential.Teal,
             height=618)
             
fig.update_traces(width=1)
fig.show()