# **I. LIBRAIRIES & DATA**

In [1]:
# Libraries

import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import date
from datetime import datetime
import os

In [ ]:
# Retrieve the path to the current folders
current_path = os.getcwd() 

# Get the path to the csv file folder - in this case the 'data' file
csv_path = os.path.join(current_path, 'data') 

# Retrieve all csv files
all_csvs = os.listdir(csv_path) 

# Get the path to the location of each csv file
all_files = [os.path.join(csv_path, csv_file) for csv_file in all_csvs] 

# Allows you to import all csv files, each in a respective dataframe
all_dataframes = [] # Put the df in the form of a list

# Using this for loop and the zip function we iterate over all the csvs in the data
# The split method allows you to remove the ".csv", and it returns a list containing the following elements: ['the name of the excel file', '.csv']
# Thus, file[0] represents the name of the excel file since it is the first element in our tuple ['the name of the excel file', '.csv']

# ->>>>> WE SEARCH TO assigns each csv file name to its respective DF, e.g. helio.csv = helio (df) <<<<<-

for file in zip(all_files, all_csvs): 

    exchange_value = file[1].split('.')[0]
    df = pd.read_csv(file[0]) 
    df = df.assign(Exchange=exchange_value) 
        all_dataframes.append(df)

In [2]:
# HELIO
# IMPORT OF .CSV + SET_INDEX DATE

helio = pd.read_csv(r"C:/Users/PEGON/Desktop/mémoire/astro_data_python/helio/helio.csv", sep=";", header=0, low_memory=False)

# helio_cum

test = pd.read_csv(r"C:/Users/PEGON/Desktop/mémoire/astro_data_python/helio/helio_cum.csv", header=0,delimiter=';', low_memory=False)

helio_asp = pd.read_csv(r"C:/Users/PEGON/Desktop/mémoire/astro_data_python/helio/helio_asp.csv", sep=";", header=0, low_memory=False)

helio_asp_cum = pd.read_csv(r"C:/Users/PEGON/Desktop/mémoire/astro_data_python/helio/helio_asp_cum.csv", sep=";", header=0, low_memory=False)

In [3]:
# GEO
# IMPORT OF .CSV + SET_INDEX DATE

geo = pd.read_csv(r"C:/Users/PEGON/Desktop/mémoire/astro_data_python/geo/geo.csv", sep=";", header=0, low_memory=False)

geo_cum = pd.read_csv(r"C:/Users/PEGON/Desktop/mémoire/astro_data_python/geo/geo_cum.csv", sep=";", header=0, low_memory=False)

geo_asp = pd.read_csv(r"C:/Users/PEGON/Desktop/mémoire/astro_data_python/geo/geo_asp_good.csv", sep=";", header=0, low_memory=False)

geo_asp_cum = pd.read_csv(r"C:/Users/PEGON/Desktop/mémoire/astro_data_python/geo/geo_asp_cum_good.csv", sep=";", header=0, low_memory=False)

In [4]:
# OTHERS
# IMPORT OF .CSV DATA FILE + SET_INDEX DATE

declinations = pd.read_csv(r"C:/Users/PEGON/Desktop/mémoire/astro_data_python/others/declinations.csv", sep=";", header=0, low_memory=False)

lat_moon_changes = pd.read_csv(r"C:/Users/PEGON/Desktop/mémoire/astro_data_python/others/lat_moon_changes.csv", sep=";", header=0, low_memory=False)

latitudes = pd.read_csv(r"C:/Users/PEGON/Desktop/mémoire/astro_data_python/others/latitudes.csv", sep=";", header=0, low_memory=False)

moon = pd.read_csv(r"C:/Users/PEGON/Desktop/mémoire/astro_data_python/others/Moon.csv", sep=";", header=0, low_memory=False)

planet_node = pd.read_csv(r"C:/Users/PEGON/Desktop/mémoire/astro_data_python/others/planet_node.csv", sep=";", header=0, low_memory=False)

samedec_samelat = pd.read_csv(r"C:/Users/PEGON/Desktop/mémoire/astro_data_python/others/samedec_samelat.csv", sep=";", header=0, low_memory=False)

# **II. MAIN TABLE**

# **II.1 HELIO**

## **II.1.1 CUMULATIVE HELIO**

In [5]:
today = datetime.strftime(datetime.now(), "%d/%m/%Y")

result = helio[helio.Date == today]
result

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
31348,02/08/2022,310.03,192.54,77.37,2.9,358.61,321.51,45.8,353.74,297.42

In [6]:
# cumulative_WP

selected_date = '31/10/2008'

cumulative_1 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': test['Earth'][test.Date == today].values
                                       - test['Earth'][test.Date == selected_date].values,

                                       'Mer': test['Mer'][test.Date == today].values
                                       - test['Mer'][test.Date == selected_date].values,
                                       
                                       'Ven': test['Ven'][test.Date == today].values
                                       - test['Ven'][test.Date == selected_date].values,

                                       'Mar': test['Mar'][test.Date == today].values
                                       - test['Mar'][test.Date == selected_date].values,

                                       'Jup': test['Jup'][test.Date == today].values
                                       - test['Jup'][test.Date == selected_date].values,
                                       
                                       'Sat': test['Sat'][test.Date == today].values
                                       - test['Sat'][test.Date == selected_date].values,

                                       'Ura': test['Ura'][test.Date == today].values
                                       - test['Ura'][test.Date == selected_date].values,

                                       'Nep': test['Nep'][test.Date == today].values
                                       - test['Nep'][test.Date == selected_date].values,
                                       
                                       'Plu': test['Plu'][test.Date == today].values
                                       - test['Plu'][test.Date == selected_date].values,

                                       })

cumulative_1 = round(cumulative_1)
cumulative_1

         Date   Earth      Mer     Ven     Mar    Jup    Sat   Ura   Nep   Plu
0  31/10/2008  4952.0  20557.0  8047.0  2648.0  422.0  158.0  55.0  30.0  27.0

In [7]:
# cumulative_GN

selected_date = '03/01/2009'

cumulative_2 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': test['Earth'][test.Date == today].values
                                       - test['Earth'][test.Date == selected_date].values,

                                       'Mer': test['Mer'][test.Date == today].values
                                       - test['Mer'][test.Date == selected_date].values,
                                       
                                       'Ven': test['Ven'][test.Date == today].values
                                       - test['Ven'][test.Date == selected_date].values,

                                       'Mar': test['Mar'][test.Date == today].values
                                       - test['Mar'][test.Date == selected_date].values,

                                       'Jup': test['Jup'][test.Date == today].values
                                       - test['Jup'][test.Date == selected_date].values,
                                       
                                       'Sat': test['Sat'][test.Date == today].values
                                       - test['Sat'][test.Date == selected_date].values,

                                       'Ura': test['Ura'][test.Date == today].values
                                       - test['Ura'][test.Date == selected_date].values,

                                       'Nep': test['Nep'][test.Date == today].values
                                       - test['Nep'][test.Date == selected_date].values,
                                       
                                       'Plu': test['Plu'][test.Date == today].values
                                       - test['Plu'][test.Date == selected_date].values,

                                       })
                                       
cumulative_2 = round(cumulative_2)
cumulative_2

         Date   Earth      Mer     Ven     Mar    Jup    Sat   Ura   Nep   Plu
0  03/01/2009  4887.0  20336.0  7945.0  2613.0  416.0  155.0  54.0  30.0  26.0

In [8]:
# cumulative_PD

selected_date = '22/05/2010'

cumulative_3 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': test['Earth'][test.Date == today].values
                                       - test['Earth'][test.Date == selected_date].values,

                                       'Mer': test['Mer'][test.Date == today].values
                                       - test['Mer'][test.Date == selected_date].values,
                                       
                                       'Ven': test['Ven'][test.Date == today].values
                                       - test['Ven'][test.Date == selected_date].values,

                                       'Mar': test['Mar'][test.Date == today].values
                                       - test['Mar'][test.Date == selected_date].values,

                                       'Jup': test['Jup'][test.Date == today].values
                                       - test['Jup'][test.Date == selected_date].values,
                                       
                                       'Sat': test['Sat'][test.Date == today].values
                                       - test['Sat'][test.Date == selected_date].values,

                                       'Ura': test['Ura'][test.Date == today].values
                                       - test['Ura'][test.Date == selected_date].values,

                                       'Nep': test['Nep'][test.Date == today].values
                                       - test['Nep'][test.Date == selected_date].values,
                                       
                                       'Plu': test['Plu'][test.Date == today].values
                                       - test['Plu'][test.Date == selected_date].values,
                                       
                                       })
                                       
cumulative_3 = round(cumulative_3)
cumulative_3

         Date   Earth      Mer     Ven     Mar    Jup    Sat   Ura   Nep   Plu
0  22/05/2010  4389.0  18267.0  7137.0  2344.0  371.0  138.0  49.0  27.0  24.0

In [9]:
# 29/11/2019

selected_date = '29/11/2013'

cumulative_4 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': test['Earth'][test.Date == today].values
                                       - test['Earth'][test.Date == selected_date].values,

                                       'Mer': test['Mer'][test.Date == today].values
                                       - test['Mer'][test.Date == selected_date].values,
                                       
                                       'Ven': test['Ven'][test.Date == today].values
                                       - test['Ven'][test.Date == selected_date].values,

                                       'Mar': test['Mar'][test.Date == today].values
                                       - test['Mar'][test.Date == selected_date].values,

                                       'Jup': test['Jup'][test.Date == today].values
                                       - test['Jup'][test.Date == selected_date].values,
                                       
                                       'Sat': test['Sat'][test.Date == today].values
                                       - test['Sat'][test.Date == selected_date].values,

                                       'Ura': test['Ura'][test.Date == today].values
                                       - test['Ura'][test.Date == selected_date].values,

                                       'Nep': test['Nep'][test.Date == today].values
                                       - test['Nep'][test.Date == selected_date].values,
                                       
                                       'Plu': test['Plu'][test.Date == today].values
                                       - test['Plu'][test.Date == selected_date].values,

                                       })
                                       
cumulative_4  = round(cumulative_4)
cumulative_4

         Date   Earth      Mer     Ven     Mar    Jup   Sat   Ura   Nep   Plu
0  29/11/2013  3123.0  12964.0  5076.0  1662.0  256.0  97.0  35.0  19.0  16.0

In [10]:
# Cumul. since 17/12/2017

selected_date = '17/12/2017'

cumulative_6 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': test['Earth'][test.Date == today].values
                                       - test['Earth'][test.Date == selected_date].values,

                                       'Mer': test['Mer'][test.Date == today].values
                                       - test['Mer'][test.Date == selected_date].values,
                                       
                                       'Ven': test['Ven'][test.Date == today].values
                                       - test['Ven'][test.Date == selected_date].values,

                                       'Mar': test['Mar'][test.Date == today].values
                                       - test['Mar'][test.Date == selected_date].values,

                                       'Jup': test['Jup'][test.Date == today].values
                                       - test['Jup'][test.Date == selected_date].values,
                                       
                                       'Sat': test['Sat'][test.Date == today].values
                                       - test['Sat'][test.Date == selected_date].values,

                                       'Ura': test['Ura'][test.Date == today].values
                                       - test['Ura'][test.Date == selected_date].values,

                                       'Nep': test['Nep'][test.Date == today].values
                                       - test['Nep'][test.Date == selected_date].values,
                                       
                                       'Plu': test['Plu'][test.Date == today].values
                                       - test['Plu'][test.Date == selected_date].values,

                                       })
                                       
cumulative_6 = round(cumulative_6)
cumulative_6

         Date   Earth     Mer     Ven    Mar    Jup   Sat   Ura   Nep  Plu
0  17/12/2017  1664.0  6925.0  2705.0  895.0  141.0  51.0  19.0  10.0  8.0

In [11]:
# Cumul. since 15/12/2018

selected_date = '15/12/2018'

cumulative_7 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': test['Earth'][test.Date == today].values
                                       - test['Earth'][test.Date == selected_date].values,

                                       'Mer': test['Mer'][test.Date == today].values
                                       - test['Mer'][test.Date == selected_date].values,
                                       
                                       'Ven': test['Ven'][test.Date == today].values
                                       - test['Ven'][test.Date == selected_date].values,

                                       'Mar': test['Mar'][test.Date == today].values
                                       - test['Mar'][test.Date == selected_date].values,

                                       'Jup': test['Jup'][test.Date == today].values
                                       - test['Jup'][test.Date == selected_date].values,
                                       
                                       'Sat': test['Sat'][test.Date == today].values
                                       - test['Sat'][test.Date == selected_date].values,

                                       'Ura': test['Ura'][test.Date == today].values
                                       - test['Ura'][test.Date == selected_date].values,

                                       'Nep': test['Nep'][test.Date == today].values
                                       - test['Nep'][test.Date == selected_date].values,
                                       
                                       'Plu': test['Plu'][test.Date == today].values
                                       - test['Plu'][test.Date == selected_date].values,

                                       })
                                       
cumulative_7  = round(cumulative_7)
cumulative_7

         Date   Earth     Mer     Ven    Mar    Jup   Sat   Ura  Nep  Plu
0  15/12/2018  1307.0  5426.0  2124.0  691.0  113.0  41.0  15.0  8.0  7.0

In [12]:
# Cumul. since 26/06/2019

selected_date = '26/06/2019'

cumulative_8 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': test['Earth'][test.Date == today].values
                                       - test['Earth'][test.Date == selected_date].values,

                                       'Mer': test['Mer'][test.Date == today].values
                                       - test['Mer'][test.Date == selected_date].values,
                                       
                                       'Ven': test['Ven'][test.Date == today].values
                                       - test['Ven'][test.Date == selected_date].values,

                                       'Mar': test['Mar'][test.Date == today].values
                                       - test['Mar'][test.Date == selected_date].values,

                                       'Jup': test['Jup'][test.Date == today].values
                                       - test['Jup'][test.Date == selected_date].values,
                                       
                                       'Sat': test['Sat'][test.Date == today].values
                                       - test['Sat'][test.Date == selected_date].values,

                                       'Ura': test['Ura'][test.Date == today].values
                                       - test['Ura'][test.Date == selected_date].values,

                                       'Nep': test['Nep'][test.Date == today].values
                                       - test['Nep'][test.Date == selected_date].values,
                                       
                                       'Plu': test['Plu'][test.Date == today].values
                                       - test['Plu'][test.Date == selected_date].values,

                                       })
                                       
cumulative_8 = round(cumulative_8)
cumulative_8

         Date   Earth     Mer     Ven    Mar   Jup   Sat   Ura  Nep  Plu
0  26/06/2019  1116.0  4646.0  1815.0  593.0  98.0  35.0  13.0  7.0  6.0

In [13]:
# Cumul. since 12/03/2020

selected_date = '12/03/2020'

cumulative_9 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': test['Earth'][test.Date == today].values
                                       - test['Earth'][test.Date == selected_date].values,

                                       'Mer': test['Mer'][test.Date == today].values
                                       - test['Mer'][test.Date == selected_date].values,
                                       
                                       'Ven': test['Ven'][test.Date == today].values
                                       - test['Ven'][test.Date == selected_date].values,

                                       'Mar': test['Mar'][test.Date == today].values
                                       - test['Mar'][test.Date == selected_date].values,

                                       'Jup': test['Jup'][test.Date == today].values
                                       - test['Jup'][test.Date == selected_date].values,
                                       
                                       'Sat': test['Sat'][test.Date == today].values
                                       - test['Sat'][test.Date == selected_date].values,

                                       'Ura': test['Ura'][test.Date == today].values
                                       - test['Ura'][test.Date == selected_date].values,

                                       'Nep': test['Nep'][test.Date == today].values
                                       - test['Nep'][test.Date == selected_date].values,
                                       
                                       'Plu': test['Plu'][test.Date == today].values
                                       - test['Plu'][test.Date == selected_date].values,

                                       })
                                       
cumulative_9 = round(cumulative_9)
cumulative_9

         Date  Earth     Mer     Ven    Mar   Jup   Sat   Ura  Nep  Plu
0  12/03/2020  858.0  3578.0  1398.0  473.0  77.0  27.0  10.0  5.0  4.0

In [14]:
# Cumul. since 25/04/2021

selected_date = '25/04/2021'

cumulative_10 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': test['Earth'][test.Date == today].values
                                       - test['Earth'][test.Date == selected_date].values,

                                       'Mer': test['Mer'][test.Date == today].values
                                       - test['Mer'][test.Date == selected_date].values,
                                       
                                       'Ven': test['Ven'][test.Date == today].values
                                       - test['Ven'][test.Date == selected_date].values,

                                       'Mar': test['Mar'][test.Date == today].values
                                       - test['Mar'][test.Date == selected_date].values,

                                       'Jup': test['Jup'][test.Date == today].values
                                       - test['Jup'][test.Date == selected_date].values,
                                       
                                       'Sat': test['Sat'][test.Date == today].values
                                       - test['Sat'][test.Date == selected_date].values,

                                       'Ura': test['Ura'][test.Date == today].values
                                       - test['Ura'][test.Date == selected_date].values,

                                       'Nep': test['Nep'][test.Date == today].values
                                       - test['Nep'][test.Date == selected_date].values,
                                       
                                       'Plu': test['Plu'][test.Date == today].values
                                       - test['Plu'][test.Date == selected_date].values,

                                       })
                                       

cumulative_10

         Date   Earth      Mer     Ven    Mar    Jup    Sat   Ura   Nep   Plu
0  25/04/2021  454.69  1925.82  743.51  241.2  41.71  14.37  5.17  2.83  2.28

In [15]:
# Cumul. since 20/07/2021

selected_date = '20/07/2021'

cumulative_11 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': test['Earth'][test.Date == today].values
                                       - test['Earth'][test.Date == selected_date].values,

                                       'Mer': test['Mer'][test.Date == today].values
                                       - test['Mer'][test.Date == selected_date].values,
                                       
                                       'Ven': test['Ven'][test.Date == today].values
                                       - test['Ven'][test.Date == selected_date].values,

                                       'Mar': test['Mar'][test.Date == today].values
                                       - test['Mar'][test.Date == selected_date].values,

                                       'Jup': test['Jup'][test.Date == today].values
                                       - test['Jup'][test.Date == selected_date].values,
                                       
                                       'Sat': test['Sat'][test.Date == today].values
                                       - test['Sat'][test.Date == selected_date].values,

                                       'Ura': test['Ura'][test.Date == today].values
                                       - test['Ura'][test.Date == selected_date].values,

                                       'Nep': test['Nep'][test.Date == today].values
                                       - test['Nep'][test.Date == selected_date].values,
                                       
                                       'Plu': test['Plu'][test.Date == today].values
                                       - test['Plu'][test.Date == selected_date].values,

                                       })
                                       
cumulative_11

         Date   Earth      Mer     Ven     Mar    Jup    Sat   Ura  Nep   Plu
0  20/07/2021  372.19  1578.03  604.28  203.22  34.11  11.73  4.22  2.3  1.85

In [16]:
# Cumul. since 20/10/2021

selected_date = '20/10/2021'

cumulative_12 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': test['Earth'][test.Date == today].values
                                       - test['Earth'][test.Date == selected_date].values,

                                       'Mer': test['Mer'][test.Date == today].values
                                       - test['Mer'][test.Date == selected_date].values,
                                       
                                       'Ven': test['Ven'][test.Date == today].values
                                       - test['Ven'][test.Date == selected_date].values,

                                       'Mar': test['Mar'][test.Date == today].values
                                       - test['Mar'][test.Date == selected_date].values,

                                       'Jup': test['Jup'][test.Date == today].values
                                       - test['Jup'][test.Date == selected_date].values,
                                       
                                       'Sat': test['Sat'][test.Date == today].values
                                       - test['Sat'][test.Date == selected_date].values,

                                       'Ura': test['Ura'][test.Date == today].values
                                       - test['Ura'][test.Date == selected_date].values,

                                       'Nep': test['Nep'][test.Date == today].values
                                       - test['Nep'][test.Date == selected_date].values,
                                       
                                       'Plu': test['Plu'][test.Date == today].values
                                       - test['Plu'][test.Date == selected_date].values,

                                       })
                                       
cumulative_12

         Date   Earth      Mer     Ven     Mar    Jup   Sat  Ura   Nep  Plu
0  20/10/2021  282.88  1192.82  457.96  162.21  25.91  8.89  3.2  1.74  1.4

In [17]:
# Cumul. since 10/11/2021

selected_date = '10/11/2021'

cumulative_13 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': test['Earth'][test.Date == today].values
                                       - test['Earth'][test.Date == selected_date].values,

                                       'Mer': test['Mer'][test.Date == today].values
                                       - test['Mer'][test.Date == selected_date].values,
                                       
                                       'Ven': test['Ven'][test.Date == today].values
                                       - test['Ven'][test.Date == selected_date].values,

                                       'Mar': test['Mar'][test.Date == today].values
                                       - test['Mar'][test.Date == selected_date].values,

                                       'Jup': test['Jup'][test.Date == today].values
                                       - test['Jup'][test.Date == selected_date].values,
                                       
                                       'Sat': test['Sat'][test.Date == today].values
                                       - test['Sat'][test.Date == selected_date].values,

                                       'Ura': test['Ura'][test.Date == today].values
                                       - test['Ura'][test.Date == selected_date].values,

                                       'Nep': test['Nep'][test.Date == today].values
                                       - test['Nep'][test.Date == selected_date].values,
                                       
                                       'Plu': test['Plu'][test.Date == today].values
                                       - test['Plu'][test.Date == selected_date].values,

                                       })
                                       
cumulative_13

         Date   Earth      Mer     Ven     Mar    Jup   Sat   Ura   Nep  Plu
0  10/11/2021  261.89  1084.05  424.59  152.38  24.03  8.24  2.96  1.61  1.3

In [18]:
# Cumul. since 18/06/2022

selected_date = '18/06/2022'

cumulative_14 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': test['Earth'][test.Date == today].values
                                       - test['Earth'][test.Date == selected_date].values,

                                       'Mer': test['Mer'][test.Date == today].values
                                       - test['Mer'][test.Date == selected_date].values,
                                       
                                       'Ven': test['Ven'][test.Date == today].values
                                       - test['Ven'][test.Date == selected_date].values,

                                       'Mar': test['Mar'][test.Date == today].values
                                       - test['Mar'][test.Date == selected_date].values,

                                       'Jup': test['Jup'][test.Date == today].values
                                       - test['Jup'][test.Date == selected_date].values,
                                       
                                       'Sat': test['Sat'][test.Date == today].values
                                       - test['Sat'][test.Date == selected_date].values,

                                       'Ura': test['Ura'][test.Date == today].values
                                       - test['Ura'][test.Date == selected_date].values,

                                       'Nep': test['Nep'][test.Date == today].values
                                       - test['Nep'][test.Date == selected_date].values,
                                       
                                       'Plu': test['Plu'][test.Date == today].values
                                       - test['Plu'][test.Date == selected_date].values,

                                       })
                                       
cumulative_14

         Date  Earth     Mer    Ven    Mar  Jup   Sat   Ura   Nep   Plu
0  18/06/2022  42.94  229.77  72.07  28.42  4.1  1.41  0.51  0.27  0.22

## **II.1.2 MOD30 & 360**

In [19]:
today = datetime.strftime(datetime.now(), "%d/%m/%Y")

result = helio[helio.Date == today]
result

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
31348,02/08/2022,310.03,192.54,77.37,2.9,358.61,321.51,45.8,353.74,297.42

#### **MOD30**

In [20]:
# mod30 (donne qu'elle signe il est)

mod = pd.DataFrame({'Date': [today],

                                       'Earth': helio['Earth'][helio.Date == today].values
                                       % 30,

                                       'Mer': helio['Mer'][helio.Date == today].values
                                       % 30,
                                       
                                       'Ven': helio['Ven'][helio.Date == today].values
                                       % 30,

                                       'Mar': helio['Mar'][helio.Date == today].values
                                       % 30,

                                       'Jup': helio['Jup'][helio.Date == today].values
                                       % 30,
                                       
                                       'Sat': helio['Sat'][helio.Date == today].values
                                       % 30,

                                       'Ura': helio['Ura'][helio.Date == today].values
                                       % 30,

                                       'Nep': helio['Nep'][helio.Date == today].values
                                       % 30,
                                       
                                       'Plu': helio['Plu'][helio.Date == today].values
                                       % 30,

                                       })

mod.round()

         Date  Earth   Mer   Ven  Mar   Jup   Sat   Ura   Nep   Plu
0  02/08/2022   10.0  13.0  17.0  3.0  29.0  22.0  16.0  24.0  27.0

In [21]:
result2 = result # rrr

for col in result2.columns[1:]:
     result2= result2.astype({col: "int64"})

result2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 31348 to 31348
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1 non-null      object
 1   Earth   1 non-null      int64
 2   Mer     1 non-null      int64
 3   Ven     1 non-null      int64
 4   Mar     1 non-null      int64
 5   Jup     1 non-null      int64
 6   Sat     1 non-null      int64
 7   Ura     1 non-null      int64
 8   Nep     1 non-null      int64
 9   Plu     1 non-null      int64
dtypes: int64(9), object(1)
memory usage: 88.0+ bytes

In [22]:
# rrr

rrr = pd.DataFrame({'Date': [today],

                                       'Earth': helio['Earth'][helio.Date == today].values,

                                       'Mer': helio['Mer'][helio.Date == today].values,
                                       
                                       'Ven': helio['Ven'][helio.Date == today].values,

                                       'Mar': helio['Mar'][helio.Date == today].values,

                                       'Jup': helio['Jup'][helio.Date == today].values,
                                       
                                       'Sat': helio['Sat'][helio.Date == today].values,

                                       'Ura': helio['Ura'][helio.Date == today].values,

                                       'Nep': helio['Nep'][helio.Date == today].values,
                                       
                                       'Plu': helio['Plu'][helio.Date == today].values,

                                       })

rrr.round()

for i in rrr['Earth']: 
        if (0<=i<=29):
            rrr['Earth'] = rrr['Earth'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Earth'] = rrr['Earth'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Earth'] = rrr['Earth'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Earth'] = rrr['Earth'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Earth'] = rrr['Earth'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Earth'] = rrr['Earth'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Earth'] = rrr['Earth'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Earth'] = rrr['Earth'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Earth'] = rrr['Earth'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Earth'] = rrr['Earth'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Earth'] = rrr['Earth'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Earth'] = rrr['Earth'].replace(i, "Pi")

for i in rrr['Mer']: 
        if (0<=i<=29):
            rrr['Mer'] = rrr['Mer'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Mer'] = rrr['Mer'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Mer'] = rrr['Mer'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Mer'] = rrr['Mer'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Mer'] = rrr['Mer'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Mer'] = rrr['Mer'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Mer'] = rrr['Mer'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Mer'] = rrr['Mer'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Mer'] = rrr['Mer'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Mer'] = rrr['Mer'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Mer'] = rrr['Mer'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Mer'] = rrr['Mer'].replace(i, "Pi")

for i in rrr['Ven']: 
        if (0<=i<=29):
            rrr['Ven'] = rrr['Ven'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Ven'] = rrr['Ven'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Ven'] = rrr['Ven'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Ven'] = rrr['Ven'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Ven'] = rrr['Ven'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Ven'] = rrr['Ven'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Ven'] = rrr['Ven'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Ven'] = rrr['Ven'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Ven'] = rrr['Ven'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Ven'] = rrr['Ven'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Ven'] = rrr['Ven'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Ven'] = rrr['Ven'].replace(i, "Pi")

for i in rrr['Mar']: 
        if (0<=i<=29):
            rrr['Mar'] = rrr['Mar'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Mar'] = rrr['Mar'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Mar'] = rrr['Mar'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Mar'] = rrr['Mar'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Mar'] = rrr['Mar'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Mar'] = rrr['Mar'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Mar'] = rrr['Mar'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Mar'] = rrr['Mar'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Mar'] = rrr['Mar'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Mar'] = rrr['Mar'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Mar'] = rrr['Mar'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Mar'] = rrr['Mar'].replace(i, "Pi")

for i in rrr['Jup']: 
        if (0<=i<=29):
            rrr['Jup'] = rrr['Jup'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Jup'] = rrr['Jup'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Jup'] = rrr['Jup'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Jup'] = rrr['Jup'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Jup'] = rrr['Jup'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Jup'] = rrr['Jup'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Jup'] = rrr['Jup'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Jup'] = rrr['Jup'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Jup'] = rrr['Jup'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Jup'] = rrr['Jup'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Jup'] = rrr['Jup'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Jup'] = rrr['Jup'].replace(i, "Pi")

for i in rrr['Sat']: 
        if (0<=i<=29):
            rrr['Sat'] = rrr['Sat'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Sat'] = rrr['Sat'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Sat'] = rrr['Sat'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Sat'] = rrr['Sat'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Sat'] = rrr['Sat'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Sat'] = rrr['Sat'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Sat'] = rrr['Sat'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Sat'] = rrr['Sat'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Sat'] = rrr['Sat'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Sat'] = rrr['Sat'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Sat'] = rrr['Sat'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Sat'] = rrr['Sat'].replace(i, "Pi")

for i in rrr['Ura']: 
        if (0<=i<=29):
            rrr['Ura'] = rrr['Ura'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Ura'] = rrr['Ura'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Ura'] = rrr['Ura'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Ura'] = rrr['Ura'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Ura'] = rrr['Ura'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Ura'] = rrr['Ura'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Ura'] = rrr['Ura'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Ura'] = rrr['Ura'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Ura'] = rrr['Ura'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Ura'] = rrr['Ura'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Ura'] = rrr['Ura'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Ura'] = rrr['Ura'].replace(i, "Pi")

for i in rrr['Nep']: 
        if (0<=i<=29):
            rrr['Nep'] = rrr['Nep'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Nep'] = rrr['Nep'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Nep'] = rrr['Nep'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Nep'] = rrr['Nep'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Nep'] = rrr['Nep'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Nep'] = rrr['Nep'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Nep'] = rrr['Nep'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Nep'] = rrr['Nep'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Nep'] = rrr['Nep'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Nep'] = rrr['Nep'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Nep'] = rrr['Nep'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Nep'] = rrr['Nep'].replace(i, "Pi")

for i in rrr['Plu']: 
        if (0<=i<=29):
            rrr['Plu'] = rrr['Plu'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Plu'] = rrr['Plu'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Plu'] = rrr['Plu'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Plu'] = rrr['Plu'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Plu'] = rrr['Plu'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Plu'] = rrr['Plu'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Plu'] = rrr['Plu'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Plu'] = rrr['Plu'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Plu'] = rrr['Plu'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Plu'] = rrr['Plu'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Plu'] = rrr['Plu'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Plu'] = rrr['Plu'].replace(i, "Pi")

rrr

         Date Earth Mer Ven Mar Jup Sat Ura Nep Plu
0  02/08/2022    Aq  Li  Ge  Ar  Pi  Aq  Ta  Pi  Cp

In [23]:
mod = mod.round()

# STR

for col in mod.columns[1:]:
     mod = mod.astype({col: str})

for col in rrr.columns[1:]:
     rrr = rrr.astype({col: str})

mod0 = pd.DataFrame({"Date": [today]})

# GROUPBY MANUALY

for col in mod.columns[1:]:
    mod0[col] = mod[col] + ' | ' + rrr[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod0

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,02/08/2022,10.0 | Aq,13.0 | Li,17.0 | Ge,3.0 | Ar,29.0 | Pi,22.0 | Aq,16.0 | Ta,24.0 | Pi,27.0 | Cp

In [24]:
mod

         Date Earth   Mer   Ven  Mar   Jup   Sat   Ura   Nep   Plu
0  02/08/2022  10.0  13.0  17.0  3.0  29.0  22.0  16.0  24.0  27.0

#### **MOD360**

In [25]:
# 1

# DEGREES OF CURRENT REVOLUTION

selected_date = '31/10/2008'

cumulative_mod360_1 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_1['Earth'] % 360),

                                       'Mer': (cumulative_1['Mer'] % 360),

                                       'Ven': (cumulative_1['Ven'] % 360),

                                       'Mar': (cumulative_1['Mar'] % 360),

                                       'Jup': (cumulative_1['Jup'] % 360),
                                       
                                       'Sat': (cumulative_1['Sat'] % 360),

                                       'Ura': (cumulative_1['Ura'] % 360),

                                       'Nep': (cumulative_1['Nep'] % 360),
                                       
                                       'Plu': (cumulative_1['Plu'] % 360),

                                       })

# NUMBER OF REVOLUTIONS

cumulative_div360_1 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_1['Earth'] / 360),

                                       'Mer': (cumulative_1['Mer'] / 360),

                                       'Ven': (cumulative_1['Ven'] / 360),

                                       'Mar': (cumulative_1['Mar'] / 360),

                                       'Jup': (cumulative_1['Jup'] / 360),
                                       
                                       'Sat': (cumulative_1['Sat'] / 360),

                                       'Ura': (cumulative_1['Ura'] / 360),

                                       'Nep': (cumulative_1['Nep'] / 360),
                                       
                                       'Plu': (cumulative_1['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cumulative_div360_1 = cumulative_div360_1.round(1)
cumulative_mod360_1 = cumulative_mod360_1.round()

# STR

for col in cumulative_div360_1.columns[1:]:
     cumulative_div360_1 = cumulative_div360_1.astype({col: str})

for col in cumulative_mod360_1.columns[1:]:
     cumulative_mod360_1 = cumulative_mod360_1.astype({col: str})

mod1 = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cumulative_div360_1.columns[1:]:
    mod1[col] = cumulative_div360_1[col] + ' | ' + cumulative_mod360_1[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod1

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,31/10/2008,13.8 | 272.0,57.1 | 37.0,22.4 | 127.0,7.4 | 128.0,1.2 | 62.0,0.4 | 158.0,0.2 | 55.0,0.1 | 30.0,0.1 | 27.0

In [26]:
# 2

# DEGREES OF CURRENT REVOLUTION

selected_date = '03/01/2009'

cumulative_mod360_2 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_2['Earth'] % 360),

                                       'Mer': (cumulative_2['Mer'] % 360),

                                       'Ven': (cumulative_2['Ven'] % 360),

                                       'Mar': (cumulative_2['Mar'] % 360),

                                       'Jup': (cumulative_2['Jup'] % 360),
                                       
                                       'Sat': (cumulative_2['Sat'] % 360),

                                       'Ura': (cumulative_2['Ura'] % 360),

                                       'Nep': (cumulative_2['Nep'] % 360),
                                       
                                       'Plu': (cumulative_2['Plu'] % 360),

                                       })

# NUMBER OF REVOLUTIONS

cumulative_div360_2 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_2['Earth'] / 360),

                                       'Mer': (cumulative_2['Mer'] / 360),

                                       'Ven': (cumulative_2['Ven'] / 360),

                                       'Mar': (cumulative_2['Mar'] / 360),

                                       'Jup': (cumulative_2['Jup'] / 360),
                                       
                                       'Sat': (cumulative_2['Sat'] / 360),

                                       'Ura': (cumulative_2['Ura'] / 360),

                                       'Nep': (cumulative_2['Nep'] / 360),
                                       
                                       'Plu': (cumulative_2['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cumulative_div360_2 = cumulative_div360_2.round(1)
cumulative_mod360_2 = cumulative_mod360_2.round()

# STR

for col in cumulative_div360_2.columns[1:]:
     cumulative_div360_2 = cumulative_div360_2.astype({col: str})

for col in cumulative_mod360_2.columns[1:]:
     cumulative_mod360_2 = cumulative_mod360_2.astype({col: str})

mod2 = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cumulative_div360_2.columns[1:]:
    mod2[col] = cumulative_div360_2[col] + ' | ' + cumulative_mod360_2[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod2

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,03/01/2009,13.6 | 207.0,56.5 | 176.0,22.1 | 25.0,7.3 | 93.0,1.2 | 56.0,0.4 | 155.0,0.2 | 54.0,0.1 | 30.0,0.1 | 26.0

In [27]:
# 3

# DEGREES OF CURRENT REVOLUTION

selected_date = '22/05/2010'

cumulative_mod360_3 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_3['Earth'] % 360),

                                       'Mer': (cumulative_3['Mer'] % 360),

                                       'Ven': (cumulative_3['Ven'] % 360),

                                       'Mar': (cumulative_3['Mar'] % 360),

                                       'Jup': (cumulative_3['Jup'] % 360),
                                       
                                       'Sat': (cumulative_3['Sat'] % 360),

                                       'Ura': (cumulative_3['Ura'] % 360),

                                       'Nep': (cumulative_3['Nep'] % 360),
                                       
                                       'Plu': (cumulative_3['Plu'] % 360),

                                       })

# NUMBER OF REVOLUTIONS

cumulative_div360_3 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_3['Earth'] / 360),

                                       'Mer': (cumulative_3['Mer'] / 360),

                                       'Ven': (cumulative_3['Ven'] / 360),

                                       'Mar': (cumulative_3['Mar'] / 360),

                                       'Jup': (cumulative_3['Jup'] / 360),
                                       
                                       'Sat': (cumulative_3['Sat'] / 360),

                                       'Ura': (cumulative_3['Ura'] / 360),

                                       'Nep': (cumulative_3['Nep'] / 360),
                                       
                                       'Plu': (cumulative_3['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cumulative_div360_3 = cumulative_div360_3.round(1)
cumulative_mod360_3 = cumulative_mod360_3.round()

# STR

for col in cumulative_div360_3.columns[1:]:
     cumulative_div360_3 = cumulative_div360_3.astype({col: str})

for col in cumulative_mod360_3.columns[1:]:
     cumulative_mod360_3 = cumulative_mod360_3.astype({col: str})

mod3 = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cumulative_div360_3.columns[1:]:
    mod3[col] = cumulative_div360_3[col] + ' | ' + cumulative_mod360_3[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod3

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,22/05/2010,12.2 | 69.0,50.7 | 267.0,19.8 | 297.0,6.5 | 184.0,1.0 | 11.0,0.4 | 138.0,0.1 | 49.0,0.1 | 27.0,0.1 | 24.0

In [28]:
# 4

# DEGREES OF CURRENT REVOLUTION

selected_date = '29/11/2013'

cumulative_mod360_4 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_4['Earth'] % 360),

                                       'Mer': (cumulative_4['Mer'] % 360),

                                       'Ven': (cumulative_4['Ven'] % 360),

                                       'Mar': (cumulative_4['Mar'] % 360),

                                       'Jup': (cumulative_4['Jup'] % 360),
                                       
                                       'Sat': (cumulative_4['Sat'] % 360),

                                       'Ura': (cumulative_4['Ura'] % 360),

                                       'Nep': (cumulative_4['Nep'] % 360),
                                       
                                       'Plu': (cumulative_4['Plu'] % 360),

                                       })

# NUMBER OF REVOLUTIONS

cumulative_div360_4 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_4['Earth'] / 360),

                                       'Mer': (cumulative_4['Mer'] / 360),

                                       'Ven': (cumulative_4['Ven'] / 360),

                                       'Mar': (cumulative_4['Mar'] / 360),

                                       'Jup': (cumulative_4['Jup'] / 360),
                                       
                                       'Sat': (cumulative_4['Sat'] / 360),

                                       'Ura': (cumulative_4['Ura'] / 360),

                                       'Nep': (cumulative_4['Nep'] / 360),
                                       
                                       'Plu': (cumulative_4['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cumulative_div360_4 = cumulative_div360_4.round(1)
cumulative_mod360_4 = cumulative_mod360_4.round()

# STR

for col in cumulative_div360_4.columns[1:]:
     cumulative_div360_4 = cumulative_div360_4.astype({col: str})

for col in cumulative_mod360_4.columns[1:]:
     cumulative_mod360_4 = cumulative_mod360_4.astype({col: str})

mod4 = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cumulative_div360_4.columns[1:]:
    mod4[col] = cumulative_div360_4[col] + ' | ' + cumulative_mod360_4[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod4

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,29/11/2013,8.7 | 243.0,36.0 | 4.0,14.1 | 36.0,4.6 | 222.0,0.7 | 256.0,0.3 | 97.0,0.1 | 35.0,0.1 | 19.0,0.0 | 16.0

In [29]:
# 6

# DEGREES OF CURRENT REVOLUTION

selected_date = '17/12/2017'

cumulative_mod360_6 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_6['Earth'] % 360),

                                       'Mer': (cumulative_6['Mer'] % 360),

                                       'Ven': (cumulative_6['Ven'] % 360),

                                       'Mar': (cumulative_6['Mar'] % 360),

                                       'Jup': (cumulative_6['Jup'] % 360),
                                       
                                       'Sat': (cumulative_6['Sat'] % 360),

                                       'Ura': (cumulative_6['Ura'] % 360),

                                       'Nep': (cumulative_6['Nep'] % 360),
                                       
                                       'Plu': (cumulative_6['Plu'] % 360),

                                       })

# NUMBER OF REVOLUTIONS

cumulative_div360_6 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_6['Earth'] / 360),

                                       'Mer': (cumulative_6['Mer'] / 360),

                                       'Ven': (cumulative_6['Ven'] / 360),

                                       'Mar': (cumulative_6['Mar'] / 360),

                                       'Jup': (cumulative_6['Jup'] / 360),
                                       
                                       'Sat': (cumulative_6['Sat'] / 360),

                                       'Ura': (cumulative_6['Ura'] / 360),

                                       'Nep': (cumulative_6['Nep'] / 360),
                                       
                                       'Plu': (cumulative_6['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cumulative_div360_6 = cumulative_div360_6.round(1)
cumulative_mod360_6 = cumulative_mod360_6.round()

# STR

for col in cumulative_div360_6.columns[1:]:
     cumulative_div360_6 = cumulative_div360_6.astype({col: str})

for col in cumulative_mod360_6.columns[1:]:
     cumulative_mod360_6 = cumulative_mod360_6.astype({col: str})

mod6 = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cumulative_div360_6.columns[1:]:
    mod6[col] = cumulative_div360_6[col] + ' | ' + cumulative_mod360_6[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod6

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,17/12/2017,4.6 | 224.0,19.2 | 85.0,7.5 | 185.0,2.5 | 175.0,0.4 | 141.0,0.1 | 51.0,0.1 | 19.0,0.0 | 10.0,0.0 | 8.0

In [30]:
# 7

# DEGREES OF CURRENT REVOLUTION

selected_date = '15/12/2018'

cumulative_mod360_7 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_7['Earth'] % 360),

                                       'Mer': (cumulative_7['Mer'] % 360),

                                       'Ven': (cumulative_7['Ven'] % 360),

                                       'Mar': (cumulative_7['Mar'] % 360),

                                       'Jup': (cumulative_7['Jup'] % 360),
                                       
                                       'Sat': (cumulative_7['Sat'] % 360),

                                       'Ura': (cumulative_7['Ura'] % 360),

                                       'Nep': (cumulative_7['Nep'] % 360),
                                       
                                       'Plu': (cumulative_7['Plu'] % 360),

                                       })

# NUMBER OF REVOLUTIONS

cumulative_div360_7 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_7['Earth'] / 360),

                                       'Mer': (cumulative_7['Mer'] / 360),

                                       'Ven': (cumulative_7['Ven'] / 360),

                                       'Mar': (cumulative_7['Mar'] / 360),

                                       'Jup': (cumulative_7['Jup'] / 360),
                                       
                                       'Sat': (cumulative_7['Sat'] / 360),

                                       'Ura': (cumulative_7['Ura'] / 360),

                                       'Nep': (cumulative_7['Nep'] / 360),
                                       
                                       'Plu': (cumulative_7['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cumulative_div360_7 = cumulative_div360_7.round(1)
cumulative_mod360_7 = cumulative_mod360_7.round()

# STR

for col in cumulative_div360_7.columns[1:]:
     cumulative_div360_7 = cumulative_div360_7.astype({col: str})

for col in cumulative_mod360_7.columns[1:]:
     cumulative_mod360_7 = cumulative_mod360_7.astype({col: str})

mod7 = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cumulative_div360_7.columns[1:]:
    mod7[col] = cumulative_div360_7[col] + ' | ' + cumulative_mod360_7[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod7

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,15/12/2018,3.6 | 227.0,15.1 | 26.0,5.9 | 324.0,1.9 | 331.0,0.3 | 113.0,0.1 | 41.0,0.0 | 15.0,0.0 | 8.0,0.0 | 7.0

In [31]:
# 8

# DEGREES OF CURRENT REVOLUTION

selected_date = '26/06/2019'

cumulative_mod360_8 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_8['Earth'] % 360),

                                       'Mer': (cumulative_8['Mer'] % 360),

                                       'Ven': (cumulative_8['Ven'] % 360),

                                       'Mar': (cumulative_8['Mar'] % 360),

                                       'Jup': (cumulative_8['Jup'] % 360),
                                       
                                       'Sat': (cumulative_8['Sat'] % 360),

                                       'Ura': (cumulative_8['Ura'] % 360),

                                       'Nep': (cumulative_8['Nep'] % 360),
                                       
                                       'Plu': (cumulative_8['Plu'] % 360),

                                       })

# NUMBER OF REVOLUTIONS

cumulative_div360_8 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_8['Earth'] / 360),

                                       'Mer': (cumulative_8['Mer'] / 360),

                                       'Ven': (cumulative_8['Ven'] / 360),

                                       'Mar': (cumulative_8['Mar'] / 360),

                                       'Jup': (cumulative_8['Jup'] / 360),
                                       
                                       'Sat': (cumulative_8['Sat'] / 360),

                                       'Ura': (cumulative_8['Ura'] / 360),

                                       'Nep': (cumulative_8['Nep'] / 360),
                                       
                                       'Plu': (cumulative_8['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cumulative_div360_8 = cumulative_div360_8.round(1)
cumulative_mod360_8 = cumulative_mod360_8.round()

# STR

for col in cumulative_div360_8.columns[1:]:
     cumulative_div360_8 = cumulative_div360_8.astype({col: str})

for col in cumulative_mod360_8.columns[1:]:
     cumulative_mod360_8 = cumulative_mod360_8.astype({col: str})

mod8 = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cumulative_div360_8.columns[1:]:
    mod8[col] = cumulative_div360_8[col] + ' | ' + cumulative_mod360_8[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod8

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,26/06/2019,3.1 | 36.0,12.9 | 326.0,5.0 | 15.0,1.6 | 233.0,0.3 | 98.0,0.1 | 35.0,0.0 | 13.0,0.0 | 7.0,0.0 | 6.0

In [32]:
# 9

# DEGREES OF CURRENT REVOLUTION

selected_date = '12/03/2020'

cumulative_mod360_9 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_9['Earth'] % 360),

                                       'Mer': (cumulative_9['Mer'] % 360),

                                       'Ven': (cumulative_9['Ven'] % 360),

                                       'Mar': (cumulative_9['Mar'] % 360),

                                       'Jup': (cumulative_9['Jup'] % 360),
                                       
                                       'Sat': (cumulative_9['Sat'] % 360),

                                       'Ura': (cumulative_9['Ura'] % 360),

                                       'Nep': (cumulative_9['Nep'] % 360),
                                       
                                       'Plu': (cumulative_9['Plu'] % 360),

                                       })

# NUMBER OF REVOLUTIONS

cumulative_div360_9 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_9['Earth'] / 360),

                                       'Mer': (cumulative_9['Mer'] / 360),

                                       'Ven': (cumulative_9['Ven'] / 360),

                                       'Mar': (cumulative_9['Mar'] / 360),

                                       'Jup': (cumulative_9['Jup'] / 360),
                                       
                                       'Sat': (cumulative_9['Sat'] / 360),

                                       'Ura': (cumulative_9['Ura'] / 360),

                                       'Nep': (cumulative_9['Nep'] / 360),
                                       
                                       'Plu': (cumulative_9['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cumulative_div360_9 = cumulative_div360_9.round(1)
cumulative_mod360_9 = cumulative_mod360_9.round()

# STR

for col in cumulative_div360_9.columns[1:]:
     cumulative_div360_9 = cumulative_div360_9.astype({col: str})

for col in cumulative_mod360_9.columns[1:]:
     cumulative_mod360_9 = cumulative_mod360_9.astype({col: str})

mod9 = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cumulative_div360_9.columns[1:]:
    mod9[col] = cumulative_div360_9[col] + ' | ' + cumulative_mod360_9[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod9

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,12/03/2020,2.4 | 138.0,9.9 | 338.0,3.9 | 318.0,1.3 | 113.0,0.2 | 77.0,0.1 | 27.0,0.0 | 10.0,0.0 | 5.0,0.0 | 4.0

In [33]:
# 10

# DEGREES OF CURRENT REVOLUTION

selected_date = '25/04/2021'

cumulative_mod360_10 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_10['Earth'] % 360),

                                       'Mer': (cumulative_10['Mer'] % 360),

                                       'Ven': (cumulative_10['Ven'] % 360),

                                       'Mar': (cumulative_10['Mar'] % 360),

                                       'Jup': (cumulative_10['Jup'] % 360),
                                       
                                       'Sat': (cumulative_10['Sat'] % 360),

                                       'Ura': (cumulative_10['Ura'] % 360),

                                       'Nep': (cumulative_10['Nep'] % 360),
                                       
                                       'Plu': (cumulative_10['Plu'] % 360),

                                       })

# NUMBER OF REVOLUTIONS

cumulative_div360_10 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_10['Earth'] / 360),

                                       'Mer': (cumulative_10['Mer'] / 360),

                                       'Ven': (cumulative_10['Ven'] / 360),

                                       'Mar': (cumulative_10['Mar'] / 360),

                                       'Jup': (cumulative_10['Jup'] / 360),
                                       
                                       'Sat': (cumulative_10['Sat'] / 360),

                                       'Ura': (cumulative_10['Ura'] / 360),

                                       'Nep': (cumulative_10['Nep'] / 360),
                                       
                                       'Plu': (cumulative_10['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cumulative_div360_10 = cumulative_div360_10.round(1)
cumulative_mod360_10 = cumulative_mod360_10.round()

# STR

for col in cumulative_div360_10.columns[1:]:
     cumulative_div360_10 = cumulative_div360_10.astype({col: str})

for col in cumulative_mod360_10.columns[1:]:
     cumulative_mod360_10 = cumulative_mod360_10.astype({col: str})

mod10 = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cumulative_div360_10.columns[1:]:
    mod10[col] = cumulative_div360_10[col] + ' | ' + cumulative_mod360_10[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod10

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,25/04/2021,1.3 | 95.0,5.3 | 126.0,2.1 | 24.0,0.7 | 241.0,0.1 | 42.0,0.0 | 14.0,0.0 | 5.0,0.0 | 3.0,0.0 | 2.0

In [34]:
# 11

# DEGREES OF CURRENT REVOLUTION

selected_date = '20/07/2021'

cumulative_mod360_11 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_11['Earth'] % 360),

                                       'Mer': (cumulative_11['Mer'] % 360),

                                       'Ven': (cumulative_11['Ven'] % 360),

                                       'Mar': (cumulative_11['Mar'] % 360),

                                       'Jup': (cumulative_11['Jup'] % 360),
                                       
                                       'Sat': (cumulative_11['Sat'] % 360),

                                       'Ura': (cumulative_11['Ura'] % 360),

                                       'Nep': (cumulative_11['Nep'] % 360),
                                       
                                       'Plu': (cumulative_11['Plu'] % 360),

                                       })

# NUMBER OF REVOLUTIONS

cumulative_div360_11 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_11['Earth'] / 360),

                                       'Mer': (cumulative_11['Mer'] / 360),

                                       'Ven': (cumulative_11['Ven'] / 360),

                                       'Mar': (cumulative_11['Mar'] / 360),

                                       'Jup': (cumulative_11['Jup'] / 360),
                                       
                                       'Sat': (cumulative_11['Sat'] / 360),

                                       'Ura': (cumulative_11['Ura'] / 360),

                                       'Nep': (cumulative_11['Nep'] / 360),
                                       
                                       'Plu': (cumulative_11['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cumulative_div360_11 = cumulative_div360_11.round(1)
cumulative_mod360_11 = cumulative_mod360_11.round()

# STR

for col in cumulative_div360_11.columns[1:]:
     cumulative_div360_11 = cumulative_div360_11.astype({col: str})

for col in cumulative_mod360_11.columns[1:]:
     cumulative_mod360_11 = cumulative_mod360_11.astype({col: str})

mod11 = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cumulative_div360_11.columns[1:]:
    mod11[col] = cumulative_div360_11[col] + ' | ' + cumulative_mod360_11[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod11

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,20/07/2021,1.0 | 12.0,4.4 | 138.0,1.7 | 244.0,0.6 | 203.0,0.1 | 34.0,0.0 | 12.0,0.0 | 4.0,0.0 | 2.0,0.0 | 2.0

In [35]:
# 12

# DEGREES OF CURRENT REVOLUTION

selected_date = '20/10/2021'

cumulative_mod360_12 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_12['Earth'] % 360),

                                       'Mer': (cumulative_12['Mer'] % 360),

                                       'Ven': (cumulative_12['Ven'] % 360),

                                       'Mar': (cumulative_12['Mar'] % 360),

                                       'Jup': (cumulative_12['Jup'] % 360),
                                       
                                       'Sat': (cumulative_12['Sat'] % 360),

                                       'Ura': (cumulative_12['Ura'] % 360),

                                       'Nep': (cumulative_12['Nep'] % 360),
                                       
                                       'Plu': (cumulative_12['Plu'] % 360),

                                       })

# NUMBER OF REVOLUTIONS

cumulative_div360_12 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_12['Earth'] / 360),

                                       'Mer': (cumulative_12['Mer'] / 360),

                                       'Ven': (cumulative_12['Ven'] / 360),

                                       'Mar': (cumulative_12['Mar'] / 360),

                                       'Jup': (cumulative_12['Jup'] / 360),
                                       
                                       'Sat': (cumulative_12['Sat'] / 360),

                                       'Ura': (cumulative_12['Ura'] / 360),

                                       'Nep': (cumulative_12['Nep'] / 360),
                                       
                                       'Plu': (cumulative_12['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cumulative_div360_12 = cumulative_div360_12.round(1)
cumulative_mod360_12 = cumulative_mod360_12.round()

# STR

for col in cumulative_div360_12.columns[1:]:
     cumulative_div360_12 = cumulative_div360_12.astype({col: str})

for col in cumulative_mod360_12.columns[1:]:
     cumulative_mod360_12 = cumulative_mod360_12.astype({col: str})

mod12 = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cumulative_div360_12.columns[1:]:
    mod12[col] = cumulative_div360_12[col] + ' | ' + cumulative_mod360_12[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod12

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,20/10/2021,0.8 | 283.0,3.3 | 113.0,1.3 | 98.0,0.5 | 162.0,0.1 | 26.0,0.0 | 9.0,0.0 | 3.0,0.0 | 2.0,0.0 | 1.0

In [36]:
# 13

# DEGREES OF CURRENT REVOLUTION

selected_date = '10/11/2021'

cumulative_mod360_13 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_13['Earth'] % 360),

                                       'Mer': (cumulative_13['Mer'] % 360),

                                       'Ven': (cumulative_13['Ven'] % 360),

                                       'Mar': (cumulative_13['Mar'] % 360),

                                       'Jup': (cumulative_13['Jup'] % 360),
                                       
                                       'Sat': (cumulative_13['Sat'] % 360),

                                       'Ura': (cumulative_13['Ura'] % 360),

                                       'Nep': (cumulative_13['Nep'] % 360),
                                       
                                       'Plu': (cumulative_13['Plu'] % 360),

                                       })

# NUMBER OF REVOLUTIONS

cumulative_div360_13 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_13['Earth'] / 360),

                                       'Mer': (cumulative_13['Mer'] / 360),

                                       'Ven': (cumulative_13['Ven'] / 360),

                                       'Mar': (cumulative_13['Mar'] / 360),

                                       'Jup': (cumulative_13['Jup'] / 360),
                                       
                                       'Sat': (cumulative_13['Sat'] / 360),

                                       'Ura': (cumulative_13['Ura'] / 360),

                                       'Nep': (cumulative_13['Nep'] / 360),
                                       
                                       'Plu': (cumulative_13['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cumulative_div360_13 = cumulative_div360_13.round(1)
cumulative_mod360_13 = cumulative_mod360_13.round()

# STR

for col in cumulative_div360_13.columns[1:]:
     cumulative_div360_13 = cumulative_div360_13.astype({col: str})

for col in cumulative_mod360_13.columns[1:]:
     cumulative_mod360_13 = cumulative_mod360_13.astype({col: str})

mod13 = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cumulative_div360_13.columns[1:]:
    mod13[col] = cumulative_div360_13[col] + ' | ' + cumulative_mod360_13[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod13

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,10/11/2021,0.7 | 262.0,3.0 | 4.0,1.2 | 65.0,0.4 | 152.0,0.1 | 24.0,0.0 | 8.0,0.0 | 3.0,0.0 | 2.0,0.0 | 1.0

In [37]:
# 14

# DEGREES OF CURRENT REVOLUTION

selected_date = '18/06/2022'

cumulative_mod360_14 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_14['Earth'] % 360),

                                       'Mer': (cumulative_14['Mer'] % 360),

                                       'Ven': (cumulative_14['Ven'] % 360),

                                       'Mar': (cumulative_14['Mar'] % 360),

                                       'Jup': (cumulative_14['Jup'] % 360),
                                       
                                       'Sat': (cumulative_14['Sat'] % 360),

                                       'Ura': (cumulative_14['Ura'] % 360),

                                       'Nep': (cumulative_14['Nep'] % 360),
                                       
                                       'Plu': (cumulative_14['Plu'] % 360),

                                       })

# NUMBER OF REVOLUTIONS

cumulative_div360_14 = pd.DataFrame({'Date': [selected_date],

                                       'Earth': (cumulative_14['Earth'] / 360),

                                       'Mer': (cumulative_14['Mer'] / 360),

                                       'Ven': (cumulative_14['Ven'] / 360),

                                       'Mar': (cumulative_14['Mar'] / 360),

                                       'Jup': (cumulative_14['Jup'] / 360),
                                       
                                       'Sat': (cumulative_14['Sat'] / 360),

                                       'Ura': (cumulative_14['Ura'] / 360),

                                       'Nep': (cumulative_14['Nep'] / 360),
                                       
                                       'Plu': (cumulative_14['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cumulative_div360_14 = cumulative_div360_14.round(1)
cumulative_mod360_14 = cumulative_mod360_14.round()

# STR

for col in cumulative_div360_14.columns[1:]:
     cumulative_div360_14 = cumulative_div360_14.astype({col: str})

for col in cumulative_mod360_14.columns[1:]:
     cumulative_mod360_14 = cumulative_mod360_14.astype({col: str})

mod14 = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cumulative_div360_14.columns[1:]:
    mod14[col] = cumulative_div360_14[col] + ' | ' + cumulative_mod360_14[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod14

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,18/06/2022,0.1 | 43.0,0.6 | 230.0,0.2 | 72.0,0.1 | 28.0,0.0 | 4.0,0.0 | 1.0,0.0 | 1.0,0.0 | 0.0,0.0 | 0.0

## **II.1.3 CONCAT**

In [38]:
concat_helio = pd.concat([result, mod0, cumulative_1, mod1, cumulative_2, mod2, cumulative_3, mod3, cumulative_4, mod4, cumulative_6, mod6, cumulative_7, mod7, cumulative_8, mod8, cumulative_9, mod9, cumulative_10, mod10, cumulative_11, mod11, cumulative_12, mod12, cumulative_13, mod13, cumulative_14, mod14])

concat_helio

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
31348,02/08/2022,310.03,192.54,77.37,2.9,358.61,321.51,45.8,353.74,297.42
0,02/08/2022,10.0 | Aq,13.0 | Li,17.0 | Ge,3.0 | Ar,29.0 | Pi,22.0 | Aq,16.0 | Ta,24.0 | Pi,27.0 | Cp
0,31/10/2008,4952.0,20557.0,8047.0,2648.0,422.0,158.0,55.0,30.0,27.0
0,31/10/2008,13.8 | 272.0,57.1 | 37.0,22.4 | 127.0,7.4 | 128.0,1.2 | 62.0,0.4 | 158.0,0.2 | 55.0,0.1 | 30.0,0.1 | 27.0
0,03/01/2009,4887.0,20336.0,7945.0,2613.0,416.0,155.0,54.0,30.0,26.0
0,03/01/2009,13.6 | 207.0,56.5 | 176.0,22.1 | 25.0,7.3 | 93.0,1.2 | 56.0,0.4 | 155.0,0.2 | 54.0,0.1 | 30.0,0.1 | 26.0
0,22/05/2010,4389.0,18267.0,7137.0,2344.0,371.0,138.0,49.0,27.0,24.0
0,22/05/2010,12.2 | 69.0,50.7 | 267.0,19.8 | 297.0,6.5 | 184.0,1.0 | 11.0,0.4 | 138.0,0.1 | 49.0,0.1 | 27.0,0.1 | 24.0
0,29/11/2013,3123.0,12964.0,5076.0,1662.0,256.0,97.0,35.0,19.0,16.0
0,29/11/2013,8.7 | 243.0,36.0 | 4.0,14.1 | 36.0,4.6 | 222.0,0.7 | 256.0,0.3 | 97.0,0.1 | 35.0,0.1 | 19.0,0.0 | 16.0
0,17/12/2017,1664.0,6925.0,2705.0,895.0,141.0,51.0,19.0,10.0,8.0
0,17/12/2017,4.6 | 224.0,19.2 | 85.0,7.5 | 185.0,2.5 | 175.0,0.4 | 141.0,0.1 | 51.0,0.1 | 19.0,0.0 | 10.0,0.0 | 8.0
0,15/12/2018,1307.0,5426.0,2124.0,691.0,113.0,41.0,15.0,8.0,7.0
0,15/12/2018,3.6 | 227.0,15.1 | 26.0,5.9 | 324.0,1.9 | 331.0,0.3 | 113.0,0.1 | 41.0,0.0 | 15.0,0.0 | 8.0,0.0 | 7.0
0,26/06/2019,1116.0,4646.0,1815.0,593.0,98.0,35.0,13.0,7.0,6.0
0,26/06/2019,3.1 | 36.0,12.9 | 326.0,5.0 | 15.0,1.6 | 233.0,0.3 | 98.0,0.1 | 35.0,0.0 | 13.0,0.0 | 7.0,0.0 | 6.0
0,12/03/2020,858.0,3578.0,1398.0,473.0,77.0,27.0,10.0,5.0,4.0
0,12/03/2020,2.4 | 138.0,9.9 | 338.0,3.9 | 318.0,1.3 | 113.0,0.2 | 77.0,0.1 | 27.0,0.0 | 10.0,0.0 | 5.0,0.0 | 4.0
0,25/04/2021,454.69,1925.82,743.51,241.2,41.71,14.37,5.17,2.83,2.28
0,25/04/2021,1.3 | 95.0,5.3 | 126.0,2.1 | 24.0,0.7 | 241.0,0.1 | 42.0,0.0 | 14.0,0.0 | 5.0,0.0 | 3.0,0.0 | 2.0
0,20/07/2021,372.19,1578.03,604.28,203.22,34.11,11.73,4.22,2.3,1.85
0,20/07/2021,1.0 | 12.0,4.4 | 138.0,1.7 | 244.0,0.6 | 203.0,0.1 | 34.0,0.0 | 12.0,0.0 | 4.0,0.0 | 2.0,0.0 | 2.0
0,20/10/2021,282.88,1192.82,457.96,162.21,25.91,8.89,3.2,1.74,1.4
0,20/10/2021,0.8 | 283.0,3.3 | 113.0,1.3 | 98.0,0.5 | 162.0,0.1 | 26.0,0.0 | 9.0,0.0 | 3.0,0.0 | 2.0,0.0 | 1.0
0,10/11/2021,261.89,1084.05,424.59,152.38,24.03,8.24,2.96,1.61,1.3
0,10/11/2021,0.7 | 262.0,3.0 | 4.0,1.2 | 65.0,0.4 | 152.0,0.1 | 24.0,0.0 | 8.0,0.0 | 3.0,0.0 | 2.0,0.0 | 1.0
0,18/06/2022,42.94,229.77,72.07,28.42,4.1,1.41,0.51,0.27,0.22
0,18/06/2022,0.1 | 43.0,0.6 | 230.0,0.2 | 72.0,0.1 | 28.0,0.0 | 4.0,0.0 | 1.0,0.0 | 1.0,0.0 | 0.0,0.0 | 0.0

In [39]:
helio_concat = concat_helio

helio_concat = helio_concat.set_index('Date')

helio_concat

,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
Date,,,,,,,,,
02/08/2022,310.03,192.54,77.37,2.9,358.61,321.51,45.8,353.74,297.42
02/08/2022,10.0 | Aq,13.0 | Li,17.0 | Ge,3.0 | Ar,29.0 | Pi,22.0 | Aq,16.0 | Ta,24.0 | Pi,27.0 | Cp
31/10/2008,4952.0,20557.0,8047.0,2648.0,422.0,158.0,55.0,30.0,27.0
31/10/2008,13.8 | 272.0,57.1 | 37.0,22.4 | 127.0,7.4 | 128.0,1.2 | 62.0,0.4 | 158.0,0.2 | 55.0,0.1 | 30.0,0.1 | 27.0
03/01/2009,4887.0,20336.0,7945.0,2613.0,416.0,155.0,54.0,30.0,26.0
03/01/2009,13.6 | 207.0,56.5 | 176.0,22.1 | 25.0,7.3 | 93.0,1.2 | 56.0,0.4 | 155.0,0.2 | 54.0,0.1 | 30.0,0.1 | 26.0
22/05/2010,4389.0,18267.0,7137.0,2344.0,371.0,138.0,49.0,27.0,24.0
22/05/2010,12.2 | 69.0,50.7 | 267.0,19.8 | 297.0,6.5 | 184.0,1.0 | 11.0,0.4 | 138.0,0.1 | 49.0,0.1 | 27.0,0.1 | 24.0
29/11/2013,3123.0,12964.0,5076.0,1662.0,256.0,97.0,35.0,19.0,16.0
29/11/2013,8.7 | 243.0,36.0 | 4.0,14.1 | 36.0,4.6 | 222.0,0.7 | 256.0,0.3 | 97.0,0.1 | 35.0,0.1 | 19.0,0.0 | 16.0
17/12/2017,1664.0,6925.0,2705.0,895.0,141.0,51.0,19.0,10.0,8.0
17/12/2017,4.6 | 224.0,19.2 | 85.0,7.5 | 185.0,2.5 | 175.0,0.4 | 141.0,0.1 | 51.0,0.1 | 19.0,0.0 | 10.0,0.0 | 8.0
15/12/2018,1307.0,5426.0,2124.0,691.0,113.0,41.0,15.0,8.0,7.0
15/12/2018,3.6 | 227.0,15.1 | 26.0,5.9 | 324.0,1.9 | 331.0,0.3 | 113.0,0.1 | 41.0,0.0 | 15.0,0.0 | 8.0,0.0 | 7.0
26/06/2019,1116.0,4646.0,1815.0,593.0,98.0,35.0,13.0,7.0,6.0
26/06/2019,3.1 | 36.0,12.9 | 326.0,5.0 | 15.0,1.6 | 233.0,0.3 | 98.0,0.1 | 35.0,0.0 | 13.0,0.0 | 7.0,0.0 | 6.0
12/03/2020,858.0,3578.0,1398.0,473.0,77.0,27.0,10.0,5.0,4.0
12/03/2020,2.4 | 138.0,9.9 | 338.0,3.9 | 318.0,1.3 | 113.0,0.2 | 77.0,0.1 | 27.0,0.0 | 10.0,0.0 | 5.0,0.0 | 4.0
25/04/2021,454.69,1925.82,743.51,241.2,41.71,14.37,5.17,2.83,2.28
25/04/2021,1.3 | 95.0,5.3 | 126.0,2.1 | 24.0,0.7 | 241.0,0.1 | 42.0,0.0 | 14.0,0.0 | 5.0,0.0 | 3.0,0.0 | 2.0
20/07/2021,372.19,1578.03,604.28,203.22,34.11,11.73,4.22,2.3,1.85
20/07/2021,1.0 | 12.0,4.4 | 138.0,1.7 | 244.0,0.6 | 203.0,0.1 | 34.0,0.0 | 12.0,0.0 | 4.0,0.0 | 2.0,0.0 | 2.0
20/10/2021,282.88,1192.82,457.96,162.21,25.91,8.89,3.2,1.74,1.4
20/10/2021,0.8 | 283.0,3.3 | 113.0,1.3 | 98.0,0.5 | 162.0,0.1 | 26.0,0.0 | 9.0,0.0 | 3.0,0.0 | 2.0,0.0 | 1.0
10/11/2021,261.89,1084.05,424.59,152.38,24.03,8.24,2.96,1.61,1.3
10/11/2021,0.7 | 262.0,3.0 | 4.0,1.2 | 65.0,0.4 | 152.0,0.1 | 24.0,0.0 | 8.0,0.0 | 3.0,0.0 | 2.0,0.0 | 1.0
18/06/2022,42.94,229.77,72.07,28.42,4.1,1.41,0.51,0.27,0.22
18/06/2022,0.1 | 43.0,0.6 | 230.0,0.2 | 72.0,0.1 | 28.0,0.0 | 4.0,0.0 | 1.0,0.0 | 1.0,0.0 | 0.0,0.0 | 0.0

# **II.2 GEO**

## **II.2.1 CUMUL GEO**

In [40]:
result_g = geo[geo.Date == today]

result_g = result_g.round()
result_g

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
31348,02/08/2022,182.0,130.0,147.0,108.0,49.0,9.0,323.0,49.0,355.0,297.0

In [41]:
for col in geo_cum.columns[1:]:
    geo_cum = geo_cum.astype({col: 'float64'})

In [42]:
# cumulative_WP

selected_date = '31/10/2008'

cumulative_1_g = pd.DataFrame({'Date': [selected_date],

                                       'Moon': geo_cum['Moon'][geo_cum.Date == today].values
                                       - geo_cum['Moon'][geo_cum.Date == selected_date].values,

                                       'Sun': geo_cum['Sun'][geo_cum.Date == today].values
                                       - geo_cum['Sun'][geo_cum.Date == selected_date].values,

                                       'Mer': geo_cum['Mer'][geo_cum.Date == today].values
                                       - geo_cum['Mer'][geo_cum.Date == selected_date].values,
                                       
                                       'Ven': geo_cum['Ven'][geo_cum.Date == today].values
                                       - geo_cum['Ven'][geo_cum.Date == selected_date].values,

                                       'Mar': geo_cum['Mar'][geo_cum.Date == today].values
                                       - geo_cum['Mar'][geo_cum.Date == selected_date].values,

                                       'Jup': geo_cum['Jup'][geo_cum.Date == today].values
                                       - geo_cum['Jup'][geo_cum.Date == selected_date].values,
                                       
                                       'Sat': geo_cum['Sat'][geo_cum.Date == today].values
                                       - geo_cum['Sat'][geo_cum.Date == selected_date].values,

                                       'Ura': geo_cum['Ura'][geo_cum.Date == today].values
                                       - geo_cum['Ura'][geo_cum.Date == selected_date].values,

                                       'Nep': geo_cum['Nep'][geo_cum.Date == today].values
                                       - geo_cum['Nep'][geo_cum.Date == selected_date].values,
                                       
                                       'Plu': geo_cum['Plu'][geo_cum.Date == today].values
                                       - geo_cum['Plu'][geo_cum.Date == selected_date].values,

                                       })

cumulative_1_g = round(cumulative_1_g)
cumulative_1_g

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,31/10/2008,66409.0,4952.0,5344.0,5613.0,2700.0,802.0,154.0,420.0,34.0,28.0

In [43]:
# cumulative_GN

selected_date = '03/01/2009'

cumulative_2_g = pd.DataFrame({'Date': [selected_date],

                                       'Moon': geo_cum['Moon'][geo_cum.Date == today].values
                                       - geo_cum['Moon'][geo_cum.Date == selected_date].values,
                                       
                                       'Sun': geo_cum['Sun'][geo_cum.Date == today].values
                                       - geo_cum['Sun'][geo_cum.Date == selected_date].values,

                                       'Mer': geo_cum['Mer'][geo_cum.Date == today].values
                                       - geo_cum['Mer'][geo_cum.Date == selected_date].values,
                                       
                                       'Ven': geo_cum['Ven'][geo_cum.Date == today].values
                                       - geo_cum['Ven'][geo_cum.Date == selected_date].values,

                                       'Mar': geo_cum['Mar'][geo_cum.Date == today].values
                                       - geo_cum['Mar'][geo_cum.Date == selected_date].values,

                                       'Jup': geo_cum['Jup'][geo_cum.Date == today].values
                                       - geo_cum['Jup'][geo_cum.Date == selected_date].values,
                                       
                                       'Sat': geo_cum['Sat'][geo_cum.Date == today].values
                                       - geo_cum['Sat'][geo_cum.Date == selected_date].values,

                                       'Ura': geo_cum['Ura'][geo_cum.Date == today].values
                                       - geo_cum['Ura'][geo_cum.Date == selected_date].values,

                                       'Nep': geo_cum['Nep'][geo_cum.Date == today].values
                                       - geo_cum['Nep'][geo_cum.Date == selected_date].values,
                                       
                                       'Plu': geo_cum['Plu'][geo_cum.Date == today].values
                                       - geo_cum['Plu'][geo_cum.Date == selected_date].values,

                                       })
                                       
cumulative_2_g = round(cumulative_2_g)
cumulative_2_g

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,03/01/2009,65343.0,4887.0,5244.0,5539.0,2654.0,789.0,151.0,419.0,33.0,26.0

In [44]:
# cumulative_PD

selected_date = '22/05/2010'

cumulative_3_g = pd.DataFrame({'Date': [selected_date],

                                       'Moon': geo_cum['Moon'][geo_cum.Date == today].values
                                       - geo_cum['Moon'][geo_cum.Date == selected_date].values,
                                       
                                       'Sun': geo_cum['Sun'][geo_cum.Date == today].values
                                       - geo_cum['Sun'][geo_cum.Date == selected_date].values,

                                       'Mer': geo_cum['Mer'][geo_cum.Date == today].values
                                       - geo_cum['Mer'][geo_cum.Date == selected_date].values,
                                       
                                       'Ven': geo_cum['Ven'][geo_cum.Date == today].values
                                       - geo_cum['Ven'][geo_cum.Date == selected_date].values,

                                       'Mar': geo_cum['Mar'][geo_cum.Date == today].values
                                       - geo_cum['Mar'][geo_cum.Date == selected_date].values,

                                       'Jup': geo_cum['Jup'][geo_cum.Date == today].values
                                       - geo_cum['Jup'][geo_cum.Date == selected_date].values,
                                       
                                       'Sat': geo_cum['Sat'][geo_cum.Date == today].values
                                       - geo_cum['Sat'][geo_cum.Date == selected_date].values,

                                       'Ura': geo_cum['Ura'][geo_cum.Date == today].values
                                       - geo_cum['Ura'][geo_cum.Date == selected_date].values,

                                       'Nep': geo_cum['Nep'][geo_cum.Date == today].values
                                       - geo_cum['Nep'][geo_cum.Date == selected_date].values,
                                       
                                       'Plu': geo_cum['Plu'][geo_cum.Date == today].values
                                       - geo_cum['Plu'][geo_cum.Date == selected_date].values,
                                       
                                       })
                                       
cumulative_3_g = round(cumulative_3_g)
cumulative_3_g

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,22/05/2010,58695.0,4389.0,4790.0,4696.0,2427.0,731.0,145.0,409.0,26.0,22.0

In [45]:
# 29/11/2013

selected_date = '29/11/2013'

cumulative_4_g = pd.DataFrame({'Date': [selected_date],

                                       'Moon': geo_cum['Moon'][geo_cum.Date == today].values
                                       - geo_cum['Moon'][geo_cum.Date == selected_date].values,
                                       
                                       'Sun': geo_cum['Sun'][geo_cum.Date == today].values
                                       - geo_cum['Sun'][geo_cum.Date == selected_date].values,

                                       'Mer': geo_cum['Mer'][geo_cum.Date == today].values
                                       - geo_cum['Mer'][geo_cum.Date == selected_date].values,
                                       
                                       'Ven': geo_cum['Ven'][geo_cum.Date == today].values
                                       - geo_cum['Ven'][geo_cum.Date == selected_date].values,

                                       'Mar': geo_cum['Mar'][geo_cum.Date == today].values
                                       - geo_cum['Mar'][geo_cum.Date == selected_date].values,

                                       'Jup': geo_cum['Jup'][geo_cum.Date == today].values
                                       - geo_cum['Jup'][geo_cum.Date == selected_date].values,
                                       
                                       'Sat': geo_cum['Sat'][geo_cum.Date == today].values
                                       - geo_cum['Sat'][geo_cum.Date == selected_date].values,

                                       'Ura': geo_cum['Ura'][geo_cum.Date == today].values
                                       - geo_cum['Ura'][geo_cum.Date == selected_date].values,

                                       'Nep': geo_cum['Nep'][geo_cum.Date == today].values
                                       - geo_cum['Nep'][geo_cum.Date == selected_date].values,
                                       
                                       'Plu': geo_cum['Plu'][geo_cum.Date == today].values
                                       - geo_cum['Plu'][geo_cum.Date == selected_date].values,

                                       })
                                       
cumulative_4_g  = round(cumulative_4_g)
cumulative_4_g

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,29/11/2013,41744.0,3123.0,3155.0,3418.0,1673.0,259.0,96.0,40.0,22.0,17.0

In [46]:
# Cumul. since 17/12/2017

selected_date = '17/12/2017'

cumulative_6_g = pd.DataFrame({'Date': [selected_date],

                                       'Moon': geo_cum['Moon'][geo_cum.Date == today].values
                                       - geo_cum['Moon'][geo_cum.Date == selected_date].values,

                                       'Sun': geo_cum['Sun'][geo_cum.Date == today].values
                                       - geo_cum['Sun'][geo_cum.Date == selected_date].values,

                                       'Mer': geo_cum['Mer'][geo_cum.Date == today].values
                                       - geo_cum['Mer'][geo_cum.Date == selected_date].values,
                                       
                                       'Ven': geo_cum['Ven'][geo_cum.Date == today].values
                                       - geo_cum['Ven'][geo_cum.Date == selected_date].values,

                                       'Mar': geo_cum['Mar'][geo_cum.Date == today].values
                                       - geo_cum['Mar'][geo_cum.Date == selected_date].values,

                                       'Jup': geo_cum['Jup'][geo_cum.Date == today].values
                                       - geo_cum['Jup'][geo_cum.Date == selected_date].values,
                                       
                                       'Sat': geo_cum['Sat'][geo_cum.Date == today].values
                                       - geo_cum['Sat'][geo_cum.Date == selected_date].values,

                                       'Ura': geo_cum['Ura'][geo_cum.Date == today].values
                                       - geo_cum['Ura'][geo_cum.Date == selected_date].values,

                                       'Nep': geo_cum['Nep'][geo_cum.Date == today].values
                                       - geo_cum['Nep'][geo_cum.Date == selected_date].values,
                                       
                                       'Plu': geo_cum['Plu'][geo_cum.Date == today].values
                                       - geo_cum['Plu'][geo_cum.Date == selected_date].values,

                                       })
                                       
cumulative_6_g = round(cumulative_6_g)
cumulative_6_g

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,17/12/2017,22246.0,1664.0,1691.0,1648.0,914.0,144.0,53.0,24.0,13.0,9.0

In [47]:
# Cumul. since 15/12/2018

selected_date = '15/12/2018'

cumulative_7_g = pd.DataFrame({'Date': [selected_date],

                                       'Moon': geo_cum['Moon'][geo_cum.Date == today].values
                                       - geo_cum['Moon'][geo_cum.Date == selected_date].values,
                                       
                                       'Sun': geo_cum['Sun'][geo_cum.Date == today].values
                                       - geo_cum['Sun'][geo_cum.Date == selected_date].values,

                                       'Mer': geo_cum['Mer'][geo_cum.Date == today].values
                                       - geo_cum['Mer'][geo_cum.Date == selected_date].values,
                                       
                                       'Ven': geo_cum['Ven'][geo_cum.Date == today].values
                                       - geo_cum['Ven'][geo_cum.Date == selected_date].values,

                                       'Mar': geo_cum['Mar'][geo_cum.Date == today].values
                                       - geo_cum['Mar'][geo_cum.Date == selected_date].values,

                                       'Jup': geo_cum['Jup'][geo_cum.Date == today].values
                                       - geo_cum['Jup'][geo_cum.Date == selected_date].values,
                                       
                                       'Sat': geo_cum['Sat'][geo_cum.Date == today].values
                                       - geo_cum['Sat'][geo_cum.Date == selected_date].values,

                                       'Ura': geo_cum['Ura'][geo_cum.Date == today].values
                                       - geo_cum['Ura'][geo_cum.Date == selected_date].values,

                                       'Nep': geo_cum['Nep'][geo_cum.Date == today].values
                                       - geo_cum['Nep'][geo_cum.Date == selected_date].values,
                                       
                                       'Plu': geo_cum['Plu'][geo_cum.Date == today].values
                                       - geo_cum['Plu'][geo_cum.Date == selected_date].values,

                                       })
                                       
cumulative_7_g  = round(cumulative_7_g)
cumulative_7_g

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,15/12/2018,17470.0,1307.0,1345.0,1330.0,780.0,120.0,43.0,20.0,11.0,7.0

In [48]:
# Cumul. since 26/06/2019

selected_date = '26/06/2019'

cumulative_8_g = pd.DataFrame({'Date': [selected_date],

                                       'Moon': geo_cum['Moon'][geo_cum.Date == today].values
                                       - geo_cum['Moon'][geo_cum.Date == selected_date].values,
                                       
                                       'Sun': geo_cum['Sun'][geo_cum.Date == today].values
                                       - geo_cum['Sun'][geo_cum.Date == selected_date].values,

                                       'Mer': geo_cum['Mer'][geo_cum.Date == today].values
                                       - geo_cum['Mer'][geo_cum.Date == selected_date].values,
                                       
                                       'Ven': geo_cum['Ven'][geo_cum.Date == today].values
                                       - geo_cum['Ven'][geo_cum.Date == selected_date].values,

                                       'Mar': geo_cum['Mar'][geo_cum.Date == today].values
                                       - geo_cum['Mar'][geo_cum.Date == selected_date].values,

                                       'Jup': geo_cum['Jup'][geo_cum.Date == today].values
                                       - geo_cum['Jup'][geo_cum.Date == selected_date].values,
                                       
                                       'Sat': geo_cum['Sat'][geo_cum.Date == today].values
                                       - geo_cum['Sat'][geo_cum.Date == selected_date].values,

                                       'Ura': geo_cum['Ura'][geo_cum.Date == today].values
                                       - geo_cum['Ura'][geo_cum.Date == selected_date].values,

                                       'Nep': geo_cum['Nep'][geo_cum.Date == today].values
                                       - geo_cum['Nep'][geo_cum.Date == selected_date].values,
                                       
                                       'Plu': geo_cum['Plu'][geo_cum.Date == today].values
                                       - geo_cum['Plu'][geo_cum.Date == selected_date].values,

                                       })
                                       
cumulative_8_g  = round(cumulative_8_g)
cumulative_8_g

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,26/06/2019,14927.0,1116.0,1107.0,1107.0,653.0,111.0,35.0,13.0,6.0,5.0

In [49]:
# Cumul. since 12/03/2020

selected_date = '12/03/2020'

cumulative_9_g = pd.DataFrame({'Date': [selected_date],

                                       'Moon': geo_cum['Moon'][geo_cum.Date == today].values
                                       - geo_cum['Moon'][geo_cum.Date == selected_date].values,
                                       
                                       'Sun': geo_cum['Sun'][geo_cum.Date == today].values
                                       - geo_cum['Sun'][geo_cum.Date == selected_date].values,

                                       'Mer': geo_cum['Mer'][geo_cum.Date == today].values
                                       - geo_cum['Mer'][geo_cum.Date == selected_date].values,
                                       
                                       'Ven': geo_cum['Ven'][geo_cum.Date == today].values
                                       - geo_cum['Ven'][geo_cum.Date == selected_date].values,

                                       'Mar': geo_cum['Mar'][geo_cum.Date == today].values
                                       - geo_cum['Mar'][geo_cum.Date == selected_date].values,

                                       'Jup': geo_cum['Jup'][geo_cum.Date == today].values
                                       - geo_cum['Jup'][geo_cum.Date == selected_date].values,
                                       
                                       'Sat': geo_cum['Sat'][geo_cum.Date == today].values
                                       - geo_cum['Sat'][geo_cum.Date == selected_date].values,

                                       'Ura': geo_cum['Ura'][geo_cum.Date == today].values
                                       - geo_cum['Ura'][geo_cum.Date == selected_date].values,

                                       'Nep': geo_cum['Nep'][geo_cum.Date == today].values
                                       - geo_cum['Nep'][geo_cum.Date == selected_date].values,
                                       
                                       'Plu': geo_cum['Plu'][geo_cum.Date == today].values
                                       - geo_cum['Plu'][geo_cum.Date == selected_date].values,

                                       })
                                       
cumulative_9_g  = round(cumulative_9_g)
cumulative_9_g

         Date     Moon    Sun    Mer    Ven    Mar   Jup   Sat   Ura  Nep  Plu
0  12/03/2020  11495.0  858.0  898.0  791.0  482.0  77.0  24.0  15.0  7.0  3.0

In [50]:
# Cumul. since 25/04/2021

selected_date = '25/04/2021'

cumulative_10_g = pd.DataFrame({'Date': [selected_date],

                                       'Moon': geo_cum['Moon'][geo_cum.Date == today].values
                                       - geo_cum['Moon'][geo_cum.Date == selected_date].values,
                                       
                                       'Sun': geo_cum['Sun'][geo_cum.Date == today].values
                                       - geo_cum['Sun'][geo_cum.Date == selected_date].values,

                                       'Mer': geo_cum['Mer'][geo_cum.Date == today].values
                                       - geo_cum['Mer'][geo_cum.Date == selected_date].values,
                                       
                                       'Ven': geo_cum['Ven'][geo_cum.Date == today].values
                                       - geo_cum['Ven'][geo_cum.Date == selected_date].values,

                                       'Mar': geo_cum['Mar'][geo_cum.Date == today].values
                                       - geo_cum['Mar'][geo_cum.Date == selected_date].values,

                                       'Jup': geo_cum['Jup'][geo_cum.Date == today].values
                                       - geo_cum['Jup'][geo_cum.Date == selected_date].values,
                                       
                                       'Sat': geo_cum['Sat'][geo_cum.Date == today].values
                                       - geo_cum['Sat'][geo_cum.Date == selected_date].values,

                                       'Ura': geo_cum['Ura'][geo_cum.Date == today].values
                                       - geo_cum['Ura'][geo_cum.Date == selected_date].values,

                                       'Nep': geo_cum['Nep'][geo_cum.Date == today].values
                                       - geo_cum['Nep'][geo_cum.Date == selected_date].values,
                                       
                                       'Plu': geo_cum['Plu'][geo_cum.Date == today].values
                                       - geo_cum['Plu'][geo_cum.Date == selected_date].values,

                                       })
                                       
cumulative_10_g  = round(cumulative_10_g)
cumulative_10_g

         Date    Moon    Sun    Mer    Ven    Mar   Jup   Sat  Ura  Nep  Plu
0  25/04/2021  6114.0  455.0  464.0  425.0  318.0  41.0  10.0  8.0  3.0  0.0

In [51]:
# Cumul. since 20/07/2021

selected_date = '20/07/2021'

cumulative_11_g = pd.DataFrame({'Date': [selected_date],

                                       'Moon': geo_cum['Moon'][geo_cum.Date == today].values
                                       - geo_cum['Moon'][geo_cum.Date == selected_date].values,
                                       
                                       'Sun': geo_cum['Sun'][geo_cum.Date == today].values
                                       - geo_cum['Sun'][geo_cum.Date == selected_date].values,

                                       'Mer': geo_cum['Mer'][geo_cum.Date == today].values
                                       - geo_cum['Mer'][geo_cum.Date == selected_date].values,
                                       
                                       'Ven': geo_cum['Ven'][geo_cum.Date == today].values
                                       - geo_cum['Ven'][geo_cum.Date == selected_date].values,

                                       'Mar': geo_cum['Mar'][geo_cum.Date == today].values
                                       - geo_cum['Mar'][geo_cum.Date == selected_date].values,

                                       'Jup': geo_cum['Jup'][geo_cum.Date == today].values
                                       - geo_cum['Jup'][geo_cum.Date == selected_date].values,
                                       
                                       'Sat': geo_cum['Sat'][geo_cum.Date == today].values
                                       - geo_cum['Sat'][geo_cum.Date == selected_date].values,

                                       'Ura': geo_cum['Ura'][geo_cum.Date == today].values
                                       - geo_cum['Ura'][geo_cum.Date == selected_date].values,

                                       'Nep': geo_cum['Nep'][geo_cum.Date == today].values
                                       - geo_cum['Nep'][geo_cum.Date == selected_date].values,
                                       
                                       'Plu': geo_cum['Plu'][geo_cum.Date == today].values
                                       - geo_cum['Plu'][geo_cum.Date == selected_date].values,

                                       })
                                       
cumulative_11_g  = round(cumulative_11_g)
cumulative_11_g

         Date    Moon    Sun    Mer    Ven    Mar   Jup   Sat  Ura  Nep  Plu
0  20/07/2021  4977.0  372.0  402.0  321.0  265.0  38.0  12.0  4.0  2.0  2.0

In [52]:
# Cumul. since 20/10/2021

selected_date = '20/10/2021'

cumulative_12_g = pd.DataFrame({'Date': [selected_date],

                                       'Moon': geo_cum['Moon'][geo_cum.Date == today].values
                                       - geo_cum['Moon'][geo_cum.Date == selected_date].values,
                                       
                                       'Sun': geo_cum['Sun'][geo_cum.Date == today].values
                                       - geo_cum['Sun'][geo_cum.Date == selected_date].values,

                                       'Mer': geo_cum['Mer'][geo_cum.Date == today].values
                                       - geo_cum['Mer'][geo_cum.Date == selected_date].values,
                                       
                                       'Ven': geo_cum['Ven'][geo_cum.Date == today].values
                                       - geo_cum['Ven'][geo_cum.Date == selected_date].values,

                                       'Mar': geo_cum['Mar'][geo_cum.Date == today].values
                                       - geo_cum['Mar'][geo_cum.Date == selected_date].values,

                                       'Jup': geo_cum['Jup'][geo_cum.Date == today].values
                                       - geo_cum['Jup'][geo_cum.Date == selected_date].values,
                                       
                                       'Sat': geo_cum['Sat'][geo_cum.Date == today].values
                                       - geo_cum['Sat'][geo_cum.Date == selected_date].values,

                                       'Ura': geo_cum['Ura'][geo_cum.Date == today].values
                                       - geo_cum['Ura'][geo_cum.Date == selected_date].values,

                                       'Nep': geo_cum['Nep'][geo_cum.Date == today].values
                                       - geo_cum['Nep'][geo_cum.Date == selected_date].values,
                                       
                                       'Plu': geo_cum['Plu'][geo_cum.Date == today].values
                                       - geo_cum['Plu'][geo_cum.Date == selected_date].values,

                                       })
                                       
cumulative_12_g  = round(cumulative_12_g)
cumulative_12_g

         Date    Moon    Sun    Mer    Ven    Mar   Jup   Sat  Ura  Nep  Plu
0  20/10/2021  3758.0  283.0  316.0  215.0  206.0  46.0  16.0  5.0  4.0  3.0

In [53]:
# Cumul. since 10/11/2021

selected_date = '10/11/2021'

cumulative_13_g = pd.DataFrame({'Date': [selected_date],

                                       'Moon': geo_cum['Moon'][geo_cum.Date == today].values
                                       - geo_cum['Moon'][geo_cum.Date == selected_date].values,
                                       
                                       'Sun': geo_cum['Sun'][geo_cum.Date == today].values
                                       - geo_cum['Sun'][geo_cum.Date == selected_date].values,

                                       'Mer': geo_cum['Mer'][geo_cum.Date == today].values
                                       - geo_cum['Mer'][geo_cum.Date == selected_date].values,
                                       
                                       'Ven': geo_cum['Ven'][geo_cum.Date == today].values
                                       - geo_cum['Ven'][geo_cum.Date == selected_date].values,

                                       'Mar': geo_cum['Mar'][geo_cum.Date == today].values
                                       - geo_cum['Mar'][geo_cum.Date == selected_date].values,

                                       'Jup': geo_cum['Jup'][geo_cum.Date == today].values
                                       - geo_cum['Jup'][geo_cum.Date == selected_date].values,
                                       
                                       'Sat': geo_cum['Sat'][geo_cum.Date == today].values
                                       - geo_cum['Sat'][geo_cum.Date == selected_date].values,

                                       'Ura': geo_cum['Ura'][geo_cum.Date == today].values
                                       - geo_cum['Ura'][geo_cum.Date == selected_date].values,

                                       'Nep': geo_cum['Nep'][geo_cum.Date == today].values
                                       - geo_cum['Nep'][geo_cum.Date == selected_date].values,
                                       
                                       'Plu': geo_cum['Plu'][geo_cum.Date == today].values
                                       - geo_cum['Plu'][geo_cum.Date == selected_date].values,

                                       })
                                       
cumulative_13_g  = round(cumulative_13_g)
cumulative_13_g

         Date    Moon    Sun    Mer    Ven    Mar   Jup   Sat  Ura  Nep  Plu
0  10/11/2021  3481.0  262.0  290.0  194.0  192.0  45.0  15.0  6.0  5.0  2.0

In [54]:
# Cumul. since 18/06/2022

selected_date = '18/06/2022'

cumulative_14_g = pd.DataFrame({'Date': [selected_date],

                                       'Moon': geo_cum['Moon'][geo_cum.Date == today].values
                                       - geo_cum['Moon'][geo_cum.Date == selected_date].values,
                                       
                                       'Sun': geo_cum['Sun'][geo_cum.Date == today].values
                                       - geo_cum['Sun'][geo_cum.Date == selected_date].values,

                                       'Mer': geo_cum['Mer'][geo_cum.Date == today].values
                                       - geo_cum['Mer'][geo_cum.Date == selected_date].values,
                                       
                                       'Ven': geo_cum['Ven'][geo_cum.Date == today].values
                                       - geo_cum['Ven'][geo_cum.Date == selected_date].values,

                                       'Mar': geo_cum['Mar'][geo_cum.Date == today].values
                                       - geo_cum['Mar'][geo_cum.Date == selected_date].values,

                                       'Jup': geo_cum['Jup'][geo_cum.Date == today].values
                                       - geo_cum['Jup'][geo_cum.Date == selected_date].values,
                                       
                                       'Sat': geo_cum['Sat'][geo_cum.Date == today].values
                                       - geo_cum['Sat'][geo_cum.Date == selected_date].values,

                                       'Ura': geo_cum['Ura'][geo_cum.Date == today].values
                                       - geo_cum['Ura'][geo_cum.Date == selected_date].values,

                                       'Nep': geo_cum['Nep'][geo_cum.Date == today].values
                                       - geo_cum['Nep'][geo_cum.Date == selected_date].values,
                                       
                                       'Plu': geo_cum['Plu'][geo_cum.Date == today].values
                                       - geo_cum['Plu'][geo_cum.Date == selected_date].values,

                                       })
                                       
cumulative_14_g  = round(cumulative_14_g)
cumulative_14_g

         Date   Moon   Sun   Mer   Ven   Mar  Jup  Sat  Ura  Nep  Plu
0  18/06/2022  583.0  43.0  82.0  54.0  31.0  3.0 -2.0  2.0 -0.0 -1.0

## **II.2.2 MOD30 & 360 GEO**

In [55]:
result_g = geo[geo.Date == today]
result_g

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
31348,02/08/2022,182.06,130.03,146.65,108.5,48.93,8.68,322.82,48.72,355.13,297.04

In [56]:
result_g.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 31348 to 31348
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1 non-null      object
 1   Moon    1 non-null      float64
 2   Sun     1 non-null      float64
 3   Mer     1 non-null      float64
 4   Ven     1 non-null      float64
 5   Mar     1 non-null      float64
 6   Jup     1 non-null      float64
 7   Sat     1 non-null      float64
 8   Ura     1 non-null      float64
 9   Nep     1 non-null      float64
 10  Plu     1 non-null      float64
dtypes: float64(10), object(1)
memory usage: 96.0+ bytes

#### **MOD30**

In [57]:
# mod30 (donne qu'elle signe il est)

mod_g = pd.DataFrame({'Date': [today],

                                       'Moon': result_g['Moon'][result_g.Date == today].values
                                       % 30,

                                        'Sun': result_g['Sun'][result_g.Date == today].values
                                       % 30,

                                       'Mer': result_g['Mer'][result_g.Date == today].values
                                       % 30,
                                       
                                       'Ven': result_g['Ven'][result_g.Date == today].values
                                       % 30,

                                       'Mar': result_g['Mar'][result_g.Date == today].values
                                       % 30,

                                       'Jup': result_g['Jup'][result_g.Date == today].values
                                       % 30,
                                       
                                       'Sat': result_g['Sat'][result_g.Date == today].values
                                       % 30,

                                       'Ura': result_g['Ura'][result_g.Date == today].values
                                       % 30,

                                       'Nep': result_g['Nep'][result_g.Date == today].values
                                       % 30,
                                       
                                       'Plu': result_g['Plu'][result_g.Date == today].values
                                       % 30,

                                       })

mod_g.round()

         Date  Moon   Sun   Mer   Ven   Mar  Jup   Sat   Ura   Nep   Plu
0  02/08/2022   2.0  10.0  27.0  18.0  19.0  9.0  23.0  19.0  25.0  27.0

In [58]:
rrr_g = result_g # rrr

for col in rrr_g.columns[1:]:
     rrr_g= rrr_g.astype({col: "int64"})

rrr_g.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 31348 to 31348
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1 non-null      object
 1   Moon    1 non-null      int64
 2   Sun     1 non-null      int64
 3   Mer     1 non-null      int64
 4   Ven     1 non-null      int64
 5   Mar     1 non-null      int64
 6   Jup     1 non-null      int64
 7   Sat     1 non-null      int64
 8   Ura     1 non-null      int64
 9   Nep     1 non-null      int64
 10  Plu     1 non-null      int64
dtypes: int64(10), object(1)
memory usage: 96.0+ bytes

In [59]:
# rrr

# mod30 (donne qu'elle signe il est)

rrr_g = pd.DataFrame({'Date': [today],

                                       'Moon': rrr_g['Moon'][rrr_g.Date == today].values
                                       ,

                                        'Sun': rrr_g['Sun'][rrr_g.Date == today].values
                                       ,

                                       'Mer': rrr_g['Mer'][rrr_g.Date == today].values
                                       ,
                                       
                                       'Ven': rrr_g['Ven'][rrr_g.Date == today].values
                                       ,

                                       'Mar': rrr_g['Mar'][rrr_g.Date == today].values
                                       ,

                                       'Jup': rrr_g['Jup'][rrr_g.Date == today].values
                                       ,
                                       
                                       'Sat': rrr_g['Sat'][rrr_g.Date == today].values
                                       ,

                                       'Ura': rrr_g['Ura'][rrr_g.Date == today].values
                                       ,

                                       'Nep': rrr_g['Nep'][rrr_g.Date == today].values
                                       ,
                                       
                                       'Plu': rrr_g['Plu'][rrr_g.Date == today].values
                                       ,

                                       })

rrr_g.round()

for i in rrr_g['Moon']: 
        if (0<=i<=29):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Pi")

for i in rrr_g['Sun']: 
        if (0<=i<=29):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Pi")

for i in rrr_g['Mer']: 
        if (0<=i<=29):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Pi")

for i in rrr_g['Ven']: 
        if (0<=i<=29):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Pi")

for i in rrr_g['Mar']: 
        if (0<=i<=29):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Pi")

for i in rrr_g['Jup']: 
        if (0<=i<=29):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Pi")

for i in rrr_g['Sat']: 
        if (0<=i<=29):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Pi")

for i in rrr_g['Ura']: 
        if (0<=i<=29):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Pi")

for i in rrr_g['Nep']: 
        if (0<=i<=29):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Pi")

for i in rrr_g['Plu']: 
        if (0<=i<=29):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Pi")

rrr_g

         Date Moon Sun Mer Ven Mar Jup Sat Ura Nep Plu
0  02/08/2022   Li  Le  Le  Ca  Ta  Ar  Aq  Ta  Pi  Cp

In [60]:
mod_g = mod_g.round()

# STR

for col in mod_g.columns[1:]:
     mod_g = mod_g.astype({col: str})

for col in rrr_g.columns[1:]:
     rrr_g = rrr_g.astype({col: str})

mod0_g = pd.DataFrame({"Date": [today]})

# GROUPBY MANUALY

for col in mod_g.columns[1:]:
    mod0_g[col] = mod_g[col] + ' | ' + rrr_g[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod0_g

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,02/08/2022,2.0 | Li,10.0 | Le,27.0 | Le,18.0 | Ca,19.0 | Ta,9.0 | Ar,23.0 | Aq,19.0 | Ta,25.0 | Pi,27.0 | Cp

#### **MOD360**

In [61]:
# 1

# DEGREES OF CURRENT REVOLUTION

selected_date = '31/10/2008'

cum_mod_1 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_1_g['Moon'] % 360),

                                       'Sun': (cumulative_1_g['Sun'] % 360),

                                       'Mer': (cumulative_1_g['Mer'] % 360),
                                       
                                       'Ven': (cumulative_1_g['Ven'] % 360),

                                       'Mar': (cumulative_1_g['Mar'] % 360),

                                       'Jup': (cumulative_1_g['Jup'] % 360),
                                       
                                       'Sat': (cumulative_1_g['Sat'] % 360),

                                       'Ura': (cumulative_1_g['Ura'] % 360),

                                       'Nep': (cumulative_1_g['Nep'] % 360),
                                       
                                       'Plu': (cumulative_1_g['Plu'] % 360),
									   
                                       })

# NUMBER OF REVOLUTIONS

cum_dv_1 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_1_g['Moon'] / 360),

                                       'Sun': (cumulative_1_g['Sun'] / 360),

                                       'Mer': (cumulative_1_g['Mer'] / 360),
                                       
                                       'Ven': (cumulative_1_g['Ven'] / 360),

                                       'Mar': (cumulative_1_g['Mar'] / 360),

                                       'Jup': (cumulative_1_g['Jup'] / 360),
                                       
                                       'Sat': (cumulative_1_g['Sat'] / 360),

                                       'Ura': (cumulative_1_g['Ura'] / 360),

                                       'Nep': (cumulative_1_g['Nep'] / 360),
                                       
                                       'Plu': (cumulative_1_g['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cum_dv_1 = cum_dv_1.round(1)
cum_mod_1 = cum_mod_1.round()

# STR

for col in cum_dv_1.columns[1:]:
     cum_dv_1 = cum_dv_1.astype({col: str})

for col in cum_mod_1.columns[1:]:
     cum_mod_1 = cum_mod_1.astype({col: str})

mod_1_g = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cum_dv_1.columns[1:]:
    mod_1_g[col] = cum_dv_1[col] + ' | ' + cum_mod_1[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod_1_g

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,31/10/2008,184.5 | 169.0,13.8 | 272.0,14.8 | 304.0,15.6 | 213.0,7.5 | 180.0,2.2 | 82.0,0.4 | 154.0,1.2 | 60.0,0.1 | 34.0,0.1 | 28.0

In [62]:
# 1

# DEGREES OF CURRENT REVOLUTION

selected_date = '03/01/2009'

cum_mod_2 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_2_g['Moon'] % 360),

                                       'Sun': (cumulative_2_g['Sun'] % 360),

                                       'Mer': (cumulative_2_g['Mer'] % 360),
                                       
                                       'Ven': (cumulative_2_g['Ven'] % 360),

                                       'Mar': (cumulative_2_g['Mar'] % 360),

                                       'Jup': (cumulative_2_g['Jup'] % 360),
                                       
                                       'Sat': (cumulative_2_g['Sat'] % 360),

                                       'Ura': (cumulative_2_g['Ura'] % 360),

                                       'Nep': (cumulative_2_g['Nep'] % 360),
                                       
                                       'Plu': (cumulative_2_g['Plu'] % 360),
									   
                                       })

# NUMBER OF REVOLUTIONS

cum_dv_2 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_2_g['Moon'] / 360),

                                       'Sun': (cumulative_2_g['Sun'] / 360),

                                       'Mer': (cumulative_2_g['Mer'] / 360),
                                       
                                       'Ven': (cumulative_2_g['Ven'] / 360),

                                       'Mar': (cumulative_2_g['Mar'] / 360),

                                       'Jup': (cumulative_2_g['Jup'] / 360),
                                       
                                       'Sat': (cumulative_2_g['Sat'] / 360),

                                       'Ura': (cumulative_2_g['Ura'] / 360),

                                       'Nep': (cumulative_2_g['Nep'] / 360),
                                       
                                       'Plu': (cumulative_2_g['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cum_dv_2 = cum_dv_2.round(1)
cum_mod_2 = cum_mod_2.round()

# STR

for col in cum_dv_2.columns[1:]:
     cum_dv_2 = cum_dv_2.astype({col: str})

for col in cum_mod_2.columns[1:]:
     cum_mod_2 = cum_mod_2.astype({col: str})

mod_2_g = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cum_dv_2.columns[1:]:
    mod_2_g[col] = cum_dv_2[col] + ' | ' + cum_mod_2[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod_2_g

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,03/01/2009,181.5 | 183.0,13.6 | 207.0,14.6 | 204.0,15.4 | 139.0,7.4 | 134.0,2.2 | 69.0,0.4 | 151.0,1.2 | 59.0,0.1 | 33.0,0.1 | 26.0

In [63]:
# 3

# DEGREES OF CURRENT REVOLUTION

selected_date = '22/05/2010'

cum_mod_3 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_3_g['Moon'] % 360),

                                       'Sun': (cumulative_3_g['Sun'] % 360),

                                       'Mer': (cumulative_3_g['Mer'] % 360),
                                       
                                       'Ven': (cumulative_3_g['Ven'] % 360),

                                       'Mar': (cumulative_3_g['Mar'] % 360),

                                       'Jup': (cumulative_3_g['Jup'] % 360),
                                       
                                       'Sat': (cumulative_3_g['Sat'] % 360),

                                       'Ura': (cumulative_3_g['Ura'] % 360),

                                       'Nep': (cumulative_3_g['Nep'] % 360),
                                       
                                       'Plu': (cumulative_3_g['Plu'] % 360),
									   
                                       })

# NUMBER OF REVOLUTIONS

cum_dv_3 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_3_g['Moon'] / 360),

                                       'Sun': (cumulative_3_g['Sun'] / 360),

                                       'Mer': (cumulative_3_g['Mer'] / 360),
                                       
                                       'Ven': (cumulative_3_g['Ven'] / 360),

                                       'Mar': (cumulative_3_g['Mar'] / 360),

                                       'Jup': (cumulative_3_g['Jup'] / 360),
                                       
                                       'Sat': (cumulative_3_g['Sat'] / 360),

                                       'Ura': (cumulative_3_g['Ura'] / 360),

                                       'Nep': (cumulative_3_g['Nep'] / 360),
                                       
                                       'Plu': (cumulative_3_g['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cum_dv_3 = cum_dv_3.round(1)
cum_mod_3 = cum_mod_3.round()

# STR

for col in cum_dv_3.columns[1:]:
     cum_dv_3 = cum_dv_3.astype({col: str})

for col in cum_mod_3.columns[1:]:
     cum_mod_3 = cum_mod_3.astype({col: str})

mod_3_g = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cum_dv_3.columns[1:]:
    mod_3_g[col] = cum_dv_3[col] + ' | ' + cum_mod_3[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod_3_g

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,22/05/2010,163.0 | 15.0,12.2 | 69.0,13.3 | 110.0,13.0 | 16.0,6.7 | 267.0,2.0 | 11.0,0.4 | 145.0,1.1 | 49.0,0.1 | 26.0,0.1 | 22.0

In [64]:
# 4

# DEGREES OF CURRENT REVOLUTION

selected_date = '29/11/2013'

cum_mod_4 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_4_g['Moon'] % 360),

                                       'Sun': (cumulative_4_g['Sun'] % 360),

                                       'Mer': (cumulative_4_g['Mer'] % 360),
                                       
                                       'Ven': (cumulative_4_g['Ven'] % 360),

                                       'Mar': (cumulative_4_g['Mar'] % 360),

                                       'Jup': (cumulative_4_g['Jup'] % 360),
                                       
                                       'Sat': (cumulative_4_g['Sat'] % 360),

                                       'Ura': (cumulative_4_g['Ura'] % 360),

                                       'Nep': (cumulative_4_g['Nep'] % 360),
                                       
                                       'Plu': (cumulative_4_g['Plu'] % 360),
									   
                                       })

# NUMBER OF REVOLUTIONS

cum_dv_4 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_4_g['Moon'] / 360),

                                       'Sun': (cumulative_4_g['Sun'] / 360),

                                       'Mer': (cumulative_4_g['Mer'] / 360),
                                       
                                       'Ven': (cumulative_4_g['Ven'] / 360),

                                       'Mar': (cumulative_4_g['Mar'] / 360),

                                       'Jup': (cumulative_4_g['Jup'] / 360),
                                       
                                       'Sat': (cumulative_4_g['Sat'] / 360),

                                       'Ura': (cumulative_4_g['Ura'] / 360),

                                       'Nep': (cumulative_4_g['Nep'] / 360),
                                       
                                       'Plu': (cumulative_4_g['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cum_dv_4 = cum_dv_4.round(1)
cum_mod_4 = cum_mod_4.round()

# STR

for col in cum_dv_4.columns[1:]:
     cum_dv_4 = cum_dv_4.astype({col: str})

for col in cum_mod_4.columns[1:]:
     cum_mod_4 = cum_mod_4.astype({col: str})

mod_4_g = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cum_dv_4.columns[1:]:
    mod_4_g[col] = cum_dv_4[col] + ' | ' + cum_mod_4[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod_4_g

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,29/11/2013,116.0 | 344.0,8.7 | 243.0,8.8 | 275.0,9.5 | 178.0,4.6 | 233.0,0.7 | 259.0,0.3 | 96.0,0.1 | 40.0,0.1 | 22.0,0.0 | 17.0

In [65]:
selected_date = '17/12/2017'

cum_mod_6 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_6_g['Moon'] % 360),

                                       'Sun': (cumulative_6_g['Sun'] % 360),

                                       'Mer': (cumulative_6_g['Mer'] % 360),
                                       
                                       'Ven': (cumulative_6_g['Ven'] % 360),

                                       'Mar': (cumulative_6_g['Mar'] % 360),

                                       'Jup': (cumulative_6_g['Jup'] % 360),
                                       
                                       'Sat': (cumulative_6_g['Sat'] % 360),

                                       'Ura': (cumulative_6_g['Ura'] % 360),

                                       'Nep': (cumulative_6_g['Nep'] % 360),
                                       
                                       'Plu': (cumulative_6_g['Plu'] % 360),
									   
                                       })

# NUMBER OF REVOLUTIONS

cum_dv_6 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_6_g['Moon'] / 360),

                                       'Sun': (cumulative_6_g['Sun'] / 360),

                                       'Mer': (cumulative_6_g['Mer'] / 360),
                                       
                                       'Ven': (cumulative_6_g['Ven'] / 360),

                                       'Mar': (cumulative_6_g['Mar'] / 360),

                                       'Jup': (cumulative_6_g['Jup'] / 360),
                                       
                                       'Sat': (cumulative_6_g['Sat'] / 360),

                                       'Ura': (cumulative_6_g['Ura'] / 360),

                                       'Nep': (cumulative_6_g['Nep'] / 360),
                                       
                                       'Plu': (cumulative_6_g['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cum_dv_6 = cum_dv_6.round(1)
cum_mod_6 = cum_mod_6.round()

# STR

for col in cum_dv_6.columns[1:]:
     cum_dv_6 = cum_dv_6.astype({col: str})

for col in cum_mod_6.columns[1:]:
     cum_mod_6 = cum_mod_6.astype({col: str})

mod_6_g = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cum_dv_6.columns[1:]:
    mod_6_g[col] = cum_dv_6[col] + ' | ' + cum_mod_6[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod_6_g

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,17/12/2017,61.8 | 286.0,4.6 | 224.0,4.7 | 251.0,4.6 | 208.0,2.5 | 194.0,0.4 | 144.0,0.1 | 53.0,0.1 | 24.0,0.0 | 13.0,0.0 | 9.0

In [66]:
# 7

# DEGREES OF CURRENT REVOLUTION

selected_date = '15/12/2018'

cum_mod_7 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_7_g['Moon'] % 360),

                                       'Sun': (cumulative_7_g['Sun'] % 360),

                                       'Mer': (cumulative_7_g['Mer'] % 360),
                                       
                                       'Ven': (cumulative_7_g['Ven'] % 360),

                                       'Mar': (cumulative_7_g['Mar'] % 360),

                                       'Jup': (cumulative_7_g['Jup'] % 360),
                                       
                                       'Sat': (cumulative_7_g['Sat'] % 360),

                                       'Ura': (cumulative_7_g['Ura'] % 360),

                                       'Nep': (cumulative_7_g['Nep'] % 360),
                                       
                                       'Plu': (cumulative_7_g['Plu'] % 360),
									   
                                       })

# NUMBER OF REVOLUTIONS

cum_dv_7 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_7_g['Moon'] / 360),

                                       'Sun': (cumulative_7_g['Sun'] / 360),

                                       'Mer': (cumulative_7_g['Mer'] / 360),
                                       
                                       'Ven': (cumulative_7_g['Ven'] / 360),

                                       'Mar': (cumulative_7_g['Mar'] / 360),

                                       'Jup': (cumulative_7_g['Jup'] / 360),
                                       
                                       'Sat': (cumulative_7_g['Sat'] / 360),

                                       'Ura': (cumulative_7_g['Ura'] / 360),

                                       'Nep': (cumulative_7_g['Nep'] / 360),
                                       
                                       'Plu': (cumulative_7_g['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cum_dv_7 = cum_dv_7.round(1)
cum_mod_7 = cum_mod_7.round()

# STR

for col in cum_dv_7.columns[1:]:
     cum_dv_7 = cum_dv_7.astype({col: str})

for col in cum_mod_7.columns[1:]:
     cum_mod_7 = cum_mod_7.astype({col: str})

mod_7_g = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cum_dv_7.columns[1:]:
    mod_7_g[col] = cum_dv_7[col] + ' | ' + cum_mod_7[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod_7_g

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,15/12/2018,48.5 | 190.0,3.6 | 227.0,3.7 | 265.0,3.7 | 250.0,2.2 | 60.0,0.3 | 120.0,0.1 | 43.0,0.1 | 20.0,0.0 | 11.0,0.0 | 7.0

In [67]:
# 8

# DEGREES OF CURRENT REVOLUTION

selected_date = '26/06/2019'

cum_mod_8 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_8_g['Moon'] % 360),

                                       'Sun': (cumulative_8_g['Sun'] % 360),

                                       'Mer': (cumulative_8_g['Mer'] % 360),
                                       
                                       'Ven': (cumulative_8_g['Ven'] % 360),

                                       'Mar': (cumulative_8_g['Mar'] % 360),

                                       'Jup': (cumulative_8_g['Jup'] % 360),
                                       
                                       'Sat': (cumulative_8_g['Sat'] % 360),

                                       'Ura': (cumulative_8_g['Ura'] % 360),

                                       'Nep': (cumulative_8_g['Nep'] % 360),
                                       
                                       'Plu': (cumulative_8_g['Plu'] % 360),
									   
                                       })

# NUMBER OF REVOLUTIONS

cum_dv_8 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_8_g['Moon'] / 360),

                                       'Sun': (cumulative_8_g['Sun'] / 360),

                                       'Mer': (cumulative_8_g['Mer'] / 360),
                                       
                                       'Ven': (cumulative_8_g['Ven'] / 360),

                                       'Mar': (cumulative_8_g['Mar'] / 360),

                                       'Jup': (cumulative_8_g['Jup'] / 360),
                                       
                                       'Sat': (cumulative_8_g['Sat'] / 360),

                                       'Ura': (cumulative_8_g['Ura'] / 360),

                                       'Nep': (cumulative_8_g['Nep'] / 360),
                                       
                                       'Plu': (cumulative_8_g['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cum_dv_8 = cum_dv_8.round(1)
cum_mod_8 = cum_mod_8.round()

# STR

for col in cum_dv_8.columns[1:]:
     cum_dv_8 = cum_dv_8.astype({col: str})

for col in cum_mod_8.columns[1:]:
     cum_mod_8 = cum_mod_8.astype({col: str})

mod_8_g = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cum_dv_8.columns[1:]:
    mod_8_g[col] = cum_dv_8[col] + ' | ' + cum_mod_8[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod_8_g

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,26/06/2019,41.5 | 167.0,3.1 | 36.0,3.1 | 27.0,3.1 | 27.0,1.8 | 293.0,0.3 | 111.0,0.1 | 35.0,0.0 | 13.0,0.0 | 6.0,0.0 | 5.0

In [68]:
# 9

# DEGREES OF CURRENT REVOLUTION

selected_date = '12/03/2020'

cum_mod_9 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_9_g['Moon'] % 360),

                                       'Sun': (cumulative_9_g['Sun'] % 360),

                                       'Mer': (cumulative_9_g['Mer'] % 360),
                                       
                                       'Ven': (cumulative_9_g['Ven'] % 360),

                                       'Mar': (cumulative_9_g['Mar'] % 360),

                                       'Jup': (cumulative_9_g['Jup'] % 360),
                                       
                                       'Sat': (cumulative_9_g['Sat'] % 360),

                                       'Ura': (cumulative_9_g['Ura'] % 360),

                                       'Nep': (cumulative_9_g['Nep'] % 360),
                                       
                                       'Plu': (cumulative_9_g['Plu'] % 360),
									   
                                       })

# NUMBER OF REVOLUTIONS

cum_dv_9 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_9_g['Moon'] / 360),

                                       'Sun': (cumulative_9_g['Sun'] / 360),

                                       'Mer': (cumulative_9_g['Mer'] / 360),
                                       
                                       'Ven': (cumulative_9_g['Ven'] / 360),

                                       'Mar': (cumulative_9_g['Mar'] / 360),

                                       'Jup': (cumulative_9_g['Jup'] / 360),
                                       
                                       'Sat': (cumulative_9_g['Sat'] / 360),

                                       'Ura': (cumulative_9_g['Ura'] / 360),

                                       'Nep': (cumulative_9_g['Nep'] / 360),
                                       
                                       'Plu': (cumulative_9_g['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cum_dv_9 = cum_dv_9.round(1)
cum_mod_9 = cum_mod_9.round()

# STR

for col in cum_dv_9.columns[1:]:
     cum_dv_9 = cum_dv_9.astype({col: str})

for col in cum_mod_9.columns[1:]:
     cum_mod_9 = cum_mod_9.astype({col: str})

mod_9_g = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cum_dv_9.columns[1:]:
    mod_9_g[col] = cum_dv_9[col] + ' | ' + cum_mod_9[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod_9_g

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,12/03/2020,31.9 | 335.0,2.4 | 138.0,2.5 | 178.0,2.2 | 71.0,1.3 | 122.0,0.2 | 77.0,0.1 | 24.0,0.0 | 15.0,0.0 | 7.0,0.0 | 3.0

In [69]:
# 10

# DEGREES OF CURRENT REVOLUTION

selected_date = '25/04/2021'

cum_mod_10 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_10_g['Moon'] % 360),

                                       'Sun': (cumulative_10_g['Sun'] % 360),

                                       'Mer': (cumulative_10_g['Mer'] % 360),
                                       
                                       'Ven': (cumulative_10_g['Ven'] % 360),

                                       'Mar': (cumulative_10_g['Mar'] % 360),

                                       'Jup': (cumulative_10_g['Jup'] % 360),
                                       
                                       'Sat': (cumulative_10_g['Sat'] % 360),

                                       'Ura': (cumulative_10_g['Ura'] % 360),

                                       'Nep': (cumulative_10_g['Nep'] % 360),
                                       
                                       'Plu': (cumulative_10_g['Plu'] % 360),
									   
                                       })

# NUMBER OF REVOLUTIONS

cum_dv_10 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_10_g['Moon'] / 360),

                                       'Sun': (cumulative_10_g['Sun'] / 360),

                                       'Mer': (cumulative_10_g['Mer'] / 360),
                                       
                                       'Ven': (cumulative_10_g['Ven'] / 360),

                                       'Mar': (cumulative_10_g['Mar'] / 360),

                                       'Jup': (cumulative_10_g['Jup'] / 360),
                                       
                                       'Sat': (cumulative_10_g['Sat'] / 360),

                                       'Ura': (cumulative_10_g['Ura'] / 360),

                                       'Nep': (cumulative_10_g['Nep'] / 360),
                                       
                                       'Plu': (cumulative_10_g['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cum_dv_10 = cum_dv_10.round(1)
cum_mod_10 = cum_mod_10.round()

# STR

for col in cum_dv_10.columns[1:]:
     cum_dv_10 = cum_dv_10.astype({col: str})

for col in cum_mod_10.columns[1:]:
     cum_mod_10 = cum_mod_10.astype({col: str})

mod_10_g = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cum_dv_10.columns[1:]:
    mod_10_g[col] = cum_dv_10[col] + ' | ' + cum_mod_10[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod_10_g

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,25/04/2021,17.0 | 354.0,1.3 | 95.0,1.3 | 104.0,1.2 | 65.0,0.9 | 318.0,0.1 | 41.0,0.0 | 10.0,0.0 | 8.0,0.0 | 3.0,0.0 | 0.0

In [70]:
# 11

# DEGREES OF CURRENT REVOLUTION

selected_date = '20/07/2021'

cum_mod_11 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_11_g['Moon'] % 360),

                                       'Sun': (cumulative_11_g['Sun'] % 360),

                                       'Mer': (cumulative_11_g['Mer'] % 360),
                                       
                                       'Ven': (cumulative_11_g['Ven'] % 360),

                                       'Mar': (cumulative_11_g['Mar'] % 360),

                                       'Jup': (cumulative_11_g['Jup'] % 360),
                                       
                                       'Sat': (cumulative_11_g['Sat'] % 360),

                                       'Ura': (cumulative_11_g['Ura'] % 360),

                                       'Nep': (cumulative_11_g['Nep'] % 360),
                                       
                                       'Plu': (cumulative_11_g['Plu'] % 360),
									   
                                       })

# NUMBER OF REVOLUTIONS

cum_dv_11 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_11_g['Moon'] / 360),

                                       'Sun': (cumulative_11_g['Sun'] / 360),

                                       'Mer': (cumulative_11_g['Mer'] / 360),
                                       
                                       'Ven': (cumulative_11_g['Ven'] / 360),

                                       'Mar': (cumulative_11_g['Mar'] / 360),

                                       'Jup': (cumulative_11_g['Jup'] / 360),
                                       
                                       'Sat': (cumulative_11_g['Sat'] / 360),

                                       'Ura': (cumulative_11_g['Ura'] / 360),

                                       'Nep': (cumulative_11_g['Nep'] / 360),
                                       
                                       'Plu': (cumulative_11_g['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cum_dv_11 = cum_dv_11.round(1)
cum_mod_11 = cum_mod_11.round()

# STR

for col in cum_dv_11.columns[1:]:
     cum_dv_11 = cum_dv_11.astype({col: str})

for col in cum_mod_11.columns[1:]:
     cum_mod_11 = cum_mod_11.astype({col: str})

mod_11_g = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cum_dv_11.columns[1:]:
    mod_11_g[col] = cum_dv_11[col] + ' | ' + cum_mod_11[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod_11_g

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,20/07/2021,13.8 | 297.0,1.0 | 12.0,1.1 | 42.0,0.9 | 321.0,0.7 | 265.0,0.1 | 38.0,0.0 | 12.0,0.0 | 4.0,0.0 | 2.0,0.0 | 2.0

In [71]:
# 12

# DEGREES OF CURRENT REVOLUTION

selected_date = '20/10/2021'

cum_mod_12 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_12_g['Moon'] % 360),

                                       'Sun': (cumulative_12_g['Sun'] % 360),

                                       'Mer': (cumulative_12_g['Mer'] % 360),
                                       
                                       'Ven': (cumulative_12_g['Ven'] % 360),

                                       'Mar': (cumulative_12_g['Mar'] % 360),

                                       'Jup': (cumulative_12_g['Jup'] % 360),
                                       
                                       'Sat': (cumulative_12_g['Sat'] % 360),

                                       'Ura': (cumulative_12_g['Ura'] % 360),

                                       'Nep': (cumulative_12_g['Nep'] % 360),
                                       
                                       'Plu': (cumulative_12_g['Plu'] % 360),
									   
                                       })

# NUMBER OF REVOLUTIONS

cum_dv_12 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_12_g['Moon'] / 360),

                                       'Sun': (cumulative_12_g['Sun'] / 360),

                                       'Mer': (cumulative_12_g['Mer'] / 360),
                                       
                                       'Ven': (cumulative_12_g['Ven'] / 360),

                                       'Mar': (cumulative_12_g['Mar'] / 360),

                                       'Jup': (cumulative_12_g['Jup'] / 360),
                                       
                                       'Sat': (cumulative_12_g['Sat'] / 360),

                                       'Ura': (cumulative_12_g['Ura'] / 360),

                                       'Nep': (cumulative_12_g['Nep'] / 360),
                                       
                                       'Plu': (cumulative_12_g['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cum_dv_12 = cum_dv_12.round(1)
cum_mod_12 = cum_mod_12.round()

# STR

for col in cum_dv_12.columns[1:]:
     cum_dv_12 = cum_dv_12.astype({col: str})

for col in cum_mod_12.columns[1:]:
     cum_mod_12 = cum_mod_12.astype({col: str})

mod_12_g = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cum_dv_12.columns[1:]:
    mod_12_g[col] = cum_dv_12[col] + ' | ' + cum_mod_12[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod_12_g

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,20/10/2021,10.4 | 158.0,0.8 | 283.0,0.9 | 316.0,0.6 | 215.0,0.6 | 206.0,0.1 | 46.0,0.0 | 16.0,0.0 | 5.0,0.0 | 4.0,0.0 | 3.0

In [72]:
# 13

# DEGREES OF CURRENT REVOLUTION

selected_date = '10/11/2021'

cum_mod_13 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_13_g['Moon'] % 360),

                                       'Sun': (cumulative_13_g['Sun'] % 360),

                                       'Mer': (cumulative_13_g['Mer'] % 360),
                                       
                                       'Ven': (cumulative_13_g['Ven'] % 360),

                                       'Mar': (cumulative_13_g['Mar'] % 360),

                                       'Jup': (cumulative_13_g['Jup'] % 360),
                                       
                                       'Sat': (cumulative_13_g['Sat'] % 360),

                                       'Ura': (cumulative_13_g['Ura'] % 360),

                                       'Nep': (cumulative_13_g['Nep'] % 360),
                                       
                                       'Plu': (cumulative_13_g['Plu'] % 360),
									   
                                       })

# NUMBER OF REVOLUTIONS

cum_dv_13 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_13_g['Moon'] / 360),

                                       'Sun': (cumulative_13_g['Sun'] / 360),

                                       'Mer': (cumulative_13_g['Mer'] / 360),
                                       
                                       'Ven': (cumulative_13_g['Ven'] / 360),

                                       'Mar': (cumulative_13_g['Mar'] / 360),

                                       'Jup': (cumulative_13_g['Jup'] / 360),
                                       
                                       'Sat': (cumulative_13_g['Sat'] / 360),

                                       'Ura': (cumulative_13_g['Ura'] / 360),

                                       'Nep': (cumulative_13_g['Nep'] / 360),
                                       
                                       'Plu': (cumulative_13_g['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cum_dv_13 = cum_dv_13.round(1)
cum_mod_13 = cum_mod_13.round()

# STR

for col in cum_dv_13.columns[1:]:
     cum_dv_13 = cum_dv_13.astype({col: str})

for col in cum_mod_13.columns[1:]:
     cum_mod_13 = cum_mod_13.astype({col: str})

mod_13_g = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cum_dv_13.columns[1:]:
    mod_13_g[col] = cum_dv_13[col] + ' | ' + cum_mod_13[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod_13_g

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,10/11/2021,9.7 | 241.0,0.7 | 262.0,0.8 | 290.0,0.5 | 194.0,0.5 | 192.0,0.1 | 45.0,0.0 | 15.0,0.0 | 6.0,0.0 | 5.0,0.0 | 2.0

In [73]:
# 14

# DEGREES OF CURRENT REVOLUTION

selected_date = '18/06/2022'

cum_mod_14 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_14_g['Moon'] % 360),

                                       'Sun': (cumulative_14_g['Sun'] % 360),

                                       'Mer': (cumulative_14_g['Mer'] % 360),
                                       
                                       'Ven': (cumulative_14_g['Ven'] % 360),

                                       'Mar': (cumulative_14_g['Mar'] % 360),

                                       'Jup': (cumulative_14_g['Jup'] % 360),
                                       
                                       'Sat': (cumulative_14_g['Sat'] % 360),

                                       'Ura': (cumulative_14_g['Ura'] % 360),

                                       'Nep': (cumulative_14_g['Nep'] % 360),
                                       
                                       'Plu': (cumulative_14_g['Plu'] % 360),
									   
                                       })

# NUMBER OF REVOLUTIONS

cum_dv_14 = pd.DataFrame({'Date': [selected_date],

                                       'Moon': (cumulative_14_g['Moon'] / 360),

                                       'Sun': (cumulative_14_g['Sun'] / 360),

                                       'Mer': (cumulative_14_g['Mer'] / 360),
                                       
                                       'Ven': (cumulative_14_g['Ven'] / 360),

                                       'Mar': (cumulative_14_g['Mar'] / 360),

                                       'Jup': (cumulative_14_g['Jup'] / 360),
                                       
                                       'Sat': (cumulative_14_g['Sat'] / 360),

                                       'Ura': (cumulative_14_g['Ura'] / 360),

                                       'Nep': (cumulative_14_g['Nep'] / 360),
                                       
                                       'Plu': (cumulative_14_g['Plu'] / 360),

                                       })

# JOIN THE 2 DF

cum_dv_14 = cum_dv_14.round(1)
cum_mod_14 = cum_mod_14.round()

# STR

for col in cum_dv_14.columns[1:]:
     cum_dv_14 = cum_dv_14.astype({col: str})

for col in cum_mod_14.columns[1:]:
     cum_mod_14 = cum_mod_14.astype({col: str})

mod_14_g = pd.DataFrame({"Date": [selected_date]})

# GROUPBY MANUALY

for col in cum_dv_14.columns[1:]:
    mod_14_g[col] = cum_dv_14[col] + ' | ' + cum_mod_14[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod_14_g

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,18/06/2022,1.6 | 223.0,0.1 | 43.0,0.2 | 82.0,0.2 | 54.0,0.1 | 31.0,0.0 | 3.0,-0.0 | 358.0,0.0 | 2.0,-0.0 | 0.0,-0.0 | 359.0

## **II.2.3 CONCAT**

In [74]:
concat_geo = pd.concat([result_g, mod0_g, cumulative_1_g, mod_1_g, cumulative_2_g, mod_2_g, cumulative_3_g, mod_3_g, cumulative_4_g, mod_4_g, cumulative_6_g, mod_6_g, cumulative_7_g, mod_7_g, cumulative_8_g, mod_8_g, cumulative_9_g, mod_9_g, cumulative_10_g, mod_10_g, cumulative_11_g, mod_11_g, cumulative_12_g, mod_12_g, cumulative_13_g, mod_13_g, cumulative_14_g, mod_14_g])

geo_con = concat_geo
geo_con = geo_con.set_index('Date')

geo_con

,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
Date,,,,,,,,,,
02/08/2022,182.06,130.03,146.65,108.5,48.93,8.68,322.82,48.72,355.13,297.04
02/08/2022,2.0 | Li,10.0 | Le,27.0 | Le,18.0 | Ca,19.0 | Ta,9.0 | Ar,23.0 | Aq,19.0 | Ta,25.0 | Pi,27.0 | Cp
31/10/2008,66409.0,4952.0,5344.0,5613.0,2700.0,802.0,154.0,420.0,34.0,28.0
31/10/2008,184.5 | 169.0,13.8 | 272.0,14.8 | 304.0,15.6 | 213.0,7.5 | 180.0,2.2 | 82.0,0.4 | 154.0,1.2 | 60.0,0.1 | 34.0,0.1 | 28.0
03/01/2009,65343.0,4887.0,5244.0,5539.0,2654.0,789.0,151.0,419.0,33.0,26.0
03/01/2009,181.5 | 183.0,13.6 | 207.0,14.6 | 204.0,15.4 | 139.0,7.4 | 134.0,2.2 | 69.0,0.4 | 151.0,1.2 | 59.0,0.1 | 33.0,0.1 | 26.0
22/05/2010,58695.0,4389.0,4790.0,4696.0,2427.0,731.0,145.0,409.0,26.0,22.0
22/05/2010,163.0 | 15.0,12.2 | 69.0,13.3 | 110.0,13.0 | 16.0,6.7 | 267.0,2.0 | 11.0,0.4 | 145.0,1.1 | 49.0,0.1 | 26.0,0.1 | 22.0
29/11/2013,41744.0,3123.0,3155.0,3418.0,1673.0,259.0,96.0,40.0,22.0,17.0
29/11/2013,116.0 | 344.0,8.7 | 243.0,8.8 | 275.0,9.5 | 178.0,4.6 | 233.0,0.7 | 259.0,0.3 | 96.0,0.1 | 40.0,0.1 | 22.0,0.0 | 17.0
17/12/2017,22246.0,1664.0,1691.0,1648.0,914.0,144.0,53.0,24.0,13.0,9.0
17/12/2017,61.8 | 286.0,4.6 | 224.0,4.7 | 251.0,4.6 | 208.0,2.5 | 194.0,0.4 | 144.0,0.1 | 53.0,0.1 | 24.0,0.0 | 13.0,0.0 | 9.0
15/12/2018,17470.0,1307.0,1345.0,1330.0,780.0,120.0,43.0,20.0,11.0,7.0
15/12/2018,48.5 | 190.0,3.6 | 227.0,3.7 | 265.0,3.7 | 250.0,2.2 | 60.0,0.3 | 120.0,0.1 | 43.0,0.1 | 20.0,0.0 | 11.0,0.0 | 7.0
26/06/2019,14927.0,1116.0,1107.0,1107.0,653.0,111.0,35.0,13.0,6.0,5.0
26/06/2019,41.5 | 167.0,3.1 | 36.0,3.1 | 27.0,3.1 | 27.0,1.8 | 293.0,0.3 | 111.0,0.1 | 35.0,0.0 | 13.0,0.0 | 6.0,0.0 | 5.0
12/03/2020,11495.0,858.0,898.0,791.0,482.0,77.0,24.0,15.0,7.0,3.0
12/03/2020,31.9 | 335.0,2.4 | 138.0,2.5 | 178.0,2.2 | 71.0,1.3 | 122.0,0.2 | 77.0,0.1 | 24.0,0.0 | 15.0,0.0 | 7.0,0.0 | 3.0
25/04/2021,6114.0,455.0,464.0,425.0,318.0,41.0,10.0,8.0,3.0,0.0
25/04/2021,17.0 | 354.0,1.3 | 95.0,1.3 | 104.0,1.2 | 65.0,0.9 | 318.0,0.1 | 41.0,0.0 | 10.0,0.0 | 8.0,0.0 | 3.0,0.0 | 0.0
20/07/2021,4977.0,372.0,402.0,321.0,265.0,38.0,12.0,4.0,2.0,2.0
20/07/2021,13.8 | 297.0,1.0 | 12.0,1.1 | 42.0,0.9 | 321.0,0.7 | 265.0,0.1 | 38.0,0.0 | 12.0,0.0 | 4.0,0.0 | 2.0,0.0 | 2.0
20/10/2021,3758.0,283.0,316.0,215.0,206.0,46.0,16.0,5.0,4.0,3.0
20/10/2021,10.4 | 158.0,0.8 | 283.0,0.9 | 316.0,0.6 | 215.0,0.6 | 206.0,0.1 | 46.0,0.0 | 16.0,0.0 | 5.0,0.0 | 4.0,0.0 | 3.0
10/11/2021,3481.0,262.0,290.0,194.0,192.0,45.0,15.0,6.0,5.0,2.0
10/11/2021,9.7 | 241.0,0.7 | 262.0,0.8 | 290.0,0.5 | 194.0,0.5 | 192.0,0.1 | 45.0,0.0 | 15.0,0.0 | 6.0,0.0 | 5.0,0.0 | 2.0
18/06/2022,583.0,43.0,82.0,54.0,31.0,3.0,-2.0,2.0,-0.0,-1.0
18/06/2022,1.6 | 223.0,0.1 | 43.0,0.2 | 82.0,0.2 | 54.0,0.1 | 31.0,0.0 | 3.0,-0.0 | 358.0,0.0 | 2.0,-0.0 | 0.0,-0.0 | 359.0

# **III. ASPECTS TABLE**

* 0° Conjunction 
* 30° SemiSextile
* 45° SemiSquare
* 60° Sextile
* 72° Quintile
* 90° Square
* 120° Trine
* 135° Sesquiquadrate
* 144° BiQuintile
* 150° Quincunx
* 180° Opposition

(0 - 30 - 45 - 60 - 72 - 90 - 120 - 135 - 144 - 150 - 180)

In [75]:
helio_asp

,Date,Sun/Mer,Sun/Ven,Sun/Mar,Sun/Jup,Sun/Sat,Sun/Ura,Sun/Nep,Sun/Plu,Mer/Ven,...,Jup/Sat,Jup/Ura,Jup/Nep,Jup/Plu,Sat/Ura,Sat/Nep,Sat/Plu,Ura/Nep,Ura/Plu,Nep/Plu
0,04/10/1936,11.28,117.44,123.39,101.42,20.42,27.02,156.41,106.99,128.72,...,81.00,128.44,102.17,151.59,47.44,176.83,127.41,129.39,79.97,49.42
1,05/10/1936,15.79,116.84,122.84,102.33,21.38,26.04,155.43,106.01,132.63,...,80.95,128.37,102.24,151.66,47.42,176.81,127.39,129.39,79.97,49.42
2,06/10/1936,20.46,116.23,122.30,103.23,22.33,25.08,154.45,105.03,136.69,...,80.90,128.31,102.32,151.74,47.41,176.78,127.36,129.37,79.95,49.42
3,07/10/1936,25.26,115.63,121.76,104.14,23.28,24.10,153.47,104.04,140.89,...,80.86,128.24,102.39,151.82,47.38,176.75,127.32,129.37,79.94,49.43
4,08/10/1936,30.18,115.04,121.21,105.05,24.24,23.12,152.49,103.06,145.22,...,80.81,128.17,102.46,151.89,47.36,176.73,127.30,129.37,79.94,49.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34416,26/12/2030,50.90,141.19,70.11,155.89,28.08,13.57,82.12,143.09,167.91,...,176.03,169.46,121.99,61.02,14.51,54.04,115.01,68.55,129.52,60.97
34417,27/12/2030,54.91,140.63,69.52,154.95,29.06,14.57,83.14,144.11,164.46,...,175.99,169.52,121.91,60.94,14.49,54.08,115.05,68.57,129.54,60.97
34418,28/12/2030,58.77,140.07,68.94,154.01,30.04,15.58,84.15,145.13,161.16,...,175.95,169.59,121.84,60.86,14.46,54.11,115.09,68.57,129.55,60.98
34419,29/12/2030,62.47,139.51,68.36,153.06,31.03,16.59,85.16,146.14,158.02,...,175.91,169.65,121.78,60.80,14.44,54.13,115.11,68.57,129.55,60.98
34420,30/12/2030,66.02,138.95,67.78,152.12,32.01,17.60,86.18,147.16,155.03,...,175.87,169.72,121.70,60.72,14.41,54.17,115.15,68.58,129.56,60.98