# **I. LIBRAIRIES & DATA.py**

In [1]:
# Libraries

import pandas as pd
import numpy as np
from datetime import date
from datetime import datetime
from datetime import timedelta
import plotly.express as px
import os

# RECUP LA DATA
# Retrieve the path to the current folders
current_path = os.getcwd()

# Get the path to the csv file folder - in this case the 'data' file
csv_path = os.path.join(current_path, 'data\\test')

# A EXPLIQUER ICI
for file in os.listdir(csv_path):
    fd = pd.read_csv(os.path.join(csv_path, file))
    globals()[file.rpartition(".")[0]] = fd

# fillna
Moon = Moon.copy()
Moon.fillna(0, inplace=True)

lat_moon_changes = lat_moon_changes.copy()
lat_moon_changes.fillna(0, inplace=True)

planet_node = planet_node.copy()
planet_node.fillna(0, inplace=True)

twoday = datetime.strftime(datetime.now(), "%Y/%m/%d")
t = pd.to_datetime(twoday)
t = pd.to_datetime(t)

today = datetime.strftime(datetime.now(), "%d/%m/%Y")

In [2]:
# FIND NEAREST FUNCTION

def find_nearest(array,value): 
    idx = (np.abs(array-value)).argmin() 
    return array[idx]

helio_cum = helio_cum.copy()
ex = helio_cum.Ven.array

find_nearest(ex, 50286.12)

50286.12

# **II. MAIN TABLE.py**

## **II.1 HELIO**

### **II.1.1 CUMULATIVE HELIO**

In [3]:
from datetime import datetime

today = datetime.strftime(datetime.now(), "%d/%m/%Y")

cumulative_1 = helio_cum.copy()
cumulative_2 = helio_cum.copy()
cumulative_3 = helio_cum.copy()
cumulative_4 = helio_cum.copy()
cumulative_5 = helio_cum.copy()
cumulative_6 = helio_cum.copy()
cumulative_7 = helio_cum.copy()
cumulative_8 = helio_cum.copy()
cumulative_9 = helio_cum.copy()
cumulative_10 = helio_cum.copy()
cumulative_11 = helio_cum.copy()
cumulative_12 = helio_cum.copy()
cumulative_13 = helio_cum.copy()

helio = helio.copy()
test = helio_cum.copy()

result = helio[helio.Date == today]

def cum_hel(df, date):
    today = datetime.strftime(datetime.now(), "%d/%m/%Y")
    return pd.DataFrame(
        {
            "Date": [date],
            "Earth": df["Earth"][df.Date == today].values
            - df["Earth"][df.Date == date].values,
            "Mer": df["Mer"][df.Date == today].values
            - df["Mer"][df.Date == date].values,
            "Ven": df["Ven"][df.Date == today].values
            - df["Ven"][df.Date == date].values,
            "Mar": df["Mar"][df.Date == today].values
            - df["Mar"][df.Date == date].values,
            "Jup": df["Jup"][df.Date == today].values
            - df["Jup"][df.Date == date].values,
            "Sat": df["Sat"][df.Date == today].values
            - df["Sat"][df.Date == date].values,
            "Ura": df["Ura"][df.Date == today].values
            - df["Ura"][df.Date == date].values,
            "Nep": df["Nep"][df.Date == today].values
            - df["Nep"][df.Date == date].values,
            "Plu": df["Plu"][df.Date == today].values
            - df["Plu"][df.Date == date].values,
        }
    )

filtered_dfs = []

data = [
  (cumulative_1, '31/10/2008'),
  (cumulative_2, '03/01/2009'),
  (cumulative_3, '22/05/2010'),
  (cumulative_4, '29/11/2013'),
  (cumulative_5, '17/12/2017'),
  (cumulative_6, '15/12/2018'),
  (cumulative_7, '26/06/2019'),
  (cumulative_8, '12/03/2020'),
  (cumulative_9, '25/04/2021'),
  (cumulative_10, '20/07/2021'),
  (cumulative_11, '20/10/2021'),
  (cumulative_12, '10/11/2021'),
  (cumulative_13, '18/06/2022'),
]

for i, (df, date) in enumerate(data):
  filtered_dfs.append(cum_hel(df, date))

cumm_hel = pd.concat(filtered_dfs)
hel = pd.concat([result, cumm_hel])
hel = hel.round()

hel

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
31388,11/09/2022,349.0,312.0,142.0,27.0,2.0,323.0,46.0,354.0,298.0
0,31/10/2008,4990.0,20676.0,8112.0,2672.0,425.0,159.0,55.0,31.0,27.0
0,03/01/2009,4926.0,20456.0,8010.0,2637.0,420.0,157.0,54.0,30.0,27.0
0,22/05/2010,4427.0,18387.0,7202.0,2368.0,375.0,139.0,49.0,27.0,24.0
0,29/11/2013,3161.0,13084.0,5141.0,1686.0,260.0,98.0,35.0,19.0,16.0
0,17/12/2017,1703.0,7044.0,2770.0,920.0,145.0,53.0,19.0,11.0,9.0
0,15/12/2018,1345.0,5546.0,2189.0,715.0,117.0,42.0,15.0,8.0,7.0
0,26/06/2019,1154.0,4765.0,1880.0,618.0,102.0,36.0,13.0,7.0,6.0
0,12/03/2020,896.0,3697.0,1463.0,497.0,80.0,28.0,10.0,6.0,4.0
0,25/04/2021,493.0,2046.0,808.0,266.0,45.0,16.0,6.0,3.0,2.0
0,20/07/2021,411.0,1698.0,669.0,228.0,38.0,13.0,5.0,3.0,2.0
0,20/10/2021,321.0,1313.0,523.0,187.0,30.0,10.0,4.0,2.0,2.0
0,10/11/2021,300.0,1204.0,489.0,177.0,28.0,9.0,3.0,2.0,1.0
0,18/06/2022,81.0,350.0,137.0,53.0,8.0,3.0,1.0,1.0,0.0

### **II.1.2 MOD30 & 360**

#### **MOD30**

In [4]:
# mod30 (donne qu'elle signe il est)

mod = pd.DataFrame({'Date': [today],

                                       'Earth': helio['Earth'][helio.Date == today].values
                                       % 30,

                                       'Mer': helio['Mer'][helio.Date == today].values
                                       % 30,
                                       
                                       'Ven': helio['Ven'][helio.Date == today].values
                                       % 30,

                                       'Mar': helio['Mar'][helio.Date == today].values
                                       % 30,

                                       'Jup': helio['Jup'][helio.Date == today].values
                                       % 30,
                                       
                                       'Sat': helio['Sat'][helio.Date == today].values
                                       % 30,

                                       'Ura': helio['Ura'][helio.Date == today].values
                                       % 30,

                                       'Nep': helio['Nep'][helio.Date == today].values
                                       % 30,
                                       
                                       'Plu': helio['Plu'][helio.Date == today].values
                                       % 30,

                                       })


mod = mod.round()
mod

         Date  Earth   Mer   Ven   Mar  Jup   Sat   Ura   Nep   Plu
0  11/09/2022   19.0  12.0  22.0  27.0  2.0  23.0  16.0  24.0  28.0

In [5]:
# rrr

result2 = result.copy() # rrr

for col in result2.columns[1:]:
     result2= result2.astype({col: "int64"})

for col in result2.columns[1:]:
     result2= result2.astype({col: "int64"})

rrr = pd.DataFrame({'Date': [today],

                                       'Earth': helio['Earth'][helio.Date == today].values,

                                       'Mer': helio['Mer'][helio.Date == today].values,
                                       
                                       'Ven': helio['Ven'][helio.Date == today].values,

                                       'Mar': helio['Mar'][helio.Date == today].values,

                                       'Jup': helio['Jup'][helio.Date == today].values,
                                       
                                       'Sat': helio['Sat'][helio.Date == today].values,

                                       'Ura': helio['Ura'][helio.Date == today].values,

                                       'Nep': helio['Nep'][helio.Date == today].values,
                                       
                                       'Plu': helio['Plu'][helio.Date == today].values,

                                       })

rrr.round()

for i in rrr['Earth']: 
        if (0<=i<=29):
            rrr['Earth'] = rrr['Earth'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Earth'] = rrr['Earth'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Earth'] = rrr['Earth'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Earth'] = rrr['Earth'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Earth'] = rrr['Earth'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Earth'] = rrr['Earth'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Earth'] = rrr['Earth'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Earth'] = rrr['Earth'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Earth'] = rrr['Earth'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Earth'] = rrr['Earth'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Earth'] = rrr['Earth'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Earth'] = rrr['Earth'].replace(i, "Pi")

for i in rrr['Mer']: 
        if (0<=i<=29):
            rrr['Mer'] = rrr['Mer'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Mer'] = rrr['Mer'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Mer'] = rrr['Mer'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Mer'] = rrr['Mer'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Mer'] = rrr['Mer'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Mer'] = rrr['Mer'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Mer'] = rrr['Mer'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Mer'] = rrr['Mer'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Mer'] = rrr['Mer'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Mer'] = rrr['Mer'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Mer'] = rrr['Mer'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Mer'] = rrr['Mer'].replace(i, "Pi")

for i in rrr['Ven']: 
        if (0<=i<=29):
            rrr['Ven'] = rrr['Ven'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Ven'] = rrr['Ven'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Ven'] = rrr['Ven'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Ven'] = rrr['Ven'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Ven'] = rrr['Ven'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Ven'] = rrr['Ven'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Ven'] = rrr['Ven'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Ven'] = rrr['Ven'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Ven'] = rrr['Ven'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Ven'] = rrr['Ven'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Ven'] = rrr['Ven'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Ven'] = rrr['Ven'].replace(i, "Pi")

for i in rrr['Mar']: 
        if (0<=i<=29):
            rrr['Mar'] = rrr['Mar'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Mar'] = rrr['Mar'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Mar'] = rrr['Mar'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Mar'] = rrr['Mar'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Mar'] = rrr['Mar'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Mar'] = rrr['Mar'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Mar'] = rrr['Mar'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Mar'] = rrr['Mar'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Mar'] = rrr['Mar'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Mar'] = rrr['Mar'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Mar'] = rrr['Mar'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Mar'] = rrr['Mar'].replace(i, "Pi")

for i in rrr['Jup']: 
        if (0<=i<=29):
            rrr['Jup'] = rrr['Jup'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Jup'] = rrr['Jup'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Jup'] = rrr['Jup'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Jup'] = rrr['Jup'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Jup'] = rrr['Jup'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Jup'] = rrr['Jup'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Jup'] = rrr['Jup'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Jup'] = rrr['Jup'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Jup'] = rrr['Jup'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Jup'] = rrr['Jup'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Jup'] = rrr['Jup'].replace(i, "Aq")
        elif (330<=i<=360):
            rrr['Jup'] = rrr['Jup'].replace(i, "Pi")

for i in rrr['Sat']: 
        if (0<=i<=29):
            rrr['Sat'] = rrr['Sat'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Sat'] = rrr['Sat'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Sat'] = rrr['Sat'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Sat'] = rrr['Sat'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Sat'] = rrr['Sat'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Sat'] = rrr['Sat'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Sat'] = rrr['Sat'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Sat'] = rrr['Sat'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Sat'] = rrr['Sat'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Sat'] = rrr['Sat'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Sat'] = rrr['Sat'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Sat'] = rrr['Sat'].replace(i, "Pi")

for i in rrr['Ura']: 
        if (0<=i<=29):
            rrr['Ura'] = rrr['Ura'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Ura'] = rrr['Ura'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Ura'] = rrr['Ura'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Ura'] = rrr['Ura'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Ura'] = rrr['Ura'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Ura'] = rrr['Ura'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Ura'] = rrr['Ura'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Ura'] = rrr['Ura'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Ura'] = rrr['Ura'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Ura'] = rrr['Ura'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Ura'] = rrr['Ura'].replace(i, "Aq")
        elif (330<=i<=360):
            rrr['Ura'] = rrr['Ura'].replace(i, "Pi")

for i in rrr['Nep']: 
        if (0<=i<=29):
            rrr['Nep'] = rrr['Nep'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Nep'] = rrr['Nep'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Nep'] = rrr['Nep'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Nep'] = rrr['Nep'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Nep'] = rrr['Nep'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Nep'] = rrr['Nep'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Nep'] = rrr['Nep'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Nep'] = rrr['Nep'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Nep'] = rrr['Nep'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Nep'] = rrr['Nep'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Nep'] = rrr['Nep'].replace(i, "Aq")
        elif (330<=i<=360):
            rrr['Nep'] = rrr['Nep'].replace(i, "Pi")

for i in rrr['Plu']: 
        if (0<=i<=29):
            rrr['Plu'] = rrr['Plu'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Plu'] = rrr['Plu'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Plu'] = rrr['Plu'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Plu'] = rrr['Plu'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Plu'] = rrr['Plu'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Plu'] = rrr['Plu'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Plu'] = rrr['Plu'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Plu'] = rrr['Plu'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Plu'] = rrr['Plu'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Plu'] = rrr['Plu'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Plu'] = rrr['Plu'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Plu'] = rrr['Plu'].replace(i, "Pi")

rrr

         Date Earth Mer Ven Mar Jup Sat Ura Nep Plu
0  11/09/2022    Pi  Aq  Le  Ar  Ar  Aq  Ta  Pi  Cp

In [6]:
mod = mod.round()

# STR

for col in mod.columns[1:]:
     mod = mod.astype({col: str})

for col in rrr.columns[1:]:
     rrr = rrr.astype({col: str})

mod0 = pd.DataFrame({"Date": [today]})

# GROUPBY MANUALY

for col in mod.columns[1:]:
    mod0[col] = mod[col] + ' | ' + rrr[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod0

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,11/09/2022,19.0 | Pi,12.0 | Aq,22.0 | Le,27.0 | Ar,2.0 | Ar,23.0 | Aq,16.0 | Ta,24.0 | Pi,28.0 | Cp

#### **MOD360**

In [7]:
revgui = hel.copy()

revgui['Earth'] = revgui['Earth'] / 360
revgui['Mer'] = revgui['Mer'] / 360
revgui['Ven'] = revgui['Ven'] / 360
revgui['Mar'] = revgui['Mar'] / 360
revgui['Jup'] = revgui['Jup'] / 360
revgui['Sat'] = revgui['Sat'] / 360
revgui['Nep'] = revgui['Nep'] / 360
revgui['Plu'] = revgui['Plu'] / 360

revgui = revgui.iloc[::, revgui.columns !='Date'].apply(np.floor)

revgui

       Earth   Mer   Ven  Mar  Jup  Sat   Ura  Nep  Plu
31388    0.0   0.0   0.0  0.0  0.0  0.0  46.0  0.0  0.0
0       13.0  57.0  22.0  7.0  1.0  0.0  55.0  0.0  0.0
0       13.0  56.0  22.0  7.0  1.0  0.0  54.0  0.0  0.0
0       12.0  51.0  20.0  6.0  1.0  0.0  49.0  0.0  0.0
0        8.0  36.0  14.0  4.0  0.0  0.0  35.0  0.0  0.0
0        4.0  19.0   7.0  2.0  0.0  0.0  19.0  0.0  0.0
0        3.0  15.0   6.0  1.0  0.0  0.0  15.0  0.0  0.0
0        3.0  13.0   5.0  1.0  0.0  0.0  13.0  0.0  0.0
0        2.0  10.0   4.0  1.0  0.0  0.0  10.0  0.0  0.0
0        1.0   5.0   2.0  0.0  0.0  0.0   6.0  0.0  0.0
0        1.0   4.0   1.0  0.0  0.0  0.0   5.0  0.0  0.0
0        0.0   3.0   1.0  0.0  0.0  0.0   4.0  0.0  0.0
0        0.0   3.0   1.0  0.0  0.0  0.0   3.0  0.0  0.0
0        0.0   0.0   0.0  0.0  0.0  0.0   1.0  0.0  0.0

In [8]:
# BON CUM MOD/REV

hexx = hel.copy()

hexx['Earth'] = hexx['Earth'] / 360
hexx['Mer'] = hexx['Mer'] / 360
hexx['Ven'] = hexx['Ven'] / 360
hexx['Mar'] = hexx['Mar'] / 360
hexx['Jup'] = hexx['Jup'] / 360
hexx['Sat'] = hexx['Sat'] / 360
hexx['Nep'] = hexx['Nep'] / 360
hexx['Plu'] = hexx['Plu'] / 360

hecc = hel.copy()

hecc['Earth'] = hecc['Earth'] % 360
hecc['Mer'] = hecc['Mer'] % 360
hecc['Ven'] = hecc['Ven'] % 360
hecc['Mar'] = hecc['Mar'] % 360
hecc['Jup'] = hecc['Jup'] % 360
hecc['Sat'] = hecc['Sat'] % 360
hecc['Nep'] = hecc['Nep'] % 360
hecc['Plu'] = hecc['Plu'] % 360

hexx = hexx.iloc[1: , :]
hecc = hecc.iloc[1:, :]

# ROUNDDOWN

hexx = hexx.iloc[::, hexx.columns !='Date'].apply(np.floor)
hecc = hecc.iloc[::, hecc.columns !='Date'].apply(np.floor)

# STR

for col in hexx.columns[::]:
     hexx = hexx.astype({col: str})

for col in hecc.columns[::]:
     hecc = hecc.astype({col: str})

puant = pd.DataFrame({"Date": cumm_hel['Date']})

# GROUPBY MANUALY

for col in hexx.columns[::]:
    puant[col] = hexx[col] + ' | ' + hecc[col] #.groupby('Date').agg('-'.join).reset_index()
    
puant

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,31/10/2008,13.0 | 310.0,57.0 | 156.0,22.0 | 192.0,7.0 | 152.0,1.0 | 65.0,0.0 | 159.0,55.0 | 55.0,0.0 | 31.0,0.0 | 27.0
0,03/01/2009,13.0 | 246.0,56.0 | 296.0,22.0 | 90.0,7.0 | 117.0,1.0 | 60.0,0.0 | 157.0,54.0 | 54.0,0.0 | 30.0,0.0 | 27.0
0,22/05/2010,12.0 | 107.0,51.0 | 27.0,20.0 | 2.0,6.0 | 208.0,1.0 | 15.0,0.0 | 139.0,49.0 | 49.0,0.0 | 27.0,0.0 | 24.0
0,29/11/2013,8.0 | 281.0,36.0 | 124.0,14.0 | 101.0,4.0 | 246.0,0.0 | 260.0,0.0 | 98.0,35.0 | 35.0,0.0 | 19.0,0.0 | 16.0
0,17/12/2017,4.0 | 263.0,19.0 | 204.0,7.0 | 250.0,2.0 | 200.0,0.0 | 145.0,0.0 | 53.0,19.0 | 19.0,0.0 | 11.0,0.0 | 9.0
0,15/12/2018,3.0 | 265.0,15.0 | 146.0,6.0 | 29.0,1.0 | 355.0,0.0 | 117.0,0.0 | 42.0,15.0 | 15.0,0.0 | 8.0,0.0 | 7.0
0,26/06/2019,3.0 | 74.0,13.0 | 85.0,5.0 | 80.0,1.0 | 258.0,0.0 | 102.0,0.0 | 36.0,13.0 | 13.0,0.0 | 7.0,0.0 | 6.0
0,12/03/2020,2.0 | 176.0,10.0 | 97.0,4.0 | 23.0,1.0 | 137.0,0.0 | 80.0,0.0 | 28.0,10.0 | 10.0,0.0 | 6.0,0.0 | 4.0
0,25/04/2021,1.0 | 133.0,5.0 | 246.0,2.0 | 88.0,0.0 | 266.0,0.0 | 45.0,0.0 | 16.0,6.0 | 6.0,0.0 | 3.0,0.0 | 2.0
0,20/07/2021,1.0 | 51.0,4.0 | 258.0,1.0 | 309.0,0.0 | 228.0,0.0 | 38.0,0.0 | 13.0,5.0 | 5.0,0.0 | 3.0,0.0 | 2.0
0,20/10/2021,0.0 | 321.0,3.0 | 233.0,1.0 | 163.0,0.0 | 187.0,0.0 | 30.0,0.0 | 10.0,4.0 | 4.0,0.0 | 2.0,0.0 | 2.0
0,10/11/2021,0.0 | 300.0,3.0 | 124.0,1.0 | 129.0,0.0 | 177.0,0.0 | 28.0,0.0 | 9.0,3.0 | 3.0,0.0 | 2.0,0.0 | 1.0
0,18/06/2022,0.0 | 81.0,0.0 | 350.0,0.0 | 137.0,0.0 | 53.0,0.0 | 8.0,0.0 | 3.0,1.0 | 1.0,0.0 | 1.0,0.0 | 0.0

### **II.1.3 CONCAT**

In [9]:
helio_concat = pd.concat([cumm_hel, puant], axis=0)
helio_concat.Date = pd.to_datetime(helio_concat.Date)
helio_concat = helio_concat.sort_values("Date", ignore_index=True)
helio_concat.Date = helio_concat.Date.dt.strftime("%d/%m/%Y")

hcc = pd.concat([result, mod0, helio_concat])
hcc

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
31388,11/09/2022,348.58,312.27,142.18,27.32,2.27,322.76,46.24,353.99,297.61
0,11/09/2022,19.0 | Pi,12.0 | Aq,22.0 | Le,27.0 | Ar,2.0 | Ar,23.0 | Aq,16.0 | Ta,24.0 | Pi,28.0 | Cp
0,31/10/2008,4990.31,20676.37,8111.9,2671.95,425.17,158.84,55.05,30.68,27.0
1,31/10/2008,13.0 | 310.0,57.0 | 156.0,22.0 | 192.0,7.0 | 152.0,1.0 | 65.0,0.0 | 159.0,55.0 | 55.0,0.0 | 31.0,0.0 | 27.0
2,01/03/2009,4925.5,20455.7,8010.05,2637.29,419.69,156.62,54.37,30.29,26.63
3,01/03/2009,13.0 | 246.0,56.0 | 296.0,22.0 | 90.0,7.0 | 117.0,1.0 | 60.0,0.0 | 157.0,54.0 | 54.0,0.0 | 30.0,0.0 | 27.0
4,22/05/2010,4427.44,18387.09,7201.76,2368.08,375.02,139.42,48.95,27.24,23.7
5,22/05/2010,12.0 | 107.0,51.0 | 27.0,20.0 | 2.0,6.0 | 208.0,1.0 | 15.0,0.0 | 139.0,49.0 | 49.0,0.0 | 27.0,0.0 | 24.0
6,29/11/2013,3161.32,13083.94,5140.58,1686.16,259.95,97.8,35.1,19.46,16.5
7,29/11/2013,8.0 | 281.0,36.0 | 124.0,14.0 | 101.0,4.0 | 246.0,0.0 | 260.0,0.0 | 98.0,35.0 | 35.0,0.0 | 19.0,0.0 | 16.0
8,17/12/2017,1703.01,7044.47,2769.57,919.91,144.82,52.69,19.08,10.52,8.66
9,17/12/2017,4.0 | 263.0,19.0 | 204.0,7.0 | 250.0,2.0 | 200.0,0.0 | 145.0,0.0 | 53.0,19.0 | 19.0,0.0 | 11.0,0.0 | 9.0
10,15/12/2018,1345.3,5545.7,2188.96,715.34,116.83,41.77,15.12,8.32,6.8
11,15/12/2018,3.0 | 265.0,15.0 | 146.0,6.0 | 29.0,1.0 | 355.0,0.0 | 117.0,0.0 | 42.0,15.0 | 15.0,0.0 | 8.0,0.0 | 7.0
12,26/06/2019,3.0 | 74.0,13.0 | 85.0,5.0 | 80.0,1.0 | 258.0,0.0 | 102.0,0.0 | 36.0,13.0 | 13.0,0.0 | 7.0,0.0 | 6.0
13,26/06/2019,1154.12,4765.43,1880.14,617.56,101.54,35.95,13.0,7.15,5.82
14,03/12/2020,896.37,3697.25,1463.1,497.05,80.33,28.09,10.14,5.57,4.5
15,03/12/2020,2.0 | 176.0,10.0 | 97.0,4.0 | 23.0,1.0 | 137.0,0.0 | 80.0,0.0 | 28.0,10.0 | 10.0,0.0 | 6.0,0.0 | 4.0
16,25/04/2021,1.0 | 133.0,5.0 | 246.0,2.0 | 88.0,0.0 | 266.0,0.0 | 45.0,0.0 | 16.0,6.0 | 6.0,0.0 | 3.0,0.0 | 2.0
17,25/04/2021,493.24,2045.55,808.32,265.62,45.37,15.62,5.61,3.08,2.47
18,20/07/2021,1.0 | 51.0,4.0 | 258.0,1.0 | 309.0,0.0 | 228.0,0.0 | 38.0,0.0 | 13.0,5.0 | 5.0,0.0 | 3.0,0.0 | 2.0
19,20/07/2021,410.74,1697.76,669.09,227.64,37.77,12.98,4.66,2.55,2.04
20,11/10/2021,300.44,1203.78,489.4,176.8,27.69,9.49,3.4,1.86,1.49
21,11/10/2021,0.0 | 300.0,3.0 | 124.0,1.0 | 129.0,0.0 | 177.0,0.0 | 28.0,0.0 | 9.0,3.0 | 3.0,0.0 | 2.0,0.0 | 1.0
22,20/10/2021,321.43,1312.55,522.77,186.63,29.57,10.14,3.64,1.99,1.59
23,20/10/2021,0.0 | 321.0,3.0 | 233.0,1.0 | 163.0,0.0 | 187.0,0.0 | 30.0,0.0 | 10.0,4.0 | 4.0,0.0 | 2.0,0.0 | 2.0
24,18/06/2022,81.49,349.5,136.88,52.84,7.76,2.66,0.95,0.52,0.41
25,18/06/2022,0.0 | 81.0,0.0 | 350.0,0.0 | 137.0,0.0 | 53.0,0.0 | 8.0,0.0 | 3.0,1.0 | 1.0,0.0 | 1.0,0.0 | 0.0

In [10]:
...qdza2edzfz

SyntaxError: invalid syntax (Temp/ipykernel_1616/2774972466.py, line 1)

## **II.2 GEO**

### **II.2.1 CUMUL GEO**

In [ ]:
from datetime import datetime

today = datetime.strftime(datetime.now(), "%d/%m/%Y")

cumulative_1 = geo_cum.copy()
cumulative_2 = geo_cum.copy()
cumulative_3 = geo_cum.copy()
cumulative_4 = geo_cum.copy()
cumulative_5 = geo_cum.copy()
cumulative_6 = geo_cum.copy()
cumulative_7 = geo_cum.copy()
cumulative_8 = geo_cum.copy()
cumulative_9 = geo_cum.copy()
cumulative_10 = geo_cum.copy()
cumulative_11 = geo_cum.copy()
cumulative_12 = geo_cum.copy()
cumulative_13 = geo_cum.copy()

geo = geo.copy()
result_g = geo[geo.Date == today]

def cum_geo(df, date):
    today = datetime.strftime(datetime.now(), "%d/%m/%Y")
    return pd.DataFrame(
        {
            "Date": [date],
            "Moon": df["Moon"][df.Date == today].values
            - df["Moon"][df.Date == date].values,
            "Sun": df["Sun"][df.Date == today].values
            - df["Sun"][df.Date == date].values,
            "Mer": df["Mer"][df.Date == today].values
            - df["Mer"][df.Date == date].values,
            "Ven": df["Ven"][df.Date == today].values
            - df["Ven"][df.Date == date].values,
            "Mar": df["Mar"][df.Date == today].values
            - df["Mar"][df.Date == date].values,
            "Jup": df["Jup"][df.Date == today].values
            - df["Jup"][df.Date == date].values,
            "Sat": df["Sat"][df.Date == today].values
            - df["Sat"][df.Date == date].values,
            "Ura": df["Ura"][df.Date == today].values
            - df["Ura"][df.Date == date].values,
            "Nep": df["Nep"][df.Date == today].values
            - df["Nep"][df.Date == date].values,
            "Plu": df["Plu"][df.Date == today].values
            - df["Plu"][df.Date == date].values,
        }
    )

filtered_dfs = []

data = [
  (cumulative_1, '31/10/2008'),
  (cumulative_2, '03/01/2009'),
  (cumulative_3, '22/05/2010'),
  (cumulative_4, '29/11/2013'),
  (cumulative_5, '17/12/2017'),
  (cumulative_6, '15/12/2018'),
  (cumulative_7, '26/06/2019'),
  (cumulative_8, '12/03/2020'),
  (cumulative_9, '25/04/2021'),
  (cumulative_10, '20/07/2021'),
  (cumulative_11, '20/10/2021'),
  (cumulative_12, '10/11/2021'),
  (cumulative_13, '18/06/2022'),
]

for i, (df, date) in enumerate(data):
  filtered_dfs.append(cum_geo(df, date))

cumm_geo = pd.concat(filtered_dfs)
geol = pd.concat([result_g, cumm_geo])
geol = geol.round()

geol

### **II.2.2 MOD30 & 360 GEO**

#### **MOD30**

In [ ]:
# mod30 (donne qu'elle signe il est)

mod_g = pd.DataFrame({'Date': [today],

                                       'Moon': result_g['Moon'][result_g.Date == today].values
                                       % 30,

                                        'Sun': result_g['Sun'][result_g.Date == today].values
                                       % 30,

                                       'Mer': result_g['Mer'][result_g.Date == today].values
                                       % 30,
                                       
                                       'Ven': result_g['Ven'][result_g.Date == today].values
                                       % 30,

                                       'Mar': result_g['Mar'][result_g.Date == today].values
                                       % 30,

                                       'Jup': result_g['Jup'][result_g.Date == today].values
                                       % 30,
                                       
                                       'Sat': result_g['Sat'][result_g.Date == today].values
                                       % 30,

                                       'Ura': result_g['Ura'][result_g.Date == today].values
                                       % 30,

                                       'Nep': result_g['Nep'][result_g.Date == today].values
                                       % 30,
                                       
                                       'Plu': result_g['Plu'][result_g.Date == today].values
                                       % 30,

                                       })

mod_g.round()

In [ ]:
# rrr

# mod30 (donne qu'elle signe il est)

rrr_g = result_g.copy() # rrr

for col in rrr_g.columns[1:]:
     rrr_g= rrr_g.astype({col: "int64"})

rrr_g = pd.DataFrame({'Date': [today],

                                       'Moon': rrr_g['Moon'][rrr_g.Date == today].values
                                       ,

                                        'Sun': rrr_g['Sun'][rrr_g.Date == today].values
                                       ,

                                       'Mer': rrr_g['Mer'][rrr_g.Date == today].values
                                       ,
                                       
                                       'Ven': rrr_g['Ven'][rrr_g.Date == today].values
                                       ,

                                       'Mar': rrr_g['Mar'][rrr_g.Date == today].values
                                       ,

                                       'Jup': rrr_g['Jup'][rrr_g.Date == today].values
                                       ,
                                       
                                       'Sat': rrr_g['Sat'][rrr_g.Date == today].values
                                       ,

                                       'Ura': rrr_g['Ura'][rrr_g.Date == today].values
                                       ,

                                       'Nep': rrr_g['Nep'][rrr_g.Date == today].values
                                       ,
                                       
                                       'Plu': rrr_g['Plu'][rrr_g.Date == today].values
                                       ,

                                       })

rrr_g.round()

for i in rrr_g['Moon']: 
        if (0<=i<=29):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Pi")

for i in rrr_g['Sun']: 
        if (0<=i<=29):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Pi")

for i in rrr_g['Mer']: 
        if (0<=i<=29):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Pi")

for i in rrr_g['Ven']: 
        if (0<=i<=29):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Pi")

for i in rrr_g['Mar']: 
        if (0<=i<=29):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Pi")

for i in rrr_g['Jup']: 
        if (0<=i<=29):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Pi")

for i in rrr_g['Sat']: 
        if (0<=i<=29):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Pi")

for i in rrr_g['Ura']: 
        if (0<=i<=29):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Pi")

for i in rrr_g['Nep']: 
        if (0<=i<=29):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Pi")

for i in rrr_g['Plu']: 
        if (0<=i<=29):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Pi")

rrr_g

In [ ]:
mod_g = mod_g.round()

# STR

for col in mod_g.columns[1:]:
     mod_g = mod_g.astype({col: str})

for col in rrr_g.columns[1:]:
     rrr_g = rrr_g.astype({col: str})

mod0_g = pd.DataFrame({"Date": [today]})

# GROUPBY MANUALY

for col in mod_g.columns[1:]:
    mod0_g[col] = mod_g[col] + ' | ' + rrr_g[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod0_g

#### **MOD360**

In [ ]:
# BON CUM MOD/REV

gexx = geol.copy()

gexx['Moon'] = gexx['Moon'] / 360
gexx['Sun'] = gexx['Sun'] / 360
gexx['Mer'] = gexx['Mer'] / 360
gexx['Ven'] = gexx['Ven'] / 360
gexx['Mar'] = gexx['Mar'] / 360
gexx['Jup'] = gexx['Jup'] / 360
gexx['Sat'] = gexx['Sat'] / 360
gexx['Nep'] = gexx['Nep'] / 360
gexx['Plu'] = gexx['Plu'] / 360

gecc = geol.copy()

gecc['Moon'] = gecc['Moon'] % 360
gecc['Sun'] = gecc['Sun'] % 360
gecc['Mer'] = gecc['Mer'] % 360
gecc['Ven'] = gecc['Ven'] % 360
gecc['Mar'] = gecc['Mar'] % 360
gecc['Jup'] = gecc['Jup'] % 360
gecc['Sat'] = gecc['Sat'] % 360
gecc['Nep'] = gecc['Nep'] % 360
gecc['Plu'] = gecc['Plu'] % 360

gexx = gexx.iloc[1: , :]
gecc = gecc.iloc[1:, :]

# ROUNDDOWN

gexx = gexx.iloc[::, gexx.columns !='Date'].apply(np.floor)
gecc = gecc.iloc[::, gecc.columns !='Date'].apply(np.floor)

# STR

for col in gexx.columns[::]:
     gexx = gexx.astype({col: str})

for col in gecc.columns[::]:
     gecc = gecc.astype({col: str})

puant_g = pd.DataFrame({"Date": cumm_hel['Date']})

# GROUPBY MANUALY

for col in gexx.columns[::]:
    puant_g[col] = gexx[col] + ' | ' + gecc[col] #.groupby('Date').agg('-'.join).reset_index()
    
puant_g

### **II.2.3 CONCAT**

In [ ]:
geo_concat = pd.concat([cumm_geo, puant_g], axis=0)
geo_concat.Date = pd.to_datetime(geo_concat.Date)
geo_concat = geo_concat.sort_values("Date", ignore_index=True)
geo_concat.Date = geo_concat.Date.dt.strftime("%d/%m/%Y")

gcc = pd.concat([result_g, mod0_g, geo_concat])
gcc

# **III. ASPECTS TABLE & TOOLS.py**

### **III.1 Aspects H/G TrTr & TrNa**

#### **III.1.1 HELIO TrTr & TrNa**

#### **inner code**

In [ ]:
# HELIO ASPECT TrTr - MADE BY US AUTOMATICALY FINDS INTO DATA

#ha = helio_asp
#col = []
#cols = ha.columns[1:]
#df = ha[cols]
#Date = list[ha['Date']]

#for columns in df.columns:

    #globals()["liste_%s"%columns] = []

    #for row, i in enumerate(df[columns]):
        #if (i >= 0 and i <= 0.03) or (i >= 3.75 and i <= 3.755) or (i >= 7.5 and i <= 7.55) or (i >= 15 and i <= 15.15) or (i >= 22.5 and i <= 22.55) or (i >= 30 and i <= 30.15) or (i >= 36 and i <= 36.15) or (i >= 45 and i <= 45.15) or (i >= 60 and i <= 60.15) or (i >= 72 and i <= 72.15) or (i >= 90 and i <= 90.15) or (i >= 120 and i <= 120.15) or (i >= 135 and i <= 135.15) or (i >= 144 and i <= 144.15) or (i >= 150 and i <= 150.15) or (i >= 180 and i <= 180.15):
            #globals()["liste_%s"%columns].append(i)
        #else:
            #globals()["liste_%s"%columns].append(" ")

#flu = helio_asp[['Date']].copy()
#dict = {'Sun_Mer': liste_Sun_Mer, 'Sun_Ven': liste_Sun_Ven, 'Sun_Mar': liste_Sun_Mar, 'Sun_Jup': liste_Sun_Jup, 'Sun_Sat': liste_Sun_Sat, 'Sun_Ura': liste_Sun_Ura, 'Sun_Nep': liste_Sun_Nep, 'Sun_Plu': liste_Sun_Plu, 'Mer_Ven': liste_Mer_Ven, 'Mer_Mar': liste_Mer_Mar, 'Mer_Jup': liste_Mer_Jup, 'Mer_Sat': liste_Mer_Sat, 'Mer_Ura': liste_Mer_Ura, 'Mer_Nep': liste_Mer_Nep, 'Mer_Plu': liste_Mer_Plu, 'Ven_Mar': liste_Ven_Mar, 'Ven_Jup': liste_Ven_Jup, 'Ven_Sat': liste_Ven_Sat, 'Ven_Ura': liste_Ven_Ura, 'Ven_Nep': liste_Ven_Nep, 'Ven_Plu': liste_Ven_Plu, 'Mar_Jup': liste_Mar_Jup, 'Mar_Sat': liste_Mar_Sat, 'Mar_Ura': liste_Mar_Ura, 'Mar_Nep': liste_Mar_Nep, 'Mar_Plu': liste_Mar_Plu, 'Jup_Sat': liste_Jup_Sat, 'Jup_Ura': liste_Jup_Ura, 'Jup_Nep': liste_Jup_Nep, 'Jup_Plu': liste_Jup_Plu, 'Sat_Ura': liste_Sat_Ura, 'Sat_Nep': liste_Sat_Nep, 'Sat_Plu': liste_Sat_Plu, 'Ura_Nep': liste_Ura_Nep, 'Ura_Plu': liste_Ura_Plu, 'Nep_Plu': liste_Nep_Plu} 
#dfObj = pd.DataFrame(dict)
#flu = helio_asp[['Date']].copy()
#concat_asp = pd.concat([flu, dfObj], axis=1)

#asp_con = concat_asp[concat_asp.Date == today]
#asp_con.round()

In [ ]:
b = points_tr.copy()

b.fillna(0, inplace=True)

b_h = b[b["Type"] == "Helio"]
b_g = b[b["Type"] == "Geo"]

b_h = b_h.drop(['Type'], axis = 1)
b_g = b_g.drop(['Type'], axis = 1)
b_con = pd.concat([b_h, b_g])

b_con['Date'] = pd.to_datetime(b_con['Date'])  

start_date = t  - timedelta(days = 1)
end_date = t + timedelta(days = 3)

mask = (b_con['Date'] > start_date) & (b_con['Date'] <= end_date)
b_hits = b_con.loc[mask]
b_hits = b_hits.sort_values(by=['Date'], ascending = True)
b_trtr = b_hits

In [ ]:
x = points_na.copy()

x.fillna(0, inplace=True)

x_h = x[x["Type"] == "Helio"]
x_g = x[x["Type"] == "Geo"]

x_h = x_h.drop(['Type'], axis = 1)
x_h = x_h.drop(['Angle'], axis = 1)
x_h = x_h.drop(['Pair'], axis = 1)

x_g = x_g.drop(['Type'], axis = 1)
x_g = x_g.drop(['Angle'], axis = 1)
x_g = x_g.drop(['Pair'], axis = 1)

x_con = pd.concat([x_h, x_g])

x_con['Date'] = pd.to_datetime(x_con['Date'])  
start_date = t  - timedelta(days = 1)
end_date = t + timedelta(days = 120)

mask = (x_con['Date'] > start_date) & (x_con['Date'] <= end_date)

x_hits = x_con.loc[mask]
x_hits = x_hits.sort_values(by=['Date'], ascending = True)
x_hi = x_con.loc[mask]
x_hi = x_hi.sort_values(by=['Date'], ascending = True)

#### **result**

In [ ]:
fig = px.bar(b_trtr, x="Date", y="Points", text="Points", title="Aspects TrTr Points")
fig.show()

In [ ]:
# H_TrTr

TrTr = TrTr.copy()
helio_ap = TrTr[TrTr["Type"] == "Helio"]
helio_TrTr = helio_ap[helio_ap.Date == today]

helio_TrTr.style.background_gradient(cmap='Blues')

In [ ]:
# H_TrNa

TrNa = TrNa.copy()
helio_TrNa = TrNa[TrNa["Type"] == "Helio"]
helio_TrNa = helio_TrNa[helio_TrNa.Date == today]

helio_TrNa.style.background_gradient(cmap='Blues')

#### **III.1.2 GEO TrTr & TrNa**

In [ ]:
fig = px.bar(x_hi, x="Date", y="Points", text="Points", title="Aspects TrNa Points")
fig.show()

In [ ]:
# G_TrTr

geo_ap = TrTr[TrTr["Type"] == "Geo"]
geo_TrTr = geo_ap[geo_ap.Date == today]
geo_TrTr.style.bar(subset=["Angle"],color='Blue')

In [ ]:
# G_TrNa

geo_TrNa = TrNa[TrNa["Type"] == "Geo"]
geo_TrNa = geo_TrNa[geo_TrNa.Date == today]
geo_TrNa.style.background_gradient(cmap='Blues')

In [ ]:
# GEO ASPECTS TrTr

#ga = geo_asp_good

#col = []
#cols = ha.columns[1:]
#df = ga[cols]
#Date = list[ga['Date']]

#for columns in df.columns:

    #globals()["lizte_%s"%columns] = []

    #for row, i in enumerate(df[columns]):
        #if (i >= 0 and i <= 0.03) or (i >= 3.75 and i <= 3.755) or (i >= 7.5 and i <= 7.59) or (i >= 15 and i <= 15.15) or (i >= 22.5 and i <= 22.55) or (i >= 30 and i <= 30.15) or (i >= 36 and i <= 36.15) or (i >= 45 and i <= 45.15) or (i >= 60 and i <= 60.15) or (i >= 72 and i <= 72.15) or (i >= 90 and i <= 90.15) or (i >= 120 and i <= 120.15) or (i >= 135 and i <= 135.15) or (i >= 144 and i <= 144.15) or (i >= 150 and i <= 150.15) or (i >= 180 and i <= 180.15):
        #    globals()["lizte_%s"%columns].append(i)
        #else:
          #  globals()["lizte_%s"%columns].append(" ")

#flu1 = geo_asp_good[['Date']].copy()
#dict = {'Sun_Mer': lizte_Sun_Mer, 'Sun_Ven': lizte_Sun_Ven, 'Sun_Mar': lizte_Sun_Mar, 'Sun_Jup': lizte_Sun_Jup, 'Sun_Sat': lizte_Sun_Sat, 'Sun_Ura': lizte_Sun_Ura, 'Sun_Nep': lizte_Sun_Nep, 'Sun_Plu': lizte_Sun_Plu, 'Mer_Ven': lizte_Mer_Ven, 'Mer_Mar': lizte_Mer_Mar, 'Mer_Jup': lizte_Mer_Jup, 'Mer_Sat': lizte_Mer_Sat, 'Mer_Ura': lizte_Mer_Ura, 'Mer_Nep': lizte_Mer_Nep, 'Mer_Plu': lizte_Mer_Plu, 'Ven_Mar': lizte_Ven_Mar, 'Ven_Jup': lizte_Ven_Jup, 'Ven_Sat': lizte_Ven_Sat, 'Ven_Ura': lizte_Ven_Ura, 'Ven_Nep': lizte_Ven_Nep, 'Ven_Plu': lizte_Ven_Plu, 'Mar_Jup': lizte_Mar_Jup, 'Mar_Sat': lizte_Mar_Sat, 'Mar_Ura': lizte_Mar_Ura, 'Mar_Nep': lizte_Mar_Nep, 'Mar_Plu': lizte_Mar_Plu, 'Jup_Sat': lizte_Jup_Sat, 'Jup_Ura': lizte_Jup_Ura, 'Jup_Nep': lizte_Jup_Nep, 'Jup_Plu': lizte_Jup_Plu, 'Sat_Ura': lizte_Sat_Ura, 'Sat_Nep': lizte_Sat_Nep, 'Sat_Plu': lizte_Sat_Plu, 'Ura_Nep': lizte_Ura_Nep, 'Ura_Plu': lizte_Ura_Plu, 'Nep_Plu': lizte_Nep_Plu}
#dfObj = pd.DataFrame(dict)
#concat_asp_g = pd.concat([flu1, dfObj], axis=1)

#geo_con = concat_asp_g[concat_asp_g.Date == today]
#geo_con.round()

### **III.2 Retro**

*(0 = rien | 1 = RETRO | 2 = RETURN)*

In [ ]:
# Remove the nan and fill the empty string
retro = retro.copy()

retro.fillna('')
retro = retro.replace(np.nan,'',regex = True)

retro1 = retro[retro.Date == today]
retro1.style.background_gradient(cmap='Blues')

### **III.3 Declinations**

In [ ]:
# dec_lat

selected_date = today

lat_moon_changes = lat_moon_changes.copy()

dec_lat = pd.DataFrame({'Date': [selected_date],

                                       'Dec/Lat': lat_moon_changes['LatChanges'][lat_moon_changes.Date == today].values
                                       + lat_moon_changes['MoonChanges'][lat_moon_changes.Date == selected_date].values,

                                       })

dec_lat.style.background_gradient(cmap='Blues')

### **III.4 GEO TOOLS**

In [ ]:
# GEO TOOLS

declinations = declinations.copy()
latitudes = latitudes.copy()
Moon = Moon.copy()
planet_node = planet_node.copy()
samedec_samelat = samedec_samelat.copy()

tools_con = pd.concat([declinations, lat_moon_changes, latitudes, Moon, planet_node, samedec_samelat])

tools = pd.DataFrame({'Date': [today],

                                       'New Moon': Moon['NewMoon'][Moon.Date == today].values,

                                       'Full Moon': Moon['FullMoon'][Moon.Date == today].values,

                                       'Node': planet_node['Planet Node'][planet_node.Date == today].values,

                                       'Same Dec': samedec_samelat['Same Dec'][samedec_samelat.Date == today].values,        

                                       'Same Lat': samedec_samelat['Same Lat'][samedec_samelat.Date == today].values,

                                       'Lat Changes': lat_moon_changes['LatChanges'][lat_moon_changes.Date == today].values,    

                                       'Moon Changes': lat_moon_changes['MoonChanges'][lat_moon_changes.Date == today].values,

                                       'Lat Changes': lat_moon_changes['LatChanges'][lat_moon_changes.Date == today].values,       
                                                                                                             
})

tools.fillna('')
tools = tools.replace(0, np.nan)
tools = tools.replace(np.nan,'',regex = True)

tools.style.background_gradient(cmap='Blues')

# **IV. SPIRAL TAB.py**

## 1. Code

In [ ]:
# Match every dates to cols
from datetime import datetime
from datetime import timedelta

Spiral = Spiral.copy()

for col in Spiral.columns[1:]:
    Spiral[col] = ((pd.to_datetime(Spiral['Date']) + pd.to_timedelta(f'{col} days'))
               .dt.strftime('%d/%m/%Y'))

dx = Spiral[1:].unstack().value_counts(ascending=False)

dx = pd.DataFrame(dx, columns=['Hit'])

dx = dx.reset_index()
dx = dx.rename_axis('E', axis=1)
dx.columns = dx.columns.str.replace('index', 'Date')
dx = dx.rename_axis(None, axis=1)

dx['Date'] = pd.to_datetime(dx['Date'])  

dayyy = datetime.strftime(datetime.now(), "%Y/%m/%d")
t = pd.to_datetime(dayyy)
t = pd.to_datetime(t)

start_date = t  - timedelta(days = 5)
end_date = t + timedelta(days = 120)

mask = (dx['Date'] > start_date) & (dx['Date'] <= end_date)
Spiral_hits = dx.loc[mask]
Spiral_hits = Spiral_hits.sort_values(by=['Date'])

Spiral_hits.head(15).style.background_gradient(cmap='Blues')

## 2. Result

In [ ]:
fig = px.bar(Spiral_hits, x='Date', y='Hit')
fig.show()

# **V. NatSq.py**

## 1. Code

In [ ]:
NatSq = NatSq.copy()
NatSq = NatSq.drop(['Type'], axis=1)

# Match every dates to cols

for col in NatSq.columns[1:]:
    NatSq[col] = ((pd.to_datetime(NatSq['Date']) + pd.to_timedelta(f'{col} days'))
               .dt.strftime('%d/%m/%Y'))

dx = NatSq[1:].unstack().value_counts(ascending=False)

dx = pd.DataFrame(dx, columns=['Hit'])

dx = dx.reset_index()
dx = dx.rename_axis('E', axis=1)
dx.columns = dx.columns.str.replace('index', 'Date')
dx = dx.rename_axis(None, axis=1)

dx['Date'] = pd.to_datetime(dx['Date'])  

start_date = t  - timedelta(days = 5)
end_date = t + timedelta(days = 120)

mask = (dx['Date'] > start_date) & (dx['Date'] <= end_date)
NatSq_hits = dx.loc[mask]
NatSq_hits = NatSq_hits.sort_values(by=['Date'])

NatSq_hits.head(10).style.background_gradient(cmap='Blues')

## 2. Result

In [ ]:
fig = px.bar(NatSq_hits, x='Date', y='Hit')
fig.show()

# **VI. addPrice.py**

## 1. Code

In [ ]:
kek_p = helio.copy()

In [ ]:
hexxx = helio[helio.Date == "31/10/2008"]
hexxx

In [ ]:
pa = priceadd.copy()
pa

In [ ]:
outp = pd.DataFrame()

for col in pa.columns:
    outp[col] = pa[col]

    if col not in ("Date", "Price"):
        
        for row, _ in helio.iterrows():
            date = helio["Date"][row]
            dates_list = pa["Date"].to_list()

            if date in dates_list:
                row_index = dates_list.index(date)
                outp[col][row_index] = helio[col][row]

output = outp.copy()                

print(outp)

In [ ]:
# PA_1000

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

pa1k = output.copy()
pa1k.Price = pa1k.Price / 1000 # <- change here

# Add price to all planets

for i in pa1k.columns[2:]:
    pa1k[i] = pa1k[i] + pa1k.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa1k.columns[2:]:
    for num, j in enumerate(pa1k[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa1k[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa1k.columns[2:]:
    for num, i in enumerate(pa1k[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa1k[planets].iloc[num] = Date_ok
        else:
            pa1k[planets].iloc[num] = " "

pa1k

In [ ]:
# PA_100

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

pa100 = output.copy()
pa100.Price = pa100.Price / 100 # <- change here

# Add price to all planets

for i in pa100.columns[2:]:
    pa100[i] = pa100[i] + pa100.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa100.columns[2:]:
    for num, j in enumerate(pa100[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa100[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa100.columns[2:]:
    for num, i in enumerate(pa100[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa100[planets].iloc[num] = Date_ok
        else:
            pa100[planets].iloc[num] = " "

pa100

In [ ]:
# PA_10

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

pa10 = output.copy()
pa10.Price = pa10.Price / 10 # <- change here

# Add price to all planets

for i in pa10.columns[2:]:
    pa10[i] = pa10[i] + pa10.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa10.columns[2:]:
    for num, j in enumerate(pa10[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa10[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa10.columns[2:]:
    for num, i in enumerate(pa10[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa10[planets].iloc[num] = Date_ok
        else:
            pa10[planets].iloc[num] = " "

pa10

In [ ]:
# PA_1

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

pa1 = output.copy()
pa1.Price = pa1.Price / 1 # <- change here

# Add price to all planets

for i in pa1.columns[2:]:
    pa1[i] = pa1[i] + pa1.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa1.columns[2:]:
    for num, j in enumerate(pa1[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa1[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa1.columns[2:]:
    for num, i in enumerate(pa1[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa1[planets].iloc[num] = Date_ok
        else:
            pa1[planets].iloc[num] = " "

pa1

In [ ]:
# PA_24:

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

pa24 = output.copy()
pa24.Price = pa24.Price / 24 # <- change here

# Add price to all planets

for i in pa24.columns[2:]:
    pa24[i] = pa24[i] + pa24.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa24.columns[2:]:
    for num, j in enumerate(pa24[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa24[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa24.columns[2:]:
    for num, i in enumerate(pa24[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa24[planets].iloc[num] = Date_ok
        else:
            pa24[planets].iloc[num] = " "

pa24

In [ ]:
# PA_263:

# Copy price + Initialization of divisions
# (1000,100,10,1,24,etc...)

pa263 = output.copy()
pa263.Price = pa263.Price / 263 # <- change here

# Add price to all planets

for i in pa263.columns[2:]:
    pa263[i] = pa263[i] + pa263.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa263.columns[2:]:
    for num, j in enumerate(pa263[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa263[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa263.columns[2:]:
    for num, i in enumerate(pa263[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa263[planets].iloc[num] = Date_ok
        else:
            pa263[planets].iloc[num] = " "

pa263

In [ ]:
# PA_1440:

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

pa1440 = output.copy()
pa1440.Price = pa1440.Price / 1440 # <- change here

# Add price to all planets

for i in pa1440.columns[2:]:
    pa1440[i] = pa1440[i] + pa1440.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa1440.columns[2:]:
    for num, j in enumerate(pa1440[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa1440[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa1440.columns[2:]:
    for num, i in enumerate(pa1440[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa1440[planets].iloc[num] = Date_ok
        else:
            pa1440[planets].iloc[num] = " "

pa1440

#### **HIT addP**

In [ ]:
total_p = pd.concat([pa1k, pa100, pa10, pa1, pa24, pa263, pa1440])

adpod = total_p.copy()
adpod = adpod.drop(['Price'], axis=1)

good = adpod[1:].unstack().value_counts(ascending=True)

good = pd.DataFrame(good, columns=['Hit'])

good = good.reset_index()
good = good.rename_axis('E', axis=1)
good.columns = good.columns.str.replace('index', 'Date')
good = good.rename_axis(None, axis=1)

start_date = "10/08/2022"
end_date = "31/12/2025"

mask = (good['Date'] > start_date) & (good['Date'] <= end_date)
good = good.loc[mask]

# addp_hits.head(50)

good = good.sort_values(by=['Date'], ascending=True)

good['Date'] = good['Date'].apply(pd.to_datetime)

start_date = "10/08/2022"
end_date = "31/12/2025"

mask = (good['Date'] > start_date) & (good['Date'] <= end_date)
good = good.loc[mask]

# addp_hits.head(50)

good = good.sort_values(by=['Date'], ascending=True)
good.style.background_gradient(cmap='Blues')

## 2. Result

In [ ]:
fig = px.bar(good, x='Date', y='Hit')
fig.show()

# **VII. TrNa.py**

## 1. Code

In [ ]:
x = points_na.copy()

x.fillna(0, inplace=True)

x_h = x[x["Type"] == "Helio"]
x_g = x[x["Type"] == "Geo"]

x_h = x_h.drop(['Type'], axis = 1)
x_h = x_h.drop(['Angle'], axis = 1)
x_h = x_h.drop(['Pair'], axis = 1)

x_g = x_g.drop(['Type'], axis = 1)
x_g = x_g.drop(['Angle'], axis = 1)
x_g = x_g.drop(['Pair'], axis = 1)

x_con = pd.concat([x_h, x_g])

x_con['Date'] = pd.to_datetime(x_con['Date'])  
start_date = t  - timedelta(days = 5)
end_date = t + timedelta(days = 120)

mask = (x_con['Date'] > start_date) & (x_con['Date'] <= end_date)

x_hits = x_con.loc[mask]
x_hits = x_hits.sort_values(by=['Date'], ascending = True)
x_hi = x_con.loc[mask]
x_hi = x_hi.sort_values(by=['Date'], ascending = True)

x_hi.head(5).style.background_gradient(cmap='Blues')

In [ ]:
start_date = t  - timedelta(days = 5)
end_date = t + timedelta(days = 120)

mask = (x_con['Date'] > start_date) & (x_con['Date'] <= end_date)

x_hi = x_con.loc[mask]
x_hi = x_hi.sort_values(by=['Date'], ascending = True)

x_hi.head(5).style.background_gradient(cmap='Blues')

## 2. Result

In [ ]:
fig = px.bar(x_hi, x='Date', y='Points')
fig.show()

# **VIII. TrTr.py**

## 1. Code

In [ ]:
b = points_tr.copy()

b.fillna(0, inplace=True)

b_h = b[b["Type"] == "Helio"]
b_g = b[b["Type"] == "Geo"]

b_h = b_h.drop(['Type'], axis = 1)
b_g = b_g.drop(['Type'], axis = 1)
b_con = pd.concat([b_h, b_g])

b_con['Date'] = pd.to_datetime(b_con['Date'])  

start_date = t  - timedelta(days = 5)
end_date = t + timedelta(days = 120)

mask = (b_con['Date'] > start_date) & (b_con['Date'] <= end_date)
b_hits = b_con.loc[mask]
b_hits = b_hits.sort_values(by=['Date'], ascending = True)
b_trtr = b_hits

b_trtr.head(5).style.background_gradient(cmap='Blues')

## 1. Result

In [ ]:
fig = px.bar(b_trtr, x='Date', y='Points')
fig.show()

# **IX. MULT.py**

## 1. Code

In [ ]:
m = mult.copy()
m.head(5)

m['Date1'] = d1 = pd.to_datetime(m['Date1'])
m['Date2'] = d2 = pd.to_datetime(m['Date2'])
m['Date1'] = m['Date1'].dt.strftime('%Y/%m/%d')
m['Date2'] = m['Date2'].dt.strftime('%Y/%m/%d')

In [ ]:
# PANDA VERSION

#from datetime import datetime 

#m618 = m.copy()

#for i, col in enumerate(m618.columns[2:]):
    #df1 = pd.to_datetime(m618['Date1'])
    #df2 = pd.to_datetime(m618['Date2'])
    #m618[col] =  df2 + ((df2 - df1) * (1.618 ** i))

#m618['Date1'] = pd.to_datetime(m618['Date1'])
#m618['Date2'] = pd.to_datetime(m618['Date2'])

#m618['Date1'] = m618['Date1'].dt.strftime('%Y/%m/%d')
#m618['Date2'] = m618['Date2'].dt.strftime('%Y/%m/%d')
#m618['1'] = m618['1'].dt.strftime('%Y/%m/%d')
#m618['2'] = m618['2'].dt.strftime('%Y/%m/%d')
#m618['3'] = m618['3'].dt.strftime('%Y/%m/%d')
#m618['4'] = m618['4'].dt.strftime('%Y/%m/%d')
#m618['5'] = m618['5'].dt.strftime('%Y/%m/%d')
#m618['6'] = m618['6'].dt.strftime('%Y/%m/%d')
#m618['7'] = m618['7'].dt.strftime('%Y/%m/%d')
#m618['8'] = m618['8'].dt.strftime('%Y/%m/%d')
#m618['9'] = m618['9'].dt.strftime('%Y/%m/%d')
#m618['10'] = m618['10'].dt.strftime('%Y/%m/%d')

#m618

In [ ]:
# Vectorization Full 618

op618 = (d2 - d1).dt.days.to_numpy().reshape(-1, 1) * (1.618 ** np.arange(1, 11)).reshape(1, -1)
m618 = op618.astype('timedelta64[D]') + d2.to_numpy().reshape(-1, 1) 

m618 = pd.DataFrame(m618, columns=['1', '2', '3', '4', '5','6','7','8','9', '10'])

m618['1'] = m618['1'].dt.strftime('%Y/%m/%d')
m618['2'] = m618['2'].dt.strftime('%Y/%m/%d')
m618['3'] = m618['3'].dt.strftime('%Y/%m/%d')
m618['4'] = m618['4'].dt.strftime('%Y/%m/%d')
m618['5'] = m618['5'].dt.strftime('%Y/%m/%d')
m618['6'] = m618['6'].dt.strftime('%Y/%m/%d')
m618['7'] = m618['7'].dt.strftime('%Y/%m/%d')
m618['8'] = m618['8'].dt.strftime('%Y/%m/%d')
m618['9'] = m618['9'].dt.strftime('%Y/%m/%d')
m618['10'] = m618['10'].dt.strftime('%Y/%m/%d')

m618

In [ ]:
# Vectorization Full 414

op414 = (d2 - d1).dt.days.to_numpy().reshape(-1, 1) * (1.414 ** np.arange(1, 11)).reshape(1, -1)
m414 = op414.astype('timedelta64[D]') + d2.to_numpy().reshape(-1, 1) 

m414 = pd.DataFrame(m414, columns=['1', '2', '3', '4', '5','6','7','8','9', '10'])

m414['1'] = m414['1'].dt.strftime('%Y/%m/%d')
m414['2'] = m414['2'].dt.strftime('%Y/%m/%d')
m414['3'] = m414['3'].dt.strftime('%Y/%m/%d')
m414['4'] = m414['4'].dt.strftime('%Y/%m/%d')
m414['5'] = m414['5'].dt.strftime('%Y/%m/%d')
m414['6'] = m414['6'].dt.strftime('%Y/%m/%d')
m414['7'] = m414['7'].dt.strftime('%Y/%m/%d')
m414['8'] = m414['8'].dt.strftime('%Y/%m/%d')
m414['9'] = m414['9'].dt.strftime('%Y/%m/%d')
m414['10'] = m414['10'].dt.strftime('%Y/%m/%d')

In [ ]:
# Vectorization Full 732

op732 = (d2 - d1).dt.days.to_numpy().reshape(-1, 1) * (1.732 ** np.arange(1, 11)).reshape(1, -1)
m732 = op732.astype('timedelta64[D]') + d2.to_numpy().reshape(-1, 1) 

m732 = pd.DataFrame(m732, columns=['1', '2', '3', '4', '5','6','7','8','9', '10'])

m732['1'] = m732['1'].dt.strftime('%Y/%m/%d')
m732['2'] = m732['2'].dt.strftime('%Y/%m/%d')
m732['3'] = m732['3'].dt.strftime('%Y/%m/%d')
m732['4'] = m732['4'].dt.strftime('%Y/%m/%d')
m732['5'] = m732['5'].dt.strftime('%Y/%m/%d')
m732['6'] = m732['6'].dt.strftime('%Y/%m/%d')
m732['7'] = m732['7'].dt.strftime('%Y/%m/%d')
m732['8'] = m732['8'].dt.strftime('%Y/%m/%d')
m732['9'] = m732['9'].dt.strftime('%Y/%m/%d')
m732['10'] = m732['10'].dt.strftime('%Y/%m/%d')

In [ ]:
multi = pd.concat([m618, m414, m732])

tae = datetime.strftime(datetime.now(), "%d/%m/%Y")
tx = pd.to_datetime(tae)
tx = pd.to_datetime(tx)

adpod = multi.copy()

good = adpod[1:].unstack().value_counts(ascending=True)

good = pd.DataFrame(good, columns=['Hit'])

good = good.reset_index()
good = good.rename_axis('E', axis=1)
good.columns = good.columns.str.replace('index', 'Date')
good = good.rename_axis(None, axis=1)

start_date = tx  - timedelta(days = 5)
end_date = tx + timedelta(days = 120)

good['Date'] = pd.to_datetime(good['Date'])

mask = (good['Date'] > start_date) & (good['Date'] <= end_date)
good = good.loc[mask]

# addp_hits.head(50)

mult_hits = good.sort_values(by=['Date'], ascending=True)
mult_hits.head(10).style.background_gradient(cmap='Blues')

## 2. Result

In [ ]:
fig = px.bar(mult_hits, x='Date', y='Hit')
fig.show()

# **X. FutureDates.py**

## 1. Code

In [ ]:
futdat = FutureDate.copy()
helio_cum = helio_cum.copy()

fdd = pd.DataFrame()

for col in futdat.columns:
    fdd[col] = futdat[col]

    if col not in ("Date", "Price"):
        
        for row, _ in helio_cum.iterrows():
            date = helio_cum["Date"][row]
            dates_list = futdat["Date"].to_list()

            if date in dates_list:
                row_index = dates_list.index(date)
                fdd[col][row_index] = helio_cum[col][row]

fdd

In [ ]:
# FD15

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 15

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd15 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd15.columns[1:]:
    for num, i in enumerate(fd15[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd15[planets].iloc[num] = Date_ok
        else:
            fd15[planets].iloc[num] = " "

fd15

In [ ]:
# FD30

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 30

fd30 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd30.columns[1:]:
    for num, i in enumerate(fd30[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd30[planets].iloc[num] = Date_ok
        else:
            fd30[planets].iloc[num] = " "

fd30

In [ ]:
# FD45

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 45

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd45 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd45.columns[1:]:
    for num, i in enumerate(fd45[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd45[planets].iloc[num] = Date_ok
        else:
            fd45[planets].iloc[num] = " "

fd45

In [ ]:
# FD60

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 60

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd60 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd60.columns[1:]:
    for num, i in enumerate(fd60[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd60[planets].iloc[num] = Date_ok
        else:
            fd60[planets].iloc[num] = " "

fd60

In [ ]:
# FD72

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 72

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd72 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd72.columns[1:]:
    for num, i in enumerate(fd72[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd72[planets].iloc[num] = Date_ok
        else:
            fd72[planets].iloc[num] = " "

fd72

In [ ]:
# FD90

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 90

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd90 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd90.columns[1:]:
    for num, i in enumerate(fd90[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd90[planets].iloc[num] = Date_ok
        else:
            fd90[planets].iloc[num] = " "

fd90

In [ ]:
# FD120

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 120

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd120 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd120.columns[1:]:
    for num, i in enumerate(fd120[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd120[planets].iloc[num] = Date_ok
        else:
            fd120[planets].iloc[num] = " "

fd120

In [ ]:
# FD144

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 144

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd144 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd144.columns[1:]:
    for num, i in enumerate(fd144[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd144[planets].iloc[num] = Date_ok
        else:
            fd144[planets].iloc[num] = " "

fd144

In [ ]:
# FD180

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 180

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd180 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd180.columns[1:]:
    for num, i in enumerate(fd180[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd180[planets].iloc[num] = Date_ok
        else:
            fd180[planets].iloc[num] = " "

fd180

In [ ]:
# FD360

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 360

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd360 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd360.columns[1:]:
    for num, i in enumerate(fd360[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd360[planets].iloc[num] = Date_ok
        else:
            fd360[planets].iloc[num] = " "

fd360

In [ ]:
# FD720

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 720

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd720 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd720.columns[1:]:
    for num, i in enumerate(fd720[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd720[planets].iloc[num] = Date_ok
        else:
            fd720[planets].iloc[num] = " "

fd720

In [ ]:
# FD1080

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 1080

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd1080 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd1080.columns[1:]:
    for num, i in enumerate(fd1080[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd1080[planets].iloc[num] = Date_ok
        else:
            fd1080[planets].iloc[num] = " "

fd1080

In [ ]:
# FD1440

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 1440

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd1440 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd1440.columns[1:]:
    for num, i in enumerate(fd1440[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd1440[planets].iloc[num] = Date_ok
        else:
            fd1440[planets].iloc[num] = " "

fd1440

In [ ]:
# FD1800

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 1800

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd1800 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd1800.columns[1:]:
    for num, i in enumerate(fd1800[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd1800[planets].iloc[num] = Date_ok
        else:
            fd1800[planets].iloc[num] = " "

fd1800

In [ ]:
future_dates = pd.concat([fd15, fd30, fd45, fd60, fd72, fd90, fd120, fd144, fd180, fd360, fd720, fd1080, fd1440, fd1800])

adpod = future_dates.copy()

gfd = adpod[1:].unstack().value_counts(ascending=True)

gfd = pd.DataFrame(gfd, columns=['Hit'])

gfd = gfd.reset_index()
gfd = gfd.rename_axis('E', axis=1)
gfd.columns = gfd.columns.str.replace('index', 'Date')
gfd = gfd.rename_axis(None, axis=1)

gfd.drop(gfd.tail(1).index,inplace=True)


gfd['Date'] = pd.to_datetime(gfd['Date'])

start_date = t  - timedelta(days = 5)
end_date = t + timedelta(days = 120)

mask = (gfd['Date'] > start_date) & (gfd['Date'] <= end_date)
gfd = gfd.loc[mask]

gfd['Date'] = pd.to_datetime(gfd['Date'])

# addp_hits.head(50)

gfdE = gfd.sort_values(by=['Date'], ascending=True)
gfdE.style.background_gradient(cmap='Blues')

In [ ]:
lathit = lathit.copy()

ex = pd.concat([gfdE, lathit])
ex

## 2. Result

In [ ]:
fig = px.bar(ex, x='Date', y='Hit')

fig.show()

# **XI. Fibs.py**

## 1. Code

In [ ]:
fbb = pd.DataFrame()
helio_cum = helio_cum.copy()
fibs = fibs.copy()

for col in fibs.columns:
    fbb[col] = fibs[col]

    if col not in ("Date"):
        
        for row, _ in helio_cum.iterrows():
            date = helio_cum["Date"][row]
            dates_list = fibs["Date"].to_list()

            if date in dates_list:
                row_index = dates_list.index(date)
                fbb[col][row_index] = helio_cum[col][row]

fbb

In [ ]:
dfs = []

for i in range(len(fbb["Date"]) - 1):
    new_df = fbb.copy()[i:]
    for k in new_df:
        if k == "Date":
            continue
        for j in range(i + 1, len(fbb[k])):
            new_df[k][j] = (float(new_df[k][i]) + ((float(new_df[k][j]) - float(new_df[k][i])) * 1.618))
        new_df[k][i] = 0
    dfs.append(new_df)

for df in dfs:
    print(df)

In [ ]:
test = pd.concat(dfs)
test = test.round()
fbb1 = test.copy()
teestt = fbb1.copy() # DF WHERE I WANT TO REPLACE DEGREES VALUES BY THEIR CORRESPONDING DATES (df_1)

dates              = helio_cum.melt(id_vars="Date", var_name="Planets")
numeric_cols       = teestt.columns[teestt.columns.str.fullmatch("\d+")]
pairs              = teestt.set_index("Date").filter(numeric_cols).stack().droplevel(-1).reset_index(name="value")
mapper             = pd.merge_asof(pairs.astype({"value": float}).sort_values("value"),
                                   dates.astype({"value": float}).sort_values("value"),
                                   on="value",
                                   direction="forward").set_index("value")["Date"]

teestt[numeric_cols] = teestt[numeric_cols].replace(mapper)

teestt

In [ ]:
test = pd.concat(dfs)
test = test.round()
fbb1 = test.copy()

# for loop to catch which degrees is situated at which date in the future/past

for planets in fbb1.columns[1:]:
    for num, i in enumerate(fbb1[planets]):
        df_copy = helio_cum.round()
        target = df_copy[df_copy[planets] == float(i)]
        type(planets)
        type(df_copy)

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fbb1[planets].iloc[num] = Date_ok
        else:
            fbb1[planets].iloc[num] = " "

fbb1

In [ ]:
adpod = fbb1.copy()

gdeg = adpod[1:].unstack().value_counts(ascending=True)

gdeg = pd.DataFrame(gdeg, columns=['Hit'])

gdeg = gdeg.reset_index()
gdeg = gdeg.rename_axis('E', axis=1)
gdeg.columns = gdeg.columns.str.replace('index', 'Date')
gdeg = gdeg.rename_axis(None, axis=1)

gdeg = gdeg.sort_values(by=['Date'], ascending=True)
gdeg.drop(gdeg.head(1).index,inplace=True) # drop first n rows

gdeg['Date'] = gdeg['Date'].apply(pd.to_datetime)

start_date = t  - timedelta(days = 5)
end_date = t + timedelta(days = 120)

mask = (gdeg['Date'] > start_date) & (gdeg['Date'] <= end_date)
gdeg = gdeg.loc[mask]

fib_hits = gdeg.sort_values(by=['Date'], ascending=True)
fib_hits.head(10).style.background_gradient(cmap='Blues')

## 2. Result

In [ ]:
fig = px.bar(fib_hits, x='Date', y='Hit')
fig.show()

# **XII. Retro.py**

## 1. Code

*0 = 0 || 1 = True || 2 = Return*

In [ ]:
r_h = retrohits.copy()
r_h = r_h.fillna(0)

r_h['Date'] = pd.to_datetime(r_h['Date'])
r_h['Hit'] = r_h['Merc'] + r_h['Ven'] + r_h['Mar'] + r_h['Jup'] + r_h['Sat'] + r_h['Ura'] + r_h['Nep'] + r_h['Plu']
r_h = r_h.drop(['Merc', 'Ven', 'Mar', 'Jup', 'Sat', 'Ura', 'Nep', 'Plu'], axis=1)

r_h['Date'] = pd.to_datetime(r_h['Date'])  

start_date = t  - timedelta(days = 5)
end_date = t + timedelta(days = 120)

mask = (r_h['Date'] > start_date) & (r_h['Date'] <= end_date)

rh_hits = r_h.loc[mask]
rh_hits = rh_hits.sort_values(by=['Date'], ascending = True)

rh_hits.head(15).style.background_gradient(cmap='Blues')

## 2. Result

In [ ]:
fig = px.bar(rh_hits, x='Date', y='Hit')
fig.show()

# **XIII. PriceTime.py**

## 1. Code

In [ ]:
from datetime import datetime

p_t = nega.copy()

p_t['Date'] = d = pd.to_datetime(p_t['Date'])
p_t['Date'] = p_t['Date'].dt.strftime('%Y/%m/%d')

twoday = datetime.strftime(datetime.now(), "%Y/%m/%d")
t = pd.to_datetime(twoday)

p_t['Elapsed'] = t - d
p_t['Elapsed'] = p_t['Elapsed'].dt.days.to_numpy()

p_t['Sqrt'] = p_t['Elapsed'] ** (1/2)
p_t['Sqrt'] = p_t['Sqrt'].round(2)
sq = p_t['Sqrt']

In [ ]:
op13 = (((sq / 13).to_numpy().reshape(-1, 1) + (np.arange(1, 22)).reshape(1, -1)) ** 2)
pt13 = op13.astype('timedelta64[D]') + d.to_numpy().reshape(-1, 1)

pt13 = pd.DataFrame(pt13, columns=['1', '2', '3', '4', '5','6','7','8','9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21'])

pt13['1'] = pt13['1'].dt.strftime('%Y/%m/%d')
pt13['2'] = pt13['2'].dt.strftime('%Y/%m/%d')
pt13['3'] = pt13['3'].dt.strftime('%Y/%m/%d')
pt13['4'] = pt13['4'].dt.strftime('%Y/%m/%d')
pt13['5'] = pt13['5'].dt.strftime('%Y/%m/%d')
pt13['6'] = pt13['6'].dt.strftime('%Y/%m/%d')
pt13['7'] = pt13['7'].dt.strftime('%Y/%m/%d')
pt13['8'] = pt13['8'].dt.strftime('%Y/%m/%d')
pt13['9'] = pt13['9'].dt.strftime('%Y/%m/%d')
pt13['10'] = pt13['10'].dt.strftime('%Y/%m/%d')
pt13['11'] = pt13['11'].dt.strftime('%Y/%m/%d')
pt13['12'] = pt13['12'].dt.strftime('%Y/%m/%d')
pt13['13'] = pt13['13'].dt.strftime('%Y/%m/%d')
pt13['14'] = pt13['14'].dt.strftime('%Y/%m/%d')
pt13['15'] = pt13['15'].dt.strftime('%Y/%m/%d')
pt13['16'] = pt13['16'].dt.strftime('%Y/%m/%d')
pt13['17'] = pt13['17'].dt.strftime('%Y/%m/%d')
pt13['18'] = pt13['18'].dt.strftime('%Y/%m/%d')
pt13['19'] = pt13['19'].dt.strftime('%Y/%m/%d')
pt13['20'] = pt13['20'].dt.strftime('%Y/%m/%d')
pt13['21'] = pt13['21'].dt.strftime('%Y/%m/%d')

pt13

In [ ]:
op21 = (((sq / 21).to_numpy().reshape(-1, 1) + (np.arange(1, 22)).reshape(1, -1)) ** 2)
pt21 = op21.astype('timedelta64[D]') + d.to_numpy().reshape(-1, 1)

pt21 = pd.DataFrame(pt21, columns=['1', '2', '3', '4', '5','6','7','8','9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21'])
pt21['1'] = pt21['1'].dt.strftime('%Y/%m/%d')
pt21['2'] = pt21['2'].dt.strftime('%Y/%m/%d')
pt21['3'] = pt21['3'].dt.strftime('%Y/%m/%d')
pt21['4'] = pt21['4'].dt.strftime('%Y/%m/%d')
pt21['5'] = pt21['5'].dt.strftime('%Y/%m/%d')
pt21['6'] = pt21['6'].dt.strftime('%Y/%m/%d')
pt21['7'] = pt21['7'].dt.strftime('%Y/%m/%d')
pt21['8'] = pt21['8'].dt.strftime('%Y/%m/%d')
pt21['9'] = pt21['9'].dt.strftime('%Y/%m/%d')
pt21['10'] = pt21['10'].dt.strftime('%Y/%m/%d')
pt21['11'] = pt21['11'].dt.strftime('%Y/%m/%d')
pt21['12'] = pt21['12'].dt.strftime('%Y/%m/%d')
pt21['13'] = pt21['13'].dt.strftime('%Y/%m/%d')
pt21['14'] = pt21['14'].dt.strftime('%Y/%m/%d')
pt21['15'] = pt21['15'].dt.strftime('%Y/%m/%d')
pt21['16'] = pt21['16'].dt.strftime('%Y/%m/%d')
pt21['17'] = pt21['17'].dt.strftime('%Y/%m/%d')
pt21['18'] = pt21['18'].dt.strftime('%Y/%m/%d')
pt21['19'] = pt21['19'].dt.strftime('%Y/%m/%d')
pt21['20'] = pt21['20'].dt.strftime('%Y/%m/%d')
pt21['21'] = pt21['21'].dt.strftime('%Y/%m/%d')

In [ ]:
op34 = (((sq / 34).to_numpy().reshape(-1, 1) + (np.arange(1, 22)).reshape(1, -1)) ** 2)
pt34 = op34.astype('timedelta64[D]') + d.to_numpy().reshape(-1, 1)

pt34 = pd.DataFrame(pt34, columns=['1', '2', '3', '4', '5','6','7','8','9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21'])
pt34['1'] = pt34['1'].dt.strftime('%Y/%m/%d')
pt34['2'] = pt34['2'].dt.strftime('%Y/%m/%d')
pt34['3'] = pt34['3'].dt.strftime('%Y/%m/%d')
pt34['4'] = pt34['4'].dt.strftime('%Y/%m/%d')
pt34['5'] = pt34['5'].dt.strftime('%Y/%m/%d')
pt34['6'] = pt34['6'].dt.strftime('%Y/%m/%d')
pt34['7'] = pt34['7'].dt.strftime('%Y/%m/%d')
pt34['8'] = pt34['8'].dt.strftime('%Y/%m/%d')
pt34['9'] = pt34['9'].dt.strftime('%Y/%m/%d')
pt34['10'] = pt34['10'].dt.strftime('%Y/%m/%d')
pt34['11'] = pt34['11'].dt.strftime('%Y/%m/%d')
pt34['12'] = pt34['12'].dt.strftime('%Y/%m/%d')
pt34['13'] = pt34['13'].dt.strftime('%Y/%m/%d')
pt34['14'] = pt34['14'].dt.strftime('%Y/%m/%d')
pt34['15'] = pt34['15'].dt.strftime('%Y/%m/%d')
pt34['16'] = pt34['16'].dt.strftime('%Y/%m/%d')
pt34['17'] = pt34['17'].dt.strftime('%Y/%m/%d')
pt34['18'] = pt34['18'].dt.strftime('%Y/%m/%d')
pt34['19'] = pt34['19'].dt.strftime('%Y/%m/%d')
pt34['20'] = pt34['20'].dt.strftime('%Y/%m/%d')
pt34['21'] = pt34['21'].dt.strftime('%Y/%m/%d')

In [ ]:
op55 = (((sq / 55).to_numpy().reshape(-1, 1) + (np.arange(1, 22)).reshape(1, -1)) ** 2)
pt55 = op55.astype('timedelta64[D]') + d.to_numpy().reshape(-1, 1)

pt55 = pd.DataFrame(pt55, columns=['1', '2', '3', '4', '5','6','7','8','9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21'])
pt55['1'] = pt55['1'].dt.strftime('%Y/%m/%d')
pt55['2'] = pt55['2'].dt.strftime('%Y/%m/%d')
pt55['3'] = pt55['3'].dt.strftime('%Y/%m/%d')
pt55['4'] = pt55['4'].dt.strftime('%Y/%m/%d')
pt55['5'] = pt55['5'].dt.strftime('%Y/%m/%d')
pt55['6'] = pt55['6'].dt.strftime('%Y/%m/%d')
pt55['7'] = pt55['7'].dt.strftime('%Y/%m/%d')
pt55['8'] = pt55['8'].dt.strftime('%Y/%m/%d')
pt55['9'] = pt55['9'].dt.strftime('%Y/%m/%d')
pt55['10'] = pt55['10'].dt.strftime('%Y/%m/%d')
pt55['11'] = pt55['11'].dt.strftime('%Y/%m/%d')
pt55['12'] = pt55['12'].dt.strftime('%Y/%m/%d')
pt55['13'] = pt55['13'].dt.strftime('%Y/%m/%d')
pt55['14'] = pt55['14'].dt.strftime('%Y/%m/%d')
pt55['15'] = pt55['15'].dt.strftime('%Y/%m/%d')
pt55['16'] = pt55['16'].dt.strftime('%Y/%m/%d')
pt55['17'] = pt55['17'].dt.strftime('%Y/%m/%d')
pt55['18'] = pt55['18'].dt.strftime('%Y/%m/%d')
pt55['19'] = pt55['19'].dt.strftime('%Y/%m/%d')
pt55['20'] = pt55['20'].dt.strftime('%Y/%m/%d')
pt55['21'] = pt55['21'].dt.strftime('%Y/%m/%d')

In [ ]:
op89 = (((sq / 89).to_numpy().reshape(-1, 1) + (np.arange(1, 22)).reshape(1, -1)) ** 2)
pt89 = op89.astype('timedelta64[D]') + d.to_numpy().reshape(-1, 1)

pt89 = pd.DataFrame(pt89, columns=['1', '2', '3', '4', '5','6','7','8','9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21'])
pt89['1'] = pt89['1'].dt.strftime('%Y/%m/%d')
pt89['2'] = pt89['2'].dt.strftime('%Y/%m/%d')
pt89['3'] = pt89['3'].dt.strftime('%Y/%m/%d')
pt89['4'] = pt89['4'].dt.strftime('%Y/%m/%d')
pt89['5'] = pt89['5'].dt.strftime('%Y/%m/%d')
pt89['6'] = pt89['6'].dt.strftime('%Y/%m/%d')
pt89['7'] = pt89['7'].dt.strftime('%Y/%m/%d')
pt89['8'] = pt89['8'].dt.strftime('%Y/%m/%d')
pt89['9'] = pt89['9'].dt.strftime('%Y/%m/%d')
pt89['10'] = pt89['10'].dt.strftime('%Y/%m/%d')
pt89['11'] = pt89['11'].dt.strftime('%Y/%m/%d')
pt89['12'] = pt89['12'].dt.strftime('%Y/%m/%d')
pt89['13'] = pt89['13'].dt.strftime('%Y/%m/%d')
pt89['14'] = pt89['14'].dt.strftime('%Y/%m/%d')
pt89['15'] = pt89['15'].dt.strftime('%Y/%m/%d')
pt89['16'] = pt89['16'].dt.strftime('%Y/%m/%d')
pt89['17'] = pt89['17'].dt.strftime('%Y/%m/%d')
pt89['18'] = pt89['18'].dt.strftime('%Y/%m/%d')
pt89['19'] = pt89['19'].dt.strftime('%Y/%m/%d')
pt89['20'] = pt89['20'].dt.strftime('%Y/%m/%d')
pt89['21'] = pt89['21'].dt.strftime('%Y/%m/%d')

In [ ]:
pt_hits = pd.concat([pt13, pt21, pt34, pt55, pt89])

adpod = pt_hits.copy()

dzea2 = adpod[1:].unstack().value_counts(ascending=True)

dzea2 = pd.DataFrame(dzea2, columns=['Hit'])

dzea2 = dzea2.reset_index()
dzea2 = dzea2.rename_axis('E', axis=1)
dzea2.columns = dzea2.columns.str.replace('index', 'Date')
dzea2 = dzea2.rename_axis(None, axis=1)

start_date = "10/08/2022"
end_date = "31/12/2022"

mask = (dzea2['Date'] > start_date) & (dzea2['Date'] <= end_date)
dzea2 = dzea2.loc[mask]

# addp_hits.head(50)

dzea2 = dzea2.sort_values(by=['Date'], ascending=True)

dzea2['Date'] = dzea2['Date'].apply(pd.to_datetime)

start_date = t  - timedelta(days = 5)
end_date = t + timedelta(days = 120)

mask = (dzea2['Date'] > start_date) & (dzea2['Date'] <= end_date)
dzea2 = dzea2.loc[mask]

# addp_hits.head(50)

pt_hit = dzea2.sort_values(by=['Date'], ascending=True)
pt_hit.head(15).style.background_gradient(cmap='Blues')

## 2. Result

In [ ]:
fig = px.bar(pt_hit, x='Date', y='Hit')
fig.show()

# **XIV. Sq9**

## 1. Code

In [ ]:
sq9 = SQ9.copy()

q = sq9['Sq9']
sq9['0'] = d = pd.to_datetime(sq9['0'])
op1 = ((q).to_numpy().reshape(-1, 1) * (np.arange(1, 8)).reshape(1, -1))
sq9g = op1.astype('timedelta64[D]') + d.to_numpy().reshape(-1, 1)
sq9g = pd.DataFrame(sq9g, columns=['45', '90', '135', '180', '225','270','315'])

sq9g

In [ ]:
adpod = sq9g.copy()

dzea2 = adpod[1:].unstack().value_counts(ascending=True)

dzea2 = pd.DataFrame(dzea2, columns=['Hit'])

dzea2 = dzea2.reset_index()
dzea2 = dzea2.rename_axis('E', axis=1)
dzea2.columns = dzea2.columns.str.replace('index', 'Date')
dzea2 = dzea2.rename_axis(None, axis=1)

dzea2 = dzea2.sort_values(by=['Date'], ascending=True)

dzea2['Date'] = dzea2['Date'].apply(pd.to_datetime)

start_date = t  - timedelta(days = 5)
end_date = t + timedelta(days = 120)

mask = (dzea2['Date'] > start_date) & (dzea2['Date'] <= end_date)
dzea2 = dzea2.loc[mask]

# addp_hits.head(50)

ggggg = dzea2.sort_values(by=['Date'], ascending=True)
ggggg.style.background_gradient(cmap='Blues')

## 2. Result

In [ ]:
fig = px.bar(ggggg, x='Date', y='Hit')
fig.show()

# **XV. Natal**

## 1. Code

### NATAL

In [35]:
# 31/10/2008

helcunn = helio_cum.copy() # DF WHERE I GET THE DATES (df_2)
helcunn = helcunn.round()

helcunn['Date'] = pd.to_datetime(helcunn['Date'])
date_filter = "2000/01/01"
date_filter = pd.to_datetime(date_filter)

helcunn = helcunn[helcunn['Date'] > date_filter]

s_d = "31/10/2008"
nat = natal.copy()
nat_h = nat.copy()

nat_h.Degrees = nat_h.Planets.map(helio.set_index("Date").loc[s_d])
nat_h.Start_Date = nat_h.Planets.map(helio_cum.set_index("Date").loc[s_d])
nat_h.Now = nat_h.Planets.map(helio_cum.set_index("Date").loc[today])
nat_h.Cycles = (nat_h.Now - nat_h.Start_Date) / nat_h.Degrees

nat_h['Cycles'] = nat_h['Cycles'].iloc[::].apply(np.floor)

nat_h['0'] = (nat_h.Cycles * nat_h.Degrees) + nat_h.Start_Date
nat_h['1'] = ((nat_h.Cycles + 1) * (nat_h.Degrees)) + nat_h.Start_Date
nat_h['2'] = ((nat_h.Cycles + 2) * (nat_h.Degrees)) + nat_h.Start_Date
nat_h['3'] = ((nat_h.Cycles + 3) * (nat_h.Degrees)) + nat_h.Start_Date
nat_h['4'] = ((nat_h.Cycles + 4) * (nat_h.Degrees)) + nat_h.Start_Date
nat_h['5'] = ((nat_h.Cycles + 5) * (nat_h.Degrees)) + nat_h.Start_Date
nat_h['6'] = ((nat_h.Cycles + 6) * (nat_h.Degrees)) + nat_h.Start_Date
nat_h['7'] = ((nat_h.Cycles + 7) * (nat_h.Degrees)) + nat_h.Start_Date
nat_h['8'] = ((nat_h.Cycles + 8) * (nat_h.Degrees)) + nat_h.Start_Date
nat_h['9'] = ((nat_h.Cycles + 9) * (nat_h.Degrees)) + nat_h.Start_Date

nat_h['0'] = nat_h['0'].round()
nat_h['1'] = nat_h['1'].round()
nat_h['2'] = nat_h['2'].round()
nat_h['3'] = nat_h['3'].round()
nat_h['4'] = nat_h['4'].round()
nat_h['5'] = nat_h['5'].round()
nat_h['6'] = nat_h['6'].round()
nat_h['7'] = nat_h['7'].round()
nat_h['8'] = nat_h['8'].round()
nat_h['9'] = nat_h['9'].round()

nat_test = nat_h.copy() # DF WHERE I WANT TO REPLACE DEGREES VALUES BY THEIR CORRESPONDING DATES (df_1)

dates              = helcunn.melt(id_vars="Date", var_name="Planets")
numeric_cols       = nat_test.columns[nat_test.columns.str.fullmatch("\d+")]
pairs              = nat_test.set_index("Planets").filter(numeric_cols).stack().droplevel(-1).reset_index(name="value")
mapper             = pd.merge_asof(pairs.astype({"value": float}).sort_values("value"),
                                   dates.astype({"value": float}).sort_values("value"),
                                   on="value",
                                   direction="forward").set_index("value")["Date"]

nat_test[numeric_cols] = nat_test[numeric_cols].replace(mapper)

nat_test

,Planets,Degrees,Start_Date,Now,Cycles,0,1,2,3,4,5,6,7,8,9
0,Earth,38.27,25948.02,30938.33,130.0,2022-08-26,2022-04-10,2022-12-11,2022-12-20,2023-01-26,2023-05-03,2023-04-13,2023-05-22,2023-01-07,2023-11-08
1,Mer,155.90,107774.37,128450.74,132.0,2022-09-08,2022-09-25,2022-10-23,2022-11-12,2023-10-01,2023-02-22,2023-03-31,2023-03-05,2023-06-18,2023-07-16
2,Ven,310.28,42177.47,50289.37,26.0,2022-08-15,2023-02-24,2023-06-09,2024-03-18,2024-09-27,2025-08-04,2025-10-19,2026-01-05,2026-11-11,2027-05-24
3,Mar,235.37,13781.73,16453.68,11.0,2022-01-05,2023-07-22,2024-09-16,2026-11-01,2027-03-25,2028-05-27,2029-09-23,2030-11-25,2000-02-01,2000-02-01
4,Jup,297.10,2188.27,2613.44,1.0,2018-07-25,2028-02-23,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01
5,Sat,163.92,894.09,1052.93,0.0,2008-10-31,2023-02-23,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2003-09-19,2009-05-18,2014-10-06
6,Ura,351.19,313.92,368.97,0.0,2008-11-23,2000-01-13,2019-05-27,2000-02-01,2000-02-01,2004-09-22,2016-03-04,2027-10-17,2000-02-01,2000-02-01

In [36]:
# 03/01/2009

helcunn = helio_cum.copy() # DF WHERE I GET THE DATES (df_2)
helcunn = helcunn.round()

helcunn['Date'] = pd.to_datetime(helcunn['Date'])
date_filter = "2000/01/01"
date_filter = pd.to_datetime(date_filter)

helcunn = helcunn[helcunn['Date'] > date_filter]

s_d1 = "03/01/2009"
nat = natal.copy()
nat_2 = nat.copy()

nat_2.Degrees = nat_2.Planets.map(helio.set_index("Date").loc[s_d1])
nat_2.Start_Date = nat_2.Planets.map(helio_cum.set_index("Date").loc[s_d1])
nat_2.Now = nat_2.Planets.map(helio_cum.set_index("Date").loc[today])
nat_2.Cycles = (nat_2.Now - nat_2.Start_Date) / nat_2.Degrees

nat_2['Cycles'] = nat_2['Cycles'].iloc[::].apply(np.floor)

nat_2['0'] = (nat_2.Cycles * nat_2.Degrees) + nat_2.Start_Date
nat_2['1'] = ((nat_2.Cycles + 1) * (nat_2.Degrees)) + nat_2.Start_Date
nat_2['2'] = ((nat_2.Cycles + 2) * (nat_2.Degrees)) + nat_2.Start_Date
nat_2['3'] = ((nat_2.Cycles + 3) * (nat_2.Degrees)) + nat_2.Start_Date
nat_2['4'] = ((nat_2.Cycles + 4) * (nat_2.Degrees)) + nat_2.Start_Date
nat_2['5'] = ((nat_2.Cycles + 5) * (nat_2.Degrees)) + nat_2.Start_Date
nat_2['6'] = ((nat_2.Cycles + 6) * (nat_2.Degrees)) + nat_2.Start_Date
nat_2['7'] = ((nat_2.Cycles + 7) * (nat_2.Degrees)) + nat_2.Start_Date
nat_2['8'] = ((nat_2.Cycles + 8) * (nat_2.Degrees)) + nat_2.Start_Date
nat_2['9'] = ((nat_2.Cycles + 9) * (nat_2.Degrees)) + nat_2.Start_Date

nat_2['0'] = nat_2['0'].round()
nat_2['1'] = nat_2['1'].round()
nat_2['2'] = nat_2['2'].round()
nat_2['3'] = nat_2['3'].round()
nat_2['4'] = nat_2['4'].round()
nat_2['5'] = nat_2['5'].round()
nat_2['6'] = nat_2['6'].round()
nat_2['7'] = nat_2['7'].round()
nat_2['8'] = nat_2['8'].round()
nat_2['9'] = nat_2['9'].round()

nat_test2 = nat_2.copy() # DF WHERE I WANT TO REPLACE DEGREES VALUES BY THEIR CORRESPONDING DATES (df_1)

dates              = helcunn.melt(id_vars="Date", var_name="Planets")
numeric_cols       = nat_test2.columns[nat_test2.columns.str.fullmatch("\d+")]
pairs              = nat_test2.set_index("Planets").filter(numeric_cols).stack().droplevel(-1).reset_index(name="value")
mapper             = pd.merge_asof(pairs.astype({"value": float}).sort_values("value"),
                                   dates.astype({"value": float}).sort_values("value"),
                                   on="value",
                                   direction="forward").set_index("value")["Date"]

nat_test2[numeric_cols] = nat_test2[numeric_cols].replace(mapper)

nat_test2

,Planets,Degrees,Start_Date,Now,Cycles,0,1,2,3,4,5,6,7,8,9
0,Earth,103.08,26012.83,30938.33,47.0,2022-06-19,2022-04-10,2023-01-14,2023-04-27,2023-08-13,2023-11-25,2024-06-03,2024-06-20,2024-05-10,2025-01-15
1,Mer,16.57,107995.04,128450.74,1234.0,2022-09-09,2022-09-14,2022-09-18,2022-09-22,2022-09-25,2022-09-28,2022-01-10,2022-04-10,2022-07-10,2022-09-10
2,Ven,52.13,42279.32,50289.37,153.0,2022-08-21,2022-09-22,2022-10-24,2022-11-26,2022-12-29,2023-01-31,2023-05-03,2023-06-04,2023-08-05,2023-09-06
3,Mar,270.03,13816.39,16453.68,9.0,2021-05-09,2023-06-01,2024-06-15,2025-08-12,2027-04-28,2028-08-27,2030-05-02,2000-02-01,2000-02-01,2000-02-01
4,Jup,302.58,2193.75,2613.44,1.0,2018-09-12,2028-01-10,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01
5,Sat,166.14,896.31,1052.93,0.0,2008-12-27,2023-03-07,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2004-04-30,2009-12-29,2015-03-25
6,Ura,351.87,314.60,368.97,0.0,2009-02-25,2000-01-13,2019-07-08,2000-02-01,2000-02-01,2004-11-14,2016-04-06,2028-03-01,2000-02-01,2000-02-01

In [37]:
# 22/05/2010

helcunn = helio_cum.copy() # DF WHERE I GET THE DATES (df_2)
helcunn = helcunn.round()

helcunn['Date'] = pd.to_datetime(helcunn['Date'])
date_filter = "2000/01/01"
date_filter = pd.to_datetime(date_filter)

helcunn = helcunn[helcunn['Date'] > date_filter]

s_d2 = "22/05/2010"
nat = natal.copy()
nat_3 = nat.copy()

nat_3.Degrees = nat_3.Planets.map(helio.set_index("Date").loc[s_d2])
nat_3.Start_Date = nat_3.Planets.map(helio_cum.set_index("Date").loc[s_d2])
nat_3.Now = nat_3.Planets.map(helio_cum.set_index("Date").loc[today])
nat_3.Cycles = (nat_3.Now - nat_3.Start_Date) / nat_3.Degrees

nat_3['Cycles'] = nat_3['Cycles'].iloc[::].apply(np.floor)

nat_3['0'] = (nat_3.Cycles * nat_3.Degrees) + nat_3.Start_Date
nat_3['1'] = ((nat_3.Cycles + 1) * (nat_3.Degrees)) + nat_3.Start_Date
nat_3['2'] = ((nat_3.Cycles + 2) * (nat_3.Degrees)) + nat_3.Start_Date
nat_3['3'] = ((nat_3.Cycles + 3) * (nat_3.Degrees)) + nat_3.Start_Date
nat_3['4'] = ((nat_3.Cycles + 4) * (nat_3.Degrees)) + nat_3.Start_Date
nat_3['5'] = ((nat_3.Cycles + 5) * (nat_3.Degrees)) + nat_3.Start_Date
nat_3['6'] = ((nat_3.Cycles + 6) * (nat_3.Degrees)) + nat_3.Start_Date
nat_3['7'] = ((nat_3.Cycles + 7) * (nat_3.Degrees)) + nat_3.Start_Date
nat_3['8'] = ((nat_3.Cycles + 8) * (nat_3.Degrees)) + nat_3.Start_Date
nat_3['9'] = ((nat_3.Cycles + 9) * (nat_3.Degrees)) + nat_3.Start_Date

nat_3['0'] = nat_3['0'].round()
nat_3['1'] = nat_3['1'].round()
nat_3['2'] = nat_3['2'].round()
nat_3['3'] = nat_3['3'].round()
nat_3['4'] = nat_3['4'].round()
nat_3['5'] = nat_3['5'].round()
nat_3['6'] = nat_3['6'].round()
nat_3['7'] = nat_3['7'].round()
nat_3['8'] = nat_3['8'].round()
nat_3['9'] = nat_3['9'].round()

nat_test3 = nat_3.copy() # DF WHERE I WANT TO REPLACE DEGREES VALUES BY THEIR CORRESPONDING DATES (df_1)

dates              = helcunn.melt(id_vars="Date", var_name="Planets")
numeric_cols       = nat_test3.columns[nat_test3.columns.str.fullmatch("\d+")]
pairs              = nat_test3.set_index("Planets").filter(numeric_cols).stack().droplevel(-1).reset_index(name="value")
mapper             = pd.merge_asof(pairs.astype({"value": float}).sort_values("value"),
                                   dates.astype({"value": float}).sort_values("value"),
                                   on="value",
                                   direction="forward").set_index("value")["Date"]

nat_test3[numeric_cols] = nat_test3[numeric_cols].replace(mapper)

nat_test3

,Planets,Degrees,Start_Date,Now,Cycles,0,1,2,3,4,5,6,7,8,9
0,Earth,241.14,26510.89,30938.33,18.0,2022-12-06,2023-12-02,2023-10-18,2024-06-16,2025-02-14,2025-10-20,2026-06-19,2027-02-18,2027-10-25,2028-06-23
1,Mer,285.18,110063.65,128450.74,64.0,2022-07-29,2022-11-10,2022-12-26,2023-06-03,2023-08-05,2023-07-13,2023-09-25,2023-10-12,2024-02-17,2024-04-19
2,Ven,140.42,43087.61,50289.37,51.0,2022-08-17,2022-12-11,2023-09-02,2023-07-05,2023-03-08,2023-10-30,2024-01-25,2024-04-22,2024-07-18,2024-10-14
3,Mar,179.24,14085.60,16453.68,13.0,2022-12-07,2023-06-27,2024-05-25,2025-09-05,2026-11-04,2027-03-25,2028-02-24,2029-04-02,2030-09-01,2030-12-21
4,Jup,347.25,2238.42,2613.44,1.0,2021-11-18,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01
5,Sat,183.34,913.51,1052.93,0.0,2010-08-06,2026-01-06,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2002-01-10,2009-02-15,2014-10-25,2021-03-15
6,Ura,357.29,320.02,368.97,0.0,2010-05-06,2000-01-13,2021-12-02,2000-02-01,2000-02-01,2006-11-01,2017-10-23,2029-07-20,2000-02-01,2000-02-01

In [38]:
# 17/12/2017

helcunn = helio_cum.copy() # DF WHERE I GET THE DATES (df_2)
helcunn = helcunn.round()

helcunn['Date'] = pd.to_datetime(helcunn['Date'])
date_filter = "2000/01/01"
date_filter = pd.to_datetime(date_filter)

helcunn = helcunn[helcunn['Date'] > date_filter]

s_d3 = "17/12/2017"
nat = natal.copy()
nat_4 = nat.copy()

nat_4.Degrees = nat_4.Planets.map(helio.set_index("Date").loc[s_d3])
nat_4.Start_Date = nat_4.Planets.map(helio_cum.set_index("Date").loc[s_d3])
nat_4.Now = nat_4.Planets.map(helio_cum.set_index("Date").loc[today])
nat_4.Cycles = (nat_4.Now - nat_4.Start_Date) / nat_4.Degrees

nat_4['Cycles'] = nat_4['Cycles'].iloc[::].apply(np.floor)

nat_4['0'] = (nat_4.Cycles * nat_4.Degrees) + nat_4.Start_Date
nat_4['1'] = ((nat_4.Cycles + 1) * (nat_4.Degrees)) + nat_4.Start_Date
nat_4['2'] = ((nat_4.Cycles + 2) * (nat_4.Degrees)) + nat_4.Start_Date
nat_4['3'] = ((nat_4.Cycles + 3) * (nat_4.Degrees)) + nat_4.Start_Date
nat_4['4'] = ((nat_4.Cycles + 4) * (nat_4.Degrees)) + nat_4.Start_Date
nat_4['5'] = ((nat_4.Cycles + 5) * (nat_4.Degrees)) + nat_4.Start_Date
nat_4['6'] = ((nat_4.Cycles + 6) * (nat_4.Degrees)) + nat_4.Start_Date
nat_4['7'] = ((nat_4.Cycles + 7) * (nat_4.Degrees)) + nat_4.Start_Date
nat_4['8'] = ((nat_4.Cycles + 8) * (nat_4.Degrees)) + nat_4.Start_Date
nat_4['9'] = ((nat_4.Cycles + 9) * (nat_4.Degrees)) + nat_4.Start_Date

nat_4['0'] = nat_4['0'].round()
nat_4['1'] = nat_4['1'].round()
nat_4['2'] = nat_4['2'].round()
nat_4['3'] = nat_4['3'].round()
nat_4['4'] = nat_4['4'].round()
nat_4['5'] = nat_4['5'].round()
nat_4['6'] = nat_4['6'].round()
nat_4['7'] = nat_4['7'].round()
nat_4['8'] = nat_4['8'].round()
nat_4['9'] = nat_4['9'].round()

nat_test4 = nat_4.copy() # DF WHERE I WANT TO REPLACE DEGREES VALUES BY THEIR CORRESPONDING DATES (df_1)

dates              = helcunn.melt(id_vars="Date", var_name="Planets")
numeric_cols       = nat_test4.columns[nat_test4.columns.str.fullmatch("\d+")]
pairs              = nat_test4.set_index("Planets").filter(numeric_cols).stack().droplevel(-1).reset_index(name="value")
mapper             = pd.merge_asof(pairs.astype({"value": float}).sort_values("value"),
                                   dates.astype({"value": float}).sort_values("value"),
                                   on="value",
                                   direction="forward").set_index("value")["Date"]

nat_test4[numeric_cols] = nat_test4[numeric_cols].replace(mapper)

nat_test4

,Planets,Degrees,Start_Date,Now,Cycles,0,1,2,3,4,5,6,7,8,9
0,Earth,85.57,29235.32,30938.33,19.0,2022-06-22,2022-09-20,2022-12-14,2023-09-03,2023-04-06,2023-02-09,2023-11-27,2024-02-19,2024-05-16,2024-08-13
1,Mer,107.80,121406.27,128450.74,65.0,2022-08-30,2022-09-28,2022-10-16,2022-11-13,2022-12-17,2023-05-01,2023-01-28,2023-05-03,2023-03-29,2023-04-16
2,Ven,252.61,47519.80,50289.37,10.0,2022-12-04,2022-09-17,2023-02-22,2023-07-29,2024-02-01,2024-09-06,2024-11-14,2025-04-19,2025-09-25,2026-01-03
3,Mar,187.41,15533.77,16453.68,4.0,2021-11-22,2022-10-10,2023-10-11,2024-09-23,2025-10-26,2026-07-09,2027-10-10,2028-08-23,2029-09-23,2030-11-08
4,Jup,217.45,2468.62,2613.44,0.0,2017-12-28,2024-11-24,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01
5,Sat,270.07,1000.24,1052.93,0.0,2017-11-12,2000-02-01,2000-02-01,2000-02-01,2005-09-02,2013-05-11,2022-02-12,2000-02-01,2000-02-01,2000-02-01
6,Ura,27.16,349.89,368.97,0.0,2018-12-01,2024-07-09,2030-12-24,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13

In [39]:
# 12/03/2020

helcunn = helio_cum.copy() # DF WHERE I GET THE DATES (df_2)
helcunn = helcunn.round()

helcunn['Date'] = pd.to_datetime(helcunn['Date'])
date_filter = "2000/01/01"
date_filter = pd.to_datetime(date_filter)

helcunn = helcunn[helcunn['Date'] > date_filter]

s_d4 = "12/03/2020"
nat = natal.copy()
nat_5 = nat.copy()

nat_5.Degrees = nat_5.Planets.map(helio.set_index("Date").loc[s_d4])
nat_5.Start_Date = nat_5.Planets.map(helio_cum.set_index("Date").loc[s_d4])
nat_5.Now = nat_5.Planets.map(helio_cum.set_index("Date").loc[today])
nat_5.Cycles = (nat_5.Now - nat_5.Start_Date) / nat_5.Degrees

nat_5['Cycles'] = nat_5['Cycles'].iloc[::].apply(np.floor)

nat_5['0'] = (nat_5.Cycles * nat_5.Degrees) + nat_5.Start_Date
nat_5['1'] = ((nat_5.Cycles + 1) * (nat_5.Degrees)) + nat_5.Start_Date
nat_5['2'] = ((nat_5.Cycles + 2) * (nat_5.Degrees)) + nat_5.Start_Date
nat_5['3'] = ((nat_5.Cycles + 3) * (nat_5.Degrees)) + nat_5.Start_Date
nat_5['4'] = ((nat_5.Cycles + 4) * (nat_5.Degrees)) + nat_5.Start_Date
nat_5['5'] = ((nat_5.Cycles + 5) * (nat_5.Degrees)) + nat_5.Start_Date
nat_5['6'] = ((nat_5.Cycles + 6) * (nat_5.Degrees)) + nat_5.Start_Date
nat_5['7'] = ((nat_5.Cycles + 7) * (nat_5.Degrees)) + nat_5.Start_Date
nat_5['8'] = ((nat_5.Cycles + 8) * (nat_5.Degrees)) + nat_5.Start_Date
nat_5['9'] = ((nat_5.Cycles + 9) * (nat_5.Degrees)) + nat_5.Start_Date

nat_5['0'] = nat_5['0'].round()
nat_5['1'] = nat_5['1'].round()
nat_5['2'] = nat_5['2'].round()
nat_5['3'] = nat_5['3'].round()
nat_5['4'] = nat_5['4'].round()
nat_5['5'] = nat_5['5'].round()
nat_5['6'] = nat_5['6'].round()
nat_5['7'] = nat_5['7'].round()
nat_5['8'] = nat_5['8'].round()
nat_5['9'] = nat_5['9'].round()

nat_test5 = nat_5.copy() # DF WHERE I WANT TO REPLACE DEGREES VALUES BY THEIR CORRESPONDING DATES (df_1)

dates              = helcunn.melt(id_vars="Date", var_name="Planets")
numeric_cols       = nat_test5.columns[nat_test5.columns.str.fullmatch("\d+")]
pairs              = nat_test5.set_index("Planets").filter(numeric_cols).stack().droplevel(-1).reset_index(name="value")
mapper             = pd.merge_asof(pairs.astype({"value": float}).sort_values("value"),
                                   dates.astype({"value": float}).sort_values("value"),
                                   on="value",
                                   direction="forward").set_index("value")["Date"]

nat_test5[numeric_cols] = nat_test5[numeric_cols].replace(mapper)

nat_test5

,Planets,Degrees,Start_Date,Now,Cycles,0,1,2,3,4,5,6,7,8,9
0,Earth,172.21,30041.96,30938.33,5.0,2022-05-08,2023-01-25,2023-07-20,2024-11-01,2024-03-07,2024-12-25,2025-06-17,2025-10-12,2026-01-06,2026-11-25
1,Mer,215.02,124753.49,128450.74,17.0,2022-08-29,2022-10-15,2022-12-16,2023-01-26,2023-03-28,2023-05-18,2023-05-07,2023-05-09,2023-10-16,2023-12-16
2,Ven,119.08,48826.27,50289.37,12.0,2022-08-21,2022-03-11,2023-01-17,2023-01-04,2023-06-14,2023-08-28,2023-10-11,2024-01-23,2024-07-04,2024-06-20
3,Mar,250.27,15956.63,16453.68,1.0,2021-07-06,2022-09-17,2024-07-02,2025-05-21,2026-08-15,2028-02-01,2029-02-05,2030-07-19,2000-02-01,2000-02-01
4,Jup,281.94,2533.11,2613.44,0.0,2020-03-16,2029-05-05,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01
5,Sat,294.67,1024.84,1052.93,0.0,2020-03-25,2000-02-01,2000-02-01,2000-02-01,2009-04-05,2019-07-01,2028-07-18,2000-02-01,2000-02-01,2000-02-01
6,Ura,36.10,358.83,368.97,0.0,2020-11-04,2028-12-28,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13

In [40]:
# 25/04/2021

helcunn = helio_cum.copy() # DF WHERE I GET THE DATES (df_2)
helcunn = helcunn.round()

helcunn['Date'] = pd.to_datetime(helcunn['Date'])
date_filter = "2000/01/01"
date_filter = pd.to_datetime(date_filter)

helcunn = helcunn[helcunn['Date'] > date_filter]

s_d5 = "25/04/2021"
nat = natal.copy()
nat_6 = nat.copy()

nat_6.Degrees = nat_6.Planets.map(helio.set_index("Date").loc[s_d5])
nat_6.Start_Date = nat_6.Planets.map(helio_cum.set_index("Date").loc[s_d5])
nat_6.Now = nat_6.Planets.map(helio_cum.set_index("Date").loc[today])
nat_6.Cycles = (nat_6.Now - nat_6.Start_Date) / nat_6.Degrees

nat_6['Cycles'] = nat_6['Cycles'].iloc[::].apply(np.floor)

nat_6['0'] = (nat_6.Cycles * nat_6.Degrees) + nat_6.Start_Date
nat_6['1'] = ((nat_6.Cycles + 1) * (nat_6.Degrees)) + nat_6.Start_Date
nat_6['2'] = ((nat_6.Cycles + 2) * (nat_6.Degrees)) + nat_6.Start_Date
nat_6['3'] = ((nat_6.Cycles + 3) * (nat_6.Degrees)) + nat_6.Start_Date
nat_6['4'] = ((nat_6.Cycles + 4) * (nat_6.Degrees)) + nat_6.Start_Date
nat_6['5'] = ((nat_6.Cycles + 5) * (nat_6.Degrees)) + nat_6.Start_Date
nat_6['6'] = ((nat_6.Cycles + 6) * (nat_6.Degrees)) + nat_6.Start_Date
nat_6['7'] = ((nat_6.Cycles + 7) * (nat_6.Degrees)) + nat_6.Start_Date
nat_6['8'] = ((nat_6.Cycles + 8) * (nat_6.Degrees)) + nat_6.Start_Date
nat_6['9'] = ((nat_6.Cycles + 9) * (nat_6.Degrees)) + nat_6.Start_Date

nat_6['0'] = nat_6['0'].round()
nat_6['1'] = nat_6['1'].round()
nat_6['2'] = nat_6['2'].round()
nat_6['3'] = nat_6['3'].round()
nat_6['4'] = nat_6['4'].round()
nat_6['5'] = nat_6['5'].round()
nat_6['6'] = nat_6['6'].round()
nat_6['7'] = nat_6['7'].round()
nat_6['8'] = nat_6['8'].round()
nat_6['9'] = nat_6['9'].round()

nat_test6 = nat_6.copy() # DF WHERE I WANT TO REPLACE DEGREES VALUES BY THEIR CORRESPONDING DATES (df_1)

dates              = helcunn.melt(id_vars="Date", var_name="Planets")
numeric_cols       = nat_test6.columns[nat_test6.columns.str.fullmatch("\d+")]
pairs              = nat_test6.set_index("Planets").filter(numeric_cols).stack().droplevel(-1).reset_index(name="value")
mapper             = pd.merge_asof(pairs.astype({"value": float}).sort_values("value"),
                                   dates.astype({"value": float}).sort_values("value"),
                                   on="value",
                                   direction="forward").set_index("value")["Date"]

nat_test6[numeric_cols] = nat_test6[numeric_cols].replace(mapper)

nat_test6

,Planets,Degrees,Start_Date,Now,Cycles,0,1,2,3,4,5,6,7,8,9
0,Earth,215.34,30445.09,30938.33,2.0,2022-08-07,2023-10-02,2023-09-19,2024-04-22,2024-11-29,2025-04-07,2026-07-02,2026-09-16,2027-04-18,2027-11-26
1,Mer,66.72,126405.19,128450.74,30.0,2022-08-28,2022-09-18,2022-01-10,2022-12-10,2022-10-25,2022-11-14,2022-07-12,2022-12-23,2023-04-01,2023-01-15
2,Ven,53.86,49481.05,50289.37,15.0,2022-11-09,2022-10-14,2022-11-17,2022-12-21,2023-01-24,2023-02-26,2023-01-04,2023-04-05,2023-07-06,2023-10-07
3,Mar,121.70,16188.06,16453.68,2.0,2022-04-08,2023-03-23,2023-12-12,2024-01-07,2025-02-20,2025-08-11,2026-05-27,2027-01-18,2027-05-10,2028-04-21
4,Jup,316.90,2568.07,2613.44,0.0,2021-04-29,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01
5,Sat,307.14,1037.31,1052.93,0.0,2021-04-18,2000-02-01,2000-02-01,2000-12-23,2011-03-24,2021-06-24,2000-02-01,2000-02-01,2000-02-01,2000-02-01
6,Ura,40.63,363.36,368.97,0.0,2021-08-04,2030-12-24,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13

In [41]:
# 10/11/2021

helcunn = helio_cum.copy() # DF WHERE I GET THE DATES (df_2)
helcunn = helcunn.round()

helcunn['Date'] = pd.to_datetime(helcunn['Date'])
date_filter = "2000/01/01"
date_filter = pd.to_datetime(date_filter)

helcunn = helcunn[helcunn['Date'] > date_filter]

s_d6 = "10/11/2021"
nat = natal.copy()
nat_7 = nat.copy()

nat_7.Degrees = nat_7.Planets.map(helio.set_index("Date").loc[s_d6])
nat_7.Start_Date = nat_7.Planets.map(helio_cum.set_index("Date").loc[s_d6])
nat_7.Now = nat_7.Planets.map(helio_cum.set_index("Date").loc[today])
nat_7.Cycles = (nat_7.Now - nat_7.Start_Date) / nat_7.Degrees

nat_7['Cycles'] = nat_7['Cycles'].iloc[::].apply(np.floor)

nat_7['0'] = (nat_7.Cycles * nat_7.Degrees) + nat_7.Start_Date
nat_7['1'] = ((nat_7.Cycles + 1) * (nat_7.Degrees)) + nat_7.Start_Date
nat_7['2'] = ((nat_7.Cycles + 2) * (nat_7.Degrees)) + nat_7.Start_Date
nat_7['3'] = ((nat_7.Cycles + 3) * (nat_7.Degrees)) + nat_7.Start_Date
nat_7['4'] = ((nat_7.Cycles + 4) * (nat_7.Degrees)) + nat_7.Start_Date
nat_7['5'] = ((nat_7.Cycles + 5) * (nat_7.Degrees)) + nat_7.Start_Date
nat_7['6'] = ((nat_7.Cycles + 6) * (nat_7.Degrees)) + nat_7.Start_Date
nat_7['7'] = ((nat_7.Cycles + 7) * (nat_7.Degrees)) + nat_7.Start_Date
nat_7['8'] = ((nat_7.Cycles + 8) * (nat_7.Degrees)) + nat_7.Start_Date
nat_7['9'] = ((nat_7.Cycles + 9) * (nat_7.Degrees)) + nat_7.Start_Date

nat_7['0'] = nat_7['0'].round()
nat_7['1'] = nat_7['1'].round()
nat_7['2'] = nat_7['2'].round()
nat_7['3'] = nat_7['3'].round()
nat_7['4'] = nat_7['4'].round()
nat_7['5'] = nat_7['5'].round()
nat_7['6'] = nat_7['6'].round()
nat_7['7'] = nat_7['7'].round()
nat_7['8'] = nat_7['8'].round()
nat_7['9'] = nat_7['9'].round()

nat_test7 = nat_7.copy() # DF WHERE I WANT TO REPLACE DEGREES VALUES BY THEIR CORRESPONDING DATES (df_1)

dates              = helcunn.melt(id_vars="Date", var_name="Planets")
numeric_cols       = nat_test7.columns[nat_test7.columns.str.fullmatch("\d+")]
pairs              = nat_test7.set_index("Planets").filter(numeric_cols).stack().droplevel(-1).reset_index(name="value")
mapper             = pd.merge_asof(pairs.astype({"value": float}).sort_values("value"),
                                   dates.astype({"value": float}).sort_values("value"),
                                   on="value",
                                   direction="forward").set_index("value")["Date"]

nat_test7[numeric_cols] = nat_test7[numeric_cols].replace(mapper)

nat_test7

,Planets,Degrees,Start_Date,Now,Cycles,0,1,2,3,4,5,6,7,8,9
0,Earth,48.14,30637.89,30938.33,6.0,2022-08-30,2022-10-18,2022-05-12,2023-01-21,2023-10-03,2023-04-27,2023-06-17,2023-07-08,2023-09-25,2023-11-13
1,Mer,188.49,127246.96,128450.74,6.0,2022-08-17,2022-05-10,2022-11-19,2023-04-01,2023-02-22,2023-05-04,2023-05-26,2023-04-07,2023-08-28,2023-03-10
2,Ven,12.78,49799.97,50289.37,38.0,2022-09-09,2022-09-16,2022-09-25,2022-03-10,2022-11-10,2022-10-19,2022-10-26,2022-03-11,2022-11-11,2022-11-20
3,Mar,210.52,16276.88,16453.68,0.0,2021-10-11,2022-08-11,2024-01-23,2025-01-27,2026-03-20,2027-04-05,2028-05-14,2029-07-27,2030-07-24,2000-02-01
4,Jup,334.58,2585.75,2613.44,0.0,2021-11-18,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01
5,Sat,313.27,1043.44,1052.93,0.0,2021-03-11,2000-02-01,2000-02-01,2001-09-19,2012-02-27,2022-09-08,2000-02-01,2000-02-01,2000-02-01,2000-02-01
6,Ura,42.84,365.57,368.97,0.0,2022-03-01,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13

In [42]:
# 18/06/2022

helcunn = helio_cum.copy() # DF WHERE I GET THE DATES (df_2)
helcunn = helcunn.round()

helcunn['Date'] = pd.to_datetime(helcunn['Date'])
date_filter = "2000/01/01"
date_filter = pd.to_datetime(date_filter)

helcunn = helcunn[helcunn['Date'] > date_filter]

s_d7 = "18/06/2022"
nat = natal.copy()
nat_8 = nat.copy()

nat_8.Degrees = nat_8.Planets.map(helio.set_index("Date").loc[s_d7])
nat_8.Start_Date = nat_8.Planets.map(helio_cum.set_index("Date").loc[s_d7])
nat_8.Now = nat_8.Planets.map(helio_cum.set_index("Date").loc[today])
nat_8.Cycles = (nat_8.Now - nat_8.Start_Date) / nat_8.Degrees

nat_8['Cycles'] = nat_8['Cycles'].iloc[::].apply(np.floor)

nat_8['0'] = (nat_8.Cycles * nat_8.Degrees) + nat_8.Start_Date
nat_8['1'] = ((nat_8.Cycles + 1) * (nat_8.Degrees)) + nat_8.Start_Date
nat_8['2'] = ((nat_8.Cycles + 2) * (nat_8.Degrees)) + nat_8.Start_Date
nat_8['3'] = ((nat_8.Cycles + 3) * (nat_8.Degrees)) + nat_8.Start_Date
nat_8['4'] = ((nat_8.Cycles + 4) * (nat_8.Degrees)) + nat_8.Start_Date
nat_8['5'] = ((nat_8.Cycles + 5) * (nat_8.Degrees)) + nat_8.Start_Date
nat_8['6'] = ((nat_8.Cycles + 6) * (nat_8.Degrees)) + nat_8.Start_Date
nat_8['7'] = ((nat_8.Cycles + 7) * (nat_8.Degrees)) + nat_8.Start_Date
nat_8['8'] = ((nat_8.Cycles + 8) * (nat_8.Degrees)) + nat_8.Start_Date
nat_8['9'] = ((nat_8.Cycles + 9) * (nat_8.Degrees)) + nat_8.Start_Date

nat_8['0'] = nat_8['0'].round()
nat_8['1'] = nat_8['1'].round()
nat_8['2'] = nat_8['2'].round()
nat_8['3'] = nat_8['3'].round()
nat_8['4'] = nat_8['4'].round()
nat_8['5'] = nat_8['5'].round()
nat_8['6'] = nat_8['6'].round()
nat_8['7'] = nat_8['7'].round()
nat_8['8'] = nat_8['8'].round()
nat_8['9'] = nat_8['9'].round()

nat_test8 = nat_8.copy() # DF WHERE I WANT TO REPLACE DEGREES VALUES BY THEIR CORRESPONDING DATES (df_1)

dates              = helcunn.melt(id_vars="Date", var_name="Planets")
numeric_cols       = nat_test8.columns[nat_test8.columns.str.fullmatch("\d+")]
pairs              = nat_test8.set_index("Planets").filter(numeric_cols).stack().droplevel(-1).reset_index(name="value")
mapper             = pd.merge_asof(pairs.astype({"value": float}).sort_values("value"),
                                   dates.astype({"value": float}).sort_values("value"),
                                   on="value",
                                   direction="forward").set_index("value")["Date"]

nat_test8[numeric_cols] = nat_test8[numeric_cols].replace(mapper)

nat_test8

,Planets,Degrees,Start_Date,Now,Cycles,0,1,2,3,4,5,6,7,8,9
0,Earth,267.09,30856.84,30938.33,0.0,2022-06-18,2023-03-15,2023-12-13,2024-10-09,2025-05-06,2026-03-03,2026-01-12,2027-08-29,2028-05-25,2029-02-19
1,Mer,322.77,128101.24,128450.74,1.0,2022-03-09,2022-11-17,2023-01-31,2023-04-18,2023-08-07,2023-09-27,2023-12-18,2024-09-03,2024-05-28,2024-08-15
2,Ven,5.30,50152.49,50289.37,25.0,2022-09-09,2022-12-09,2022-09-15,2022-09-18,2022-09-21,2022-09-25,2022-09-28,2022-01-10,2022-04-10,2022-08-10
3,Mar,334.48,16400.84,16453.68,0.0,2022-06-18,2024-03-25,2025-12-30,2027-03-10,2029-04-07,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01
4,Jup,354.51,2605.68,2613.44,0.0,2022-06-26,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01
5,Sat,320.10,1050.27,1052.93,0.0,2022-06-13,2000-02-01,2000-02-01,2002-08-27,2013-03-16,2023-10-27,2000-02-01,2000-02-01,2000-02-01,2000-02-01
6,Ura,45.29,368.02,368.97,0.0,2022-02-07,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13

In [69]:
nat = pd.concat([nat_test, nat_test2, nat_test3, nat_test4, nat_test5, nat_test6, nat_test7, nat_test8])
nat = nat.drop(columns=['Planets', 'Degrees', 'Start_Date', 'Now', 'Cycles'])

,0,1,2,3,4,5,6,7,8,9
0,2022-08-26,2022-04-10,2022-12-11,2022-12-20,2023-01-26,2023-05-03,2023-04-13,2023-05-22,2023-01-07,2023-11-08
1,2022-09-08,2022-09-25,2022-10-23,2022-11-12,2023-10-01,2023-02-22,2023-03-31,2023-03-05,2023-06-18,2023-07-16
2,2022-08-15,2023-02-24,2023-06-09,2024-03-18,2024-09-27,2025-08-04,2025-10-19,2026-01-05,2026-11-11,2027-05-24
3,2022-01-05,2023-07-22,2024-09-16,2026-11-01,2027-03-25,2028-05-27,2029-09-23,2030-11-25,2000-02-01,2000-02-01
4,2018-07-25,2028-02-23,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01
5,2008-10-31,2023-02-23,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2003-09-19,2009-05-18,2014-10-06
6,2008-11-23,2000-01-13,2019-05-27,2000-02-01,2000-02-01,2004-09-22,2016-03-04,2027-10-17,2000-02-01,2000-02-01
0,2022-06-19,2022-04-10,2023-01-14,2023-04-27,2023-08-13,2023-11-25,2024-06-03,2024-06-20,2024-05-10,2025-01-15
1,2022-09-09,2022-09-14,2022-09-18,2022-09-22,2022-09-25,2022-09-28,2022-01-10,2022-04-10,2022-07-10,2022-09-10
2,2022-08-21,2022-09-22,2022-10-24,2022-11-26,2022-12-29,2023-01-31,2023-05-03,2023-06-04,2023-08-05,2023-09-06
3,2021-05-09,2023-06-01,2024-06-15,2025-08-12,2027-04-28,2028-08-27,2030-05-02,2000-02-01,2000-02-01,2000-02-01
4,2018-09-12,2028-01-10,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01
5,2008-12-27,2023-03-07,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2004-04-30,2009-12-29,2015-03-25
6,2009-02-25,2000-01-13,2019-07-08,2000-02-01,2000-02-01,2004-11-14,2016-04-06,2028-03-01,2000-02-01,2000-02-01
0,2022-12-06,2023-12-02,2023-10-18,2024-06-16,2025-02-14,2025-10-20,2026-06-19,2027-02-18,2027-10-25,2028-06-23
1,2022-07-29,2022-11-10,2022-12-26,2023-06-03,2023-08-05,2023-07-13,2023-09-25,2023-10-12,2024-02-17,2024-04-19
2,2022-08-17,2022-12-11,2023-09-02,2023-07-05,2023-03-08,2023-10-30,2024-01-25,2024-04-22,2024-07-18,2024-10-14
3,2022-12-07,2023-06-27,2024-05-25,2025-09-05,2026-11-04,2027-03-25,2028-02-24,2029-04-02,2030-09-01,2030-12-21
4,2021-11-18,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01
5,2010-08-06,2026-01-06,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2002-01-10,2009-02-15,2014-10-25,2021-03-15
6,2010-05-06,2000-01-13,2021-12-02,2000-02-01,2000-02-01,2006-11-01,2017-10-23,2029-07-20,2000-02-01,2000-02-01
0,2022-06-22,2022-09-20,2022-12-14,2023-09-03,2023-04-06,2023-02-09,2023-11-27,2024-02-19,2024-05-16,2024-08-13
1,2022-08-30,2022-09-28,2022-10-16,2022-11-13,2022-12-17,2023-05-01,2023-01-28,2023-05-03,2023-03-29,2023-04-16
2,2022-12-04,2022-09-17,2023-02-22,2023-07-29,2024-02-01,2024-09-06,2024-11-14,2025-04-19,2025-09-25,2026-01-03
3,2021-11-22,2022-10-10,2023-10-11,2024-09-23,2025-10-26,2026-07-09,2027-10-10,2028-08-23,2029-09-23,2030-11-08
4,2017-12-28,2024-11-24,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01
5,2017-11-12,2000-02-01,2000-02-01,2000-02-01,2005-09-02,2013-05-11,2022-02-12,2000-02-01,2000-02-01,2000-02-01
6,2018-12-01,2024-07-09,2030-12-24,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13
0,2022-05-08,2023-01-25,2023-07-20,2024-11-01,2024-03-07,2024-12-25,2025-06-17,2025-10-12,2026-01-06,2026-11-25
1,2022-08-29,2022-10-15,2022-12-16,2023-01-26,2023-03-28,2023-05-18,2023-05-07,2023-05-09,2023-10-16,2023-12-16
2,2022-08-21,2022-03-11,2023-01-17,2023-01-04,2023-06-14,2023-08-28,2023-10-11,2024-01-23,2024-07-04,2024-06-20
3,2021-07-06,2022-09-17,2024-07-02,2025-05-21,2026-08-15,2028-02-01,2029-02-05,2030-07-19,2000-02-01,2000-02-01
4,2020-03-16,2029-05-05,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01
5,2020-03-25,2000-02-01,2000-02-01,2000-02-01,2009-04-05,2019-07-01,2028-07-18,2000-02-01,2000-02-01,2000-02-01
6,2020-11-04,2028-12-28,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13
0,2022-08-07,2023-10-02,2023-09-19,2024-04-22,2024-11-29,2025-04-07,2026-07-02,2026-09-16,2027-04-18,2027-11-26
1,2022-08-28,2022-09-18,2022-01-10,2022-12-10,2022-10-25,2022-11-14,2022-07-12,2022-12-23,2023-04-01,2023-01-15
2,2022-11-09,2022-10-14,2022-11-17,2022-12-21,2023-01-24,2023-02-26,2023-01-04,2023-04-05,2023-07-06,2023-10-07
3,2022-04-08,2023-03-23,2023-12-12,2024-01-07,2025-02-20,2025-08-11,2026-05-27,2027-01-18,2027-05-10,2028-04-21
4,2021-04-29,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01
5,2021-04-18,2000-02-01,2000-02-01,2000-12-23,2011-03-24,2021-06-24,2000-02-01,2000-02-01,2000-02-01,2000-02-01
6,2021-08-04,2030-12-24,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13
0,2022-08-30,2022-10-18,2022-05-12,2023-01-21,2023-10-03,2023-04-27,2023-06-17,2023-07-08,2023-09-25,2023-11-13
1,2022-08-17,2022-05-10,2022-11-19,2023-04-01,2023-02-22,2023-05-04,2023-05-26,2023-04-07,2023-08-28,2023-03-10
2,2022-09-09,2022-09-16,2022-09-25,2022-03-10,2022-11-10,2022-10-19,2022-10-26,2022-03-11,2022-11-11,2022-11-20
3,2021-10-11,2022-08-11,2024-01-23,2025-01-27,2026-03-20,2027-04-05,2028-05-14,2029-07-27,2030-07-24,2000-02-01
4,2021-11-18,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01
5,2021-03-11,2000-02-01,2000-02-01,2001-09-19,2012-02-27,2022-09-08,2000-02-01,2000-02-01,2000-02-01,2000-02-01
6,2022-03-01,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13
0,2022-06-18,2023-03-15,2023-12-13,2024-10-09,2025-05-06,2026-03-03,2026-01-12,2027-08-29,2028-05-25,2029-02-19
1,2022-03-09,2022-11-17,2023-01-31,2023-04-18,2023-08-07,2023-09-27,2023-12-18,2024-09-03,2024-05-28,2024-08-15
2,2022-09-09,2022-12-09,2022-09-15,2022-09-18,2022-09-21,2022-09-25,2022-09-28,2022-01-10,2022-04-10,2022-08-10
3,2022-06-18,2024-03-25,2025-12-30,2027-03-10,2029-04-07,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01
4,2022-06-26,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01,2000-02-01
5,2022-06-13,2000-02-01,2000-02-01,2002-08-27,2013-03-16,2023-10-27,2000-02-01,2000-02-01,2000-02-01,2000-02-01
6,2022-02-07,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13,2000-01-13

### Revs

In [13]:
hexx = hel.copy()

hexx['Earth'] = hexx['Earth'] / 360
hexx['Mer'] = hexx['Mer'] / 360
hexx['Ven'] = hexx['Ven'] / 360
hexx['Mar'] = hexx['Mar'] / 360
hexx['Jup'] = hexx['Jup'] / 360
hexx['Sat'] = hexx['Sat'] / 360
hexx['Nep'] = hexx['Nep'] / 360
hexx['Plu'] = hexx['Plu'] / 360

hexx

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
31388,11/09/2022,0.969444,0.866667,0.394444,0.075000,0.005556,0.897222,46.0,0.983333,0.827778
0,31/10/2008,13.861111,57.433333,22.533333,7.422222,1.180556,0.441667,55.0,0.086111,0.075000
0,03/01/2009,13.683333,56.822222,22.250000,7.325000,1.166667,0.436111,54.0,0.083333,0.075000
0,22/05/2010,12.297222,51.075000,20.005556,6.577778,1.041667,0.386111,49.0,0.075000,0.066667
0,29/11/2013,8.780556,36.344444,14.280556,4.683333,0.722222,0.272222,35.0,0.052778,0.044444
0,17/12/2017,4.730556,19.566667,7.694444,2.555556,0.402778,0.147222,19.0,0.030556,0.025000
0,15/12/2018,3.736111,15.405556,6.080556,1.986111,0.325000,0.116667,15.0,0.022222,0.019444
0,26/06/2019,3.205556,13.236111,5.222222,1.716667,0.283333,0.100000,13.0,0.019444,0.016667
0,12/03/2020,2.488889,10.269444,4.063889,1.380556,0.222222,0.077778,10.0,0.016667,0.011111
0,25/04/2021,1.369444,5.683333,2.244444,0.738889,0.125000,0.044444,6.0,0.008333,0.005556
0,20/07/2021,1.141667,4.716667,1.858333,0.633333,0.105556,0.036111,5.0,0.008333,0.005556
0,20/10/2021,0.891667,3.647222,1.452778,0.519444,0.083333,0.027778,4.0,0.005556,0.005556
0,10/11/2021,0.833333,3.344444,1.358333,0.491667,0.077778,0.025000,3.0,0.005556,0.002778
0,18/06/2022,0.225000,0.972222,0.380556,0.147222,0.022222,0.008333,1.0,0.002778,0.000000

In [62]:
# 31/10/2008

starting_date = datetime.datetime.strptime("31/10/2008", "%d/%m/%Y")

input1 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [13, 57, 22, 7, 1],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output1 = pd.DataFrame()

for col in input1.columns[0:3]:
    output1[col] = input1[col]

for col in input1.columns[3:]:
    output1[col] = input1[col]
    for row, _ in input1.iterrows():
        delta = f'{int(input1["Days"][row] * (input1["Rev"][row] + int(col)))} days'
        output1[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output1

C:\Users\PEGON\AppData\Local\Temp/ipykernel_1616/3036477831.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output1[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

  Planets       Days  Rev           0           1           2           3
0   Earth   365.2425   13  31/10/2021  31/10/2022  31/10/2023  30/10/2024
1     Mer    88.0000   57  26/07/2022  22/10/2022  18/01/2023  16/04/2023
2     Ven   225.0000   22  21/05/2022  01/01/2023  14/08/2023  26/03/2024
3     Mar   687.0000    7  31/12/2021  18/11/2023  05/10/2025  23/08/2027
4     Jup  4330.6000    1  08/09/2020  18/07/2032  26/05/2044  04/04/2056

In [61]:
# 03/01/2009

import datetime

starting_date = datetime.datetime.strptime("03/01/2009", "%d/%m/%Y")

input2 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [13, 56, 22, 7, 1],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output2 = pd.DataFrame()

for col in input2.columns[0:3]:
    output2[col] = input2[col]

for col in input2.columns[3:]:
    output2[col] = input2[col]
    for row, _ in input2.iterrows():
        delta = f'{int(input2["Days"][row] * (input2["Rev"][row] + int(col)))} days'
        output2[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output2

C:\Users\PEGON\AppData\Local\Temp/ipykernel_1616/316713502.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output2[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

  Planets       Days  Rev           0           1           2           3
0   Earth   365.2425   13  03/01/2022  03/01/2023  03/01/2024  02/01/2025
1     Mer    88.0000   56  02/07/2022  28/09/2022  25/12/2022  23/03/2023
2     Ven   225.0000   22  24/07/2022  06/03/2023  17/10/2023  29/05/2024
3     Mar   687.0000    7  05/03/2022  21/01/2024  08/12/2025  26/10/2027
4     Jup  4330.6000    1  11/11/2020  20/09/2032  29/07/2044  07/06/2056

In [60]:
# 22/05/2010

import datetime

starting_date = datetime.datetime.strptime("22/05/2010", "%d/%m/%Y")

input3 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [12, 51, 20, 6, 1],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output3 = pd.DataFrame()

for col in input3.columns[0:3]:
    output3[col] = input3[col]

for col in input3.columns[3:]:
    output3[col] = input3[col]
    for row, _ in input3.iterrows():
        delta = f'{int(input3["Days"][row] * (input3["Rev"][row] + int(col)))} days'
        output3[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output3

C:\Users\PEGON\AppData\Local\Temp/ipykernel_1616/1401061646.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output3[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

  Planets       Days  Rev           0           1           2           3
0   Earth   365.2425   12  21/05/2022  22/05/2023  21/05/2024  21/05/2025
1     Mer    88.0000   51  04/09/2022  01/12/2022  27/02/2023  26/05/2023
2     Ven   225.0000   20  16/09/2022  29/04/2023  10/12/2023  22/07/2024
3     Mar   687.0000    6  03/09/2021  22/07/2023  08/06/2025  26/04/2027
4     Jup  4330.6000    1  30/03/2022  06/02/2034  15/12/2045  24/10/2057

In [59]:
# 29/11/2013

import datetime

starting_date = datetime.datetime.strptime("29/11/2013", "%d/%m/%Y")

input4 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [8, 36, 14, 4, 0.72],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output4 = pd.DataFrame()

for col in input4.columns[0:3]:
    output4[col] = input4[col]

for col in input4.columns[3:]:
    output4[col] = input4[col]
    for row, _ in input4.iterrows():
        delta = f'{int(input4["Days"][row] * (input4["Rev"][row] + int(col)))} days'
        output4[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output4

C:\Users\PEGON\AppData\Local\Temp/ipykernel_1616/832662311.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output4[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

  Planets       Days    Rev           0           1           2           3
0   Earth   365.2425   8.00  28/11/2021  29/11/2022  29/11/2023  28/11/2024
1     Mer    88.0000  36.00  02/08/2022  29/10/2022  25/01/2023  23/04/2023
2     Ven   225.0000  14.00  15/07/2022  25/02/2023  08/10/2023  20/05/2024
3     Mar   687.0000   4.00  08/06/2021  26/04/2023  13/03/2025  29/01/2027
4     Jup  4330.6000   0.72  13/06/2022  21/04/2034  28/02/2046  06/01/2058

In [58]:
# 29/11/2013

import datetime

starting_date = datetime.datetime.strptime("29/11/2013", "%d/%m/%Y")

input4 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [8, 36, 14, 4, 0.72],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output4 = pd.DataFrame()

for col in input4.columns[0:3]:
    output4[col] = input4[col]

for col in input4.columns[3:]:
    output4[col] = input4[col]
    for row, _ in input4.iterrows():
        delta = f'{int(input4["Days"][row] * (input4["Rev"][row] + int(col)))} days'
        output4[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output4

C:\Users\PEGON\AppData\Local\Temp/ipykernel_1616/832662311.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output4[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

  Planets       Days    Rev           0           1           2           3
0   Earth   365.2425   8.00  28/11/2021  29/11/2022  29/11/2023  28/11/2024
1     Mer    88.0000  36.00  02/08/2022  29/10/2022  25/01/2023  23/04/2023
2     Ven   225.0000  14.00  15/07/2022  25/02/2023  08/10/2023  20/05/2024
3     Mar   687.0000   4.00  08/06/2021  26/04/2023  13/03/2025  29/01/2027
4     Jup  4330.6000   0.72  13/06/2022  21/04/2034  28/02/2046  06/01/2058

In [57]:
# 17/12/2017

import datetime

starting_date = datetime.datetime.strptime("17/12/2017", "%d/%m/%Y")

input5 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [4, 19, 7, 2, 0.40],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output5 = pd.DataFrame()

for col in input5.columns[0:3]:
    output5[col] = input5[col]

for col in input5.columns[3:]:
    output5[col] = input5[col]
    for row, _ in input5.iterrows():
        delta = f'{int(input5["Days"][row] * (input5["Rev"][row] + int(col)))} days'
        output5[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output5

C:\Users\PEGON\AppData\Local\Temp/ipykernel_1616/2532655007.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output5[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

  Planets       Days   Rev           0           1           2           3
0   Earth   365.2425   4.0  16/12/2021  17/12/2022  17/12/2023  16/12/2024
1     Mer    88.0000  19.0  16/07/2022  12/10/2022  08/01/2023  06/04/2023
2     Ven   225.0000   7.0  10/04/2022  21/11/2022  04/07/2023  14/02/2024
3     Mar   687.0000   2.0  21/09/2021  09/08/2023  26/06/2025  14/05/2027
4     Jup  4330.6000   0.4  14/09/2022  23/07/2034  01/06/2046  10/04/2058

In [56]:
# 15/12/2018

import datetime

starting_date = datetime.datetime.strptime("15/12/2018", "%d/%m/%Y")

input6 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [3, 15, 6, 2, 0.32],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output6 = pd.DataFrame()

for col in input6.columns[0:3]:
    output6[col] = input6[col]

for col in input6.columns[3:]:
    output6[col] = input6[col]
    for row, _ in input6.iterrows():
        delta = f'{int(input6["Days"][row] * (input6["Rev"][row] + int(col)))} days'
        output6[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output6

C:\Users\PEGON\AppData\Local\Temp/ipykernel_1616/1532623000.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output6[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

  Planets       Days    Rev           0           1           2           3
0   Earth   365.2425   3.00  14/12/2021  14/12/2022  15/12/2023  14/12/2024
1     Mer    88.0000  15.00  27/07/2022  23/10/2022  19/01/2023  17/04/2023
2     Ven   225.0000   6.00  26/08/2022  08/04/2023  19/11/2023  01/07/2024
3     Mar   687.0000   2.00  19/09/2022  06/08/2024  24/06/2026  11/05/2028
4     Jup  4330.6000   0.32  30/09/2022  09/08/2034  17/06/2046  26/04/2058

In [55]:
# 26/06/2019

import datetime

starting_date = datetime.datetime.strptime("26/06/2019", "%d/%m/%Y")

input7 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [3, 13, 5, 1.71, 0.28],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output7 = pd.DataFrame()

for col in input7.columns[0:3]:
    output7[col] = input7[col]

for col in input7.columns[3:]:
    output7[col] = input7[col]
    for row, _ in input7.iterrows():
        delta = f'{int(input7["Days"][row] * (input7["Rev"][row] + int(col)))} days'
        output7[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output7

C:\Users\PEGON\AppData\Local\Temp/ipykernel_1616/3043114030.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output7[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

  Planets       Days    Rev           0           1           2           3
0   Earth   365.2425   3.00  25/06/2022  25/06/2023  25/06/2024  25/06/2025
1     Mer    88.0000  13.00  13/08/2022  09/11/2022  05/02/2023  04/05/2023
2     Ven   225.0000   5.00  25/07/2022  07/03/2023  18/10/2023  30/05/2024
3     Mar   687.0000   1.71  12/09/2022  30/07/2024  17/06/2026  04/05/2028
4     Jup  4330.6000   0.28  20/10/2022  29/08/2034  07/07/2046  16/05/2058

In [54]:
# 12/03/2020

import datetime

starting_date = datetime.datetime.strptime("12/03/2020", "%d/%m/%Y")

input8 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [2, 10, 4, 1.38, 0.22],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output8 = pd.DataFrame()

for col in input8.columns[0:3]:
    output8[col] = input8[col]

for col in input8.columns[3:]:
    output8[col] = input8[col]
    for row, _ in input8.iterrows():
        delta = f'{int(input8["Days"][row] * (input8["Rev"][row] + int(col)))} days'
        output8[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output8

C:\Users\PEGON\AppData\Local\Temp/ipykernel_1616/2402215352.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output8[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

  Planets       Days    Rev           0           1           2           3
0   Earth   365.2425   2.00  12/03/2022  12/03/2023  11/03/2024  12/03/2025
1     Mer    88.0000  10.00  09/08/2022  05/11/2022  01/02/2023  30/04/2023
2     Ven   225.0000   4.00  29/08/2022  11/04/2023  22/11/2023  04/07/2024
3     Mar   687.0000   1.38  16/10/2022  02/09/2024  21/07/2026  07/06/2028
4     Jup  4330.6000   0.22  20/10/2022  29/08/2034  07/07/2046  16/05/2058

In [53]:
# 25/04/2021

import datetime

starting_date = datetime.datetime.strptime("25/04/2021", "%d/%m/%Y")

input9 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [1, 5, 2, 0.73, 0.12],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output9 = pd.DataFrame()

for col in input9.columns[0:3]:
    output9[col] = input9[col]

for col in input9.columns[3:]:
    output9[col] = input9[col]
    for row, _ in input9.iterrows():
        delta = f'{int(input9["Days"][row] * (input9["Rev"][row] + int(col)))} days'
        output9[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output9

C:\Users\PEGON\AppData\Local\Temp/ipykernel_1616/2231336301.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output9[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

  Planets       Days   Rev           0           1           2           3
0   Earth   365.2425  1.00  25/04/2022  25/04/2023  24/04/2024  24/04/2025
1     Mer    88.0000  5.00  09/07/2022  05/10/2022  01/01/2023  30/03/2023
2     Ven   225.0000  2.00  19/07/2022  01/03/2023  12/10/2023  24/05/2024
3     Mar   687.0000  0.73  08/09/2022  26/07/2024  13/06/2026  30/04/2028
4     Jup  4330.6000  0.12  26/09/2022  05/08/2034  13/06/2046  22/04/2058

In [51]:
# 20/07/2021

import datetime

starting_date = datetime.datetime.strptime("20/07/2021", "%d/%m/%Y")

input10 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [1, 4, 1.85, 0.63, 0.10],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output10 = pd.DataFrame()

for col in input10.columns[0:3]:
    output10[col] = input10[col]

for col in input10.columns[3:]:
    output10[col] = input10[col]
    for row, _ in input10.iterrows():
        delta = f'{int(input10["Days"][row] * (input10["Rev"][row] + int(col)))} days'
        output10[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output10

C:\Users\PEGON\AppData\Local\Temp/ipykernel_1616/790729228.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output10[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

  Planets       Days   Rev           0           1           2           3
0   Earth   365.2425  1.00  20/07/2022  20/07/2023  19/07/2024  19/07/2025
1     Mer    88.0000  4.00  07/07/2022  03/10/2022  30/12/2022  28/03/2023
2     Ven   225.0000  1.85  09/09/2022  22/04/2023  03/12/2023  15/07/2024
3     Mar   687.0000  0.63  25/09/2022  12/08/2024  30/06/2026  17/05/2028
4     Jup  4330.6000  0.10  26/09/2022  04/08/2034  13/06/2046  21/04/2058

In [50]:
# 20/10/2021

import datetime

starting_date = datetime.datetime.strptime("20/10/2021", "%d/%m/%Y")

input11 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [1, 3.64, 1.45, 0.52, 0.08],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output11 = pd.DataFrame()

for col in input11.columns[0:3]:
    output11[col] = input11[col]

for col in input11.columns[3:]:
    output11[col] = input11[col]
    for row, _ in input11.iterrows():
        delta = f'{int(input11["Days"][row] * (input11["Rev"][row] + int(col)))} days'
        output11[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output11

C:\Users\PEGON\AppData\Local\Temp/ipykernel_1616/3866814729.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output11[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

  Planets       Days   Rev           0           1           2           3
0   Earth   365.2425  1.00  20/10/2022  20/10/2023  19/10/2024  19/10/2025
1     Mer    88.0000  3.64  05/09/2022  02/12/2022  28/02/2023  27/05/2023
2     Ven   225.0000  1.45  11/09/2022  24/04/2023  05/12/2023  17/07/2024
3     Mar   687.0000  0.52  12/10/2022  29/08/2024  17/07/2026  03/06/2028
4     Jup  4330.6000  0.08  01/10/2022  10/08/2034  18/06/2046  27/04/2058

In [66]:
# 10/11/2021

import datetime

starting_date = datetime.datetime.strptime("10/11/2021", "%d/%m/%Y")

input12 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [1, 3.34, 1.35, 0.49, 0.07],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output12 = pd.DataFrame()

for col in input12.columns[0:3]:
    output12[col] = input12[col]

for col in input12.columns[3:]:
    output12[col] = input12[col]
    for row, _ in input12.iterrows():
        delta = f'{int(input12["Days"][row] * (input12["Rev"][row] + int(col)))} days'
        output12[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output12

C:\Users\PEGON\AppData\Local\Temp/ipykernel_1616/1473054673.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output12[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

  Planets       Days   Rev           0           1           2           3
0   Earth   365.2425  1.00  10/11/2022  10/11/2023  09/11/2024  09/11/2025
1     Mer    88.0000  3.34  30/08/2022  26/11/2022  22/02/2023  21/05/2023
2     Ven   225.0000  1.35  09/09/2022  22/04/2023  03/12/2023  15/07/2024
3     Mar   687.0000  0.49  12/10/2022  29/08/2024  17/07/2026  03/06/2028
4     Jup  4330.6000  0.07  09/09/2022  18/07/2034  27/05/2046  04/04/2058

In [65]:
# 18/06/2022

import datetime

starting_date = datetime.datetime.strptime("18/06/2022", "%d/%m/%Y")

input13 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [1, 0.97, 0.38, 0.14, 0.02],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output13 = pd.DataFrame()

for col in input13.columns[0:3]:
    output13[col] = input13[col]

for col in input13.columns[3:]:
    output13[col] = input13[col]
    for row, _ in input13.iterrows():
        delta = f'{int(input13["Days"][row] * (input13["Rev"][row] + int(col)))} days'
        output13[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output13

C:\Users\PEGON\AppData\Local\Temp/ipykernel_1616/320710539.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output13[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

  Planets       Days   Rev           0           1           2           3
0   Earth   365.2425  1.00  18/06/2023  17/06/2024  17/06/2025  17/06/2026
1     Mer    88.0000  0.97  11/09/2022  08/12/2022  06/03/2023  02/06/2023
2     Ven   225.0000  0.38  11/09/2022  24/04/2023  05/12/2023  17/07/2024
3     Mar   687.0000  0.14  22/09/2022  09/08/2024  27/06/2026  14/05/2028
4     Jup  4330.6000  0.02  12/09/2022  22/07/2034  30/05/2046  08/04/2058

## 2. CHART

In [84]:
revgood = pd.concat([output1, output2, output3, output4, output5, output6, output7, output8, output9, output10, output11, output12, output13])
revgood = revgood.drop(columns=['Planets', 'Days', 'Rev'])
naters = pd.concat([nat, revgood])

flugg1 = naters.copy()

gdeg2 = flugg1.unstack().value_counts(ascending=True)

gdeg2 = pd.DataFrame(gdeg2, columns=['Hit'])

gdeg2 = gdeg2.reset_index()
gdeg2 = gdeg2.rename_axis('E', axis=1)
gdeg2.columns = gdeg2.columns.str.replace('index', 'Date')
gdeg2 = gdeg2.rename_axis(None, axis=1)

#deg = gdeg2.sort_values(by=['Date'], ascending=True)
gdeg2.drop(gdeg2.head(1).index,inplace=True) # drop first n rows

gdeg2['Date'] = gdeg2['Date'].apply(pd.to_datetime, format = "%d/%m/%Y")

start_date = t  - timedelta(days = 3)
end_date = t + timedelta(days = 360)

mask = (gdeg2['Date'] > start_date) & (gdeg2['Date'] <= end_date)
gdeg2 = gdeg2.loc[mask]

naters_hits = gdeg2.sort_values(by=['Date'], ascending=True)
naters_hits.head(15).style.background_gradient(cmap='Blues')

In [74]:
fig = px.bar(naters_hits, x='Date', y='Hit')
fig.show()

# **FINAL CHART.py**

In [85]:
c = fluchart.copy()

fig = px.bar(c, x='Date', y='EP',
             hover_data=['Date', 'EP'], color='EP', color_continuous_scale=px.colors.sequential.Teal,
             height=618)

fig.update_traces(width=1)
fig.show()